<div class="container-fluid" [@routerTransition]>
    <div class="row justify-content-center tutor-wizard">
      <div class="col-12">
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="header-pretitle">{{ 'BecomeATutor' | localize }}</h6>
                <h1 class="header-title">{{ 'TutorWizard' | localize }}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            {{ 'Profile' | localize }}
          </div>
          <div class="card-body">
            <div class="bs-vertical-wizard">
              <ul>
                <li app-tutor-wizard-step title="AboutYou"
                  [link]="getTutorWizardStep(BecomeATutorStep.AboutYou)?.status === TutorVerificationStepStatus.Saved ? '/app/tutor-applications/' + userId + '/about-you' : null"
                  [step]="BecomeATutorStep.AboutYou" [currentStep]="activeStep" [verificationStep]="getTutorWizardStep(BecomeATutorStep.AboutYou)" >
                </li>
                <li app-tutor-wizard-step title="Education"
                  [link]="getTutorWizardStep(BecomeATutorStep.Education)?.status === TutorVerificationStepStatus.Saved ? '/app/tutor-applications/' + userId + '/education' : null"
                  [step]="BecomeATutorStep.Education" [currentStep]="activeStep" [verificationStep]="getTutorWizardStep(BecomeATutorStep.Education)">
                </li>
                <li app-tutor-wizard-step title="Research"
                  [link]="getTutorWizardStep(BecomeATutorStep.Research)?.status === TutorVerificationStepStatus.Saved ? '/app/tutor-applications/' + userId + '/research' : null"
                  [step]="BecomeATutorStep.Research" [currentStep]="activeStep" [verificationStep]="getTutorWizardStep(BecomeATutorStep.Research)">
                </li>
                <li app-tutor-wizard-step title="Languages"
                  [link]="getTutorWizardStep(BecomeATutorStep.Languages)?.status === TutorVerificationStepStatus.Saved ? '/app/tutor-applications/' + userId + '/languages' : null"
                  [step]="BecomeATutorStep.Languages" [currentStep]="activeStep" [verificationStep]="getTutorWizardStep(BecomeATutorStep.Languages)">
                </li>
                <li app-tutor-wizard-step title="ServicesOffered"
                  [link]="getTutorWizardStep(BecomeATutorStep.ServicesOffered)?.status === TutorVerificationStepStatus.Saved ? '/app/tutor-applications/' + userId + '/services-offered' : null"
                  [step]="BecomeATutorStep.ServicesOffered" [currentStep]="activeStep" [verificationStep]="getTutorWizardStep(BecomeATutorStep.ServicesOffered)">
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            {{ 'Verifications' | localize }}
          </div>
          <div class="card-body">
            <div class="bs-vertical-wizard">
              <ul>
                <li app-tutor-wizard-step title="ProfilePicture"
                  [link]="getTutorWizardStep(BecomeATutorStep.ProfilePicture)?.status === TutorVerificationStepStatus.Saved ? '/app/tutor-applications/' + userId + '/profile-picture' : null"
                  [step]="BecomeATutorStep.ProfilePicture" [currentStep]="activeStep" [verificationStep]="getTutorWizardStep(BecomeATutorStep.ProfilePicture)">
                </li>
                <li app-tutor-wizard-step title="PhotoId"
                  [link]="getTutorWizardStep(BecomeATutorStep.PhotoId)?.status === TutorVerificationStepStatus.Saved ? '/app/tutor-applications/' + userId + '/photo-id' : null"
                  [step]="BecomeATutorStep.PhotoId" [currentStep]="activeStep" [verificationStep]="getTutorWizardStep(BecomeATutorStep.PhotoId)">
                </li>
                <li app-tutor-wizard-step title="Address"
                  [link]="getTutorWizardStep(BecomeATutorStep.Address)?.status === TutorVerificationStepStatus.Saved ? '/app/tutor-applications/' + userId + '/address' : null"
                  [step]="BecomeATutorStep.Address" [currentStep]="activeStep" [verificationStep]="getTutorWizardStep(BecomeATutorStep.Address)">
                </li>
                <li app-tutor-wizard-step title="ContactNumber"
                  [link]="getTutorWizardStep(BecomeATutorStep.ContactNumber)?.status === TutorVerificationStepStatus.Saved ? '/app/tutor-applications/' + userId + '/contact-number' : null"
                  [step]="BecomeATutorStep.ContactNumber" [currentStep]="activeStep" [verificationStep]="getTutorWizardStep(BecomeATutorStep.ContactNumber)">
                </li>
                <li app-tutor-wizard-step title="References"
                  [link]="getTutorWizardStep(BecomeATutorStep.References)?.status === TutorVerificationStepStatus.Saved ? '/app/tutor-applications/' + userId + '/references' : null"
                  [step]="BecomeATutorStep.References" [currentStep]="activeStep" [verificationStep]="getTutorWizardStep(BecomeATutorStep.References)">
                </li>
                <li app-tutor-wizard-step title="DbsCheck"
                  [link]="getTutorWizardStep(BecomeATutorStep.DbsCheck)?.status === TutorVerificationStepStatus.Saved ? '/app/tutor-applications/' + userId + '/dbs-check' : null"
                  [step]="BecomeATutorStep.DbsCheck" [currentStep]="activeStep" [verificationStep]="getTutorWizardStep(BecomeATutorStep.DbsCheck)">
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            {{ 'TermsAndConditions' | localize }}
          </div>
          <div class="card-body">
            <div class="bs-vertical-wizard">
              <ul>
                <li app-tutor-wizard-step title="TermsOfUse"
                  [link]="getTutorWizardStep(BecomeATutorStep.TermsOfUse)?.status === TutorVerificationStepStatus.Saved ? '/app/tutor-applications/' + userId + '/terms-of-use' : null"
                  [step]="BecomeATutorStep.TermsOfUse" [currentStep]="activeStep" [verificationStep]="getTutorWizardStep(BecomeATutorStep.TermsOfUse)">
                </li>
                <li app-tutor-wizard-step title="PrivacyPolicy"
                  [link]="getTutorWizardStep(BecomeATutorStep.PrivacyPolicy)?.status === TutorVerificationStepStatus.Saved ? '/app/tutor-applications/' + userId + '/privacy-policy' : null"
                  [step]="BecomeATutorStep.PrivacyPolicy" [currentStep]="activeStep" [verificationStep]="getTutorWizardStep(BecomeATutorStep.PrivacyPolicy)">
                </li>
                <li app-tutor-wizard-step title="Declaration"
                  [link]="getTutorWizardStep(BecomeATutorStep.Declaration)?.status === TutorVerificationStepStatus.Saved ? '/app/tutor-applications/' + userId + '/declaration' : null"
                  [step]="BecomeATutorStep.Declaration" [currentStep]="activeStep" [verificationStep]="getTutorWizardStep(BecomeATutorStep.Declaration)">
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
