<!-- <div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <form>
          <div class="input-group input-group-flush">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fe fe-search"></i>
              </span>
            </div>
            <input class="list-search form-control" type="search" name="Search" placeholder="Search"
              [(ngModel)]="searchFilter" (keyup.enter)="getDataPage(1)" />
          </div>
        </form>
      </div>
      <div class="col-auto mr-n3">
        <form>
          <select [(ngModel)]="pageNumber" select2 [defaultValue]="pageSize"
            (select2ValueChange)="pageSizeChange($event)" name="PageNumber"
            class="custom-select custom-select-sm form-control-flush" data-toggle="select">
            <option *ngFor="let pageSizeSelection of pageSizeSelections" [value]="pageSizeSelection">
              {{ pageSizeSelection }} {{ 'PerPage' | localize }}
            </option>
          </select>
        </form>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-sm table-hover table-nowrap card-table" [loader]="isTableLoading">
      <thead table-header-sort [headers]="headers" (sortChange)="sortChange($event)"></thead>
      <tbody class="list font-size-base">
        <tr *ngFor="
            let studentCourse of (studentCourses | paginate: { id: 'courses-learning', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems })
          ">
          <td>
            <div class="row">
              <div class="col-auto d-flex align-items-center">
                <div class="avatar avatar-lg avatar-4by3">
                  <img [src]="getCourseImageUrl(studentCourse.course.courseImageUrl)" alt="..."
                    class="avatar-img rounded">
                </div>
              </div>
              <div class="col d-flex flex-column justify-content-center">
                <a [routerLink]="['/app/student-portal', studentCourse.course.id]">
                  <h5 class="mb-1">{{ studentCourse.course.name }}</h5>
                </a>
                <p *ngIf="studentCourse.course.subtitle" class="text-muted mb-1">
                  {{ studentCourse.course.subtitle }}
                </p>
              </div>
            </div>
          </td>
          <td class="table-action">
            <button [routerLink]="['/app/student-portal', studentCourse.course.id]" type="button"
              class="btn btn-outline-success btn-sm btn-rounded-circle mr-1">
              <span class="fe fe-layout"></span>
            </button>
          </td>
        </tr>
        <tr *ngIf="studentCourses.length === 0">
          <td colspan="10">
            <p class="text-center m-0 p-0">{{ 'NoRecordsFound' | localize }}</p>
          </td>
        </tr>
      </tbody>
    </table>
    <abp-pagination-controls id="courses-learning" (pageChange)="getDataPage($event)"> </abp-pagination-controls>
  </div>
</div> -->

<div class="d-flex flex-column flex-sm-row flex-nowrap justify-content-center align-content-center align-items-center mb-4" style="gap: 10px;">
  <div class="flex-grow-1 w100p w-sm-auto">
    <div class="card m-0">
      <div class="card-header height-pad border-0">
        <div class="row align-items-center">
          <div class="col">
            <form>
              <div class="input-group input-group-flush">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fe fe-search"></i>
                  </span>
                </div>
                <input class="list-search form-control" type="search" name="Search" placeholder="Search"
                  [(ngModel)]="searchFilter" (keyup.enter)="getDataPage(1)" />
              </div>
            </form>
          </div>
        <div class="col-auto mr-n3">
          <form>
            <select [(ngModel)]="pageNumber" select2 [defaultValue]="pageSize"
              (select2ValueChange)="pageSizeChange($event)" name="PageNumber"
              class="custom-select custom-select-sm form-control-flush" data-toggle="select">
              <option *ngFor="let pageSizeSelection of pageSizeSelections" [value]="pageSizeSelection">
                {{ pageSizeSelection }} {{ 'PerPage' | localize }}
              </option>
            </select>
          </form>
        </div>
      </div>

      </div>
    </div>
  </div>
    <div class="w100p w-sm-auto">
      <div class="col-auto p-0">
        <div class="nav btn-group" role="tablist" style="min-width: 200px;">
          <button class="btn btn-lg btn-white active" data-toggle="tab" data-target="#grid-tab" role="tab"
            aria-controls="grid-tab" aria-selected="true">
            <span class="fe fe-grid"></span>
          </button>
          <button class="btn btn-lg btn-white" data-toggle="tab" data-target="#list-tab" role="tab" aria-controls="list-tab"
            aria-selected="false">
            <span class="fe fe-list"></span>
          </button>
        </div>
      </div>
    </div>

</div>


<div *ngIf="studentCourses && studentCourses.length else noCoursesTemplate" class="tab-content" [loader]="loading">
  <div class="tab-pane fade active show" id="grid-tab" role="tabpanel">
    <app-learning-grid [studentCourses]="studentCourses" (deleteCourse)="onDeleteClick($event)"></app-learning-grid>
  </div>
  <div class="tab-pane fade" id="list-tab" role="tabpanel">
    <app-learning-list [studentCourses]="studentCourses" ></app-learning-list>
  </div>
</div>


<ng-template #noCoursesTemplate>
  <p class="m-0 p-5 text-muted text-center">
    {{ 'NoRecordsFound' | localize }}
  </p>
</ng-template>
