@title-color: #000000;
@title-font-weight: 600;
@title-font-size: 32px;
@title-line-height: 41px;

.for-you-title {
    color: @title-color;
    font-weight: @title-font-weight;
    font-size: @title-font-size;
    line-height: @title-line-height;
}
