<div class="card proposals-contacts">
    <div class="card-body">
      <div class="row">
          <div class="col-4">
              <h4>
                {{ 'Contacts' | localize}}
              </h4>
          </div>
          <div class="col-8">
             <h4>
                2 / 5
             </h4> 
          </div>
      </div>
      <div class="contacts-list">
        <div class="row">
            <div class="col-4">
                Jane Pixton
            </div>
            <div class="col-8">
                Interested
            </div>
          </div>
          <div class="row">
            <div class="col-4">
                Fran Polinsky
            </div>
            <div class="col-8">
                Not Interested
            </div>
          </div>
      </div>
    </div>
  </div>