<div class="search border-bottom d-flex align-items-center gap-10">
    <form class="search-form border d-flex align-items-center">
        <div class="input-group input-group-flush">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fe fe-search"></i>
                </span>
            </div>
            <input class="form-control" type="search" name="search" placeholder="Search messages"/>
        </div>
    </form>
    <button class="btn search-btn search-btn-action border flex-grow-1"></button>
    <button class="btn search-btn search-btn-create border flex-grow-1"></button>
</div>
