:host {
    ::ng-deep {
        .tooltip {
            filter: drop-shadow(0 0.75rem 1.5rem rgba(18, 38, 63, 0.03));
            -o-filter: drop-shadow(0 0.75rem 1.5rem rgba(18, 38, 63, 0.03));
            -ms-filter: drop-shadow(0 0.75rem 1.5rem rgba(18, 38, 63, 0.03));
            -moz-filter: drop-shadow(0 0.75rem 1.5rem rgba(18, 38, 63, 0.03));
            -webkit-filter: drop-shadow(0 0.75rem 1.5rem rgba(18, 38, 63, 0.03));

            .tooltip-inner {
                background-color: #031831;
                max-width: none;
                padding: 10px 15px;
                color: #FFFFFF;
                font-size: 15px;
                font-weight: normal;
                border-color: #031831;
            }
        }
    }
}

.discussion {
    &-header {
        &-back {
            &-btn {
                position: absolute;
                left: 0;

                width: 40px;
                height: 40px;

                background: #FFFFFF;
                border: 1px solid #E3EBF6;
                border-radius: 50%;

                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                color: #000000;

                -webkit-transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                -ms-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;

                box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
            }

            &-text {
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                color: #000000;
                margin-left: 49px;
            }
        }
    }

    &-title {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #6E84A3;
        text-transform: uppercase;
    }

    &-info {
        &:hover {
            box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
        }

        .card-body {
            padding: 24px 24px 15px;
        }

        .card-footer {
            padding: 0 24px 24px;
            border-top: 0 none;

            button {
                height: 34px;
                padding: 7.5px 21.5px;
                line-height: 1rem;

                &.discussion-info-unsubscribe {
                    background: rgba(44, 123, 229, 0.1);
                    color: #2C7BE5;
                    border: 0;
                }
                &.discussion-info-share {
                    span {
                        width: 16px;
                        height: 13px;
                    }
                }
            }
        }

        &-options {
            position: absolute;
            top: 30px;
            right: 24px;
        }

        &-time {
            font-weight: 400;
            font-size: 13px;
            line-height: 17px;
            display: flex;
            align-items: center;
            letter-spacing: -0.01em;
            color: #95AAC9;
            margin-bottom: 10px;
        }

        &-header {
            font-weight: 600;
            font-size: 20px;
            line-height: 25px;
            letter-spacing: -0.01em;
            color: #12263F;
        }

        &-description {
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            letter-spacing: -0.01em;
            color: #12263F;
        }

        &-topics {
            &-item {
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #2C7BE5;
                margin-right: 10px;
            }
        }

        &-participants {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #95AAC9;
        }
    }

    &-loading {
        min-height: 219px;
    }

    &-controls {
        &.loading {
            .discussion-controls {
                &-left,
                &-right {
                    color: transparent;

                    &-posts-count {
                        color: transparent;
                    }

                    .dropdown {
                        &-toggle,
                        &-toggle .fe {
                            color: transparent;
                        }
                    }
                }
            }
        }

        &-left {
            &-posts-count {
                font-weight: 400;
                font-size: 13px;
                line-height: 17px;
                color: #6E84A3;
            }

            .dropdown {
                &-toggle,
                &-toggle .fe {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    color: #12263F;
                }
            }
        }

        &-right {
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
            text-align: right;
            letter-spacing: -0.01em;
            color: #6E84A3;

            .dropdown {
                &-toggle,
                &-toggle .fe {
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 20px;
                    color: #12263F;
                }
            }
        }
    }

    &-item {
        padding: 15px 0;
        position: relative;

        &-description {
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            letter-spacing: -0.01em;
            color: #12263F;
        }

        &-participants {
            font-weight: 400;
            font-size: 13px;
            line-height: 17px;
            color: #6F84A2;
        }
    }

    &-content {
        &-left, &-right {
            width: 0;
        }

        &-post {
            &:empty {
                display: none;
            }

            &.end {
                .left, .right {
                    width: 162px;
                    height: 0.5px;
                    background-color: #95AAC9;
                }
            }

            &-load-more {
                font-weight: 400;
                font-size: 13px;
                line-height: 17px;
                text-align: center;
                letter-spacing: -0.02em;
                color: #3B516C;
                padding: 20px;
                border-radius: 0;
                cursor: pointer;
            }

            &-no-more {
                font-weight: 600;
                font-size: 13px;
                line-height: 17px;
                color: #95AAC9;
            }
        }
    }
}

.participants {
    padding: 15px 0;
    position: relative;

    &-avatar {
        img {
            width: 48px;
            height: 48px;
        }
    }

    &-status {
        margin-left: 15px;
        &-name {
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            letter-spacing: -0.01em;
            color: #1F2D3D;
        }

        &-badge {
            background: rgba(44,123,229, 0.1);
            border-radius: 3px;
            font-weight: 600;
            font-size: 10px;
            line-height: 13px;
            text-align: center;
            color: #2C7BE5;
            padding: 2px 6px;
        }

        &-value {
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            letter-spacing: -0.01em;
            color: #6E84A3;

            &-indicator {
                margin-right: 6px;
                color: #00D97E;
            }
        }
    }

    &-btn {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #2C7BE5;
        width: 76px;
        height: 29px;
        text-align: center;
        background: #FFFFFF;
        border: 1px solid #2C7BE5;
        border-radius: 5px;

        &.activated {
            background-color: white;
            color: #6E84A3;
            border-color: #6E84A3;
        }
    }
}

.discussions {

}
