<div class="discussion position-relative">
    <div class="discussion-header d-flex align-items-center" [style.marginTop.px]="40">
        <div
            class="discussion-header-back-btn d-flex justify-content-center align-items-center cursor-pointer"
            (click)="navigateBack()"
        >
            <span class="fe fe-arrow-left"></span>
        </div>
        <div class="discussion-header-back-text">Back to community</div>
    </div>
    <div class="discussion-title" [style.marginTop.px]="30">Discussion</div>
    <div class="discussion-info card p-0" [style.marginTop.px]="10">
        <div class="card-body">
            <div *ngIf="discussionTitle" class="discussion-info-header" [innerHTML]="discussionTitle"></div>
            <div *ngIf="discussionDescription" class="discussion-info-description" [innerHTML]="discussionDescription" [style.marginTop.px]="10"></div>
            <div *ngIf="discussionTopics && discussionTopics.length"  class="discussion-info-topics d-flex flex-wrap flex-row gap-5" [style.marginTop.px]="10">
                <div *ngFor="let topic of discussionTopics" class="discussion-info-topics-item cursor-pointer">#{{ topic.name }}</div>
            </div>
        </div>
        <div class="card-footer">
            <div class="flex-grow-1 d-flex align-items-center">
                <div class="discussion-info-participants">{{ 23 }} participants</div>
            </div>
            <div class="flex-grow-1 d-flex justify-content-end gap-20">
                <button type="button" class="btn btn-light discussion-info-invite">
                    <span class="fe fe-user-plus flipped-horizontal"></span> Invite
                </button>
                <button type="button" class="btn btn-primary discussion-info-subscribe">
                    <span class="fe fe-bell"></span> Turn on notifications
                </button>
            </div>
        </div>
    </div>
</div>
