<div class="discussion position-relative" [style.paddingBottom.px]="20">
    <div class="discussion-header d-flex align-items-center" [style.marginTop.px]="40">
        <div
            class="discussion-header-back-btn d-flex justify-content-center align-items-center cursor-pointer"
            (click)="navigateBack()"
        >
            <span class="fe fe-arrow-left"></span>
        </div>
        <div class="discussion-header-back-text">Back to community</div>
    </div>
    <div class="discussion-title" [style.marginTop.px]="30">Discussion</div>
    <div class="discussion-info card p-0" [style.marginTop.px]="10">
        <div class="card-body position-relative">
            <div class="discussion-info-options d-flex justify-content-start align-items-center">
                <div class="dropdown">
                    <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fe fe-more-vertical"></span>
                    </a>
                    <div *ngIf="isOwner" class="dropdown-menu dropdown-menu-right">
                      <div class="dropdown-item cursor-pointer">Edit discussion</div>
                      <div class="dropdown-item cursor-pointer">Delete discussion</div>
                    </div>
                    <div *ngIf="!isOwner" class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-item cursor-pointer">Report discussion</div>
                    </div>
                </div>
            </div>
            <div *ngIf="discussionTitle" class="discussion-info-header" [innerHTML]="discussionTitle"></div>
            <div *ngIf="discussionDescription" class="discussion-info-description" [innerHTML]="discussionDescription" [style.marginTop.px]="10"></div>
            <div *ngIf="discussionTopics && discussionTopics.length"  class="discussion-info-topics d-flex flex-wrap flex-row gap-5" [style.marginTop.px]="10">
                <div *ngFor="let topic of discussionTopics" class="discussion-info-topics-item cursor-pointer">#{{ topic.name }}</div>
            </div>
        </div>
        <div class="card-footer">
            <div class="flex-grow-1 d-flex align-items-center">
                <div class="discussion-info-participants">{{ participantsCount }} participants</div>
            </div>
            <div class="flex-grow-1 d-flex justify-content-end gap-20">
                <button type="button" class="btn btn-light discussion-info-invite">
                    <span class="fe fe-user-plus flipped-horizontal"></span> Invite
                </button>
                <button
                    *ngIf="!isSubscribedToNotifications"
                    type="button"
                    class="btn btn-primary discussion-info-subscribe"
                    [disabled]="isUpdatingSubscribers"
                    (click)="handleSubscribeClick(subscribeType.subscribe)"
                >
                    <span class="fe fe-bell"></span>
                    Turn on notifications
                    <span *ngIf="isUpdatingSubscribers" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>
                <button
                    *ngIf="isSubscribedToNotifications"
                    type="button"
                    class="btn btn-primary discussion-info-unsubscribe"
                    [disabled]="isUpdatingSubscribers"
                    (click)="handleSubscribeClick(subscribeType.unsubscribe)"
                >
                    <span class="fe fe-bell-off"></span>
                    Turn off notifications
                    <span *ngIf="isUpdatingSubscribers" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid discussion-content d-flex flex-row flex-nowrap p-0">
        <div class="discussion-content-left flex-grow-1">
            <app-community-composer [isLoading]="isLoading"  [showBottomActions]="false" (onQuickPostClick)="handleAddPost()"></app-community-composer>

            <div class="discussion-controls d-flex flex-row justify-content-between" [style.marginBottom.px]="10">
                <div class="discussion-controls-left d-flex align-items-end">
                    <div class="discussion-controls-left-posts-count">
                        {{ postsCount }} posts
                    </div>
                </div>
                <div class="discussion-controls-right d-flex flex-row align-items-center gap-10">
                    Sort by:
                    <div class="dropdown">
                        <a href="#" class="dropdown-ellipses dropdown-toggle d-flex flex-row align-items-center gap-5" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ selectedSorting | localize }} <span class="fe fe-chevron-down"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-left" [style.marginTop.px]="10">
                            <div class="dropdown-item cursor-pointer d-flex justify-content-between"
                                [class.selected]="isSelectedSorting(postSortingEnum.Latest)" (click)="handleSortingChange(postSortingEnum.Latest)">
                                <div>{{ postSortingEnum.Latest | localize }}</div>
                                <i *ngIf="isSelectedSorting(postSortingEnum.Latest)" class="fe fe-check"></i>
                            </div>

                            <div class="dropdown-item cursor-pointer d-flex justify-content-between"
                                [class.selected]="isSelectedSorting(postSortingEnum.Replied)"
                                (click)="handleSortingChange(postSortingEnum.Replied)">
                                <div>{{ postSortingEnum.Replied | localize }}</div>
                                <i *ngIf="isSelectedSorting(postSortingEnum.Replied)" class="fe fe-check"></i>
                            </div>

                            <div class="dropdown-item cursor-pointer d-flex justify-content-between"
                                [class.selected]="isSelectedSorting(postSortingEnum.Reacted)"
                                (click)="handleSortingChange(postSortingEnum.Reacted)">
                                <div>{{ postSortingEnum.Reacted | localize }}</div>
                                <i *ngIf="isSelectedSorting(postSortingEnum.Reacted)" class="fe fe-check"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngFor="let p of children" class="card discussion-content-post">
                <app-community-post-card [isLoading]="isLoading" *ngIf="!p.isHidden && !p.isDeleted" [data]="p" (onChildrenUpdate)="handleChildrenUpdate(p)"></app-community-post-card>
            </div>

            <div *ngIf="hiddenChildrenCount" class="card discussion-content-post-load-more" (click)="onLoadMore()">
                <span>Load more...</span>
            </div>

            <div class="discussion-content-post end d-flex flex-row justify-content-center align-items-center" [style.marginTop.px]="40" [style.marginBottom.px]="20">
                <div class="left"></div>
                <div class="center flex-grow-1">This is the end</div>
                <div class="right"></div>
            </div>
        </div>
        <div class="community-content-right" [style.marginLeft.px]="24">
            <div *ngIf="participants?.length">
                <app-community-side-card
                    header="Participants"
                    [items]="participants"
                    [template]="participantsTemplate"
                    (onClickItem)="handleItemClick($event, 'participants')"
                    (onViewAll)="handleViewAllClick('participants')"
                ></app-community-side-card>
            </div>
            <div *ngIf="relatedDiscussions?.length" [style.marginTop.px]="24">
                <app-community-side-card
                    header="Related discussion"
                    [items]="relatedDiscussions"
                    [template]="relatedDiscussionsTemplate"
                    (onClickItem)="handleItemClick($event, 'discussions')"
                    (onViewAll)="handleViewAllClick('discussions')"
                ></app-community-side-card>
            </div>
        </div>
    </div>
</div>

<ng-template #participantsTemplate let-item="item">
    <div class="participants d-flex flex-row flex-nowrap">
        <app-shimmer [show]="isLoadingParticipants" [shimmerType]="shimmerType.SideCardAvatar"></app-shimmer>
        <div class="participants-left flex-grow-1 d-flex flex-row flex-nowrap justify-content-center align-items-center">
            <div class="participants-avatar d-flex justify-content-center align-items-center">
                <img [src]="getProfilePicture(item.profilePictureUrl)" class="avatar avatar-sm avatar-img rounded-circle" alt="profile" />
            </div>
            <div class="participants-status flex-grow-1 ">
                <div class="d-flex flex-row gap-10">
                    <div class="participants-status-name">{{ item.fullName }}</div>
                    <div *ngIf="isParticipantOwner(item)" class="participants-status-badge d-flex justify-content-center align-items-center">Creator</div>
                </div>
                <div class="participants-status-value"><span class="participants-status-value-indicator">●</span>Online</div>
            </div>
        </div>
        <div class="participants-right d-flex justify-content-center align-items-center">
            <div type="button" class="btn btn-white topic-btn d-flex justify-content-center align-items-center">Follow</div>
        </div>
    </div>
</ng-template>


<ng-template #relatedDiscussionsTemplate let-item="item">
    <div class="discussion-item d-flex flex-column flex-nowrap justify-content-center gap-2">
        <app-shimmer [show]="isLoadingRelatedDiscussions" [shimmerType]="shimmerType.SideCardDouble"></app-shimmer>
        <div class="discussion-item-description line-clamp">{{ item.content }}</div>
        <div class="discussion-item-participants">{{ 23 }} participants</div>
    </div>
</ng-template>
