<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h4 class="card-header-title">{{ 'FormalEducation' | localize }}</h4>
      </div>
      <div class="col-auto">
        <a *ngIf="permission.isGranted('Pages.Profile.Education.Create')"
          (click)="$event.preventDefault(); onAddClick()" href="#" class="btn btn-sm btn-light">
          <i class="fe fe-plus"></i>
          {{ 'Add' | localize }}
        </a>
      </div>
    </div>
  </div>
  <div class="table-responsive" [loader]="isLoading">
    <table class="table table-nowrap card-table">
      <tbody>
        <ng-container *ngFor="let university of universities">
          <ng-container *ngFor="let userEducation of university.userEducations; let i = index;">
            <tr>
              <td *ngIf="i === 0" [attr.rowspan]="university.userEducations.length" [class.multilevel]="i === 0">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <div class="avatar avatar-sm">
                      <div class="avatar-title font-size-lg bg-primary-soft rounded-circle text-primary">
                        <i class="fe fe-book-open"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <h4 class="mb-1">{{ university.heProvider }}</h4>
                    <p class="card-text small text-muted">
                      {{ university.userEducations[0].city }}, {{ university.countryCode }}
                    </p>
                  </div>
                </div>
              </td>
              <td [class.not-firstchild]="i !== 0" width="15%">
                {{ userEducation.startYear }} - {{ userEducation.endYear }}
              </td>
              <td width="20%">
                <p class="p-0 m-0" *ngFor="let userEducationLevel of userEducation.userEducationLevels">
                  {{ userEducationLevel.degree }}
                </p>
              </td>
              <td width="10%">
                <p class="p-0 m-0" *ngFor="let userEducationCourse of userEducation.userEducationCourses">
                  <span class="badge badge-soft-secondary">{{ userEducationCourse.title }}</span>
                </p>
              </td>
              <td width="10%">
                <p class="p-0 m-0" *ngFor="let userEducationCourse of userEducation.userEducationCourses">
                  {{ userEducationCourse.grade }}
                </p>
              </td>
              <td width="1%" class="align-middle">
                <button (click)="onViewDocumentsClick(userEducation)" type="button"
                  class="btn btn-outline-success btn-sm btn-rounded-circle mr-1">
                  <span class="fe fe-folder"></span>
                </button>
                <button *ngIf="permission.isGranted('Pages.Profile.Education.Update')"
                  (click)="onEditClick(userEducation)" type="button"
                  class="btn btn-outline-primary btn-sm btn-rounded-circle mr-1">
                  <span class="fe fe-edit-2"></span>
                </button>
                <button *ngIf="permission.isGranted('Pages.Profile.Education.Delete')"
                  (click)="onDeleteClick(userEducation)" type="button"
                  class="btn btn-outline-danger btn-sm btn-rounded-circle">
                  <span class="fe fe-trash-2"></span>
                </button>
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <tr *ngIf="universities.length === 0">
          <td colspan="10">
            <p class="text-center m-0 p-0">{{ 'NoRecordsFound' | localize }}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
