::ng-deep {
  .modal-dialog-create-service {
    max-width: 562px !important;
    margin-left: auto;
    margin-right: auto;

    .modal-content {
      border: 0 none;
    }
  }
}

.card {
  &-body {
    padding: 20px 24px 15px;

    &-title {
      color: #12263F;
      font-weight: 600;
      font-size: 15px;
      margin-bottom: 15px;
    }
  }

  &-footer {
    padding : 0 24px 24px;

    &-right {
      .btn {
        width: 114px;
        height: 32px;
        font-size: 12px;
        line-height: 1.2em;
      }
    }

    &-left {
      font-size: 14px;
    }
  }
}
