<div class="container-fluid" [@routerTransition]>
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="header">
        <div class="header-body">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="header-pretitle">{{ '' | localize }}</h6>
              <h1 class="header-title">{{ 'Tutorial' | localize }}</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label class="col-form-label" for="Suitor"> {{ 'SuitorLabel' | localize }} </label>
                <p class="small text-muted mb-1">{{ 'SuitorSubLabel' | localize }}</p>
                <textarea
                  class="form-control"
                  data-toggle="autosize"
                  rows="5"
                  name="Suitor"
                  id="Suitor"
                  placeholder="Please provide some information on what you would like to help with"
                ></textarea>
              </div>
              <div class="form-group">
                <label class="col-form-label" for="SupportLevel">{{ 'LevelOfSupport' | localize }}</label>
                <select id="SupportLevel" name="SupportLevel" type="text" class="form-control">
                  <option>ComboBox</option>
                </select>
              </div>
              <div class="form-group">
                <label class="col-form-label" for="MethodologyLabel">{{ 'Methodology' | localize }}</label>
                <select id="Methodology" name="Methodology" type="text" class="form-control">
                  <option>ComboBox</option>
                </select>
              </div>
              <div class="form-group">
                <div class="dropzone">
                  <div class="dz-message">
                    <i class="fe fe-upload"></i>
                    <button class="dz-button" type="button">
                      {{ 'DropOrClickToUpload' | localize }}
                    </button>
                  </div>
                  <div class="dz-preview"></div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-10">
                  <label class="col-form-label" for="AreaOfStudy">{{ 'MainTopicLabel' | localize }}</label>
                  <p class="small text-muted mb-1">{{ 'MainTopicSubLabel' | localize }}</p>
                  <input
                    class="list-search form-control"
                    type="search"
                    placeholder="{{ 'SearchTaxonomy' | localize }}"
                    [(ngModel)]="disciplineTaxonomyName"
                    id="AreaOfStudy"
                    name="AreaOfStudy"
                    typeaheadOptionField="name"
                    [typeahead]="disciplineTaxonomiesDataSource"
                    [typeaheadAsync]="true"
                    [typeaheadMinLength]="0"
                    (typeaheadOnSelect)="onTaxonomySelect($event)"
                  />
                </div>
                <div class="col-md-2 browse-skills">
                  <button type="button" class="btn btn-primary">Browse Skills</button>
                </div>
                <div class="col-md-12 mt-2">
                  <div
                    *ngFor="let disciplineTaxonomy of selectedDisciplineTaxonomies"
                    class="alert alert-info alert-dismissible discipline"
                    role="alert"
                  >
                    {{ disciplineTaxonomy.name }}
                    <button
                      *ngIf="permission.isGranted('Pages.Profile.AreasOfStudy.KnowledgeBase.Delete')"
                      (click)="onRemoveDisciplineTaxonomyClick(disciplineTaxonomy.id)"
                      type="button"
                      class="close"
                      data-dismiss="alert"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label" for="MainTopic">{{ 'MainConcernLabel' | localize }}</label>
                <p class="small text-muted mb-1">{{ 'MainConcernSubLabel' | localize }}</p>
                <textarea
                  class="form-control"
                  data-toggle="autosize"
                  rows="5"
                  name="Concern"
                  id="Concern"
                  placeholder="Please provide your main concers or questions"
                ></textarea>
              </div>
              <div class="form-group">
                <label> {{ 'UrgencyLevelLabel' | localize }} </label>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-white">
                    <input type="radio" name="options" id="option1" checked="" /> <i class="fe fe-check-circle"></i> Urgent
                  </label>
                  <label class="btn btn-white active">
                    <input type="radio" name="options" id="option2" /> <i class="fe fe-check-circle"></i> Average
                  </label>
                  <label class="btn btn-white">
                    <input type="radio" name="options" id="option3" /> <i class="fe fe-check-circle"></i> Not Urgent
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label" for="DeadlineLabel">{{ 'DeadlineLabel' | localize }}</label>
                <div class="input-group input-group-merge">
                  <input id="DeadLine" name="DeadLine" type="text" class="form-control form-control-appended" />
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-calendar"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
