<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-5 col-xl-4 my-5">
      <div class="text-center">
        <h6 class="text-uppercase text-muted mb-4">403 unauthorized</h6>
        <h1 class="display-6 mb-4">This project is not available⚠️</h1>
        <p class="text-muted mb-4">You are trying to access a restricted page.</p>
        <a href="#" (click)="$event.preventDefault(); onGoBackClick();" class="btn btn-lg btn-primary"> Go back </a>
      </div>
    </div>
  </div>
</div>
