<div class="container-fluid" [@routerTransition]>
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="header">
        <div class="header-body">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="header-pretitle">{{ "ManageUsers" | localize }}</h6>
              <h1 class="header-title">{{ "Users" | localize }}</h1>
            </div>
            <div class="col-auto">
              <a href="javascript:;" class="btn btn-primary ml-2" (click)="onCreateClick()">
                {{ "Create" | localize }}
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <form>
                <div class="input-group input-group-flush">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fe fe-search"></i>
                    </span>
                  </div>
                  <input class="list-search form-control" type="search" name="Search" placeholder="Search"
                    [(ngModel)]="keyword" (keyup.enter)="getDataPage(1)">
                </div>
              </form>
            </div>
            <div class="col-auto mr-n3">
              <form>
                <select [(ngModel)]="pageNumber" select2 [select2defaultValue]="pageSize"
                  (select2ValueChange)="pageSizeChange($event)" name="PageNumber"
                  class="custom-select custom-select-sm form-control-flush" data-toggle="select">
                  <option *ngFor="let pageSizeSelection of pageSizeSelections" [value]="pageSizeSelection">
                    {{pageSizeSelection}} {{ 'PerPage' | localize }}
                  </option>
                </select>
              </form>
            </div>
            <div class="col-auto">
              <div class="dropdown" dropdown #filterDropdown="bs-dropdown" container="body" [isAnimated]="true" [autoClose]="false">
                <button class="btn btn-sm btn-white" type="button" dropdownToggle>
                  <i class="fe fe-sliders mr-1"></i> {{ 'Filters' | localize }} <span class="badge badge-primary ml-1 d-none">0</span>
                </button>
                <form *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu-card"
                  (ngSubmit)="getDataPage(1)">
                  <div class="card-header">
                    <h4 class="card-header-title">{{ 'Filters' | localize }}</h4>
                    <button class="btn btn-sm btn-link text-reset btn-white" type="submit"
                      (click)="filterDropdown.hide(); onClearFiltersClick();">
                      <small>{{ 'ClearFilters' | localize }}</small>
                    </button>
                  </div>
                  <div class="card-body">
                    <div class="list-group list-group-flush mt-n4 mb-4">
                      <div class="list-group-item">
                        <div class="row">
                          <div class="col">
                            <small>{{ "IsActive" | localize }}</small>
                          </div>
                          <div class="col-auto">
                            <div class="custom-control custom-radio d-inline">
                              <input type="radio" class="custom-control-input" id="isActiveAll" name="isActiveFilter"
                                [(ngModel)]="isActive" [value]="undefined" checked />
                              <label class="custom-control-label" for="isActiveAll">
                                {{ "All" | localize }}
                              </label>
                            </div>
                            <div class="custom-control custom-radio d-inline mx-3">
                              <input type="radio" class="custom-control-input" id="isActiveActive" name="isActiveFilter"
                                [(ngModel)]="isActive" [value]="true" />
                              <label class="custom-control-label" for="isActiveActive">
                                {{ "Yes" | localize }}
                              </label>
                            </div>
                            <div class="custom-control custom-radio d-inline">
                              <input type="radio" class="custom-control-input" id="isActivePassive" name="isActiveFilter"
                                [(ngModel)]="isActive" [value]="false" />
                              <label class="custom-control-label" for="isActivePassive">
                                {{ "No" | localize }}
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-block btn-primary" type="submit" (click)="filterDropdown.hide()">
                      {{ "ApplyFilter" | localize }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-hover table-nowrap card-table" [busy]="isTableLoading">
            <thead table-header-sort [headers]="headers" (sortChange)="sortChange($event)"></thead>
            <tbody class="list font-size-base">
              <tr
                *ngFor="let user of users | paginate : { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">
                <td>{{ user.userName }}</td>
                <td>{{ user.fullName }}</td>
                <td>{{ user.emailAddress }}</td>
                <td>
                  <div class="custom-control custom-checkbox ml-4">
                    <input type="checkbox" class="custom-control-input" disabled [checked]="user.isActive" />
                    <label class="custom-control-label"></label>
                  </div>
                </td>
                <td class="table-action">
                  <div dropdown class="dropdown" container="body">
                    <a dropdownToggle class="dropdown-ellipses dropdown-toggle" href="javascript:;" role="button">
                      <i class="fe fe-more-vertical"></i>
                    </a>
                    <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                      <a href="javascript:;" class="dropdown-item" (click)="onEditClick(user)"><i
                          class="fe fe-edit"></i> {{ 'Edit' | localize }}</a>
                      <a href="javascript:;" class="dropdown-item" (click)="onDeleteClick(user)"><i
                          class="fe fe-trash"></i> {{ 'Delete' | localize }}</a>
                      <a href="javascript:;" class="dropdown-item" (click)="onResetPasswordClick(user)"><i
                          class="fe fe-lock"></i> {{ 'ResetPassword' | localize }}</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <abp-pagination-controls id="server" (pageChange)="getDataPage($event)">
          </abp-pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>