<div class="card custom-card-border custom-card-shadow">
    <div class="card-header">
        <h4 class="card-header-title">
            Attendees
        </h4>
        <a class="small" href="#!">View all</a>
    </div>

    <div class="container-fluid">
        <div class="row border-bottom">
            <div class="col-6 py-4 text-center">
                <h6 class="text-uppercase text-muted">
                    SETS USED
                </h6>
                <h2 class="mb-0">4 of 6</h2>
            </div>
            <div class="col-6 py-4 text-center border-left">
                <h6 class="text-uppercase text-muted">
                    INTERESTED
                </h6>
                <h2 class="mb-0">27</h2>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="list-group list-group-flush my-n3">
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <a href="#" class="avatar">
                            <img src="https://i.pravatar.cc/300" alt="..." class="avatar-img rounded-circle">
                        </a>
                    </div>
                    <div class="col pl-1">
                        <h4 class="mb-1">
                            <a href="#">Dianna Smiley</a>
                        </h4>
                        <p class="small mb-0">
                            <span class="text-muted">Going</span>
                        </p>
                    </div>
                    <div class="col-auto">
                        <a href="#!" class="btn btn-outline-primary btn-sm">
                            Follow
                        </a>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <a href="#" class="avatar">
                            <img src="https://i.pravatar.cc/300" alt="..." class="avatar-img rounded-circle">
                        </a>
                    </div>
                    <div class="col pl-1">
                        <h4 class="mb-1">
                            <a href="#">Dianna Smiley</a>
                        </h4>
                        <p class="small mb-0">
                            <span class="text-muted">Going</span>
                        </p>
                    </div>
                    <div class="col-auto">
                        <a href="#!" class="btn btn-outline-primary btn-sm">
                            Follow
                        </a>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <a href="#" class="avatar">
                            <img src="https://i.pravatar.cc/300" alt="..." class="avatar-img rounded-circle">
                        </a>
                    </div>
                    <div class="col pl-1">
                        <h4 class="mb-1">
                            <a href="#">Dianna Smiley</a>
                        </h4>
                        <p class="small mb-0">
                            <span class="text-muted">Interested</span>
                        </p>
                    </div>
                    <div class="col-auto">
                        <a href="#!" class="btn btn-outline-primary btn-sm">
                            Follow
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
