<div class="card custom-card-border custom-card-shadow">
    <app-shimmer [show]="isLoading$ | async" [shimmerType]="shimmerType.LandingRightAttendees"></app-shimmer>

    <div class="card-header">
        <h4 class="card-header-title">
            Attendees
        </h4>
        <a class="small" href="#!">View all</a>
    </div>

    <div class="container-fluid">
        <div class="row border-bottom">
            <div class="col-6 py-4 text-center">
                <ng-container *ngIf="isWorkShop else broadcast">
                    <h6 class="text-uppercase text-muted">
                        SITS USED
                    </h6>
                    <h2 class="mb-0">{{ attendeesTotal }} of {{ attendeesLimit }}</h2>
                </ng-container>
            </div>
            <div class="col-6 py-4 text-center border-left">
                <h6 class="text-uppercase text-muted">
                    INTERESTED
                </h6>
                <h2 class="mb-0">{{ interested | number: '1.0-2' }}</h2>
            </div>
        </div>
    </div>

    <div class="card-body">
        <ng-container *ngIf="!!attendees?.length else noAttendee">
            <div class="list-group list-group-flush my-n3">
                <div *ngFor="let attendee of attendees" class="list-group-item">
                    <div class="row align-items-center" >
                        <div class="col-auto">
                            <a href="#" class="avatar">
                                <img [src]="attendee.profilePictureUrl" alt="..." class="avatar-img rounded-circle">
                            </a>
                        </div>
                        <div class="col pl-1">
                            <h4 class="mb-1">
                                <a href="#">{{ attendee.fullName }}</a>
                            </h4>
                            <p class="small mb-0">
                                <span class="text-muted">Going</span>
                            </p>
                        </div>
                        <div class="col-auto">
                            <a href="#!" class="btn btn-outline-primary btn-sm">
                                Follow
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #noAttendee>
    <div class="row align-items-center">
        <span class="text-muted w-100 d-block text-center">No attendees</span>
    </div>
</ng-template>

<ng-template #broadcast>
    <h6 class="text-uppercase text-muted">{{ 'Going' | localize }}</h6>
    <h2 class="mb-0">{{ attendeesTotal }}</h2>
</ng-template>
