<div class="card-body rating">
  <div class="rating-success text-center">
    <img class="rating-success-img" src="assets/img/events/completed-icon.svg" alt="Success">
    <div class="rating-success-title">{{ title }}</div>
    <div class="rating-success-message">{{ subTitle }}</div>
    <div *ngIf="hasActionButtons" class="d-flex justify-content-end rating-success-button gap-15">
      <button *ngIf="hasGoToReviews" type="submit" class="btn btn-outline-secondary" (click)="handleGoToReviews()">
        {{ 'GoToReviews' | localize }}
      </button>
      <button *ngIf="hasDone" type="submit" class="btn btn-primary" (click)="handleDone()">
        {{ 'Done' | localize }}
      </button>
    </div>
  </div>
</div>
