<div class="header">
  <img src="assets/themes/dashkit/img/covers/profile-cover-1.jpg" class="header-img-top" alt="..." />

  <div
    [class.container]="themeSettings.navigationPosition === NavigationPosition.Topnav"
    [class.container-fluid]="themeSettings.navigationPosition !== NavigationPosition.Topnav"
    >
    <div class="header-body mt-n5 mt-md-n6">
      <div class="row align-items-end">
        <div class="col-auto">
          <div class="avatar avatar-xxl header-avatar-top">
            <img
              alt="..."
              class="avatar-img rounded-circle border border-4 border-body"
              [src]="getProfilePicture(profileDetail.profilePictureFileName, profileDetail.userId)"
              [class.no-picture-border]="!profileDetail.profilePictureFileName"
            />
          </div>
        </div>
        <div class="col mb-3 ml-n3 ml-md-n2">
          <h6 class="header-pretitle">{{ profileDetail.role }}</h6>
          <h1 class="header-title">{{ profileDetail.firstName }} {{ profileDetail.lastName ? profileDetail.lastName[0] : '' }}</h1>
        </div>
        <div *ngIf="!isViewOnly" class="col-12 col-md-auto mt-2 mt-md-0 mb-md-3">
          <a href="#!" class="btn btn-primary d-block d-md-inline-block lift"> {{ 'CreateNewProject' | localize }} </a>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col">
          <ul class="nav nav-tabs nav-overflow header-tabs">
            <li class="nav-item">
              <a href="#overview" (click)="onScrollClick($event, 'overview')" class="nav-link active"> {{ 'Overview' | localize }} </a>
            </li>
            <li class="nav-item">
              <a href="#reviews" (click)="onScrollClick($event, 'reviews')" class="nav-link"> {{ 'Reviews' | localize }} </a>
            </li>
            <li class="nav-item">
              <a href="#educations" (click)="onScrollClick($event, 'educations')" class="nav-link"> {{ 'Education' | localize }} </a>
            </li>
            <li class="nav-item">
              <a href="#publications" (click)="onScrollClick($event, 'publications')" class="nav-link"> {{ 'Publications' | localize }} </a>
            </li>
            <li class="nav-item">
              <a href="#experiences" (click)="onScrollClick($event, 'experiences')" class="nav-link"> {{ 'Experience' | localize }} </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
