.card {
    &-body {
        &-learning {
            margin-top: 0.938rem;

            &:first-child {
                margin-top: 0;
            }

            button {
                width: 26px;
                height: 26px;
                color: #2C7BE5;
                padding: 0 6px;
                background-color: #EAF2FC;
            }

            &-content {
                h3 {
                    font-size: 16px;
                    color: #12263F;
                    margin-bottom: 0.625rem;
                }
                p {
                    margin: 0;
                    font-size: 12px;
                    color: #6E84A3;
                }
            }
        }
    }
}
