.min-w-50px {
  min-width: 50px;
}

.inline-form-control {
  width: 50px;

  &.x3 {
    width: 150px;
  }
}

.drip-delay-form {
  display      : flex;
  align-items  : center;
  margin-bottom: 0;

  label {
    margin-bottom: 0;
  }
}
