::ng-deep {
    .modal-dialog-service-chat {
        max-width: 773px !important;
        margin-left: auto;
        margin-right: auto;

        .modal-content {
            border: 0 none;
        }
    }
}

.card {
    &-body {
        padding: 24px 24px 0;

        &-header {
            h3 {
                color: #12263F;
                font-size: 15px;
                font-weight: 600;
                margin-bottom: 2px;
            }

            span {
                font-size: 15px;
                font-weight: 400;
                color: #95AAC9;
            }
        }

        &-content {
            margin-top: 20px;
            textarea {
                padding: 16px;
                border: 1px solid #E3EBF6;
                border-radius: 10px;
                background-color: #F9FBFD;
                width: 100%;
                height: 172px;
                font-size: 15px;
            }
        }
    }

    &-footer {
        padding: 20px 24px 24px;

        button {
            height: 32px;
            width: 114px;
            padding: 4px 15px;
            font-size: 15px;
        }
    }
}
