<div class="container-fluid" [@routerTransition]>
  <div class="row justify-content-center tutor-wizard">
    <div class="col-12">
      <div class="header">
        <div class="header-body">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="header-pretitle">{{ 'BecomeATutor' | localize }}</h6>
              <h1 class="header-title">{{ 'TutorWizard' | localize }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          {{ 'Profile' | localize }}
        </div>
        <div class="card-body">
          <div class="bs-vertical-wizard">
            <ul>
              <li app-tutor-wizard-step title="AboutYou" link="/app/tutor-wizard/about-you"
                [step]="BecomeATutorStep.AboutYou" [currentStep]="currentStep">
              </li>
              <li app-tutor-wizard-step title="Education" link="/app/tutor-wizard/education"
                [step]="BecomeATutorStep.Education" [currentStep]="currentStep">
              </li>
              <li app-tutor-wizard-step title="Research" link="/app/tutor-wizard/research"
                [step]="BecomeATutorStep.Research" [currentStep]="currentStep">
              </li>
              <li app-tutor-wizard-step title="Languages" link="/app/tutor-wizard/languages"
                [step]="BecomeATutorStep.Languages" [currentStep]="currentStep">
              </li>
              <li app-tutor-wizard-step title="ServicesOffered" link="/app/tutor-wizard/services-offered"
                [step]="BecomeATutorStep.ServicesOffered" [currentStep]="currentStep">
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          {{ 'Verifications' | localize }}
        </div>
        <div class="card-body">
          <div class="bs-vertical-wizard">
            <ul>
              <li app-tutor-wizard-step title="ProfilePicture" link="/app/tutor-wizard/profile-picture"
                [step]="BecomeATutorStep.ProfilePicture" [currentStep]="currentStep">
              </li>
              <li app-tutor-wizard-step title="PhotoId" link="/app/tutor-wizard/photo-id"
                [step]="BecomeATutorStep.PhotoId" [currentStep]="currentStep">
              </li>
              <li app-tutor-wizard-step title="Address" link="/app/tutor-wizard/address"
                [step]="BecomeATutorStep.Address" [currentStep]="currentStep">
              </li>
              <li app-tutor-wizard-step title="ContactNumber" link="/app/tutor-wizard/contact-number"
                [step]="BecomeATutorStep.ContactNumber" [currentStep]="currentStep">
              </li>
              <li app-tutor-wizard-step title="References" link="/app/tutor-wizard/references"
                [step]="BecomeATutorStep.References" [currentStep]="currentStep">
              </li>
              <li app-tutor-wizard-step title="DbsCheck" link="/app/tutor-wizard/dbs-check"
                [step]="BecomeATutorStep.DbsCheck" [currentStep]="currentStep">
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          {{ 'TermsAndConditions' | localize }}
        </div>
        <div class="card-body">
          <div class="bs-vertical-wizard">
            <ul>
              <li app-tutor-wizard-step title="TermsOfUse" link="/app/tutor-wizard/terms-of-use"
                [step]="BecomeATutorStep.TermsOfUse" [currentStep]="currentStep">
              </li>
              <li app-tutor-wizard-step title="PrivacyPolicy" link="/app/tutor-wizard/privacy-policy"
                [step]="BecomeATutorStep.PrivacyPolicy" [currentStep]="currentStep">
              </li>
              <li app-tutor-wizard-step title="Declaration" link="/app/tutor-wizard/declaration"
                [step]="BecomeATutorStep.Declaration" [currentStep]="currentStep">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
