.stat {
    & > div {
        margin-top: 0.313rem;

        &:first-child {
            margin-top: 0;
        }
    }

    &-title {
        font-size: 16px;
        font-weight: 600;
        color: #1F2D3D;
    }

    &-overall-rating {
        color: #6E84A3;
        font-size: 15px;
    }

    &-overall-review {
        font-size: 15px;
        color: #3B516C;
        margin-bottom: 1.25rem;
    }

    &-experience {
        margin-bottom: 1.25rem;

        & > div {
            color: #3B516C;
            font-size: 13px;

            & > div {
                color: #3B516C;
                font-size: 15px;

                span {
                    &.badge {
                        padding: 6px 6px 4px;
                        line-height: normal;

                        i {
                            font-size: 15px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

    &-breakdown {
        & > div {
            margin-top: 0.625rem;
            font-size: 15px;
            color: #3B516C;

            &:first-child {
                margin-top: 0;
            }

            & > div:first-child {
                font-size: 13px;
                font-weight: 600;
            }

            & > div:nth-child(2) {
                min-width: 88px;
            }

            & > div:last-child {
                color: #6E84A3;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 170px;
                letter-spacing: -0.3px;
            }
        }
    }
}
