.page-section-actions {
  width         : 100%;
  text-align    : center;
  margin-top    : 10px;
  padding-bottom: 10px;

  * {
    text-shadow: 0px 0px 1px #ffffff,
      0px 0px 1px #ffffff,
      0px 0px 1px #ffffff,
      0px 0px 1px #ffffff;
  }
}

.no-component-content {
  text-align: center;
  padding   : 20px;
  background: #FFFFFF;

  img {
    width        : 300px;
    margin-bottom: 10px;
  }

  .title {
    margin-bottom: 5px;
  }
}
