<ng-container *ngIf="content.components && content.components.length; else noPageComponent">
  <div dragula="PREVIEW_COMPONENTS" [(dragulaModel)]='content.components'>
    <div *ngFor="let sectionComponent of content.components">
      <app-content-preview [content]="sectionComponent">
      </app-content-preview>
    </div>
  </div>
</ng-container>
<div class="page-section-actions">
  <a href="#" (click)="$event.preventDefault(); $event.stopPropagation(); onAddComponentContentClick();">
    <i class="fe fe-plus"></i>
    {{ 'AddComponent' | localize | titlecase }}
  </a>
</div>

<ng-template #noPageComponent>
  <div class="no-component-content">
    <img src="/assets/themes/dashkit/img/illustrations/scale.svg" alt="..." class="img-fluid">
    <h3 class="title">
      {{ 'CreateYourLesson' | localize }}
    </h3>
    <p class="text-muted">
      {{ 'CreateYourLessonSubheader' | localize }}
    </p>
  </div>
</ng-template>
