<sidebar
  *ngIf="
    (themeSettings.navigationPosition === NavigationPosition.Sidenav || themeSettings.navigationPosition === NavigationPosition.Combo) &&
    themeSettings.sidenavSizing === SidebarSize.Base
  "
  [routerEvent]="routerEvent"
></sidebar>

<topnav *ngIf="themeSettings.navigationPosition === NavigationPosition.Topnav" [routerEvent]="routerEvent"></topnav>

<sidebar-small
  *ngIf="
    (themeSettings.navigationPosition === NavigationPosition.Sidenav || themeSettings.navigationPosition === NavigationPosition.Combo) &&
    themeSettings.sidenavSizing === SidebarSize.Small
  "
  [routerEvent]="routerEvent"
></sidebar-small>

<!-- MAIN CONTENT
================================================== -->
<div class="main-content">
  <topbar *ngIf="themeSettings.navigationPosition === NavigationPosition.Combo"></topbar>
  <div
    [class.container]="themeSettings.navigationPosition === NavigationPosition.Topnav"
    [class.p-0]="themeSettings.navigationPosition === NavigationPosition.Topnav"
  >
    <router-outlet></router-outlet>
  </div>
</div>
<!-- / .main-content -->

<theme-settings></theme-settings>
