.header {
    &-body {
        .btn {
            height: 38px;
            line-height: 1rem;

            &.custom-button-width {
                min-width: 127px;
                margin-right: 10px;
            }
        }
    }
}
