.header {
    &-body {
        .btn {
            height: 38px;
            line-height: 1rem;

            &.custom-button-width {
                min-width: 127px;
                margin-right: 10px;
            }

            &:active,
            &:focus {
                outline: 0 none !important;
                box-shadow: 0 0 0 !important;
            }

            &.btn-disabled {
                background-color: rgba(44, 123, 229, 0.1);
                color: #2C7BE5;
                border: 0 none !important;
            }
        }
    }
}
