<div class="card">
  <div class="card-header">
    <h4 class="card-header-title">
      {{ 'UploadImage' | localize }}
    </h4>
  </div>
  <div class="card-body" [loader]="isLoading">
    <app-document-uploader [previewImages]="true" [largeImagePreview]="true" [maxFiles]="1" [cropImages]="true"
      [allowedExtensions]="allowedImageExtensions" [cropperAspectRatioWidth]="cropperAspectRationWidth"
      [cropperAspectRationHeight]="cropperAspectRationHeight">
    </app-document-uploader>
  </div>
</div>
