<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="header">
        <div class="header-body">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="header-pretitle">{{ 'EventName' | localize | uppercase }}</h6>
              <h1 class="header-title">{{ 'Schedule' | localize }}</h1>

            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <form>
                  <div class="input-group input-group-flush input-group-merge input-group-reverse flex-row-reverse">
                    <input class="form-control list-search" type="search" placeholder="Search">
                    <span class="input-group-text border-0 pr-0">
                      <i class="fe fe-search"></i>
                    </span>
                  </div>
                </form>
              </div>
              <div class="col-auto me-n3">
                <ul class="nav nav-tabs nav-tabs-sm card-header-tabs">
                  <li class="nav-item">
                    <a href="javascript:;" class="nav-link active" data-toggle="tab" data-target="#grid-tab" role="tab"
                      aria-controls="grid-tab" aria-selected="true">{{ 'Upcoming' | localize }}</a>
                  </li>
                  <li class="nav-item">
                    <a href="javascript:;" class="nav-link" data-toggle="tab" data-target="#list-tab" role="tab"
                      aria-controls="list-tab" aria-selected="false">{{ 'Past' | localize }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="tab-content">
            <div class="tab-pane fade active show" id="grid-tab" role="tabpanel">
              <app-upcoming [eventId]="eventId"></app-upcoming>
            </div>
            <div class="tab-pane fade" id="list-tab" role="tabpanel">
              <app-past [eventId]="eventId"></app-past>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
