<div class="card" [busy]="isLoading">
  <div class="card-header">
    <h4 class="card-header-title">
      {{ 'Services' | localize }}
    </h4>
    <a *ngIf="!isViewOnly" href="#" class="btn btn-sm btn-primary" (click)="$event.preventDefault(); onAddClick()">
      {{ 'Add' | localize }}
    </a>
  </div>
  <div class="card-body">
    <div
      *ngFor="let supportService of supportServices"
      class="alert alert-success alert-dismissible ac-alert"
      role="alert"
      [class.pr-2]="isViewOnly"
    >
      <span class="session-rate" (click)="$event.preventDefault(); onSelectSupportService(supportService.id)">
        {{ supportService.name }}
      </span>
      <button
        *ngIf="!isViewOnly"
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        (click)="$event.preventDefault(); onRemoveClick(supportService.id)"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div *ngIf="supportServices.length === 0">
      <h4 class="text-center text-muted">{{ 'NoSupportService' | localize }}</h4>
    </div>
  </div>
</div>
