<div class="poll-queue">
  <div class="polls">
    <div *ngFor="let poll of polls" class="poll custom-card-border custom-card-shadow cursor-pointer" (click)="onSelectClick(poll)">
      <div class="row">
        <div class="col">
          <h5 class="poll-name line-clamp-2">{{ poll.name }}</h5>
          <p class="poll-info m-0">
            {{ 'Poll' | localize }} · {{ poll.eventPollQuestions.length }} questions
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="poll-actions">
    <button class="btn btn-block btn-primary" (click)="onCreatePollClick()">
      {{ 'New activity' | localize }}
    </button>
  </div>
</div>
