<div class="card service-notification" [class.closing]="isClosing">
  <div class="card-body">
    <a class="service-popup-close" (click)="handleCloseClick($event)"><img src="assets/img/service/close-icon.svg" alt="Close"></a>
    <div class="service-notification-content d-flex align-items-center gap-10">
      <div class="avatar service-image flex-shrink-0">
        <img [src]="img" [alt]="name" class="avatar-img" [class.rounded-circle]="isCoaching" />
      </div>
      <div class="service-details d-flex flex-column gap-2">
        <div class="service-details-schedule">{{ schedule | uppercase }}</div>
        <div class="service-details-title wrap-text">{{ name }}</div>
        <div class="service-details-info">{{ description }}</div>
      </div>
    </div>
  </div>
</div>
