.list-group-item {
  i {
    font-size : 20px;
    width     : 25px;
    text-align: center;
  }

  h5 {
    display    : inline-block;
    position   : relative;
    bottom     : 3px;
    margin-left: 10px;
  }
}

form.poll-form {
  margin-left: 10px;

  .form-group {
    margin-bottom: 0;

    label {
      font-size: 12px;
    }
  }
}

.chat-box {
  .list-group {
    border-right: 1px solid #edf2f9;
  }

  .list-group-item {
    padding-left: 10px;

    &.active-chat {
      background-color: #f9fbfd;
    }
  }
}