<div class="flex-column">
  <div class="flex-grow-1 scroll-y h-0 p-3">
    <app-info-banner></app-info-banner>
    <table class="table table-sm mb-0">
      <tbody>
        <tr>
          <td class="p-0 border-0">
            <div *ngFor="let offer of offers" class="row m-0">
              <div class="col flex-center p-0">
                <app-offer-card [offer]="offer"></app-offer-card>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="actions p-3">
    <button class="btn btn-outline-secondary btn-block">{{ 'EditOffer' | localize }}</button>
    <ng-container [ngSwitch]="launched">
      <button *ngSwitchCase="false" class="btn btn-primary btn-block" (click)="launched=true">{{ 'LaunchOffer' | localize }}</button>
      <ng-container *ngSwitchCase="true">
        <button [popover]="endOfferPopTemplate" class="btn btn-danger btn-block" #endOfferPopElement="bs-popover">{{ 'EndOffer' | localize }}</button>
        <ng-template #endOfferPopTemplate>
          <h5 class="text-body">
            {{ 'UnshareVideoWarningMessage' | localize }}
          </h5>
          <hr>
          <div class="row">
            <div class="col-6 text-center">
              <button class="btn btn-sm btn-danger" (click)="launched=false">
                {{ 'StopVideo' | localize }}
              </button>
            </div>
            <div class="col-6 text-center">
              <button class="btn btn-sm btn-success" (click)="endOfferPopElement.hide()">
                {{ 'KeepPlaying' | localize }}
              </button>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </ng-container>
  </div>
</div>

