<div class="flex-column">
  <div class="flex-grow-1 scroll-y h-0 p-3">
    <table class="table table-sm mb-0">
      <tbody>
        <tr>
          <td class="p-0 border-0 d-flex flex-column justify-content-start align-items-center" [style.margin.px]="20" [style.gap.px]="20">
            <ng-container *ngIf="offers?.length > 0; else noOffers" >
              <app-offer-card *ngFor="let offer of offers" [offer]="offer" (onClick)="onOfferClick($event)"></app-offer-card>
            </ng-container>
            <ng-template #noOffers>
              <div class="col no-offers text-center">{{ 'No offers' | localize }} </div>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="actions" [style.padding.px]="20">
    <div class="actions-new d-flex justify-content-center align-items-center" (click)="onNewOfferClick()">{{ 'New offer' | localize }}</div>
  </div>
</div>

