<div class="card custom-card-border custom-card-shadow">
    <app-shimmer [show]="true" [shimmerType]="shimmerType.LandingLeftLearnings"></app-shimmer>

    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <h4 class="card-header-title">{{ 'What you can learn' | localize }}</h4>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="card-body-learning d-flex gap-10">
            <button class="btn btn-light rounded-circle">
                <i class="fe fe-edit-2"></i>
            </button>
            <div class="card-body-learning-content">
                <h3>How to start your first career</h3>
                <p>Lorem ipsum dolor sit amet consectetur. Sit habitasse tristique senectus eget velit in interdum nam.
                    Elementum fermentum cras diam congue purus eget sed mattis.</p>
            </div>
        </div>
        <div class="card-body-learning d-flex gap-10">
            <button class="btn btn-light rounded-circle">
                <i class="fe fe-edit-2"></i>
            </button>
            <div class="card-body-learning-content">
                <h3>How to start your first career</h3>
                <p>Lorem ipsum dolor sit amet consectetur. Sit habitasse tristique senectus eget velit in interdum nam.
                    Elementum fermentum cras diam congue purus eget sed mattis.</p>
            </div>
        </div>
        <div class="card-body-learning d-flex gap-10">
            <button class="btn btn-light rounded-circle">
                <i class="fe fe-edit-2"></i>
            </button>
            <div class="card-body-learning-content">
                <h3>How to start your first career</h3>
                <p>Lorem ipsum dolor sit amet consectetur. Sit habitasse tristique senectus eget velit in interdum nam.
                    Elementum fermentum cras diam congue purus eget sed mattis.</p>
            </div>
        </div>
        <div class="card-body-learning d-flex gap-10">
            <button class="btn btn-light rounded-circle">
                <i class="fe fe-edit-2"></i>
            </button>
            <div class="card-body-learning-content">
                <h3>How to start your first career</h3>
                <p>Lorem ipsum dolor sit amet consectetur. Sit habitasse tristique senectus eget velit in interdum nam.
                    Elementum fermentum cras diam congue purus eget sed mattis.</p>
            </div>
        </div>
    </div>
</div>
