<div *ngIf="show" class="shimmer" [ngSwitch]="shimmerType" [style.backgroundColor]="backgroundColor">
    <!--  Discussion card | Article card  -->
    <ng-container *ngSwitchCase="ShimmerType.PostCard">
        <div class="shimmer-row d-flex flex-row p-24">
            <div class="shimmer-row-avatar circle"></div>
            <div class="shimmer-row-comment flex-grow-1">
                <div class="shimmer-row-comment-bar w-25 mt6"></div>
                <div class="shimmer-row-comment-bar w-15"></div>
            </div>
        </div>
        <div class="shimmer-row d-flex p-24">
            <div class="shimmer-row-comment flex-grow-1">
                <div class="shimmer-row-comment-bar w-100"></div>
                <div class="shimmer-row-comment-bar w-75"></div>
            </div>
        </div>
    </ng-container>

    <!--  Side card with avatar  -->
    <ng-container *ngSwitchCase="ShimmerType.SideCardAvatar">
        <div class="shimmer-row d-flex flex-row align-items-center h-100">
            <div class="shimmer-row-avatar circle"></div>
            <div class="shimmer-row-comment circle flex-grow-1 align-items-center">
                <div class="shimmer-row-comment-bar w-100 mt10"></div>
                <div class="shimmer-row-comment-bar w-50"></div>
            </div>
        </div>
    </ng-container>

    <!--  Side card with thumbnail  -->
    <ng-container *ngSwitchCase="ShimmerType.SideCardThumbnail">
        <div class="shimmer-row d-flex flex-row align-items-center h-100">
            <div class="shimmer-row-avatar square"></div>
            <div class="shimmer-row-comment square flex-grow-1 align-items-center">
                <div class="shimmer-row-comment-bar w-100 mt10"></div>
                <div class="shimmer-row-comment-bar w-50"></div>
            </div>
        </div>
    </ng-container>

    <!--  Side card without avatar  -->
    <ng-container *ngSwitchCase="ShimmerType.SideCardDouble">
        <div class="shimmer-row d-flex flex-row align-items-center h-100">
            <div class="shimmer-row-comment flex-grow-1 align-items-center">
                <div class="shimmer-row-comment-bar w-100"></div>
                <div class="shimmer-row-comment-bar w-50"></div>
            </div>
        </div>
    </ng-container>

    <!--  Side card without avatar with 1 bar  -->
    <ng-container *ngSwitchCase="ShimmerType.SideCardSingle">
        <div class="shimmer-row d-flex flex-row p-15">
            <div class="shimmer-row-comment flex-grow-1 align-items-center">
                <div class="shimmer-row-comment-bar w-100"></div>
            </div>
        </div>
    </ng-container>

    <!--  User Card  -->
    <ng-container *ngSwitchCase="ShimmerType.UsersCard">
        <div class="shimmer-row d-flex flex-row justify-content-center p-24">
            <div class="shimmer-row-avatar circle"></div>
        </div>
        <div class="shimmer-row d-flex flex-row p-24">
            <div class="shimmer-row-comment flex-grow-1 align-items-center">
                <div class="shimmer-row-comment-bar w-100"></div>
                <div class="shimmer-row-comment-bar w-75 mt-0"></div>
                <div class="shimmer-row-comment-bar w-25 mt40"></div>
            </div>
        </div>
    </ng-container>

    <!--  Service Card  -->
    <ng-container *ngSwitchCase="ShimmerType.ServiceCard">
        <div class="shimmer-row d-flex flex-row justify-content-center">
            <div class="shimmer-row-banner"></div>
        </div>
        <div class="shimmer-row d-flex flex-row p-24">
            <div class="shimmer-row-comment flex-grow-1 align-items-center">
                <div class="shimmer-row-comment-bar w-100"></div>
                <div class="shimmer-row-comment-bar w-75"></div>
                <div class="shimmer-row-comment-bar w-25 b-25"></div>
            </div>
        </div>
    </ng-container>

    <!--  Article Card  -->
    <ng-container *ngSwitchCase="ShimmerType.ArticleCard">
        <div class="shimmer-row d-flex flex-row p-24">
            <div class="shimmer-row-comment flex-grow-1 align-items-center">
                <div class="shimmer-row-comment-bar w-100"></div>
                <div class="shimmer-row-comment-bar w-75"></div>
                <div class="shimmer-row-comment-bar w-25 b-25"></div>
            </div>
        </div>
    </ng-container>

    <!--  Composer  -->
    <ng-container *ngSwitchCase="ShimmerType.Composer">
        <div class="shimmer-row shimmer-composer d-flex flex-row">
            <div class="shimmer-row-avatar circle"></div>
        </div>
    </ng-container>

    <!--  Discussion Card  -->
    <ng-container *ngSwitchCase="ShimmerType.DiscussionCard">
        <div class="shimmer-row d-flex flex-row p-24">
            <div class="shimmer-row-comment flex-grow-1">
                <div class="shimmer-row-comment-bar w-100 mt21"></div>
                <div class="shimmer-row-comment-bar w-100 mt20"></div>
                <div class="shimmer-row-comment-bar w-75 mt20"></div>
            </div>
        </div>
    </ng-container>

    <!--  Topics Carousel  -->
    <ng-container *ngSwitchCase="ShimmerType.TopicsCarousel">
        <div class="shimmer-row inanimate">
            <div class="shimmer-row-blank"></div>
        </div>
    </ng-container>

    <!--  More Topics 2Bars -->
    <ng-container *ngSwitchCase="ShimmerType.InlineButtons">
        <div class="shimmer-row d-flex">
            <div class="shimmer-row-comment d-flex flex-row gap-10 w-100 justify-content-end">
                <div class="shimmer-row-comment-bar btn"></div>
                <div class="shimmer-row-comment-bar btn"></div>
            </div>
        </div>
    </ng-container>

    <!-- Landing Page -->
    <ng-container *ngSwitchCase="ShimmerType.LandingHeader">
        <div class="shimmer-row d-flex flex-column gap-34 h-100">
            <div class="shimmer-row-banner flex-grow-1 m-0 rounded-0 w-100"></div>
            <div class="container w-100 d-flex justify-content-between align-items-center mb-100-px">
                <div class="shimmer-row-comment-bar m-0 w-634-px h-25-px mw-100"></div>
                <div class="d-flex gap-10">
                    <div class="shimmer-row-comment-bar m-0 w-127-px h-38-px mw-100"></div>
                    <div class="shimmer-row-comment-bar m-0 w-127-px h-38-px mw-100"></div>
                    <div class="shimmer-row-comment-bar m-0 w-38-px h-38-px mw-100"></div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="ShimmerType.LandingLeftAbout">
        <div class="shimmer-row d-flex flex-column h-100" [style.padding.px]="24" [style.paddingTop.px]="26">
            <div class="shimmer-row-comment-bar mx-0 mb-40-px w-159-px h-15-px mw-100"></div>
            <div class="shimmer-row-comment-bar mx-0 mb-20-px w-514-px h-15-px mw-100"></div>
            <div class="shimmer-row-comment-bar mx-0 mb-20-px w-514-px h-15-px mw-100"></div>
            <div class="shimmer-row-comment-bar mx-0 w-100 h-143-px"></div>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="ShimmerType.LandingRightAbout">
        <div class="shimmer-row d-flex flex-column h-100" [style.padding.px]="24" [style.paddingRight.px]="20" [style.paddingBottom.px]="20">
            <div class="shimmer-row-comment-bar mx-0 mb-40-px w-160-px h-15-px mw-100"></div>
            <div class="shimmer-row-comment-bar mx-0 mb-20-px w-234-px h-15-px mw-100"></div>
            <div class="shimmer-row-comment-bar mx-0 mb-20-px w-234-px h-15-px mw-100"></div>
            <div class="shimmer-row-comment-bar mx-0 mb-20-px w-100 h-145-px"></div>
            <div class="d-flex flex-wrap gap-20">
                <div class="shimmer-row-comment-bar m-0 w-120-px h-15-px mw-100"></div>
                <div class="shimmer-row-comment-bar m-0 w-100-px h-15-px mw-100"></div>
                <div class="shimmer-row-comment-bar m-0 w-150-px h-15-px mw-100"></div>
                <div class="shimmer-row-comment-bar m-0 w-90-px h-15-px mw-100"></div>
                <div class="shimmer-row-comment-bar m-0 w-110-px h-15-px mw-100"></div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="ShimmerType.LandingLeftLearnings">
        <div class="shimmer-row d-flex flex-column h-100" [style.padding.px]="24" [style.paddingBottom.px]="40">
            <div class="shimmer-row-comment-bar mx-0 mb-40-px w-160-px h-15-px mw-100"></div>

            <div class="d-flex gap-15 mb-35-px">
                <div class="shimmer-row-avatar circle w-25-px h-25-px"></div>
                <div class="d-flex flex-column gap-15 w-100">
                    <div class="shimmer-row-comment-bar m-0 w-100 h-15-px"></div>
                    <div class="shimmer-row-comment-bar m-0 w-443-px h-15-px mw-100"></div>
                </div>
            </div>

            <div class="d-flex gap-15 mb-35-px">
                <div class="shimmer-row-avatar circle w-25-px h-25-px"></div>
                <div class="d-flex flex-column gap-15 w-100">
                    <div class="shimmer-row-comment-bar m-0 w-100 h-15-px"></div>
                    <div class="shimmer-row-comment-bar m-0 w-443-px h-15-px mw-100"></div>
                </div>
            </div>

            <div class="d-flex gap-15">
                <div class="shimmer-row-avatar circle w-25-px h-25-px"></div>
                <div class="d-flex flex-column gap-15 w-100">
                    <div class="shimmer-row-comment-bar m-0 w-100 h-15-px"></div>
                    <div class="shimmer-row-comment-bar m-0 w-443-px h-15-px mw-100"></div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="ShimmerType.LandingRightAuthor">
        <div class="shimmer-row d-flex flex-column align-items-center h-100" [style.padding.px]="20" [style.paddingTop.px]="50">
            <div class="shimmer-row-avatar circle w-82-px h-82-px mb-40-px"></div>
            <div class="shimmer-row-comment-bar m-0 w-100 h-15-px mb-20-px"></div>
            <div class="shimmer-row-comment-bar m-0 w-213-px h-15-px mw-100"></div>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="ShimmerType.LandingRightCreator">
        <div class="shimmer-row d-flex gap-15 h-100" [style.padding.px]="20" [style.paddingRight.px]="16">
            <div class="shimmer-row-avatar circle w-48-px h-48-px"></div>
            <div class="flex-grow-1 d-flex flex-column gap-15">
                <div class="shimmer-row-comment-bar m-0 w-100 h-15-px mb-20-px"></div>
                <div class="shimmer-row-comment-bar m-0 w-158-px h-15-px mw-100"></div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="ShimmerType.LandingRightRelated">
        <div class="shimmer-row d-flex flex-column align-items-center gap-30 h-100" [style.padding.px]="20" [style.paddingTop.px]="75" [style.paddngBottom.px]="15">
            <div class="d-flex gap-15">
                <div class="shimmer-row-comment-bar m-0 w-64-px h-55-px"></div>
                <div class="d-flex flex-column gap-15">
                    <div class="shimmer-row-comment-bar m-0 w-100 h-15-px"></div>
                    <div class="shimmer-row-comment-bar m-0 w-147-px h-15-px mw-100"></div>
                </div>
            </div>
            <div class="d-flex gap-15">
                <div class="shimmer-row-comment-bar m-0 w-64-px h-55-px"></div>
                <div class="d-flex flex-column gap-15">
                    <div class="shimmer-row-comment-bar m-0 w-100 h-15-px"></div>
                    <div class="shimmer-row-comment-bar m-0 w-147-px h-15-px mw-100"></div>
                </div>
            </div>
            <div class="d-flex gap-15">
                <div class="shimmer-row-comment-bar m-0 w-64-px h-55-px"></div>
                <div class="d-flex flex-column gap-15">
                    <div class="shimmer-row-comment-bar m-0 w-100 h-15-px"></div>
                    <div class="shimmer-row-comment-bar m-0 w-147-px h-15-px mw-100"></div>
                </div>
            </div>
            <div class="d-flex gap-15">
                <div class="shimmer-row-comment-bar m-0 w-64-px h-55-px"></div>
                <div class="d-flex flex-column gap-15">
                    <div class="shimmer-row-comment-bar m-0 w-100 h-15-px"></div>
                    <div class="shimmer-row-comment-bar m-0 w-147-px h-15-px mw-100"></div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

