<div class="card">
  <div class="card-header">
    <h4 class="card-header-title">Verifications</h4>
    <a class="small" href="javascript:;">View all</a>
  </div>
  <div class="card-body">
    <div class="list-group list-group-flush my-n3">
      <div class="list-group-item">
        <div class="row align-items-center">
          <div class="col">
            <div class="avatar avatar-sm">
              <div class="avatar-title font-size-lg bg-primary-soft rounded-circle text-primary">
                <i class="fe fe-mail"></i>
              </div>
            </div>
            <h5 class="mb-0 text-normal">Email</h5>
          </div>
          <div class="col-auto">
            <span class="text-muted"><i class="fe fe-check"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
