<div class="card">
  <div class="card-header">
    <h4 class="card-header-title">{{ 'Verifications' | localize}}</h4>
  </div>
  <div class="card-body">
    <div class="list-group list-group-flush my-n3">
      <div class="list-group-item">
        <div class="row align-items-center">
          <div class="col">
            <div class="avatar avatar-sm">
              <div class="avatar-title font-size-lg bg-primary-soft rounded-circle text-primary">
                <i class="fe fe-mail"></i>
              </div>
            </div>
            <h5 class="mb-0 text-normal">{{ 'Email' | localize }}</h5>
          </div>
          <div class="col-auto">
            <span *ngIf="verifcationStatus.isEmailConfirmed" class="text-muted"><i class="fe fe-check"></i></span>
            <span *ngIf="!verifcationStatus.isEmailConfirmed" class="text-muted"><i class="fe fe-x"></i></span>
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row align-items-center">
          <div class="col">
            <div class="avatar avatar-sm">
              <div class="avatar-title font-size-lg bg-primary-soft rounded-circle text-primary">
                <i class="fe fe-smartphone"></i>
              </div>
            </div>
            <h5 class="mb-0 text-normal">{{ 'Phone' | localize }}</h5>
          </div>
          <div class="col-auto">
            <span *ngIf="verifcationStatus.isPhoneNumberConfirmed" class="text-muted"><i class="fe fe-check"></i></span>
            <a *ngIf="!verifcationStatus.isPhoneNumberConfirmed" (click)="$event.preventDefault(); onVerifyMobileNumberClick();" href="#">Verify</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
