<form class="form-horizontal" autocomplete="off" #form="ngForm" (ngSubmit)="onFormSubmit()">

  <div class="modal-card card">

    <div class="card-header position-relative">
      <h4 class="card-header-title">
        {{ 'Availability' | localize }}
      </h4>

      <ul class="nav nav-tabs nav-overflow header-tabs d-flex justify-content-center align-items-center">
        <li class="nav-item h-100">
          <span [class.active]="activeTab === 'default'" class="nav-link d-flex justify-content-center align-items-center h-100" role="button" (click)="activeTab = 'default'">
            {{ 'Default' | localize }}
          </span>
        </li>
        <li class="nav-item h-100">
          <span [class.active]="activeTab === 'custom'" class="nav-link d-flex justify-content-center align-items-center h-100" role="button" (click)="activeTab = 'custom'">
            {{ 'Custom' | localize }}
          </span>
        </li>
      </ul>
    </div>

    <div class="card-body" [loader]="isLoading">
      <ng-container [ngSwitch]="activeTab">

        <ng-container *ngSwitchCase="'default'">
          <app-default-schedules [userAvailabilities]="userAvailabilities" (modelChanged)="handleModelChanged($event)"></app-default-schedules>
        </ng-container>

        <ng-container *ngSwitchCase="'custom'">

        </ng-container>

      </ng-container>
    </div>
    <abp-modal-footer [isLoading]="isLoading" [cancelDisabled]="isLoading" [saveDisabled]="isLoading || !isModelValid"
      (onCancelClick)="onCloseClick()">
    </abp-modal-footer>
  </div>
</form>
