<form class="form-horizontal d-flex flex-column flex-grow-1" autocomplete="off" #form="ngForm" (ngSubmit)="onFormSubmit()">

  <div class="modal-card card d-flex flex-column justify-content-center flex-grow-1">

    <div class="card-header position-relative">
      <h4 class="card-header-title">
        {{ 'Availability' | localize }}
      </h4>

      <ul class="nav nav-tabs nav-overflow header-tabs d-flex justify-content-center align-items-center">
        <li class="nav-item h-100">
          <span [class.active]="activeTab === ScheduleType.DEFAULT" class="nav-link d-flex justify-content-center align-items-center h-100" role="button" (click)="activeTab = ScheduleType.DEFAULT">
            {{ 'Default' | localize }}
          </span>
        </li>
        <li class="nav-item h-100">
          <span [class.active]="activeTab === ScheduleType.CUSTOM" class="nav-link d-flex justify-content-center align-items-center h-100" role="button" (click)="activeTab = ScheduleType.CUSTOM">
            {{ 'Custom' | localize }}
          </span>
        </li>
        <li class="nav-item h-100">
          <span [class.active]="activeTab === ScheduleType.SETTINGS" class="nav-link d-flex justify-content-center align-items-center h-100" role="button" (click)="activeTab = ScheduleType.SETTINGS">
            {{ 'Settings' | localize }}
          </span>
        </li>
      </ul>
    </div>

    <div class="card-body flex-grow-1" [loader]="isLoading">
      <app-schedules
          [userAvailabilities]="userAvailabilities"
          [userAvailabilitySettings]="userAvailabilitySettings"
          [type]="activeTab"
          (modelChanged)="handleModelChanged($event)"
          (settingsChanged)="handleSettingsChanged($event)"
      ></app-schedules>
    </div>
    <abp-modal-footer [isLoading]="isLoading" [cancelDisabled]="isLoading" [saveDisabled]="isLoading || !isModelValid"
      (onCancelClick)="onCloseClick()">
    </abp-modal-footer>
  </div>
</form>
