<div class="h-100" [@routerTransition]>
  <div [class.sidebar-hidden]="isSidebarHidden" class="main-content h-100">
    <nav class="navbar navbar-expand-lg navbar-light" id="topnav">
      <div class="mx-3 w-100 d-flex justify-content-between align-items-center">
        <a class="navbar-brand text-left pt-0" href="javascript:;">
          <div class="d-flex">
            <div class="avatar avatar-4by3">
              <img [src]="getCourseImageUrl(thumbnailUrl)" alt="..." class="avatar-img rounded">
            </div>
            <div class="navbar-brand-header ml-3 mr-n3">
              <h6 class="header-pretitle">
                <ng-container *ngIf="model.parent && model.parent.id else singleVideoPretitle">
                  {{ model.parent.name }}
                </ng-container>
                <ng-template #singleVideoPretitle>
                  {{ 'Video' | localize }}
                </ng-template>
              </h6>
              <h3 class="header-title">{{ model.name }}</h3>
            </div>
          </div>
        </a>
        <div class="row">
          <div class="col d-flex align-items-center">
            <button class="btn btn-sm btn-outline-primary" (click)="onExitClick()">
              <b>{{ 'Exit' | localize }}</b>
            </button>
          </div>
          <div class="col d-flex align-items-center pr-0">
            <div class="separator"></div>
          </div>
          <div class="col pl-1 d-flex collapse-toggle">
            <a *ngIf="!isSidebarHidden" href="#!collapse-sidebar"
              class="d-flex align-items-center justify-content-center text-muted"
              (click)="$event.preventDefault(); isSidebarHidden = true">
              <i class="fe fe-arrow-right"></i>
              <i class="icon icon-straight"></i>
            </a>
            <a *ngIf="isSidebarHidden" href="#!expand-sidebar"
              class="d-flex align-items-center justify-content-center text-muted mr-n3 ml-2"
              (click)="$event.preventDefault(); isSidebarHidden = false">
              <i class="icon icon-straight"></i>
              <i class="fe fe-arrow-left"></i>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div class="video-container">
      <div *ngIf="!shouldShowVideo" class="video-overlay">
        <h1 class="text-info">{{ 'BuyThisVideo' | localize }}</h1>
        <p class="text-info">{{ 'BuyThisVideoWarningMessage' | localize }}</p>
      </div>
      <video *ngIf="shouldShowVideo" width="100%" height="100%" controls autoplay>
        <source [src]="videoUrl">
      </video>
    </div>
  </div>

  <app-sidebar [hidden]="isSidebarHidden"></app-sidebar>
</div>
