.main-content {
  margin-right: 350px;
  transition  : 0.5s;
  position    : relative;

  .navbar-brand-header,
  .header-title {
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;
  }

  .navbar-brand-header {
    display        : flex;
    flex-direction : column;
    justify-content: center;
  }

  .avatar {
    min-width: 64px;
  }

  .video-container {
    position  : absolute;
    height    : calc(100% - 73px);
    width     : 100%;
    overflow  : hidden;
    background: #000000;

    video {
      min-width : 100%;
      min-height: 100%;
    }
  }

  &.sidebar-hidden {
    margin-right: 57px;
  }

  .collapse-toggle {
    a {
      padding: 10px;
    }
  }

  .separator {
    height     : 100%;
    border-left: 1px solid #e3ebf6;
  }

  .video-overlay {
    position       : absolute;
    width          : 100%;
    height         : 100%;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    position       : absolute;
    width          : 100%;
    height         : 100%;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    z-index        : 100;
  }
}
