@import url('dark-mode-custom.less');

/* custom component styles */

app-root {
  width: 100%;
}

topbar-menu {
  .navbar-nav .nav-link.active:before {
    border-bottom: none !important;
  }

  .nav-item {
    .nav-link {
      white-space: nowrap;
    }
  }
}

image-cropper {
  .source-image {
    width: 100%;
  }
}

typeahead-container {
  z-index: 1060 !important;
}

popover-container {
  max-width: 100% !important;
}

quill-editor {
  .ql-container {
    border-top: 1px solid #ccc !important;

    .ql-editor {
      border: none;
    }
  }
}

quill-view-html {
  .ql-editor {
    border    : none;
    padding   : 0;
    min-height: initial;
  }
}

ngx-intl-tel-input {
  &.is-invalid {
    .form-control {
      border-color: #e63757;
    }
  }
}

bs-datepicker-container {
  .bs-datepicker-head {
    background-color: #2c7be5 !important;
  }

  .bs-datepicker-body {
    .selected {
      background-color: #2c7be5 !important;
    }
  }
}

full-calendar {

  .fc-timegrid-slot,
  .fc-day {
    cursor: cell;
  }

  .fc-timegrid-slot-lane {
    background: #EDF2F9;
    opacity   : 0.5;
    border    : 1px solid #edf2f9 !important;
  }

  .fc-non-business {
    cursor    : default;
    background: #FFFFFF !important;
    opacity   : 1 !important;

    &.tutor {
      cursor: pointer;
    }
  }

  .fc-timegrid-event {
    cursor: pointer;
  }
}

timepicker {
  &.datetimepicker {
    table {
      display        : flex;
      justify-content: center;
      margin-top     : 10px;
    }

    &.datetimepicker-sm {
      table {
        margin: 0 !important;
      }
    }
  }
}

/* in-flight clone */
.gu-mirror {
  position      : fixed !important;
  margin        : 0 !important;
  z-index       : 9999 !important;
  opacity       : 0.8;
  -ms-filter    : "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter        : alpha(opacity=80);
  pointer-events: none;
}

/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select   : none !important;
  -ms-user-select    : none !important;
  user-select        : none !important;
}

/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity   : 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter    : alpha(opacity=20);
}

.text-component-content {
  .ql-editor {
    overflow     : hidden;
    border-radius: 0;
  }
}

/* custom component styles end */

/* custom icons start */

.icon {
  &.icon-straight {
    height     : 18px;
    border-left: 1.5px solid #95aac9;
  }
}

/* custom icons end */

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-user-menu .user-image {
  border-radius: 50%;
  float        : left;
  height       : 2rem;
  margin-top   : -4px;
  width        : 2rem;
}

.form-group.required .col-form-label:after {
  color      : #d00;
  content    : '*';
  position   : absolute;
  margin-left: 3px;
}

/* Sweet alert */
.swal2-title {
  display: inline-block !important;
}

body.swal2-height-auto {
  height: inherit !important;
}

.swal2-popup.swal2-toast {
  padding: 10px 12px !important;
  display: block !important;
}

.swal2-popup.swal2-toast .swal2-header,
.swal2-popup.swal2-toast .swal2-title,
.swal2-popup.swal2-toast .swal2-content {
  text-align: left !important;
  margin    : 0 !important;
}

.swal2-popup.swal2-toast .swal2-title {
  margin-bottom: 4px !important;
}

.freeze-ui:before {
  top : calc(50% - 50px);
  left: calc(50% - 40px);
}

.modal-card {
  .card-body {
    max-height: initial !important;

    .nav-tabs {
      .nav-link {
        padding-top: 0 !important;
      }
    }
  }
}

.pill {
  font-size       : 12px;
  line-height     : 10px;
  font-weight     : bold;
  padding         : 6px 12px;
  border-radius   : 4px;
  margin-bottom   : 6px;
  background-color: #00d97e;
  color           : #333;

  &.red {
    background-color: #e63757 !important;
    color           : white !important;
  }
}

.card {
  .card-footer {
    display: flex;
  }

  &-ribbon {
    position        : absolute;
    width           : 60px;
    height          : 120px;
    z-index         : 999;
    left            : 30px;
    font-size       : 35px;
    background-color: #00d97e;
    color           : #333;

    filter        : drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.8));
    -o-filter     : drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.8));
    -ms-filter    : drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.8));
    -moz-filter   : drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.8));
    -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.8));

    &.right {
      right: 35px;
      left : unset;
    }

    &.red {
      background-color: #e63757 !important;
      color           : white !important;

      &::before {
        border-top-color  : #e63757 !important;
        border-right-color: #e63757 !important;
        border-left-color : #e63757 !important;
      }
    }

    &::before {
      content            : '';
      position           : absolute;
      bottom             : -30px;
      z-index            : 998;
      border             : 30px solid #00d97e;
      border-bottom-color: transparent;
    }

    &-text {
      font-size : 10px;
      margin-top: 4px;
    }
  }
}

.height-pad {
  padding: 5px 13px;
  height : auto;
}

.table-action {
  text-align: right;
  width     : 1%;
}

.tab-container {
  .nav-link {
    padding-top: 0;
  }
}

.profile-image {
  .dropzone {
    height: 227px;

    .dz-message {
      height         : 100%;
      display        : flex;
      flex-direction : column;
      justify-content: center;
      padding        : 0;
      z-index        : 2;
      background     : transparent;

      i.fe {
        display  : block;
        font-size: 40px;
      }

      input[type='file'] {
        position: absolute;
        width   : 100%;
        height  : 100%;
        opacity : 0;
        cursor  : pointer;
      }
    }

    .dz-preview {
      position           : absolute;
      background-repeat  : no-repeat;
      background-size    : contain;
      background-position: center;
      height             : 100%;
      width              : 100%;
      z-index            : 1;
      opacity            : 10%;
    }
  }
}

form {
  .col-form-label {
    padding-top: 0;
  }
}

.avatar-online {
  .avatar-img {
    object-fit: contain;
  }
}

.ac-alerts {
  margin-top: 10px;

  .ac-alert {
    margin   : 0 10px 10px 0 !important;
    padding  : 5px 20px 5px 5px !important;
    display  : inline-block;
    font-size: 0.8125rem;

    .close {
      padding: 4px !important;
    }
  }
}

.sunburst-chart {
  & * {
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select   : none;
    /* Firefox */
    -ms-user-select    : none;
    /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select   : none;
  }

  .sunburst-tooltip {
    max-width: fit-content !important;
  }

  .sunburst-viz .main-arc {
    stroke-width: 0.1;
  }
}

.navbar-brand {
  order: -2;
}

.navbar-brand-img,
.navbar-brand>img {
  max-height: 100% !important;
  height    : 40px;
}

.modal-open .modal {
  background: #00000077;
}

.text-red {
  color: #e63757 !important;
}

.text-green {
  color: green !important;
}

.input-group.input-group-sm {

  .input-group-append,
  .input-group-prepend {
    .fe {
      font-size: 12px;
    }
  }
}

.btn-sm {
  .fe {
    font-size: 12px;
  }
}

input[type='file'].inline-file-upload {
  display: none;
}

.table-align-top {
  td {
    vertical-align: top !important;

    &.align-middle {
      vertical-align: middle !important;
    }
  }
}

.align-middle {
  vertical-align: middle;
}

.iti {
  width: 100%;

  .iti__country-list {
    box-shadow : none;
    font-size  : 14px;
    margin-left: 0;
  }
}

.overflow-visible {
  overflow: visible !important;
}

.card-table {
  tbody {
    tr {

      &:first-child {
        td {
          border-top: none;
        }
      }

      &.no-border {
        td {
          border-top: none !important;
          padding   : 1rem !important;
        }
      }

      td {
        &.multilevel {
          vertical-align: middle !important;
        }

        &.not-firstchild {
          padding: 1rem !important;
        }
      }
    }
  }
}

.rating-experience {
  display: inline-block;
  width  : 26px;
  height : 26px;

  &>* {
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 100%;
    height         : 100%;
    border-radius  : 50%;

    &.rating-experience-positive {
      color           : #00d97e;
      background-color: #ccf7e5;
    }

    &.rating-experience-neutral {
      color           : #39afd1;
      background-color: #d7eff6;
    }

    &.rating-experience-negative {
      color           : #e63757;
      background-color: #fad7dd;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.card-fas {
  font-size: 20px;
  position : relative;
  top      : 2px;
}

.break-spaces {
  white-space: break-spaces;
}

.toggable-content {
  max-height: 155px;
  overflow  : hidden;

  &.show-all {
    overflow  : visible;
    max-height: initial;
    height    : auto;
  }
}

.NgxEditor__Wrapper {
  min-height: 150px;
}

.ql-toolbar.ql-snow {
  &>* {
    margin: 0 !important;
  }
}

.modal-md {
  max-width: 480px !important;
}

.loader-parent {
  position  : relative;
  min-height: 50px;

  .loader {
    position       : absolute;
    height         : 100%;
    width          : 100%;
    z-index        : 1000;
    display        : flex;
    align-items    : center;
    justify-content: center;

    .spinner-bg {
      position  : absolute;
      background: #00000077;
      opacity   : 0.3;
      height    : 100%;
      width     : 100%;
    }
  }

}

.custom-control-input:disabled,
.custom-control-input[disabled] {
  &:not(:checked)~.custom-control-label::before {
    background-color: #e3ebf6 !important;
  }
}

.bs-vertical-wizard {
  border-right: 1px solid #eaecf1;

  ul {
    margin    : 0;
    padding   : 0;
    list-style: none;

    >li {
      display : block;
      position: relative;

      >a {
        display       : block;
        padding       : 10px 10px 10px 40px;
        color         : #333c4e;
        font-size     : 17px;
        font-weight   : 400;
        letter-spacing: .8px;

        &:before {
          content         : '';
          position        : absolute;
          width           : 1px;
          height          : calc(100% - 25px);
          background-color: #bdc2ce;
          left            : 13px;
          bottom          : -9px;
          z-index         : 3;
        }

        .ico {
          pointer-events: none;
          font-size     : 14px;
          position      : absolute;
          left          : 8px;
          top           : 15px;
          z-index       : 2;
        }

        &:after {
          content      : '';
          position     : absolute;
          border       : 2px solid #bdc2ce;
          border-radius: 50%;
          top          : 14px;
          left         : 6px;
          width        : 16px;
          height       : 16px;
          z-index      : 3;
        }

        .desc {
          display       : block;
          color         : #bdc2ce;
          font-size     : 11px;
          font-weight   : 400;
          line-height   : 1.8;
          letter-spacing: .8px;
        }
      }

      &:last-child {
        >a {
          &:before {
            display: none;
          }
        }
      }
    }

    >li.complete {
      >a {
        &:before {
          background-color: #5cb85c;
          opacity         : 1;
          height          : calc(100% - 25px);
          bottom          : -9px;
        }

        &:after {
          display: none;
        }

        .ico {
          left : 8px;
          color: #5cb85c;
        }
      }
    }

    >li.declined:not(.current) {
      >a {
        &:before {
          background-color: #e63757;
          opacity         : 1;
          height          : calc(100% - 25px);
          bottom          : -9px;
        }

        &:after {
          display: none;
        }

        .ico {
          left : 9px;
          color: #e63757;
        }
      }
    }

    >li.saved:not(.current) {
      >a {
        &:before {
          background-color: #2c7be5;
          opacity         : 1;
          height          : calc(100% - 25px);
          bottom          : -9px;
        }

        &:after {
          display: none;
        }

        .ico {
          left : 8px;
          color: #2c7be5;
        }
      }
    }

    >li.locked {
      >a {
        &:after {
          display: none;
        }

        .ico {
          left : 8px;
          color: #bdc2ce;
        }
      }
    }

    >li.current {
      background-color: #fff;

      >a {
        &:before {
          background-color: #ffe357;
          opacity         : 1;
        }

        &:after {
          border-color    : #ffe357;
          background-color: #ffe357;
          opacity         : 1;
        }
      }

      &:after {
        left             : 100%;
        top              : 50%;
        border           : solid transparent;
        content          : " ";
        height           : 0;
        width            : 0;
        position         : absolute;
        pointer-events   : none;
        border-color     : rgba(255, 255, 255, 0);
        border-left-color: #fff;
        border-width     : 10px;
        margin-top       : -10px;
      }

      &:before {
        left             : 100%;
        top              : 50%;
        border           : solid transparent;
        content          : " ";
        height           : 0;
        width            : 0;
        position         : absolute;
        pointer-events   : none;
        border-color     : rgba(234, 236, 241, 0);
        border-left-color: #eaecf1;
        border-width     : 11px;
        margin-top       : -11px;
      }
    }
  }
}

app-student-reviews .ql-container.ngx-quill-view-html {
  margin-bottom: 5px;
}

.form-select-wrapper {

  background-color   : #fff;
  background-image   : url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 1 3.25 3.25L7.5 1' stroke='%2395AAC9' stroke-width='1.083' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: right .75rem center;
  background-repeat  : no-repeat;
  background-size    : .75em .75em;
  border             : 1px solid #d2ddec;
  border-radius      : .375rem;
  color              : #12263f;
  display            : block;
  font-size          : .9375rem;
  font-weight        : 400;
  line-height        : 1.5;
  // padding: .5rem 1.75rem .5rem .75rem;
  padding-right      : 1.75rem;
  width              : 100%;

  &.is-invalid {
    border-color: #e63757;
  }

  select.form-control {
    -webkit-appearance: none;
    -moz-appearance   : none;
    appearance        : none;
    border            : none;
  }
}


app-student-reviews,
app-tutor-reviews {

  .badge.badge-soft-info,
  .rating-experience>*.rating-experience-neutral {
    >.fas {
      font-size: 8px;
    }
  }

  .badge.badge-soft-info {
    padding-top   : 4px;
    padding-bottom: 4px;
  }

  .badge {
    border-radius: 50px;
  }
}

sidebar-small~.main-content .container-fluid {
  padding-left : 2.25rem !important;
  padding-right: 2.25rem !important;
}

.form-select-wrapper {

  background-color   : #fff;
  background-image   : url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 1 3.25 3.25L7.5 1' stroke='%2395AAC9' stroke-width='1.083' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: right .75rem center;
  background-repeat  : no-repeat;
  background-size    : .75em .75em;
  border             : 1px solid #d2ddec;
  border-radius      : .375rem;
  color              : #12263f;
  display            : block;
  font-size          : .9375rem;
  font-weight        : 400;
  line-height        : 1.5;
  padding-right      : 1.75rem;
  width              : 100%;

  &.is-invalid {
    border-color: #e63757;
  }

  select.form-control {
    -webkit-appearance: none;
    -moz-appearance   : none;
    appearance        : none;
    border            : none;
  }
}

app-methodologies .badge {
  border-radius: 15px;
  padding      : 5px 10px;

  .virtical-center {
    vertical-align: middle !important;
  }
}

.rotate {
  -moz-transition   : all .2s linear;
  -webkit-transition: all .2s linear;
  transition        : all .2s linear;

}

.rotate.down {
  -ms-transform    : rotate(180deg);
  -moz-transform   : rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform        : rotate(180deg);
}

.rotate.left {
  -ms-transform    : rotate(90deg);
  -moz-transform   : rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform        : rotate(90deg);
}

.rotate.right {
  -ms-transform    : rotate(-90deg);
  -moz-transform   : rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform        : rotate(-90deg);
}

.flipped-horizontal {
  display: inline-block;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.flipped-vertical {
  display: inline-block;
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

.navbar-nav .nav-link>.fas,
.navbar-nav .nav-link>.fa {
  display  : inline-block;
  min-width: 1.75rem;
}

.form-control-style>div {
  border       : 1px solid #d2ddec !important;
  border-radius: .375rem !important;
  padding      : 10px !important;
}

.modal.fade {

  &.show .modal-dialog-vertical.fixed-right {
    transform: translateX(0) !important;
  }

  &:not(.show) .modal-dialog-vertical.fixed-right {
    transform: translateX(100%) !important;
  }

  .modal-dialog-vertical.fixed-right {
    margin-left: auto;
    max-width  : 430px;

    .modal-card,
    app-create-edit-booking,
    form {
      height: inherit;

      .card-body {
        height: calc(100% - 166px);
      }
    }
  }
}

.btn-group-toggle .btn-check:checked+.btn-white,
.btn-group-toggle .btn-white:not(:disabled):not(.disabled).active,
.btn-group-toggle .btn-white:not(:disabled):not(.disabled):active {
  background-color: #fff;
  border-color    : #2c7be5;
  box-shadow      : none;
  color           : #2c7be5;
}

.btn-check {
  clip          : rect(0, 0, 0, 0);
  pointer-events: none;
  position      : absolute;
}

.btn-check:active+.btn-white,
.btn-check:checked+.btn-white,
.btn-white.active,
.btn-white:active,
.show>.btn-white.dropdown-toggle {
  background-color: #fff;
  border-color    : #fff;
  color           : #283e59;
}

.input-group>.select2-container--default {
  width: auto !important;
  flex : 1 1 auto;
}

.input-group>.select2-container--default .select2-selection--single {
  height                    : 100%;
  line-height               : inherit;
  padding                   : 0.5rem 1rem;
  border-top-right-radius   : 0;
  border-bottom-right-radius: 0;
}

.display-5 {
  font-size: 1.5rem;
}

.input-icon {
  margin  : auto;
  position: absolute;
  top     : 0;
  bottom  : 0;
  right   : 10px;
  height  : 20px !important;
  width   : 20px !important;
}

.conversation-group {
  .ql-editor {
    color           : #95aac9 !important;
    background-color: transparent !important;
  }
}

.conversations-container {
  .ql-editor {
    background-color: transparent !important;
  }
}

.text-component-content {
  .ql-editor {
    background-color: transparent !important;
  }
}

.comment-text {
  word-break: break-all !important;
}

.line-clamp-2 {
  overflow          : hidden;
  text-overflow     : ellipsis;
  display           : -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.line-clamp {
  overflow          : hidden;
  text-overflow     : ellipsis;
  display           : -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  * {
    margin         : 0 !important;
    padding        : 0 !important;
    font-size      : 12px !important;
    font-family    : inherit !important;
    font-weight    : normal;
    text-transform : unset;
    text-decoration: unset;
  }
}

.no-wrap {
  white-space: nowrap;
}

.wrap-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.break-spaces {
  white-space: initial;
}

.page-content-container {
  &:not(.active) {
    * {
      cursor: pointer !important;
    }
  }
}

.navbar-vertical {
  transition: 0.5s;
}

.main-content {
  transition: margin-left .5s;
}

.disabled-block {
  position: absolute;
  width   : 100%;
  height  : 100%;
  margin  : -1.5rem;
  z-index : 1080;
  opacity : 0;
}

.custom-control-input:disabled~.custom-control-caption,
.custom-control-input[disabled]~.custom-control-caption {
  color: #95aac9
}

.drag-handle-container {
  cursor: move;

  .drag-handle {
    &::before {
      content: "\f142 \f142";
    }
  }
}

.input-group-merge.input-group-reverse {
  display       : flex;
  flex-direction: row-reverse;
}

.flush-quill-editor {

  .ql-container,
  .ql-toolbar {
    border: none;
  }
}

a.disabled {
  pointer-events: none;
  opacity       : .5;
}

.flex-column {
  display       : flex;
  flex-direction: column;
}

.flex-row {
  display       : flex;
  flex-direction: row;
}

.flex-y-center {
  display    : flex;
  align-items: center;
}

.flex-x-center {
  display        : flex;
  justify-content: center;
}

.flex-center {
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.justify-content-center {
  justify-content: center;
}

.align-content-center {
  align-content: center;
}

.align-items-center {
  align-items: center;
}

.table.table-sm-custom {

  td,
  th {
    padding: 10px !important;
  }

  td,
  th {
    .actions {
      font-size: .8125rem;
    }
  }

  th {
    .actions {
      margin-right: -2px;
    }
  }

  &.table-stripeless {

    tr:not(:first-child) {
      td {
        border-top: none;
      }
    }

    tr.striped {
      td {
        border-top: 1px solid #edf2f9;
      }
    }
  }
}

.disabled-container {
  pointer-events: none;
  opacity       : 0.5;
}

.disabled-events {
  pointer-events: none;
}

.text-disabled {
  color: #d2ddec;
}

.fe {
  &.fe-slash-append {
    position: relative;

    &::after {
      position : absolute;
      content  : "\\";
      font-size: 1.6em;
      left     : 3px;
      top      : -11px;
      transform: skewX(25deg);
    }
  }
}

.text-transform-none {
  text-transform: none;
}

.custom-control-label.label-center {
  line-height: 22px;
}

.form-group-sm,
.form-row-sm .form-group {
  margin-bottom: 1em;
}

.w100p {
  width: 100%;
}

@media (min-width: 576px) {
  .w-sm-auto {
    width: auto;
  }

  .nav-user-menu .user-image {
    float      : none;
    line-height: 10px;
    margin-top : -8px;
  }

  &.card-ribbon {
    width    : 64px;
    height   : 130px;
    font-size: 32px;

    &::before {
      bottom      : -34px;
      border-width: 32px;
    }

    &-text {
      font-size : 11px;
      margin-top: 6px;
    }
  }
}

@media (min-width: 768px) {
  sidebar:not([style*='display: none'])~.main-content {
    margin-left: 250px;
  }

  sidebar-small:not([style*='display: none'])~.main-content {
    margin-left: 66px;
  }

  &.card-ribbon {
    width    : 80px;
    height   : 150px;
    font-size: 35px;

    &::before {
      bottom      : -40px;
      border-width: 40px;
    }

    &-text {
      font-size : 12px;
      margin-top: 8px;
    }
  }
}

@media (min-width: 768px) {

  each(range(1px, 100px, 1), {
      .gap-md-@{index} {
        gap: @value !important;
      }
    }
  );

  sidebar~.main-content .container,
  sidebar~.main-content .container-fluid,
  sidebar~.main-content .container-lg,
  sidebar~.main-content .container-md,
  sidebar~.main-content .container-sm,
  sidebar~.main-content .container-xl {
    padding-left : 2.25rem !important;
    padding-right: 2.25rem !important;
  }

  sidebar-small~.main-content .container,
  sidebar-small~.main-content .container-fluid,
  sidebar-small~.main-content .container-lg,
  sidebar-small~.main-content .container-md,
  sidebar-small~.main-content .container-sm,
  sidebar-small~.main-content .container-xl {
    padding-left : 2.25rem !important;
    padding-right: 2.25rem !important;
  }
}

.h-0 {
  height: 0 !important;
}

.h-100p {
  height: 100%;
}

.w-100p {
  width: 100%;
}

.scroll-y {
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #cbcbcb;
  }

  &::-webkit-scrollbar-thumb {
    background   : #1a68d1;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #1862c6;
  }
}

each(range(1px, 100px, 1), {
    .gap-@{index} {
      gap: @value !important;
    }
  }
);

each(range(1px, 2000px, 1), {
    .w-@{index}-px {
      width: @value !important;
    }
  }
);

each(range(1px, 2000px, 1), {
    .h-@{index}-px {
      height: @value !important;
    }
  }
);

each(range(1px, 100px, 1), {
    .mt-@{index}-px {
      margin-top: @value !important;
    }
  }
);

each(range(1px, 100px, 1), {
    .mb-@{index}-px {
      margin-bottom: @value !important;
    }
  }
);

each(range(1px, 30px, 1), {
    .fs-@{index} {
      font-size: @value;
    }
  }
);

.canvas_wrapper_div {
  height: calc(100vh - 200px) !important;
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}

.flex-gap-1px {
  gap: 1px;
}

.bg-center  {
  background-size: cover;
  background-position: center;
}

.hero-banner {
  min-height: 400px;
  height: 400px;
  max-height: 400px;
}

.veil {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
}

@keyframes loader {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.box {
  &-shimmer {
    &-bar {
        animation: loader 1s infinite linear;
        background: linear-gradient(90deg, #EFEFEF, #f7f7f7);
        background-size: 400% 400%;
        width: 100%;
        position: relative;
        min-height: 6px;
        border-radius: 5px;

        &.action {
          background: linear-gradient(90deg, #2C7BE5, #3f91fb);
          background-size: 400% 400%;
        }
    }
  }
}

.slick-scroll {
  &::-webkit-scrollbar-thumb {
    background: #D2DDEC;
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 3px;
  }
}

.hidden-scroll {
  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  &::-webkit-scrollbar {
    width: 3px;
  }
}

[contenteditable] {
  outline: 0px solid transparent;

  &.with-placeholder:empty {
    color: rgba(149, 170, 201, 0.7);

    &:before {
      content: attr(data-placeholder);
      cursor: text;
      color: rgba(149, 170, 201, 0.7);
    }
  }
}

.h-sroll {
  overflow-y: hidden;
  overflow-x: auto;
  width: 0 !important;

  &-hidden {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.btn {
  &.following {
    background-color: rgba(44, 123, 229, 0.1);
    color: #2C7BE5;

    &:active {
      background-color: rgba(44, 123, 229, 0.1);
      color: #2C7BE5;
    }
  }
}

.hide-empty {
  &:empty {
    display: none !important;
  }
}

.d-none {
  display: none !important;
}

.custom-card-shadow {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.03) !important;
}

.custom-card-border {
  border: 1px solid #e3ebf6 !important;
}
