@import url('dark-mode-custom.less');

/* custom component styles */

app-root {
  width: 100%;
}

topbar-menu {
  .navbar-nav .nav-link.active:before {
    border-bottom: none !important;
  }

  .nav-item {
    .nav-link {
      white-space: nowrap;
    }
  }
}

image-cropper {
  .source-image {
    width: 100%;
  }
}

typeahead-container {
  z-index: 1060 !important;
}

popover-container {
  max-width: 100% !important;
}

quill-editor {
  .ql-container {
    border-top: 1px solid #ccc !important;

    .ql-editor {
      border: none;
    }
  }
}

quill-view-html {
  .ql-editor {
    border    : none;
    padding   : 0;
    min-height: initial;
  }
}

ngx-intl-tel-input {
  &.is-invalid {
    .form-control {
      border-color: #e63757;
    }
  }
}

bs-datepicker-container {
  .bs-datepicker-head {
    background-color: #2c7be5 !important;
  }

  .bs-datepicker-body {
    .selected {
      background-color: #2c7be5 !important;
    }
  }
}

full-calendar {

  .fc-timegrid-slot,
  .fc-day {
    cursor: cell;
  }

  .fc-timegrid-slot-lane {
    background: #EDF2F9;
    opacity   : 0.5;
    border    : 1px solid #edf2f9 !important;
  }

  .fc-non-business {
    cursor    : default;
    background: #FFFFFF !important;
    opacity   : 1 !important;

    &.tutor {
      cursor: pointer;
    }
  }

  .fc-timegrid-event {
    cursor: pointer;
  }
}

timepicker {
  &.datetimepicker {
    table {
      display        : flex;
      justify-content: center;
      margin-top     : 10px;
    }
  }
}

/* custom component styles end */

body {
  height: 100%;
}

.nav-user-menu .user-image {
  border-radius: 50%;
  float        : left;
  height       : 2rem;
  margin-top   : -4px;
  width        : 2rem;
}

.form-group.required .col-form-label:after {
  color      : #d00;
  content    : '*';
  position   : absolute;
  margin-left: 3px;
}

/* Sweet alert */
.swal2-title {
  display: inline-block !important;
}

body.swal2-height-auto {
  height: inherit !important;
}

.swal2-popup.swal2-toast {
  padding: 10px 12px !important;
  display: block !important;
}

.swal2-popup.swal2-toast .swal2-header,
.swal2-popup.swal2-toast .swal2-title,
.swal2-popup.swal2-toast .swal2-content {
  text-align: left !important;
  margin    : 0 !important;
}

.swal2-popup.swal2-toast .swal2-title {
  margin-bottom: 4px !important;
}

.freeze-ui:before {
  top : calc(50% - 50px);
  left: calc(50% - 40px);
}

.modal-card {
  .card-body {
    max-height: initial !important;

    .nav-tabs {
      .nav-link {
        padding-top: 0 !important;
      }
    }
  }
}

.card {
  .card-footer {
    display: flex;
  }
}

.table-action {
  text-align: right;
  width     : 1%;
}

.custom-control-input:disabled~.custom-control-label::before,
.custom-control-input[disabled]~.custom-control-label::before {
  background-color: #e3ebf6;
}

.tab-container {
  .nav-link {
    padding-top: 0;
  }
}

.profile-image {
  .dropzone {
    height: 227px;

    .dz-message {
      height         : 100%;
      display        : flex;
      flex-direction : column;
      justify-content: center;
      padding        : 0;
      z-index        : 2;
      background     : transparent;

      i.fe {
        display  : block;
        font-size: 40px;
      }

      input[type='file'] {
        position: absolute;
        width   : 100%;
        height  : 100%;
        opacity : 0;
        cursor  : pointer;
      }
    }

    .dz-preview {
      position           : absolute;
      background-repeat  : no-repeat;
      background-size    : contain;
      background-position: center;
      height             : 100%;
      width              : 100%;
      z-index            : 1;
      opacity            : 10%;
    }
  }
}

form {
  .col-form-label {
    padding-top: 0;
  }
}

.avatar-online {
  .avatar-img {
    object-fit: contain;
  }
}

.ac-alerts {
  margin-top: 10px;

  .ac-alert {
    margin   : 0 10px 10px 0 !important;
    padding  : 5px 20px 5px 5px !important;
    display  : inline-block;
    font-size: 0.8125rem;

    .close {
      padding: 4px !important;
    }
  }
}

.sunburst-chart {
  & * {
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select   : none;
    /* Firefox */
    -ms-user-select    : none;
    /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select   : none;
  }

  .sunburst-tooltip {
    max-width: fit-content !important;
  }

  .sunburst-viz .main-arc {
    stroke-width: 0.1;
  }
}

.navbar-brand {
  order: -2;
}

.navbar-brand-img,
.navbar-brand>img {
  max-height: 100% !important;
  height    : 40px;
}

body.theme-dark {
  .freeze-ui {
    background: #11273f;
  }

  .dow-menu {
    border-right: 1px solid #1F3A5C;
  }

  .loader-parent {
    .loader {
      .spinner {
        color: #FFFFFF !important;
      }
    }
  }
}

.modal-open .modal {
  background: #00000077;
}

.text-red {
  color: #e63757 !important;
}

.text-green {
  color: green !important;
}

.input-group.input-group-sm {

  .input-group-append,
  .input-group-prepend {
    .fe {
      font-size: 12px;
    }
  }
}

.btn-sm {
  .fe {
    font-size: 12px;
  }
}

input[type='file'].inline-file-upload {
  display: none;
}

.table-align-top {
  td {
    vertical-align: top !important;

    &.align-middle {
      vertical-align: middle !important;
    }
  }
}

.align-middle {
  vertical-align: middle;
}

.iti {
  width: 100%;

  .iti__country-list {
    box-shadow : none;
    font-size  : 14px;
    margin-left: 0;
  }
}

.overflow-visible {
  overflow: visible !important;
}

.card-table {
  tbody {
    tr {

      &:first-child {
        td {
          border-top: none;
        }
      }

      &.no-border {
        td {
          border-top: none !important;
          padding   : 1rem !important;
        }
      }

      td {
        &.multilevel {
          vertical-align: middle !important;
        }

        &.not-firstchild {
          padding: 1rem !important;
        }
      }
    }
  }
}

.rating-experience {
  display: inline-block;
  width  : 26px;
  height : 26px;

  &>* {
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 100%;
    height         : 100%;
    border-radius  : 50%;

    &.rating-experience-positive {
      color           : #00d97e;
      background-color: #ccf7e5;
    }

    &.rating-experience-neutral {
      color           : #39afd1;
      background-color: #d7eff6;
    }

    &.rating-experience-negative {
      color           : #e63757;
      background-color: #fad7dd;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.card-fas {
  font-size: 20px;
  position : relative;
  top      : 2px;
}

.break-spaces {
  white-space: break-spaces;
}

.toggable-content {
  max-height: 155px;
  overflow  : hidden;

  &.show-all {
    overflow  : visible;
    max-height: initial;
    height    : auto;
  }
}

.NgxEditor__Wrapper {
  min-height: 150px;
}

.ql-toolbar.ql-snow {
  &>* {
    margin: 0 !important;
  }
}

.modal-md {
  max-width: 480px !important;
}

.loader-parent {
  position  : relative;
  min-height: 50px;

  .loader {
    position       : absolute;
    height         : 100%;
    width          : 100%;
    z-index        : 999;
    display        : flex;
    align-items    : center;
    justify-content: center;

    .spinner-bg {
      position  : absolute;
      background: #00000077;
      opacity   : 0.3;
      height    : 100%;
      width     : 100%;
    }
  }

}

.custom-control-input:disabled~.custom-control-label::before,
.custom-control-input[disabled]~.custom-control-label::before {
  background-color: #EEEEEE !important;
  opacity         : .5;
}

.bs-vertical-wizard {
  border-right: 1px solid #eaecf1;

  ul {
    margin    : 0;
    padding   : 0;
    list-style: none;

    >li {
      display : block;
      position: relative;

      >a {
        display       : block;
        padding       : 10px 10px 10px 40px;
        color         : #333c4e;
        font-size     : 17px;
        font-weight   : 400;
        letter-spacing: .8px;

        &:before {
          content         : '';
          position        : absolute;
          width           : 1px;
          height          : calc(100% - 25px);
          background-color: #bdc2ce;
          left            : 13px;
          bottom          : -9px;
          z-index         : 3;
        }

        .ico {
          pointer-events: none;
          font-size     : 14px;
          position      : absolute;
          left          : 8px;
          top           : 15px;
          z-index       : 2;
        }

        &:after {
          content      : '';
          position     : absolute;
          border       : 2px solid #bdc2ce;
          border-radius: 50%;
          top          : 14px;
          left         : 6px;
          width        : 16px;
          height       : 16px;
          z-index      : 3;
        }

        .desc {
          display       : block;
          color         : #bdc2ce;
          font-size     : 11px;
          font-weight   : 400;
          line-height   : 1.8;
          letter-spacing: .8px;
        }
      }

      &:last-child {
        >a {
          &:before {
            display: none;
          }
        }
      }
    }

    >li.complete {
      >a {
        &:before {
          background-color: #5cb85c;
          opacity         : 1;
          height          : calc(100% - 25px);
          bottom          : -9px;
        }

        &:after {
          display: none;
        }

        .ico {
          left : 8px;
          color: #5cb85c;
        }
      }
    }

    >li.declined:not(.current) {
      >a {
        &:before {
          background-color: #e63757;
          opacity         : 1;
          height          : calc(100% - 25px);
          bottom          : -9px;
        }

        &:after {
          display: none;
        }

        .ico {
          left : 9px;
          color: #e63757;
        }
      }
    }

    >li.saved:not(.current) {
      >a {
        &:before {
          background-color: #2c7be5;
          opacity         : 1;
          height          : calc(100% - 25px);
          bottom          : -9px;
        }

        &:after {
          display: none;
        }

        .ico {
          left : 8px;
          color: #2c7be5;
        }
      }
    }

    >li.locked {
      >a {
        &:after {
          display: none;
        }

        .ico {
          left : 8px;
          color: #bdc2ce;
        }
      }
    }

    >li.current {
      background-color: #fff;

      >a {
        &:before {
          background-color: #ffe357;
          opacity         : 1;
        }

        &:after {
          border-color    : #ffe357;
          background-color: #ffe357;
          opacity         : 1;
        }
      }

      &:after {
        left             : 100%;
        top              : 50%;
        border           : solid transparent;
        content          : " ";
        height           : 0;
        width            : 0;
        position         : absolute;
        pointer-events   : none;
        border-color     : rgba(255, 255, 255, 0);
        border-left-color: #fff;
        border-width     : 10px;
        margin-top       : -10px;
      }

      &:before {
        left             : 100%;
        top              : 50%;
        border           : solid transparent;
        content          : " ";
        height           : 0;
        width            : 0;
        position         : absolute;
        pointer-events   : none;
        border-color     : rgba(234, 236, 241, 0);
        border-left-color: #eaecf1;
        border-width     : 11px;
        margin-top       : -11px;
      }
    }
  }
}

app-student-reviews .ql-container.ngx-quill-view-html {
  margin-bottom: 5px;
}

.form-select-wrapper {

  background-color   : #fff;
  background-image   : url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 1 3.25 3.25L7.5 1' stroke='%2395AAC9' stroke-width='1.083' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: right .75rem center;
  background-repeat  : no-repeat;
  background-size    : .75em .75em;
  border             : 1px solid #d2ddec;
  border-radius      : .375rem;
  color              : #12263f;
  display            : block;
  font-size          : .9375rem;
  font-weight        : 400;
  line-height        : 1.5;
  // padding: .5rem 1.75rem .5rem .75rem;
  padding-right      : 1.75rem;
  width              : 100%;

  &.is-invalid {
    border-color: #e63757;
  }

  select.form-control {
    -webkit-appearance: none;
    -moz-appearance   : none;
    appearance        : none;
    border            : none;
  }
}


app-student-reviews,
app-tutor-reviews {

  .badge.badge-soft-info,
  .rating-experience>*.rating-experience-neutral {
    >.fas {
      font-size: 8px;
    }
  }

  .badge.badge-soft-info {
    padding-top   : 4px;
    padding-bottom: 4px;
  }

  .badge {
    border-radius: 50px;
  }
}

sidebar-small~.main-content .container-fluid {
  padding-left : 2.25rem !important;
  padding-right: 2.25rem !important;
}

.form-select-wrapper {

  background-color   : #fff;
  background-image   : url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 1 3.25 3.25L7.5 1' stroke='%2395AAC9' stroke-width='1.083' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: right .75rem center;
  background-repeat  : no-repeat;
  background-size    : .75em .75em;
  border             : 1px solid #d2ddec;
  border-radius      : .375rem;
  color              : #12263f;
  display            : block;
  font-size          : .9375rem;
  font-weight        : 400;
  line-height        : 1.5;
  padding-right      : 1.75rem;
  width              : 100%;

  &.is-invalid {
    border-color: #e63757;
  }

  select.form-control {
    -webkit-appearance: none;
    -moz-appearance   : none;
    appearance        : none;
    border            : none;
  }
}

app-methodologies .badge {
  border-radius: 15px;
  padding      : 5px 10px;

  .virtical-center {
    vertical-align: middle !important;
  }
}

.rotate {
  -moz-transition   : all .2s linear;
  -webkit-transition: all .2s linear;
  transition        : all .2s linear;

}

.rotate.down {
  -ms-transform    : rotate(180deg);
  -moz-transform   : rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform        : rotate(180deg);
}

.navbar-nav .nav-link>.fas,
.navbar-nav .nav-link>.fa {
  display  : inline-block;
  min-width: 1.75rem;
}

.form-control-style>div {
  border       : 1px solid #d2ddec !important;
  border-radius: .375rem !important;
  padding      : 10px !important;
}

.modal.fade {

  &.show .modal-dialog-vertical.fixed-right {
    transform: translateX(0) !important;
  }

  &:not(.show) .modal-dialog-vertical.fixed-right {
    transform: translateX(100%) !important;
  }

  .modal-dialog-vertical.fixed-right {
    margin-left: auto;
    max-width  : 430px;

    .modal-card,
    app-create-edit-booking,
    form {
      height: inherit;

      .card-body {
        height: calc(100% - 166px);
      }
    }
  }
}

.btn-group-toggle .btn-check:checked+.btn-white,
.btn-group-toggle .btn-white:not(:disabled):not(.disabled).active,
.btn-group-toggle .btn-white:not(:disabled):not(.disabled):active {
  background-color: #fff;
  border-color    : #2c7be5;
  box-shadow      : none;
  color           : #2c7be5;
}

.btn-check {
  clip          : rect(0, 0, 0, 0);
  pointer-events: none;
  position      : absolute;
}

.btn-check:active+.btn-white,
.btn-check:checked+.btn-white,
.btn-white.active,
.btn-white:active,
.show>.btn-white.dropdown-toggle {
  background-color: #fff;
  border-color    : #fff;
  color           : #283e59;
}

.input-group>.select2-container--default {
  width: auto !important;
  flex : 1 1 auto;
}

.input-group>.select2-container--default .select2-selection--single {
  height                    : 100%;
  line-height               : inherit;
  padding                   : 0.5rem 1rem;
  border-top-right-radius   : 0;
  border-bottom-right-radius: 0;
}

.display-5 {
  font-size: 1.5rem;
}

.input-icon {
  margin  : auto;
  position: absolute;
  top     : 0;
  bottom  : 0;
  right   : 10px;
  height  : 20px !important;
  width   : 20px !important;
}

.session {
  .loader-parent {
    .loader {
      .spinner {
        color: #FFFFFF !important;
      }
    }
  }



  .ql-editor {
    background-color: #1e3a5c !important;
    color           : #FFFFFF;
  }

  quill-editor {
    .ql-editor {
      height    : 90px !important;
      overflow-y: auto;
    }

    .ql-editor,
    .ql-toolbar {
      background-color: #1e3a5c !important;
      color           : #FFFFFF;
    }

    .ql-toolbar,
    .ql-container {
      border: none;
    }

    .ql-formats {
      button {
        color: #95aac9 !important;
      }
    }

    .ql-picker-label {
      color: #95aac9 !important;
    }
  }
}

.comment-text {
  word-break: break-all !important;
}

@media (min-width: 576px) {
  .nav-user-menu .user-image {
    float      : none;
    line-height: 10px;
    margin-top : -8px;
  }
}

@media (min-width: 768px) {
  sidebar:not([style*='display: none'])~.main-content {
    margin-left: 250px;
  }

  sidebar-small:not([style*='display: none'])~.main-content {
    margin-left: 66px;
  }
}

@media (min-width: 768px) {

  sidebar~.main-content .container,
  sidebar~.main-content .container-fluid,
  sidebar~.main-content .container-lg,
  sidebar~.main-content .container-md,
  sidebar~.main-content .container-sm,
  sidebar~.main-content .container-xl {
    padding-left : 2.25rem !important;
    padding-right: 2.25rem !important;
  }

  sidebar-small~.main-content .container,
  sidebar-small~.main-content .container-fluid,
  sidebar-small~.main-content .container-lg,
  sidebar-small~.main-content .container-md,
  sidebar-small~.main-content .container-sm,
  sidebar-small~.main-content .container-xl {
    padding-left : 2.25rem !important;
    padding-right: 2.25rem !important;
  }
}
