:host {
    ::ng-deep {
        .conversation-content {
            max-height: 100% !important;
            padding: 0 !important;
        }
    }
}

.chat {
    &-nav {
        padding: 0 20px;
        height: 70px;

        .nav-item {
            margin-left: 10px;
            margin-right: 10px;

            .nav-link {
                padding: 23px 0;
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &-tab {
        & > div {
            height: 100%;
        }
    }

    &-recipients,
    &-conversation {
        padding: 20px;
        overflow: auto;
        scroll-behavior: smooth;

        .no-conversations,
        .no-messages {
            padding-top: 10px;
            display: block;
            text-align: center;
            width: 100%;
        }

        .no-conversations {
            padding-top: 30px;
        }

        &::-webkit-scrollbar {
            width: 1.5px;
        }

        &::-webkit-scrollbar-thumb {
            background: #D2DDEC;
            border-radius: 10px;
        }
    }

    &-composer {
        padding: 15px 20px;
        border-top: 1px solid #E3EBF6;
    }

    &-user-list {
        border-color: #E3EBF6;
        border-width: 1px 1px 0;
        border-radius: 10px 10px 0 0;
        border-style: solid;
        width: 333px;
        margin-left: 2px;

        &.closed {
            border-radius: 0;
            margin-left: 1px;
            width: 335px;
        }

        .dropup {
            &-trigger {
                padding: 20px;
                height: 65px;
                cursor: pointer;
                border-bottom: 1px solid #E3EBF6;

                img {
                    transition: transform 0.5s ease-in-out;
                }

                &.closed {
                    img {
                        transform: rotate(180deg);
                    }
                }
            }

            &-content {
                height: 425px;
                overflow: hidden;
                transition: max-height 0.4s ease-in-out;

                &.closed {
                    max-height: 0;
                    transition: max-height 0.3s ease-in-out;
                }

                &-search {
                    height: 55px;
                    padding: 20px;
                    border-bottom: 1px solid #E3EBF6;
                }

                &-user {
                    padding: 15px 20px;
                    max-height: 380px;

                    overflow: auto;
                    margin-right: 1px;
                    scroll-behavior: smooth;

                    &::-webkit-scrollbar {
                        width: 1.5px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: #D2DDEC;
                        border-radius: 10px;
                    }

                    & > div {
                        margin-bottom: 15px;

                        &:last-child {
                            margin-bottom: 0;

                            &.not-joined {
                                display: none;
                            }
                        }

                        &.not-joined {
                            font-weight: 600;
                            color: #1F2D3D;
                        }
                    }
                }
            }
        }
    }
}

