<div class="row mx-0 mb-4" style="gap:20px;">
  <div *ngFor="let workshop of workshops" class="col-12 p-0">
    <div class="card m-0">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-auto">
            <a href="#!visit" class="avatar avatar-lg avatar-4by3" (click)="$event.preventDefault();">
              <img [src]="getServiceImageUrl(workshop.thumbnailDocument)" alt="..." class="avatar-img rounded">
            </a>
          </div>
          <div class="col ml-n2">
            <h4 class="mb-1 name">
              <a href="#!visit" (click)="$event.preventDefault();">
                {{ workshop.name }}
              </a>
            </h4>
            <p class="card-text small text-muted mb-0">
              <time datetime="2018-06-21">
                {{ 'Created' | localize }} {{ convertMomentToDateAgo(workshop.creationTime) }}
              </time>
            </p>
          </div>
          <div class="col-auto">
            <button *ngIf="workshop.type === WorkshopType.Single" (click)="navToUrl('app/dashboard/events' , workshop.id)"
              class="btn btn-outline-primary btn-sm btn-rounded-circle mr-1">
              <span class="fe fe-edit-2"></span>
            </button>
            <button *ngIf="workshop.type === WorkshopType.Series"
              (click)="navToUrl('app/dashboard/events/workshop/series' , workshop.id)"
              class="btn btn-outline-primary btn-sm btn-rounded-circle mr-1">
              <span class="fe fe-edit-2"></span>
            </button>
            <button type="button" class="btn btn-outline-danger btn-sm btn-rounded-circle mr-1"
              (click)="onDeleteClick(workshop.id)">
              <span class="fe fe-trash-2"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
