.star-rating {
  display: inline-block;

  .star-container {
    position      : relative;
    display       : inline-block;
    height        : 0;
    vertical-align: text-top;

    .fa-star {
      color   : #F7BF53;
      width   : 100%;
      overflow: hidden;
    }
  }
}

.star-rating-container {
  position: relative;

  &.writeable {
    .star-container {
      cursor: pointer;
    }
  }

  .star-rating {
    position: absolute;
    left    : 0;
    top     : 1px;
  }

  .star-rating-base {

    .fa-star {
      color: #e9ecef !important;
    }
  }
}
