<app-device-settings *ngIf="showDeviceSettings" (joinRoom)="showDeviceSettings = false; onRoomJoined($event)">
</app-device-settings>

<div class="h-100" [@routerTransition]>
  <div [class.sidebar-hidden]="!showSidebar" class="main-content h-100">
    <nav class="navbar navbar-expand-lg navbar-light" id="topnav">
      <div class="mx-3 w-100 d-flex justify-content-between align-items-center">
        <a class="navbar-brand text-left pt-0" href="javascript:;">
          <div class="d-flex">
            <div class="avatar avatar-4by3">
              <img [src]="getServiceImageUrl(model.thumbnailDocument)" alt="..." class="avatar-img rounded">
            </div>
            <div class="navbar-brand-header ml-3 mr-n3">
              <h6 class="header-pretitle">
                <ng-container *ngIf="model.parent && model.parent.id else singleVideoPretitle">
                  {{ model.parent.name }}
                </ng-container>
                <ng-template #singleVideoPretitle>
                  {{ 'Event' | localize }}
                </ng-template>
              </h6>
              <h3 class="header-title">{{ model.name }}</h3>
            </div>
          </div>
        </a>
        <div class="row">
          <div class="col d-flex align-items-center">
            <button class="btn btn-sm btn-outline-primary" (click)="onExitClick()">
              <b>{{ 'Exit' | localize }}</b>
            </button>
          </div>
          <div class="col d-flex align-items-center pr-0">
            <div class="separator"></div>
          </div>
          <div class="col pl-1 d-flex collapse-toggle">
            <a *ngIf="showSidebar" href="#!collapse-sidebar"
              class="d-flex align-items-center justify-content-center text-muted"
              (click)="$event.preventDefault(); showSidebar = false">
              <i class="fe fe-arrow-right"></i>
              <i class="icon icon-straight"></i>
            </a>
            <a *ngIf="!showSidebar" href="#!expand-sidebar"
              class="d-flex align-items-center justify-content-center text-muted mr-n3 ml-2"
              (click)="$event.preventDefault(); showSidebar = true">
              <i class="icon icon-straight"></i>
              <i class="fe fe-arrow-left"></i>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div class="article-container">
      <div class="presentation-feed">
        <div class="attendees my-2">
          <div [hidden]="isHost && !audienceJoined" class="attendee">
            <video class="attendee-video" #attendeeVideoEl autoplay playsinline></video>
          </div>
        </div>
        <div class="presenter">
          <div *ngIf="(!eventStarted || !eventJoined) && !isHost" class="event-not-started-container border">
            <h1>Welcome to the Lobby</h1>
            <h4>Waiting for the host to start the event.</h4>
          </div>
          <video class="presenter-video" #presenterVideoEl autoplay playsinline></video>
        </div>
        <app-share-videos (shareVideo)="onShareVideo($event)" (unshareVideo)="onUnshareVideo()"></app-share-videos>
      </div>
      <div class="presentation-controls bg-white">
        <button class="btn btn-sm btn-outline-primary mx-2">
          <i class="fe fe-mic"></i>
        </button>
        <button class="btn btn-sm btn-outline-primary mx-2">
          <i class="fe fe-camera"></i>
        </button>
        <button *ngIf="isHost && !eventStarted" [disabled]="!hubConnected" class="btn btn-sm btn-primary mx-2"
          (click)="onGoLiveClick()">
          {{ 'GoLive' | localize | titlecase }}
        </button>
        <button *ngIf="!isHost && !eventJoined" [disabled]="!eventStarted" class="btn btn-sm btn-primary mx-2"
          (click)="onJoinClick()">
          {{ 'Join' | localize }}
        </button>
        <button class="btn btn-sm btn-outline-primary mx-2">
          <i class="fe fe-monitor"></i>
        </button>
        <div class="dropup">
          <button [disabled]="!isHost || !hubConnected || !eventStarted" type="button"
            class="btn btn-sm btn-outline-primary mx-2" data-toggle="dropdown" aria-expanded="false">
            <i class="fe fe-layout"></i>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#!share-screen" (click)="$event.preventDefault();">
              {{ 'ShareScreen' | localize }}
            </a>
            <a class="dropdown-item" href="#!shared-slide" (click)="$event.preventDefault();">
              {{ 'ShareSlides' | localize }}
            </a>
            <a class="dropdown-item" href="#!share-video" (click)="$event.preventDefault(); onShareVideoClick()">
              {{ 'ShareVideo' | localize }}
            </a>
            <a class="dropdown-item" href="#!whiteboard" (click)="$event.preventDefault();">
              {{ 'Whiteboard' | localize }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <app-sidebar [hidden]="!showSidebar"></app-sidebar>
</div>
