.conversations-container {
  min-height: calc(100vh - 200px);

  .conversation-students {
    border-right: 1px solid #edf2f9;
    height      : 100%;
    max-height  : calc(100vh - 200px);
    overflow-x  : auto;

    li {
      border-right: none;
      border-top  : 0;
      border-left : 0;
    }
  }

  .conversations {
    max-height: calc(100vh - 200px);
    overflow-x: auto;
  }
}
