<div *ngIf="isPurchased && !hasReviewed" class="card custom-card-border custom-card-shadow">
    <div class="card-body">
        <ng-container *ngIf="!eventFinished else rateEvent">
            <div class="schedule">
                <h6 class="schedule-title text-center">{{ 'TimeToStart' | localize | uppercase }}</h6>
                <span class="schedule-countdown d-block w-100 text-center">{{ countdown }}</span>
                <span class="schedule-timeline text-uppercase d-block w-100 text-center">{{ timeline }}</span>
                <button class="btn btn-primary w-100" (click)="handleJoinClick()">{{ 'Join' | localize }}</button>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #rateEvent>
    <div class="review">
        <img class="mx-auto d-block" src="assets/img/events/completed-icon.svg" alt="Leave review">
        <h6 class="review-text text-center text-uppercase">{{ completedText }}</h6>
        <button class="btn btn-primary w-100" (click)="handleEventReview()">{{ 'LeaveReview' | localize }}</button>
    </div>
</ng-template>
