<div class="card card-sm">
  <div class="card-header">
    <div class="row">
      <div class="col d-flex align-items-center">
        <h4 class="card-header-title">
          {{ component.name }}
        </h4>
      </div>
      <div class="col-auto">
        <button (click)="onMoveUpClick()" class="btn btn-sm btn-outline-info">
          <i class="fe fe-corner-left-up"></i>
        </button>
        <button (click)="onRemoveClick()" class="btn btn-sm btn-outline-danger ml-1">
          <i class="fe fe-trash-2"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label class="col-form-label pt-0" for="name">{{ 'Name' | localize }}</label>
      <input type="text" name="name" id="name" [(ngModel)]="component.name" class="form-control">
    </div>
    <div class="form-group">
      <label class="col-form-label pt-0" for="backgroundColor">{{ 'BackgroundColor' | localize }}</label>
      <app-color-picker [(color)]="component.backgroundColor"></app-color-picker>
    </div>
    <ng-container [ngSwitch]="component.type">
      <app-body-text-component-editor *ngSwitchCase="'body-text'" [component]="component">
      </app-body-text-component-editor>
      <app-title-component-editor *ngSwitchCase="'title'" [component]="component">
      </app-title-component-editor>
      <app-subtitle-component-editor *ngSwitchCase="'subtitle'" [component]="component">
      </app-subtitle-component-editor>
      <app-image-component-editor *ngSwitchCase="'image'" [component]="component">
      </app-image-component-editor>
      <app-video-component-editor *ngSwitchCase="'video'" [component]="component">
      </app-video-component-editor>
      <app-office-component-editor *ngSwitchCase="'office'" [component]="component">
      </app-office-component-editor>
      <app-pdf-component-editor *ngSwitchCase="'pdf'" [component]="component">
      </app-pdf-component-editor>
      <app-audio-component-editor *ngSwitchCase="'audio'" [component]="component">
      </app-audio-component-editor>
      <app-download-component-editor *ngSwitchCase="'download'" [component]="component">
      </app-download-component-editor>
      <app-link-component-editor *ngSwitchCase="'link'" [component]="component">
      </app-link-component-editor>
      <app-image-component-editor *ngSwitchCase="'banner-image'" [component]="component"
        [cropperAspectRationWidth]="1440" [cropperAspectRationHeight]="380">
      </app-image-component-editor>
    </ng-container>

    <div class="card card-sm mb-0" *ngIf="!component.disableMargins">
      <div class="card-header">
        <div class="row">
          <div class="col d-flex align-items-center">
            <h4 class="card-header-title">
              {{ 'Layout' | localize }}
            </h4>
          </div>
          <div class="col-auto">
            <button (click)="onAddCustomMarginClick()" class="btn btn-sm btn-outline-primary">
              <i class="fe fe-plus"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-5 margins">
            <ng-container *ngTemplateOutlet="layoutTemplate; context: { id: MarginType.Narrow }"></ng-container>
            <ng-container *ngTemplateOutlet="layoutTemplate; context: { id: MarginType.Normal }"></ng-container>
            <ng-container *ngTemplateOutlet="layoutTemplate; context: { id: MarginType.Moderate }"></ng-container>
            <ng-container *ngTemplateOutlet="layoutTemplate; context: { id: MarginType.Wide }"></ng-container>
            <ng-container *ngTemplateOutlet="layoutTemplate; context: { id: MarginType.None }"></ng-container>
          </div>
          <div class="col-7">
            <div class="form-group row mb-2">
              <label class="col-form-label-sm col-form-label col-5" for="top">{{ 'Top' | localize}}</label>
              <div class="col-7">
                <div class="input-group input-group-sm">
                  <input [(ngModel)]="component.marginTop" #topModel="ngModel" #topEl
                    class="form-control form-control-sm" type="number" id="top" name="top" [min]="0" />
                  <div class="input-group-append">
                    <span class="input-group-text">px</span>
                  </div>
                </div>
              </div>
              <abp-validation-summary [control]="topModel" [controlEl]="topEl">
              </abp-validation-summary>
            </div>
            <div class="form-group row mb-2">
              <label class="col-form-label-sm col-form-label col-5" for="bottom">{{ 'Bottom' | localize}}</label>
              <div class="col-7">
                <div class="input-group input-group-sm">
                  <input [(ngModel)]="component.marginBottom" #bottomModel="ngModel" #bottomEl
                    class="form-control form-control-sm" type="number" id="bottom" name="bottom" [min]="0" />
                  <div class="input-group-append">
                    <span class="input-group-text">px</span>
                  </div>
                </div>
              </div>
              <abp-validation-summary [control]="bottomModel" [controlEl]="bottomEl">
              </abp-validation-summary>
            </div>
            <div class="form-group row mb-2">
              <label class="col-form-label-sm col-form-label col-5" for="width">{{ 'Width' | localize}}</label>
              <div class="col-7">
                <div class="input-group input-group-sm">
                  <input [(ngModel)]="component.width" #widthModel="ngModel" #widthEl
                    class="form-control form-control-sm" type="number" id="width" name="width" [min]="0" />
                  <div class="input-group-append">
                    <span class="input-group-text">px</span>
                  </div>
                </div>
              </div>
              <abp-validation-summary [control]="widthModel" [controlEl]="widthEl">
              </abp-validation-summary>
            </div>
          </div>
          <div *ngIf="contentMargins && contentMargins.length" class="col-12 margins">
            <hr class="my-1">
            <div class="row mb-1" *ngFor="let contentMargin of contentMargins">
              <div class="col d-flex align-items-center">
                <div class="form-check">
                  <input [(ngModel)]="component.marginType" (change)="onMarginTypeChange(contentMargin)"
                    class="form-check-input" type="radio" name="marginType" id="margin_{{contentMargin.id}}"
                    [value]="contentMargin.id">
                  <label class="form-check-label" for="margin_{{contentMargin.id}}">
                    {{ contentMargin.name }}
                  </label>
                </div>
              </div>
              <div class="col-auto">
                <button class="btn btn-sm btn-outline-success" (click)="onEditCustomMarginClick(contentMargin)">
                  <i class="fe fe-edit-2"></i>
                </button>
                <button class="btn btn-sm btn-outline-danger ml-1" (click)="onDeleteCustomMarginClick(contentMargin)">
                  <i class="fe fe-trash-2"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #layoutTemplate let-id="id">
  <div class="form-check">
    <input [(ngModel)]="component.marginType" (change)="onMarginTypeChange()" class="form-check-input" type="radio"
      name="marginType" id="margin_{{id}}" [value]="id">
    <label class="form-check-label" for="margin_{{id}}">
      {{ id | titlecase }}
    </label>
  </div>
</ng-template>
