:host {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.no-offers {
    color: #282828;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.15px;
    margin-top: 20px;
}
