.composer {
    background-color: #F9FAFC;
    border-radius: 10px;
    padding: 13px;
    height: 50px;

    &-text {
        textarea {
            overflow: hidden;
            overflow-wrap: break-word;
            height: 41px;
        }
    }

    &-actions {
        font-size: 16px;
    }
}
