:host {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.replying-to {
    &-info {
        &-recipient {
            color: #12263F;
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        &-message {
            color: #95AAC9;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            letter-spacing: -0.15px;
        }
    }
}

.composer {
    background-color: #F9FAFC;
    border-radius: 10px;
    padding: 13px;
    height: 50px;

    &-text {
        textarea {
            overflow: hidden;
            overflow-wrap: break-word;
            height: 41px;
        }
    }

    &-actions {
        font-size: 16px;
    }
}
