<div *ngIf="!isModal; else modalTemplate" class="btn-group mr-4 d-none d-md-flex dropdown">
    <a href (click)="$event.preventDefault();" class="navbar-user-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="icon notification-icon">
      <i class="fe fe-bell"></i>
      <span class="badge bg-primary unread-count" *ngIf="unreadCount">{{ unreadCount }}</span>
    </span>
    </a>
    <div class="dropdown-menu dropdown-menu-card dropdown-menu-right" [style.z-index]="999999">
        <ng-container *ngTemplateOutlet="modalHeader">
        </ng-container>
        <div class="card-body notifications-container">
            <ng-container *ngTemplateOutlet="notificationList"></ng-container>
        </div>
    </div>
</div>

<ng-template #modalTemplate>
    <div [class]="buttonClass">
        <a href (click)="$event.preventDefault(); onNotificationsModalShow();" class="navbar-user-link">
      <span class="icon notification-icon">
        <i class="fe fe-bell"></i>
        <span class="badge bg-primary unread-count" *ngIf="unreadCount">{{ unreadCount }}</span>
      </span>
        </a>
    </div>
    <div bsModal #notificationsModal="bs-modal" class="modal fade fixed-left" id="modalDemo" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog card modal-dialog-vertical rounded-0" role="document">
            <form class="modal-content">
                <ng-container *ngTemplateOutlet="modalHeader">
                </ng-container>
                <div class="modal-body notifications-container">
                    <ng-container *ngTemplateOutlet="notificationList"></ng-container>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #modalHeader>
    <div class="card-header">
        <h5 class="card-header-title">
            {{ 'Notifications' | localize }}
        </h5>
        <a [routerLink]="['/app/notifications']" href="#" class="small">
            {{ 'ViewAll' | localize }}
        </a>
    </div>

    <ul class="card-nav nav nav-tabs px-4">
        <li class="nav-item">
            <a href="#all" class="nav-link active" data-toggle="tab" role="tab">
                {{ 'All' | localize | titlecase }}
            </a>
        </li>
        <li class="nav-item">
            <a href="#unread" class="nav-link" data-toggle="tab" role="tab">
                {{ 'Unread' | localize | titlecase }}
            </a>
        </li>
    </ul>
</ng-template>

<ng-template #notificationList>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
            <div class="notification list-group list-group-flush list-group-activity my-n3">
                <ng-container *ngIf="notifications?.length">
                    <a *ngFor="let notification of notifications; let idx = index" class="notification-item list-group-item text-reset cursor-pointer" (click)="onNotificationClick(notification)">
                        <div class="d-flex gap-10">
                            <div class="notification-avatar avatar avatar-sm flex-grow-1">
                                <img *ngIf="getDominantUser(notification); else avatarPlaceHolderTemplate" class="avatar-img rounded-circle" [src]="getDominantUser(notification).profilePictureUrl" alt="...">
                            </div>
                            <div class="notification-content">
                                <div *ngIf="isShowOldSchedule(notification)" class="schedule-old">{{ getBookingSchedule(notification) | uppercase }}</div>
                                <div *ngIf="isShowSchedule(notification)" class="schedule">{{ getBookingSchedule(notification) | uppercase }}</div>
                                <p [innerHTML]="notification.formattedNotification" [class]="'line-clamp-' + getNotificationLines(notification)"></p>
                                <span class="time">{{ getNotificationReceivedTime(notification) }}</span>
                            </div>
                            <div class="align-self-center" *ngIf="!notification.readTime">
                                <span class="notification-status text-primary">●</span>
                            </div>
                        </div>
                    </a>
                </ng-container>
                <ng-container *ngIf="!notifications?.length">
                    <a class="list-group-item text-reset">
                        <p class="text-center text-muted p-0 m-0">
                            {{ 'NoRecentNotification' | localize }}
                        </p>
                    </a>
                </ng-container>
            </div>
        </div>
        <div class="tab-pane fade" id="unread" role="tabpanel" aria-labelledby="unread-tab">
            <div class="notification list-group list-group-flush list-group-activity my-n3">
                <ng-container *ngIf="notifications?.length">
                    <a *ngFor="let notification of unreadNotifications; let idx = index" class="notification-item list-group-item text-reset" (click)="onNotificationClick(notification)">
                        <div class="d-flex gap-10">
                            <div class="notification-avatar avatar avatar-sm flex-grow-1">
                                <img *ngIf="getDominantUser(notification); else avatarPlaceHolderTemplate" class="avatar-img rounded-circle" [src]="getDominantUser(notification).profilePictureUrl" alt="...">
                            </div>
                            <div class="notification-content">
                                <p [innerHTML]="notification.formattedNotification" class="line-clamp-3"></p>
                                <span class="time">{{ getNotificationReceivedTime(notification) }}</span>
                            </div>
                            <div class="align-self-center" *ngIf="!notification.readTime">
                                <span class="notification-status text-primary">●</span>
                            </div>
                        </div>
                    </a>
                </ng-container>
                <ng-container *ngIf="!unreadNotifications?.length">
                    <a class="list-group-item text-reset">
                        <p class="text-center text-muted p-0 m-0">
                            {{ 'NoRecentNotification' | localize }}
                        </p>
                    </a>
                </ng-container>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #avatarPlaceHolderTemplate>
    <img class="avatar-img rounded-circle" src="/assets/img/avatar-placeholder.png" alt="...">
</ng-template>
