.notifications-container {
  margin : 0 !important;
  padding: 10px !important;

  .notification-item {
    padding      : 10px;
    margin-bottom: 2px;
    border-radius: 5px;

    &::before {
      left: 30px;
    }
  }
}

.notification-icon {
  position: relative;

  .unread-count {
    color        : #FFFFFF;
    border-radius: 50%;
    font-size    : 8px;
    position     : absolute;
    top          : 0;
    right        : 0;
  }
}

.unread-notification {
  background: #d7eff6;

  .btn-read-notification {
    width        : 15px;
    height       : 15px;
    margin-bottom: 20px;
  }
}
