.header {
    margin: 48px 0 20px;

    &-body {
        padding: 0 0 20px;
    }
}

.chat {
    border-radius: 0.625rem;
    background-color: white;

    &-content {
        &-left {
            width: 100%;
            max-width: 362px;

            &-recipients {
                padding: 0.635rem;
            }
        }

        &-right {
            width: 100%;
            max-width: 758px;
        }
    }
}
