<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="header">
                <div class="header-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="header-pretitle">{{ 'Inbox' | localize }}</h6>
                            <h1 class="header-title">{{ 'Chat' | localize }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="chat position-relative d-flex flex-row border mb-5">
        <div class="chat-content-left border-right">
            <app-search-filter></app-search-filter>

            <ng-container *ngIf="!isConversationEmpty else emptyConversations">
                <div class="chat-content-left-recipients">
                    <app-recipient></app-recipient>
                    <app-recipient [isActive]="true"></app-recipient>
                    <app-recipient></app-recipient>
                    <app-recipient></app-recipient>
                </div>
            </ng-container>
        </div>
        <div class="chat-content-right d-flex flex-column flex-grow-1">
            <ng-container *ngIf="!isMessageEmpty else emptyMessages">
                <app-composer-conversation
                    [replyingTo]="replyingTo"
                    (onReplyClick)="handleOnReply()"
                ></app-composer-conversation>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #emptyConversations>
    <div class="chat-empty-conversations">
        <span>{{ 'NoConversations' | localize }}</span>
    </div>
</ng-template>

<ng-template #emptyMessages>
    <div class="chat-empty-messages d-flex h-100p">
        <span class="m-auto">{{ 'NoMessages' | localize }}</span>
    </div>
</ng-template>
