<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="header">
                <div class="header-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="header-pretitle">{{ 'Inbox' | localize }}</h6>
                            <h1 class="header-title">{{ 'Chat' | localize }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="chat position-relative d-flex flex-row border mb-5">
        <div class="chat-content-left border-right">
            <app-search-filter></app-search-filter>
            <div *ngIf="listHeader" class="chat-content-left-nav d-flex justify-content-start align-items-center gap-10 cursor-pointer" (click)="switchToInbox()">
                <img src="/assets/img/chat/back.svg" class="back w-14-px h-14-px">
                {{ listHeader }}
            </div>
            <ng-container *ngIf="!isConversationEmpty else emptyConversations">
                <div class="chat-content-left-recipients">
                    <ng-container *ngIf="selectedChannel === 0">
                        <app-recipient
                            *ngFor="let c of inboxChannels"
                            [channel]="c"
                            [isActive]="c.id === selectedChannelId"
                            (click)="handleOnChannelSelect(c)"
                        ></app-recipient>
                    </ng-container>
                    <ng-container *ngIf="selectedChannel === 1">
                        <app-recipient
                            *ngFor="let c of archivedChannels"
                            [channel]="c"
                            [isActive]="c.id === selectedChannelId"
                            (click)="handleOnChannelSelect(c)"
                        ></app-recipient>
                    </ng-container>
                </div>
            </ng-container>
        </div>
        <div class="chat-content-right d-flex flex-column flex-grow-1">
            <ng-container *ngIf="!isMessageEmpty else emptyMessages">
                <app-composer-conversation
                    [channel]="selectedChannel"
                    [replyingTo]="replyingTo"
                    (onReplyClick)="handleOnReply()"
                ></app-composer-conversation>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #emptyConversations>
    <div class="chat-empty-conversations">
        <span>{{ 'NoConversations' | localize }}</span>
    </div>
</ng-template>

<ng-template #emptyMessages>
    <div class="chat-empty-messages d-flex h-100p">
        <span class="m-auto">{{ 'NoMessages' | localize }}</span>
    </div>
</ng-template>
