.header {
    margin: 48px 0 20px;

    &-body {
        padding: 0 0 20px;
    }
}

.chat {
    border-radius: 0.625rem;
    background-color: white;

    &-content {
        &-left {
            width: 100%;
            max-width: 362px;

            &-nav {
                padding: 20px 24px;

                color: #1F2D3D;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.15px;
            }
        }

        &-right {
            width: 100%;
            max-width: 758px;
        }
    }

    &-empty-messages {
        color: #95AAC9;
        text-align: center;
    }

    &-empty-conversations {
        color: #95AAC9;
        min-height: 50vh;
        text-align: center;
        padding-top: 1.875rem;
    }
}
