<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="header">
                <div class="header-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="header-pretitle">{{ 'Inbox' | localize }}</h6>
                            <h1 class="header-title">{{ 'Chat' | localize }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="chat position-relative d-flex flex-row border mb-5">
        <div class="chat-content-left border-right">
            <app-search-filter></app-search-filter>

            <div class="chat-content-left-recipients">
                <app-recipient></app-recipient>
                <app-recipient [isActive]="true"></app-recipient>
                <app-recipient></app-recipient>
                <app-recipient></app-recipient>
            </div>
        </div>
        <div class="chat-content-right d-flex flex-column flex-grow-1">
            <div class="chat-conversations-wrapper">
                <app-conversation></app-conversation>
            </div>
            <div class="chat-conversation-composer border-top mt-auto">
                <app-composer></app-composer>
            </div>
        </div>
    </div>
</div>
