<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h4 class="card-header-title">{{ 'FormalEducation' | localize }}</h4>
      </div>
      <div class="col-auto">
        <a *ngIf="permission.isGranted('Pages.Profile.Education.Create')" (click)="$event.preventDefault(); onAddClick()" href="#" class="btn btn-primary">
          {{ 'AddEducation' | localize }}
        </a>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-nowrap table-align-top card-table">
      <tbody>
        <tr *ngFor="let userEducation of userEducations">
          <td>
            <div class="row align-items-center">
              <div class="col-auto">
                <div class="avatar avatar-sm">
                  <div class="avatar-title font-size-lg bg-primary-soft rounded-circle text-primary">
                    <i class="fe fe-book-open"></i>
                  </div>
                </div>
              </div>
              <div class="col ml-n2">
                <h4 class="mb-1">{{ userEducation.universityName }}</h4>
                <p class="card-text small text-muted">
                  {{ userEducation.city }}, {{ userEducation.universityCountryCode }}
                </p>
              </div>
            </div>
          </td>
          <td width="1%">
            {{ userEducation.startYear }} - {{ userEducation.endYear }}
          </td>
          <td>
            <p class="p-0 m-0" *ngFor="let userEducationLevel of userEducation.userEducationLevels">
              {{ userEducationLevel.degree }}
            </p>
          </td>
          <td width="1%">
            <p class="p-0 m-0" *ngFor="let userEducationLevel of userEducation.userEducationLevels">
              <span class="badge badge-soft-secondary">{{ userEducationLevel.educationLevelName }}</span>
            </p>
          </td>
          <td width="1%">
            <p class="p-0 m-0" *ngFor="let userEducationLevel of userEducation.userEducationLevels">
              {{ userEducationLevel.grade }}
            </p>
          </td>
          <td width="1%">
            <button *ngIf="permission.isGranted('Pages.Profile.Education.Update')" (click)="onEditClick(userEducation)" type="button"
              class="btn btn-outline-primary btn-sm btn-rounded-circle mr-1">
              <span class="fe fe-edit-2"></span>
            </button>
            <button *ngIf="permission.isGranted('Pages.Profile.Education.Delete')" (click)="onDeleteClick(userEducation)" type="button"
              class="btn btn-outline-secondary btn-sm btn-rounded-circle">
              <span class="fe fe-trash-2"></span>
            </button>
          </td>
        </tr>
        <tr *ngIf="userEducations.length === 0">
          <td colspan="10">
            <p class="text-center m-0 p-0">{{ 'NoRecordsFound' | localize }}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
