<app-service-create
  [menuItems]="menuItems"
  [servicesType]="ServicesType.Event"
  [model]="model"
  [returnUrl]="'/app/dashboard/events/'"
  (onPublished)="onPublishClick()"
  (onUnpublished)="onUnpublishClick()"
>
  <app-details *ngIf="defaultMenuItem.id === 'details'"></app-details>
  <app-resources *ngIf="defaultMenuItem.id === 'resources'"></app-resources>
  <app-studio *ngIf="defaultMenuItem.id === 'studio'"></app-studio>
  <app-settings *ngIf="defaultMenuItem.id === 'settings'"></app-settings>
  <app-offers *ngIf="defaultMenuItem.id === 'offers'"></app-offers>
  <app-activities *ngIf="defaultMenuItem.id === 'activities'"></app-activities>
  <app-workshop-handouts *ngIf="defaultMenuItem.id === 'handouts'"></app-workshop-handouts>
</app-service-create>

<!--<div class="container-fluid" [@routerTransition]>-->
<!--  <div class="row justify-content-center">-->
<!--    <div class="col-12">-->
<!--      <div class="header">-->
<!--        <div class="header-body">-->
<!--          <div class="row align-items-center">-->
<!--            <div class="col">-->
<!--              <h6 class="header-pretitle">{{ 'Workshop' | localize }}</h6>-->
<!--              <h1 class="header-title">{{ model.name }}</h1>-->
<!--            </div>-->
<!--            <div class="col-auto">-->
<!--              <div class="d-flex align-items-center justify-content-center">-->
<!--                <button (click)="$event.preventDefault(); onWorkshopPreviewClick()" class="btn btn-outline-primary">-->
<!--                  {{ 'WorkshopPreview' | localize | titlecase }}-->
<!--                </button>-->
<!--                <button *ngIf="model.status === WorkshopStatus.Draft" (click)="onPublishClick()"-->
<!--                  class="btn btn-primary ml-2">-->
<!--                  {{ 'Publish' | localize | titlecase }}-->
<!--                </button>-->
<!--                <button *ngIf="model.status === WorkshopStatus.Published" (click)="onUnpublishClick()"-->
<!--                  class="btn btn-outline-success ml-2">-->
<!--                  {{ 'Draft' | localize | titlecase }}-->
<!--                </button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row align-items-center">-->
<!--            <div class="col">-->
<!--              <ul class="nav nav-tabs nav-overflow header-tabs">-->
<!--                <li class="nav-item">-->
<!--                  <a [routerLink]="['details']" routerLinkActive="active" class="nav-link">-->
<!--                    {{ 'Details' | localize }}-->
<!--                  </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                  <a [routerLink]="['settings']" routerLinkActive="active" class="nav-link">-->
<!--                    {{ 'Settings' | localize }}-->
<!--                  </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                  <a [routerLink]="['studios']" routerLinkActive="active" class="nav-link">-->
<!--                    {{ 'Studio' | localize }}</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                  <a [routerLink]="['resources']" routerLinkActive="active" class="nav-link">-->
<!--                    {{ 'Resources' | localize }}-->
<!--                  </a>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
