<div class="container-fluid" [@routerTransition]>
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="header">
        <div class="header-body">
          <div class="row align-items-center">
            <div class="col">
              <h1 class="header-title">{{ 'Settings' | localize }}</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 settings">
          <tabset>
            <tab *ngIf="true" heading="{{ 'Security' | localize }}">
              <settings-security></settings-security>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
