.sidebar {
  height      : 100%;
  width       : 350px;
  position    : fixed;
  right       : 0;
  top         : 0;
  border-width: 0 0 0 1px;
  border-color: #e3ebf6;
  border-style: solid;
  z-index     : 1;
  transition  : 0.5s;
  overflow-x  : hidden;

  &.content-hidden {
    width: 57px;
  }

  .sidebar-menu {
    list-style  : none;
    margin      : 0;
    padding     : 0;
    position    : absolute;
    height      : 100%;
    border-right: 1px solid #e3ebf6;

    li {
      display        : flex;
      justify-content: center;
      width          : 56px;

      &.separator {
        padding: 0;

        hr {
          margin : 0;
          padding: 0;
          width  : 70%;
        }
      }

      &.active {
        a {
          color: #12263f;

          &::before {
            content      : '';
            position     : absolute;
            top          : 0.5rem;
            bottom       : 0.5rem;
            left         : 0;
            right        : auto;
            border-left  : 2px solid #2c7be5;
            border-bottom: 0;
          }
        }
      }

      a {
        position   : relative;
        padding    : 15px 20px;
        line-height: 1;
        color      : #6e84a3;
      }
    }
  }

  .sidebar-contents {
    margin-left: 57px;
    height     : 100%;

    .sidebar-title {
      display      : flex;
      align-items  : center;
      border-bottom: 1px solid #e3ebf6;
      padding      : 10px;
      height       : 48px;

      h4 {
        padding       : 0;
        margin        : 0;
        text-transform: uppercase;
      }
    }

    .sidebar-content {
      height: calc(100% - 48px);
    }
  }
}
