@service-card-background-color: #FFFFFF;
@service-card-radius: 10px;
@service-card-border-width: 1px;
@service-card-border-color: #e4ebf6;
@service-card-padding: 22px;
@service-card-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);

@service-card-image-height: 158px;
@service-card-image-background-color: #E4EBF6;

@service-card-pill-background-color: rgba(0, 0, 0, 0.3);
@service-card-pill-color: #fff;
@service-card-pill-font-size: 12px;
@service-card-pill-font-weight: 600;
@service-card-pill-padding: 4px 12px;
@service-card-pill-border-radius: 13px;

@service-card-location-color: #2C7BE5;
@service-card-location-font-size: 12px;
@service-card-location-font-weight: 400;

@service-card-heading-slots-color: #E63757;
@service-card-heading-slots-font-size: 12px;
@service-card-heading-slots-font-weight: 400;

@service-card-name-font-size: 22px;
@service-card-name-font-weight: 600;
@service-card-name-line-height: 26px;
@service-card-name-color: #12263F;

@service-card-info-font-size: 13px;
@service-card-info-font-weight: 400;
@service-card-info-line-height: 18px;
@service-card-info-color: #646464;

@service-card-quick-preview-font-size: 10px;
@service-card-quick-preview-font-weight: 400;
@service-card-quick-preview-color: #617FA9;
@service-card-quick-preview-padding: 6px 22px 4px;
@service-card-quick-preview-background-color: white;
@service-card-quick-preview-border-radius: 15px;
@service-card-quick-preview-height: 17px;

@service-card-quick-preview-duration-icon-width: 9px;
@service-card-quick-preview-duration-icon-height: 9px;
@service-card-quick-preview-duration-icon-margin-right: 5px;

@service-card-quick-preview-duration-value-height: 17px;
@service-card-quick-preview-duration-value-line-height: 20px;

@service-card-quick-preview-composition-height: 17px;
@service-card-quick-preview-composition-line-height: 0px;

@service-card-details-separator-font-size: 12px;
@service-card-details-separator-font-weight: 400;
@service-card-details-separator-color: #6E84A3;
@service-card-details-separator-padding: 0 10px;

@service-card-details-type-font-size: 14px;
@service-card-details-type-font-weight: 400;
@service-card-details-type-color: #12263F;

@service-card-details-price-font-size: 14px;
@service-card-details-price-font-weight: 400;
@service-card-details-price-color: #12263F;

@service-card-details-slots-font-size: 12px;
@service-card-details-slots-font-weight: 400;
@service-card-details-slots-color: #6E84A3;

@service-card-details-composition-font-size: 12px;
@service-card-details-composition-font-weight: 400;
@service-card-details-composition-color: #6E84A3;

@service-card-details-reviews-value-font-size: 12px;
@service-card-details-reviews-value-font-weight: 700;
@service-card-details-reviews-value-color: #646464;

@service-card-details-reviews-star-width: 11px;
@service-card-details-reviews-star-height: 11px;
@service-card-details-reviews-star-margin: 0 4px;

@service-card-details-reviews-count-font-size: 12px;
@service-card-details-reviews-count-font-weight: 400;
@service-card-details-reviews-count-color: #646464;

@service-card-description-font-size: 13px;
@service-card-description-font-weight: 400;
@service-card-description-line-height: 16.51px;
@service-card-description-color: #646464;

@service-card-people-fullname-font-size: 14px;
@service-card-people-fullname-font-weight: 400;
@service-card-people-fullname-color: #6E84A3;

@service-card-people-cluster-count-font-size: 14px;
@service-card-people-cluster-count-font-weight: 400;
@service-card-people-cluster-count-color: #6E84A3;

@service-card-action-font-size: 15px;
@service-card-action-font-weight: 400;
@service-card-action-line-height: 19.05px;
@service-card-action-button-background-color: #EEEFF2;

@bar-loader-background-color: #EFEFEF;
@bar-loader-background-color-light: #f7f7f7;

@keyframes loader {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

:host {
    display: flex;
    justify-content: center;
    &:hover {
        .service-card {
            box-shadow: @service-card-shadow;
        }
    }
}

.service-card {
    background-color: @service-card-background-color;
    position: relative;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    border-radius: @service-card-radius;
    border: @service-card-border-width solid @service-card-border-color;

    min-height: 398px;
    height: 398px;
    max-height: 398px;

    min-width: 352px;
    width: 352px;
    max-width: 352px;

    transition: all 0.2s ease-in-out;

    &.feature {
        min-height: 237px;
        height: 237px;
        max-height: 237px;

        min-width: 543px;
        width: 543px;
        max-width: 543px;

        * { color: white; }
    }

    &.feature &-body {
        justify-content: flex-end;
        margin-bottom: 22px;

        &-name { margin-top: 0px; }
        &-info { margin-top: 0px; }
        &-description { margin-top: 0px; }
        &-spacer { display: none; }

        &-details {
            margin-top: 0px;
            * {
                font-size: 12px;
                line-height: 15.24px;
            }
        }

        &-calendar {
            top: 22px;
            left: 22px;
            height: 21px;
            width: auto;
            border-radius: 46px;
            padding: 0 14px;

            &-label {
                color: #2C7BE5;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 400;
            }

            &-date {
                color: #646464;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 400;
            }
        }

        &-avatar {
            position: absolute;
            top: unset;
            left: unset;
            right: unset;
            bottom: 0;
        }

        &-people {
            &-avatar {
                width: 30px;
                height: 30px;
                position: absolute;
                -webkit-transform: translateY(-30px);
                -moz-transform: translateY(-30px);
                -ms-transform: translateY(-30px);
                -o-transform: translateY(-30px);
                transform: translateY(-30px);
            }

            &-fullname {
                font-size: 12px;
                line-height: 15.24px;
            }
        }
    }

    &.feature &-body.owner-img-sm &-body {
        &-name { margin-left: 40px; }
        &-info { margin-left: 40px; }
        &-details { margin-left: 40px; }
        &-description { margin-left: 40px; }
        &-people-fullname { margin-left: 40px; }
    }

    &.feature &-body.owner-img-lg &-body {
        &-name { margin-left: 70px; }
        &-info { margin-left: 70px; }
        &-details { margin-left: 70px; }
        &-description { margin-left: 70px; }
        &-people-fullname { margin-left: 70px; }
    }

    &.event {
        min-height: 400px;
        height: 400px;
        max-height: 400px;
    }

    &.article {
        min-height: 229px;
        height: 229px;
        max-height: 229px;

        min-width: 543px;
        width: 543px;
        max-width: 543px;
    }

    &.tutorial {
        min-height: 337px;
        height: 337px;
        max-height: 337px;
    }

    &.coaching, &.workshop {
        min-height: 397px;
        height: 397px;
        max-height: 397px;
    }

    &.space {
        min-height: 381px;
        height: 381px;
        max-height: 381px;

        min-width: 351px;
        width: 351px;
        max-width: 351px;
    }

    &.user {
        min-height: 202px;
        height: 202px;
        max-height: 202px;

        min-width: 260px;
        width: 260px;
        max-width: 260px;
    }

    &-shimmer {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 99999;
        background-color: @service-card-background-color;
        border-radius: @service-card-radius;

        &-bar {
            animation: loader 1s infinite linear;
            background: linear-gradient(90deg, @bar-loader-background-color, @bar-loader-background-color-light);
            background-size: 400% 400%;
            width: 100%;
            position: relative;
            min-height: 25px;
            border-radius: 5px;
        }

        &-img {
            height: 158px;
            border-radius: 0px;
        }

        &-header {
            width: 80%;
            margin-top: 5%;
            margin-left: 22px;
        }

        &-title {
            width: 65%;
            margin-top: 15px;
            margin-left: 22px;
        }

        &-owner {
            position: absolute;
            width: 35%;
            bottom: 10%;
            left: 22px;
        }

        &-avatar {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        &-name {
            width: 173px;
        }
    }

    &-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        border-radius: @service-card-radius;

        &-veil {
            background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
        }
    }

    &-img {
        overflow: hidden;
        min-height: @service-card-image-height;
        height: @service-card-image-height;
        max-height: @service-card-image-height;
        background-color: @service-card-image-background-color;
        border-top-left-radius: @service-card-radius;
        border-top-right-radius: @service-card-radius;
    }

    &-pill {
        position: absolute;
        right: 22px;
        top: 22px;
        font-size: @service-card-pill-font-size;
        font-weight: @service-card-pill-font-weight;
        color: @service-card-pill-color;
        background-color: @service-card-pill-background-color;
        padding: @service-card-pill-padding;
        border-radius: @service-card-pill-border-radius;
    }

    &-body {
        padding: @service-card-padding;
        margin-top: 15px;
        position: relative;
        margin-bottom: -5px;

        &.user {
            align-items: center;
        }

        &.user &-avatar {
            position: relative;
            margin-bottom: -15px;
            top: 0px;
        }

        &.user &-name {
            margin-top: 20px !important;
        }

        &.user &-info {
            margin-top: 5px;
        }

        &-avatar {
            position: absolute;
            top: -50px;
            width: 60px;
            height: 60px;

            .avatar {
                width: 60px;
                height: 60px;
            }
        }

        &-calendar {
            position: absolute;
            top: -50px;
            width: 58px;
            height: 60px;
            border-radius: 5px;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
            background-color: white;
            gap: 4px;

            &-label {
                font-weight: 400;
                font-size: 10px;
                color: #B1C2D9;
                line-height: 12px;
            }

            &-date {
                font-weight: 600;
                font-size: 15px;
                color: #12263F;
                line-height: 12px;
            }

            &-month {
                font-weight: 600;
                font-size: 12px;
                color: #2C7BE5;
                line-height: 12px;
            }
        }

        &-quick-preview {
            position: absolute;
            top: -32px;
            right: 0;

            font-size: @service-card-quick-preview-font-size;
            font-weight: @service-card-quick-preview-font-weight;
            color: @service-card-quick-preview-color;
            padding: @service-card-quick-preview-padding;
            background-color: @service-card-quick-preview-background-color;
            border-top-left-radius: @service-card-quick-preview-border-radius;
            height: @service-card-quick-preview-height;

            &-duration {
                &-icon {
                    width: @service-card-quick-preview-duration-icon-width;
                    height: @service-card-quick-preview-duration-icon-height;
                    margin-right: @service-card-quick-preview-duration-icon-margin-right;
                }

                &-value {
                    height: @service-card-quick-preview-duration-value-height;
                    line-height: @service-card-quick-preview-duration-value-line-height;
                }
            }

            &-composition {
                height: @service-card-quick-preview-composition-height;
                line-height: @service-card-quick-preview-composition-line-height;
            }
        }

        &-heading {
            text-transform: uppercase;
            font-size: @service-card-location-font-size;
            font-weight: @service-card-location-font-weight;
            color: @service-card-location-color;

            &-slots {
                text-transform: none;
                margin-left: 10px;
                font-size: @service-card-heading-slots-font-size;
                font-weight: @service-card-heading-slots-font-weight;
                color: @service-card-heading-slots-color;
            }
        }

        &-name {
            font-size: @service-card-name-font-size;
            font-weight: @service-card-name-font-weight;
            line-height: @service-card-name-line-height;
            color: @service-card-name-color;
        }

        &-info {
            margin-top: 10px;
            font-size: @service-card-info-font-size;
            font-weight: @service-card-info-font-weight;
            line-height: @service-card-info-line-height;
            color: @service-card-info-color;
        }

        &-progress {
            margin-top: 18px;

            &-label {
                font-weight: 400;
                font-size: 10px;
                color: #5A5A5A;
                line-height: 0;
                margin-bottom: 8px;
            }

            &-chart {
                gap: 10px;

                &-progress {
                    height: 8px;
                }

                &-value {
                    font-weight: 500;
                    font-size: 10px;
                    color: black;
                }
            }
        }

        &-details {
            margin-top: 5px;
            row-gap: 5px;

            &-separator {
                font-size: @service-card-details-separator-font-size;
                font-weight: @service-card-details-separator-font-weight;
                color: @service-card-details-separator-color;
                padding: @service-card-details-separator-padding;
            }

            &-type {
                font-size: @service-card-details-type-font-size;
                font-weight: @service-card-details-type-font-weight;
                color: @service-card-details-type-color;
            }

            &-price {
                font-size: @service-card-details-price-font-size;
                font-weight: @service-card-details-price-font-weight;
                color: @service-card-details-price-color;
            }

            &-slots {
                font-size: @service-card-details-slots-font-size;
                font-weight: @service-card-details-slots-font-weight;
                color: @service-card-details-slots-color;
            }

            &-composition {
                font-size: @service-card-details-composition-font-size;
                font-weight: @service-card-details-composition-font-weight;
                color: @service-card-details-composition-color;
            }

            &-reviews {
                &-value {
                    font-size: @service-card-details-reviews-value-font-size;
                    font-weight: @service-card-details-reviews-value-font-weight;
                    color: @service-card-details-reviews-value-color;
                }

                &-star {
                    width: @service-card-details-reviews-star-width;
                    height: @service-card-details-reviews-star-height;
                    margin: @service-card-details-reviews-star-margin;
                }

                &-count {
                    font-size: @service-card-details-reviews-count-font-size;
                    font-weight: @service-card-details-reviews-count-font-weight;
                    color: @service-card-details-reviews-count-color;
                }
            }
        }

        &-description {
            margin-top: 10px;
            font-size: @service-card-description-font-size;
            font-weight: @service-card-description-font-weight;
            line-height: @service-card-description-line-height;
            color: @service-card-description-color;
        }

        &-people {
            &-avatar {
                width: 27px;
                height: 27px;
                margin-right: 5px;
            }

            &-fullname {
                font-size: @service-card-people-fullname-font-size;
                font-weight: @service-card-people-fullname-font-weight;
                color: @service-card-people-fullname-color;
            }

            &-cluster {
                &-avatar {
                    width: 18px;
                    height: 18px;
                }

                &-count {
                    margin-left: 10px;
                    font-size: @service-card-people-cluster-count-font-size;
                    font-weight: @service-card-people-cluster-count-font-weight;
                    color: @service-card-people-cluster-count-color;
                }
            }
        }
    }

    &-actions {
        margin-top: 15px;
        padding: @service-card-padding;
        font-size: @service-card-action-font-size;
        font-weight: @service-card-action-font-weight;
        line-height: @service-card-action-line-height;

        button {
            height: 34px;

            &.btn-light {
                background-color: @service-card-action-button-background-color;
            }
        }

        &-share {
            &-icon {
                width: 14px;
                height: 11px;
            }
        }
    }
}


.avatar > img {
    border: 1px solid white;
}
