app-star-rating-review {
    ::ng-deep {
        .star-rating-base,
        .star-rating {
            margin: 0 !important;
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .star-container {
            width: 30px;
            height: 30px;
            font-size: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }
}

.rating {
    &-body {
        padding: 20px;
    }

    &-points {
        font-size: 32px;
        font-weight: 600;
        color: #3B516C;
        letter-spacing: 1px;
        margin-top: 22px;
        margin-bottom: 11px;
    }

    &-title {
        color: #95AAC9;
        font-size: 12px;
        letter-spacing: 1px;
    }

    &-stars {
        margin-bottom: 24px;
    }
}
