::ng-deep {
    .modal-service-users {
        max-width: 738px;

        .modal-content {
            border: 0 none !important;
        }
    }
}

.card {
    &-header {
        padding: 0.5rem 1.25rem;
    }

    &-nav {
        padding: 0 1.25rem;

        .nav-item {
            .badge {
                background-color: #F0F3F6;
                color: #6E84A2;
                font-size: 0.625rem;
            }
        }
    }

    &-body {
        padding: 1.25rem;
    }

    &.popup-view-card {
        margin-bottom: 0;
    }
}
