<div class="card" [ngClass]="{'popup-view-card modal-card': isModal}">
    <div class="card-header">
        <h4 class="card-header-title">{{ 'MyStudents' | localize }}</h4>
        <a *ngIf="!isModal" class="small" href="#!" (click)="handleViewAllStudents($event)">View all</a>

        <button *ngIf="isModal" type="button" class="close" aria-label="Close" (click)="onCloseStudentsPopup()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <ul class="card-nav nav nav-tabs">
        <li class="nav-item">
            <a [href]="isModal ? '#modal-all' : '#all-students'" class="nav-link active" data-toggle="tab" role="tab">
                {{ 'All' | localize | titlecase }}
                <small class="badge">{{ totalStudent }}</small>
            </a>
        </li>
        <li class="nav-item">
            <a [href]="isModal ? '#modal-graduated' : '#graduated'" class="nav-link" data-toggle="tab" role="tab">
                {{ 'Graduated' | localize | titlecase }}
                <small class="badge">{{ totalGraduated }}</small>
            </a>
        </li>
    </ul>
    <div class="card-body">
        <div class="tab-content d-flex flex-column">
            <div class="tab-pane fade show active" [id]="isModal ? 'modal-all' : 'all-students'" role="tabpanel" aria-labelledby="all-tab">
                <div *ngIf="!!students.length" class="list-group list-group-flush my-n3">
                    <div class="list-group-item" *ngFor="let student of students">
                        <div class="d-flex align-items-center gap-15">
                            <div class="item-avatar">
                                <div class="avatar avatar-sm">
                                    <img [src]="getProfilePictureUrl(student.profilePictureDocument) | async" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </div>
                            <div class="item-content">
                                <h4 class="title mb-1"><a href="!#">{{ student.fullName }}</a></h4>
                                <small class="text-muted">
                                    UI/UX Course
                                </small>
                            </div>
                            <div class="item-action ml-auto">
                                <a href="#!" class="btn btn-sm btn-outline-primary" (click)="onMessageClick(student, $event)">Message</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" [id]="isModal ? 'modal-graduated' : 'graduated'" role="tabpanel" aria-labelledby="graduated-tab">
                <div *ngIf="!!graduated.length else noStudent" class="list-group list-group-flush my-n3">
                    <div class="list-group-item" *ngFor="let student of graduated">
                        <div class="d-flex align-items-center gap-15">
                            <div class="item-avatar">
                                <div class="avatar avatar-sm">
                                    <img [src]="getProfilePictureUrl(student.profilePictureDocument) | async" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </div>
                            <div class="item-content">
                                <h4 class="title mb-1"><a href="!#">{{ student.fullName }}</a></h4>
                                <small class="text-muted">
                                    UI/UX Course
                                </small>
                            </div>
                            <div class="item-action ml-auto">
                                <a href="#!" class="btn btn-sm btn-outline-primary" (click)="onMessageClick(student, $event)">Message</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #noStudent>
    <div class="item-content">
        <span class="text-muted w-100p text-center d-block mt-2">No Students</span>
    </div>
</ng-template>
