.star-rating {
  display: inline-block;

  .star-container {
    position      : relative;
    display       : inline-block;
    height        : 0;
    vertical-align: text-top;

    .fa-star {
      color   : #F7BF53;
      width   : 100%;
      overflow: hidden;
    }
  }
}
