.search {
    &-nav {
        .nav-item {
            .nav-link {
                padding-bottom: 18px;
                font-size: 15px;
                color: #12263F;

                &:not(.active) {
                    color: #6E84A3;
                }

                .badge {
                    color: #6E84A3;
                    font-size: 10px;
                }
            }
        }
    }
}
