<div class="modal-card card">
  <abp-modal-header [title]="'ChooseACourseTemplate' | localize" (onCloseClick)="onCancelClick()">
  </abp-modal-header>
  <div class="card-body p-0">
    <ul class="list-group">
      <li class="list-group-item">
        <a href="#!select-component" (click)="$event.preventDefault(); onTemplateSelected()">
          <div class="row align-items-center">
            <div class="col-auto">
              <a href="#!student" (click)="$event.preventDefault();"
                class="avatar avatar-lg d-flex justify-content-center align-items-center">
                <i class="fe fe-file text-muted"></i>
              </a>
            </div>
            <div class="col ml-n2">
              <h4 class="mb-1">
                <a href="#!student" (click)="$event.preventDefault();">
                  {{ 'Blank' | localize }}
                </a>
              </h4>
              <p class="card-text small text-muted mb-1">
                {{ 'BlankTemplateDescription' | localize }}
              </p>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
