<div class="container-fluid" [@routerTransition]>
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="header">
        <div class="header-body">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="header-pretitle">{{ 'Dashboard' | localize }}</h6>
              <h1 class="header-title">{{ 'Articles' | localize }}</h1>
            </div>
            <div class="col-auto">
              <a href="#!new-article" class="btn btn-primary ml-2"
                (click)="$event.preventDefault(); onNewArticleClick()" *ngIf="isTutor">
                {{ 'NewArticle' | localize | titlecase }}
              </a>
            </div>
          </div>
          <ng-container *ngIf="isTutor else studentArticles">
            <div class="row align-items-center">
              <div class="col">
                <ul class="nav nav-tabs nav-overflow header-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" id="teaching-tab" data-toggle="tab" href="#teaching" role="tab"
                      aria-controls="teaching" aria-selected="true">{{ 'MyTeaching' | localize | titlecase }}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="learning-tab" data-toggle="tab" href="#learning" role="tab"
                      aria-controls="learning" aria-selected="false">{{ 'MyLearning' | localize | titlecase }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="tab-content">
        <div class="tab-pane fade show active" id="teaching" role="tabpanel" aria-labelledby="teaching-tab">
          <app-teaching></app-teaching>
        </div>
        <div class="tab-pane fade" id="learning" role="tabpanel" aria-labelledby="learning-tab">
          <app-learning></app-learning>
        </div>
      </div>
    </div>
  </div>

  <ng-template #studentArticles>
    <app-learning></app-learning>
  </ng-template>
