<aside class="interface-sidebar">
  <div class="attendees d-flex flex-column gap-24">
    <div class="attendee">
      <img src="assets/img/interface/sample/attendee-1.jpeg" alt="...">
      <span class="name">Sharon Corneto</span>
    </div>
    <div class="attendee">
      <img src="assets/img/interface/sample/attendee-2.jpeg" alt="...">
      <span class="name">Shasha Padilla</span>
    </div>
    <div class="attendee">
      <img src="assets/img/interface/sample/attendee-3.jpeg" alt="...">
      <span class="name">Jessa Saragosa</span>
    </div>
    <div class="attendee">
      <img src="assets/img/interface/sample/attendee-4.jpeg" alt="...">
      <span class="name">Julia Montes</span>
    </div>
    <div class="attendee">
      <img src="assets/img/interface/sample/attendee-5.jpeg" alt="...">
      <span class="name">Julia Barreto</span>
    </div>
    <div class="attendee">
      <img src="assets/img/interface/sample/attendee-6.jpeg" alt="...">
      <span class="name">Judy Ann Santos</span>
    </div>
    <div class="attendee">
      <img src="assets/img/interface/sample/attendee-1.jpeg" alt="...">
      <span class="name">Sharon Corneto</span>
    </div>
    <div class="attendee">
      <img src="assets/img/interface/sample/attendee-2.jpeg" alt="...">
      <span class="name">Shasha Padilla</span>
    </div>
    <div class="attendee">
      <img src="assets/img/interface/sample/attendee-3.jpeg" alt="...">
      <span class="name">Jessa Saragosa</span>
    </div>
    <div class="attendee">
      <img src="assets/img/interface/sample/attendee-4.jpeg" alt="...">
      <span class="name">Julia Montes</span>
    </div>
    <div class="attendee">
      <img src="assets/img/interface/sample/attendee-5.jpeg" alt="...">
      <span class="name">Julia Barreto</span>
    </div>
    <div class="attendee">
      <img src="assets/img/interface/sample/attendee-6.jpeg" alt="...">
      <span class="name">Judy Ann Santos</span>
    </div>
  </div>
</aside>
