.card-header {
  &.filter {
    height: auto;
    padding: 1rem 1.5rem;
  }
  .nav-tabs {
    border-bottom: 0;
  }
}

.tutor-offer {
  border-radius: unset;
  border: none;
  box-shadow: none;
  height: 100%;

  .rating {
    margin-left: 10px;
    margin-right: 5px;
  }

  .tutor-aos {
    .badge:not(:last-child) {
      margin-right: 5px;
    }
  }

  .tutorial-actions {
    display: flex;
    justify-content: space-around;
    border-top: 0;

    .tutorial-action {
      width: 100%;
      font-weight: bold;
      border-radius: unset;
      border-top: none;
      border-bottom: none;
      border-left: none;
      color: #000000;
      border-color: #edf2f9;

      &:last-child {
        border-right: none;
      }
    }
  }
}

.tutor-offer-list {
  .fe {
    font-size: 30px;
  }
}

hr.divider {
  margin-bottom: 25px;
}

.tutor-offer-container {
  &:last-child {
    .col {
      hr.divider {
        display: none;
      }
    }
  }
}
