.card {
    &-body {
        font-size: 15px;
        color: #3B516C;

        & > div {
            margin-top: 0.938rem;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}
