@section-title-font-weight: 600;
@section-title-font-size: 22px;
@section-title-line-height: 28px;
@section-title-color: #282828;


.section-title {
    font-weight: @section-title-font-weight;
    font-size: @section-title-font-size;
    line-height: @section-title-line-height;
    color: @section-title-color;
}
