<div class="card fs-14">
  <div class="card-body d-flex flex-row gap-5 m-0">
    <div class="icon d-flex flex-row align-items-center">
      <i class="fas fa-exclamation-circle mr-2"></i>
    </div>
    <div class="labels d-flex flex-column flex-grow-1">
      <div class="timer">Offer ends in...</div>
      <div class="available">Available units...</div>
      <div class="sales">Number of sales...</div>
    </div>
    <div class="values d-flex flex-column text-right">
      <div class="timer">00:12:01</div>
      <div class="available">16</div>
      <div class="sales">3</div>
    </div>
  </div>
</div>
