.overview-chart {
  min-height: 300px;
}

.list-group {
  border-radius: 0;

  .list-group-item {
    border-left : none;
    border-right: none;
    padding     : 0;

    .row {
      padding: 20px;
    }
  }

  .avatar.img-section {
    width    : 52px;
    height   : 39px;
    min-width: auto;
  }
}
