.card {
    &-body {
        padding: 30px 25px 20px;

        .schedule {
            &-title {
                color: #6E84A3;
                font-size: 10px;
                font-weight: 600;
                letter-spacing: 1px;
                margin-bottom: 10px;
            }

            &-countdown {
                color: #12263F;
                font-size: 52px;
                line-height: 67px;
                font-weight: 600;
            }

            &-timeline {
                font-size: 10px;
                color: #95AAC9;
                font-weight: 600;
                letter-spacing: 1px;
                margin-bottom: 20px;
            }
        }

        .review {
            &-body {
                padding: 20px;

                &-details {
                    padding-top: 30px;

                    &-text {
                        margin-top: 25px;
                        margin-bottom: 30px;
                    }
                }
            }
        }

        button {
            height: 34px;
            padding: 5px 15px;
        }
    }
}
