<div class="schedule-container d-flex flex-column justify-content-center align-items-center w-100">
    <ng-container *ngIf="type === ScheduleType.DEFAULT">
        <ng-container *ngFor="let dayOfWeek of DayOfWeek | enumToArray | keyvalue" >
            <div class="schedule row d-flex flex-nowrap justify-content-end align-items-center" [class.disabled]="!models[dayOfWeek.key].availability.isAvailable">
                <div class="schedule-day flex-grow-1">
                    {{ dayOfWeek.value }}'s
                </div>
                <div class="schedule-available">
                    <div class="custom-control custom-switch">
                    <input [(ngModel)]="models[dayOfWeek.key].availability.isAvailable" type="checkbox" [id]="'isAvailable-' + dayOfWeek.key" [name]="'isAvailable-' + dayOfWeek.key" class="custom-control-input" [checked]="models[dayOfWeek.key].availability.isAvailable" />
                    <label class="custom-control-label" [for]="'isAvailable-' + dayOfWeek.key">{{ models[dayOfWeek.key].availability.isAvailable ? 'Available' : 'Unavailable' | localize }}</label>
                    </div>
                </div>
                <div class="schedule-time d-flex justify-content-center align-items-center">
                    <div class="schedule-time-from">
                    <div class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-ellipses dropdown-toggle d-flex justify-content-between align-items-center h-100" role="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ models[dayOfWeek.key].startTime.label }} <span class="fe fe-chevron-down"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right custom-card-shadow">
                        <div class="dropdown-item-container">
                            <div *ngFor="let time of timeSelections" [value]="time.value" class="dropdown-item cursor-pointer d-flex justify-content-end" (click)="models[dayOfWeek.key].startTime = time">
                            {{ time.label }}
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="schedule-time-separator">to</div>
                    <div class="schedule-time-to">
                    <div class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-ellipses dropdown-toggle d-flex justify-content-between align-items-center h-100" role="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ models[dayOfWeek.key].endTime.label }} <span class="fe fe-chevron-down"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right custom-card-shadow">
                            <div class="dropdown-item-container">
                                <div *ngFor="let time of timeSelections" [value]="time.value" class="dropdown-item cursor-pointer d-flex justify-content-end" (click)="models[dayOfWeek.key].endTime = time">
                                    {{ time.label }}
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="schedule-actions">
                    <div class="schedule-actions-plus cursor-pointer" (click)="addBreak(dayOfWeek.key)">
                        <img src="/assets/img/actions/plus-active.svg" class="plus active">
                        <img src="/assets/img/actions/plus-inactive.svg" class="plus inactive">
                    </div>
                </div>
            </div>
            <ng-container *ngFor="let b of models[dayOfWeek.key].breaks; let i = index">
                <ng-container *ngTemplateOutlet="breakTemplate; context: { day: dayOfWeek.key, idx: i }"></ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="type === ScheduleType.CUSTOM">
        <div *ngFor="let entry of customDates" class="d-flex flex-column justify-content-center align-items-center gap-20 w-100">
            <div class="schedule row d-flex flex-nowrap justify-content-end align-items-center" [class.disabled]="!models[entry].availability.isAvailable" [class.removable]="entry != nowValue">
                <div class="schedule-day flex-grow-1">
                    <div class="input-group input-group-merge datepicker" (click)="dp.show()">
                        <div class="input-group-prepend"><div class="input-group-text"><img src="/assets/img/actions/calendar.svg" class="calendar"></div></div>
                        <input [(ngModel)]="models[entry].availability.specificDateDpValue" [id]="'specific-date-' + entry" [name]="'specific-date-' + entry" type="text" class="form-control form-control-prepended" #dp="bsDatepicker" bsDatepicker [bsConfig]="datePickerConfig" />
                    </div>
                </div>
                <div class="schedule-available">
                    <div class="custom-control custom-switch">
                    <input [(ngModel)]="models[entry].availability.isAvailable" type="checkbox" [id]="'isAvailable-' + entry" [name]="'isAvailable-' + entry" class="custom-control-input" [checked]="models[entry].availability.isAvailable" />
                    <label class="custom-control-label" [for]="'isAvailable-' + entry">{{ models[entry].availability.isAvailable ? 'Available' : 'Unavailable' | localize }}</label>
                    </div>
                </div>
                <div class="schedule-time d-flex justify-content-center align-items-center">
                    <div class="schedule-time-from">
                    <div class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-ellipses dropdown-toggle d-flex justify-content-between align-items-center h-100" role="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ models[entry].startTime.label }} <span class="fe fe-chevron-down"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right custom-card-shadow">
                        <div class="dropdown-item-container">
                            <div *ngFor="let time of timeSelections" [value]="time.value" class="dropdown-item cursor-pointer d-flex justify-content-end" (click)="models[entry].startTime = time">
                            {{ time.label }}
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="schedule-time-separator">to</div>
                    <div class="schedule-time-to">
                    <div class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-ellipses dropdown-toggle d-flex justify-content-between align-items-center h-100" role="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ models[entry].endTime.label }} <span class="fe fe-chevron-down"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right custom-card-shadow">
                            <div class="dropdown-item-container">
                                <div *ngFor="let time of timeSelections" [value]="time.value" class="dropdown-item cursor-pointer d-flex justify-content-end" (click)="models[entry].endTime = time">
                                    {{ time.label }}
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="schedule-actions d-flex justify-content-center align-items-center gap-10">
                    <div class="schedule-actions-plus cursor-pointer" (click)="addBreak(entry)">
                        <img src="/assets/img/actions/plus-active.svg" class="plus active">
                        <img src="/assets/img/actions/plus-inactive.svg" class="plus inactive">
                    </div>
                    <div class="schedule-actions-trash cursor-pointer" (click)="removeCustomAvailability(entry)">
                        <img src="/assets/img/actions/trash.svg" class="trash">
                    </div>
                </div>
            </div>
            <ng-container *ngFor="let b of models[entry].breaks; let i = index">
                <ng-container *ngTemplateOutlet="breakTemplate; context: { day: entry, idx: i }"></ng-container>
            </ng-container>
        </div>
        <div class="schedule-add d-flex justify-content-start align-items-center gap-5 w-100">
            <div class="input-group input-group-merge datepicker" (click)="newDateDp.show()">
                <div class="input-group-prepend cursor-pointer"><div class="input-group-text border-0"><img src="/assets/img/actions/plus-active.svg" class="plus active"></div></div>
                <label class="form-control form-control-prepended border-0 d-flex justify-content-start align-items-center cursor-pointer">{{ 'Generics.Actions.AddDate' | localize }}</label>
                <input [(ngModel)]="newDateDpValue" (ngModelChange)="addCustomAvailability()" id="new-date" name="new-date" type="text" class="form-control form-control-prepended hidden" #newDateDp="bsDatepicker" bsDatepicker [bsConfig]="datePickerConfig" />
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="type === ScheduleType.SETTINGS">
        <div class="settings container-fluid">
            <div class="row d-flex gap-15">
                <div class="col form-group">
                    <label class="title">{{ 'BookingIntervals' | localize }}</label>
                    <span class="sub-title">{{ 'BookingIntervalsDesc' | localize }}</span>
                    <div class="dropdown">
                        <a href="javascript:void(0)"
                           class="dropdown-ellipses dropdown-toggle d-flex justify-content-between align-items-center h-100"
                           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                           [class.selected]="!!userAvailabilitySettings.bookingIntervals"
                        >
                            {{ userAvailabilitySettings.bookingIntervals ? userAvailabilitySettings.bookingIntervals + ' mins' : 'Select' }} <span class="fe fe-chevron-down"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right custom-card-shadow">
                            <div class="dropdown-item-container">
                                <div *ngFor="let booking of settingTimeSelections" class="dropdown-item cursor-pointer d-flex justify-content-end" (click)="userAvailabilitySettings.bookingIntervals = booking.value">
                                    {{ booking.label }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col form-group" [class.disabled]="!userAvailabilitySettings.isMaximumBookingPerDay">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <label class="title" for="maximum-bookings">{{ 'MaximumBookings' | localize }}</label>
                            <span class="sub-title">{{ 'MaximumBookingsDesc' | localize }}</span>
                        </div>
                        <div class="custom-control custom-switch ml-auto">
                            <input [(ngModel)]="userAvailabilitySettings.isMaximumBookingPerDay" type="checkbox" class="custom-control-input" id="maximum-bookings-input" [checked]="userAvailabilitySettings.isMaximumBookingPerDay"/>
                            <label class="custom-control-label" for="maximum-bookings-input"></label>
                        </div>
                    </div>
                    <input [(ngModel)]="userAvailabilitySettings.maximumBookingPerDay" type="number" id="maximum-bookings" class="form-control" placeholder="Input">
                </div>
            </div>
            <div class="settings-separator row"></div>
            <div class="row" [style.margin-bottom.px]="10">
                <div class="col form-group">
                    <label class="title">{{ 'Padding' | localize }}</label>
                    <span class="sub-title">{{ 'PaddingDesc' | localize }}</span>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col form-group">
                    <div class="dropdown">
                        <a
                            href="javascript:void(0)"
                            class="dropdown-ellipses dropdown-toggle d-flex justify-content-between align-items-center h-100"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            [class.selected]="!!userAvailabilitySettings.padding"
                        >
                            {{ userAvailabilitySettings.padding ? userAvailabilitySettings.padding + ' mins' : 'Select' }} <span class="fe fe-chevron-down"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right custom-card-shadow">
                            <div class="dropdown-item-container">
                                <div *ngFor="let booking of settingTimeSelections" class="dropdown-item cursor-pointer d-flex justify-content-end" (click)="userAvailabilitySettings.padding = booking.value">
                                    {{ booking.label }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="settings-separator row"></div>
            <div class="row d-flex gap-15">
                <div class="col form-group" [class.disabled]="!userAvailabilitySettings.isMinimumBookingNotice">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <label class="title">{{ 'MinimumBookingNotice' | localize }}</label>
                            <span class="sub-title">{{ 'MinimumBookingNoticeDesc' | localize }}</span>
                        </div>
                        <div class="custom-control custom-switch ml-auto">
                            <input [(ngModel)]="userAvailabilitySettings.isMinimumBookingNotice" type="checkbox" class="custom-control-input" id="minimum-booking" [checked]="userAvailabilitySettings.isMinimumBookingNotice"/>
                            <label class="custom-control-label" for="minimum-booking"></label>
                        </div>
                    </div>
                    <div class="d-flex gap-10">
                        <input [(ngModel)]="userAvailabilitySettings.minimumBookingNotice" type="text" class="form-control booking-input" placeholder="Input">
                        <div class="dropdown flex-grow-1">
                            <a href="javascript:void(0)"
                               class="dropdown-ellipses dropdown-toggle d-flex justify-content-between align-items-center h-100"
                               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                               [class.selected]="!!userAvailabilitySettings.minimumBookingNoticeUnit"
                            >
                                {{ userAvailabilitySettings.minimumBookingNoticeUnit ? AvailabilityUnit[userAvailabilitySettings.minimumBookingNoticeUnit] : 'Select' }} <span class="fe fe-chevron-down"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right custom-card-shadow booking-dropdown">
                                <div class="dropdown-item-container">
                                    <div *ngFor="let booking of settingTimeNoticePeriod" class="dropdown-item cursor-pointer d-flex" (click)="userAvailabilitySettings.minimumBookingNoticeUnit = booking.value">
                                        {{ booking.label }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col form-group" [class.disabled]="!userAvailabilitySettings.isMaximumAdvanceNotice">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <label class="title" for="maximum-bookings">{{ 'MaximumAdvanceNotice' | localize }}</label>
                            <span class="sub-title">{{ 'MaximumAdvanceNoticeDesc' | localize }}</span>
                        </div>
                        <div class="custom-control custom-switch ml-auto">
                            <input [(ngModel)]="userAvailabilitySettings.isMaximumAdvanceNotice" type="checkbox" class="custom-control-input" id="maximum-booking" [checked]="userAvailabilitySettings.isMaximumAdvanceNotice"/>
                            <label class="custom-control-label" for="maximum-booking"></label>
                        </div>
                    </div>
                    <div class="d-flex gap-10">
                        <input [(ngModel)]="userAvailabilitySettings.maximumAdvanceNotice" type="text" class="form-control booking-input" placeholder="Input">
                        <div class="dropdown flex-grow-1">
                            <a href="javascript:void(0)"
                               class="dropdown-ellipses dropdown-toggle d-flex justify-content-between align-items-center h-100"
                               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                               [class.selected]="!!userAvailabilitySettings.maximumAdvanceNoticeUnit"
                            >
                                {{ userAvailabilitySettings.maximumAdvanceNoticeUnit ? AvailabilityUnit[userAvailabilitySettings.maximumAdvanceNoticeUnit] : 'Select' }} <span class="fe fe-chevron-down"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right custom-card-shadow booking-dropdown">
                                <div class="dropdown-item-container">
                                    <div *ngFor="let booking of settingTimeNoticePeriod" class="dropdown-item cursor-pointer d-flex" (click)="userAvailabilitySettings.maximumAdvanceNoticeUnit = booking.value">
                                        {{ booking.label }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="settings-separator row"></div>
            <div class="row d-flex gap-15">
                <div class="col form-group">
                    <label class="title">{{ 'WeekStartDay' | localize }}</label>
                    <span class="sub-title">{{ 'WeekStartDayDesc' | localize }}</span>
                    <div class="dropdown">
                        <a href="javascript:void(0)"
                           class="dropdown-ellipses dropdown-toggle d-flex justify-content-between align-items-center h-100"
                           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                           [class.selected]="!!userAvailabilitySettings.weekStartDay"
                        >
                            {{ userAvailabilitySettings.weekStartDay ? DayOfWeek[userAvailabilitySettings.weekStartDay] : 'Select' }} <span class="fe fe-chevron-down"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right custom-card-shadow week-dropdown">
                            <div class="dropdown-item-container">
                                <div *ngFor="let dayOfWeek of DayOfWeek | enumToArray | keyvalue" class="dropdown-item cursor-pointer d-flex" (click)="userAvailabilitySettings.weekStartDay = dayOfWeek.key">
                                    {{ dayOfWeek.value }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #breakTemplate let-day="day" let-idx="idx">
    <div class="schedule row d-flex flex-nowrap justify-content-end align-items-center" [class.disabled]="!models[day].availability.isAvailable">
        <div class="schedule-break flex-grow-1 d-flex justify-content-end align-items-center">
            <label class="m-0">{{ 'Break' | localize }}</label>
        </div>
        <div class="schedule-time d-flex justify-content-center align-items-center">
            <div class="schedule-time-from">
              <div class="dropdown">
                <a href="javascript:void(0)" class="dropdown-ellipses dropdown-toggle d-flex justify-content-between align-items-center h-100" role="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ getBreakValue(day, idx, 'startTime') }} <span class="fe fe-chevron-down"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right custom-card-shadow">
                  <div class="dropdown-item-container">
                    <div *ngFor="let time of blockedTimeSelections(day)" [value]="time.value" class="dropdown-item cursor-pointer d-flex justify-content-end" (click)="models[day].breaks[idx].startTime = time">
                      {{ time.label }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="schedule-time-separator">to</div>
            <div class="schedule-time-to">
              <div class="dropdown">
                <a href="javascript:void(0)" class="dropdown-ellipses dropdown-toggle d-flex justify-content-between align-items-center h-100" role="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ getBreakValue(day, idx, 'endTime') }} <span class="fe fe-chevron-down"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right custom-card-shadow">
                    <div class="dropdown-item-container">
                        <div *ngFor="let time of blockedTimeSelections(day)" [value]="time.value" class="dropdown-item cursor-pointer d-flex justify-content-end" (click)="models[day].breaks[idx].endTime = time">
                            {{ time.label }}
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="schedule-actions">
            <div class="schedule-actions-trash cursor-pointer" (click)="removeBreak(day, idx)">
              <img src="/assets/img/actions/trash.svg" class="trash">
            </div>
        </div>
    </div>
</ng-template>
