 <div class="row lis ml-2">
    <div *ngFor="let event of events" class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-auto">
              <a href="#!visit" class="avatar avatar-lg avatar-4by3"
                (click)="$event.preventDefault();">
                <img [src]="getServiceImageUrl(event.thumbnailDocument)" alt="..." class="card-img-top">
              </a>
            </div>
            <div class="col ml-n2">
              <h4 class="mb-1 name">
                <a href="#!visit" (click)="$event.preventDefault();">
                  {{ event.name }}
                </a>
              </h4>
              <p class="card-text small text-muted mb-0">
                <time datetime="2018-06-21">
                  {{ 'Created' | localize }} {{ convertMomentToDateAgo(event.eventDateTime) }}
                </time>
              </p>
            </div>
            <div class="col-auto">
                <button (click)="navToUrl('app/events' , event.id)" class="btn btn-outline-primary btn-sm mr-2">
                    {{ 'Edit' | localize }}
                  </button>
                  <button (click)="navToUrl('app/events/student-portal' , event.id)" type="button"
                    class="btn btn-primary btn-sm">
                    {{ 'Join' | localize }}
                  </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
