<app-educations #educations [isReadOnly]="isReadOnly" [userId]="userId"></app-educations>
<div class="d-flex justify-content-between">
  <button (click)="onBackClick()" type="button" class="btn btn-white">
    {{ 'Back' | localize }}
  </button>
  <button *ngIf="!isReadOnly" (click)="onNextClick()" [disabled]="!educations.universities || !educations.universities.length || isLoading" type="submit"
    class="btn btn-primary">
    {{ 'Next' | localize }}
  </button>
  <button *ngIf="isReadOnly" type="button" class="btn btn-primary" (click)="onNavigateNextScreen()">
    {{ 'Next' | localize }}
  </button>
</div>
