.share-video-container {
  position               : absolute;
  width                  : 300px;
  bottom                 : 8px;
  left                   : 10px;
  background             : #FFFFFF;
  border-bottom          : none !important;
  border-top-left-radius : 5px;
  border-top-right-radius: 5px;

  .share-video-header {
    padding      : 10px;
    font-size    : 12px;
    font-weight  : bold;
    border-bottom: 1px solid #e3ebf6 !important;
  }

  .share-video-body {
    padding   : 10px 10px 0 10px;
    max-height: 400px;
    overflow-y: auto;

    .share-video-item {
      border-radius: 5px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      video {
        width        : 100%;
        border-radius: 5px 5px 0 0;
      }

      .share-video-details {
        padding: 10px;

        .small {
          font-size: 10px;
        }
      }
    }
  }

  .share-video-controls {
    position  : sticky;
    bottom    : 0;
    padding   : 10px;
    background: #FFFFFF;
  }
}
