<ng-container *ngIf="show && (showAddComment || totalCommentsCount)">
  <div *ngIf="!isChild" class="discussions-separator"></div>
  <div class="discussions-container" [class.p-0]="isChild">

    <div *ngIf="!isChild" class="discussions-top">
      <div class="discussion">
        <div *ngIf="showAddComment" class="row gap-15 m-0">
          <div class="col-auto p-0 d-flex align-items-center">
            <!-- Avatar | START -->
            <div class="avatar avatar-sm avatar-current-user">
              <img [src]="getProfilePicture(appSession.user.profilePictureUrl)" class="avatar-img rounded-circle" alt="profile" />
            </div>
            <!-- Avatar | END -->
          </div>

          <div class="col p-0 ms-n2">
            <div class="d-flex text-area-container" [style.padding.px]="10">
              <div class="col d-flex align-items-center p-0 ms-n2">
                <!-- Reply Textarea | START -->
                <form autocomplete="off" #form="ngForm" (ngSubmit)="onFormSubmit(addCommentEl)" class="comment-box flex-grow-1">
                  <textarea #addCommentEl id="message" name="message" (keydown)="onMessageKeydown($event, form, addCommentEl)"
                    class="form-control form-control-flush" placeholder="Leave a comment..." [maxLength]="500"
                    style="overflow: hidden; overflow-wrap: break-word; height: 41px;"
                  ></textarea>
                </form>
                <!-- Reply Textarea | END -->
              </div>
              <div class="col-auto align-self-center p-0">
                <!-- Icons | START -->
                <div class="col-auto pr-0 align-self-center">
                  <div class="text-muted d-flex gap-25">
                    <a class="text-reset" href="#!" data-toggle="tooltip" title="" data-original-title="Add photo" [class.disabled]="true">
                      <i class="fe fe-camera"></i>
                    </a>
                    <a class="text-reset" href="#!" data-toggle="tooltip" title="" data-original-title="Attach file" [class.disabled]="true">
                      <i class="fe fe-paperclip"></i>
                    </a>
                    <a class="text-reset" href="#!" data-toggle="tooltip" title="" data-original-title="Add emoticon" [class.disabled]="true">
                      <i class="fas fa-smile"></i>
                    </a>
                    <a class="cursor-pointer" data-toggle="tooltip" title="" data-original-title="Add service" [class.disabled]="!isShowAddService" (click)="toggleServicePicker()">
                      <i class="fe fe-plus"></i>
                    </a>
                  </div>
                </div>
                <!-- Icons | END -->
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="selectedService" class="row gap-15" [style.marginTop.px]="5" [style.marginLeft.px]="55">
          <app-service-preview-lite [service]="selectedService" [canRemove]="true" (onRemove)="selectedService = null"></app-service-preview-lite>
        </div>

        <div *ngIf="comments?.length" class="row sorting-section">
          <!-- Sorter | START -->
          <div class="col-auto align-self-center">
            Sort by:
            <div class="btn-group" dropdown>
              <button id="button-basic" dropdownToggle type="button" class="btn btn-link btn-sm dropdown-toggle font-weight-bold text-gray-800"
                      aria-controls="dropdown-basic">
                Most likes<span class="caret"></span>
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                  role="menu" aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Most Recent</a></li>
                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Most Likes <i class="fas fa-check float-right mt-1"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- Sorter | END -->
        </div>

      </div>
    </div>

    <ng-container *ngIf="isChild">
      <ng-container *ngIf="totalCommentsCount && !isExpanded && hiddenCommentsCount">
        <div class="discussions-expander-child cursor-pointer" (click)="onFoldClick()">
          <span>View {{ hiddenCommentsCount }} replies</span>
        </div>
      </ng-container>
    </ng-container>

    <div *ngIf="comments?.length" class="discussions">
      <div *ngFor="let comment of comments" class="discussion">
        <div class="comment tier-1-comment">
          <div class="row gap-15 m-0">
            <div class="col-auto p-0">
              <!-- Avatar | START -->
              <a class="avatar" href="profile-posts.html">
                <img [src]="getProfilePictureFromDocument(comment.creatorUser.profilePictureDocument, comment.creatorUser.id)" alt="..." class="avatar-img rounded-circle">
              </a>
              <!-- Avatar | END -->
            </div>
            <div class="col p-0 ms-n2">
              <!-- Comment Body | START -->
              <div class="comment-body">
                <div class="row gap-10 m-0">
                  <div class="col-auto p-0">
                    <h5 class="comment-title">{{ comment.creatorUser.fullName }}</h5>
                  </div>
                  <div class="col p-0 d-flex align-items-center">
                    <time class="comment-time" [title]="comment.creationTime | date:'short'">{{ convertMomentToDateAgo(comment.creationTime) }}</time>
                  </div>
                </div>
                <p class="comment-text m-0" >
                  <span *ngIf="comment.taggedUser" class="comment-text-tagged no-wrap">{{ comment.taggedUser.fullName }}</span> {{ comment.body }}
                </p>
              </div>
              <div *ngIf="hasAttachedService(comment)" class="comment-attachment d-flex flex-wrap flex-row" [style.marginTop.px]="5">
                <app-service-preview-lite [service]="getAttachedService(comment)" [canRemove]="false"></app-service-preview-lite>
              </div>
              <!-- Comment Body | END -->

              <!-- Comment Actions | START -->
              <div class="comment-actions justify-content-start align-items-center gap-10 p-10">
                <div class="cursor-pointer">Like</div>
                <div class="comment-actions-separator">•</div>
                <div class="comment-actions-reactions cursor-pointer d-flex align-items-center gap-7">
                  {{ 18 }}
                  <div class="comment-actions-reactions-type d-flex">
                      <div class="comment-actions-reactions-type-item blue d-flex justify-content-center align-items-center">
                          <span class="fe fe-thumbs-up"></span>
                      </div>
                      <div class="comment-actions-reactions-type-item red d-flex justify-content-center align-items-center">
                          <span class="fe fe-heart"></span>
                      </div>
                      <div class="comment-actions-reactions-type-item yellow d-flex justify-content-center align-items-center">
                          <span class="fe fe-thumbs-down"></span>
                      </div>
                  </div>
                </div>
                <div class="comment-actions-separator">|</div>
                <a href="javascript:;" class="reply-btn" (click)="initiateReply(comment.id)">Reply</a>
              </div>
              <!-- Comment Actions | END -->

              <app-community-discussions
                [show]="show"
                [referenceId]="referenceId"
                [parentId]="comment.id"
                [postType]="postType"
                [isChild]="true"
                [level]="level + 1"
                [foldSubject$]="foldSubject$"
                (onReplyEmit)="initiateReply($event)"
                (onUpdateEmit)="onUpdateEmit.emit()"
              ></app-community-discussions>

              <!-- Reply section -->
              <div class="row gap-15 mx-0" *ngIf="commentReplyId === comment.id" [style.marginBottom.px]="15">
                <div class="col-auto p-0 d-flex align-items-center">
                  <!-- Avatar | START -->
                  <div class="avatar avatar-sm avatar-current-user">
                    <img [src]="getProfilePicture(appSession.user.profilePictureUrl)" class="avatar-img rounded-circle" alt="profile" />
                  </div>
                  <!-- Avatar | END -->
                </div>
                <div class="col p-0 ms-n2">
                  <div class="d-flex text-area-container" [style.padding.px]="10">
                    <div class="col d-flex align-items-center p-0 ms-n2 h-sroll h-sroll-hidden">
                      <!-- Reply Textarea | START -->
                      <form autocomplete="off" #replyForm="ngForm" (ngSubmit)="onFormSubmit(addReplyEl, comment.id)" class="comment-box flex-grow-1">
                        <div
                          name="message"
                          class="form-control form-control-flush d-flex"
                          style="overflow: hidden; overflow-wrap: break-word; height: 41px; background: #F9FBFD; border-radius: 10px;"
                        >
                          <div *ngIf="taggedPerson" class="comment-text-tagged no-wrap">{{ taggedPerson.fullName }}</div>
                          <div
                            #addReplyEl
                            [id]="'add-reply-'+comment.id"
                            class="text-area-text flex-grow-1 d-flex flex-wrap no-wrap"
                            contenteditable="true"
                            data-placeholder="Leave a comment..."
                            [class.with-placeholder]="!taggedPerson"
                            (keydown)="onMessageKeydown($event, replyForm)"
                          ></div>
                        </div>
                      </form>
                      <!-- Reply Textarea | END -->
                    </div>
                    <div class="col-auto align-self-center p-0">
                      <!-- Icons | START -->
                      <div class="col-auto pr-0 align-self-center">
                        <div class="text-muted d-flex gap-25">
                          <a class="text-reset" href="#!" data-toggle="tooltip" title="" data-original-title="Add photo" [class.disabled]="true">
                            <i class="fe fe-camera"></i>
                          </a>
                          <a class="text-reset" href="#!" data-toggle="tooltip" title="" data-original-title="Attach file" [class.disabled]="true">
                            <i class="fe fe-paperclip"></i>
                          </a>
                          <a class="text-reset" href="#!" data-toggle="tooltip" title="" data-original-title="Add emoticon" [class.disabled]="true">
                            <i class="fas fa-smile"></i>
                          </a>
                          <a class="cursor-pointer" data-toggle="tooltip" title="" data-original-title="Add service" [class.disabled]="!isShowAddService" (click)="toggleServicePicker(true)">
                            <i class="fe fe-plus"></i>
                          </a>
                        </div>
                      </div>
                      <!-- Icons | END -->
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="selectedServiceForChild && commentReplyId === comment.id" class="row gap-15" [style.marginTop.px]="-10" [style.marginLeft.px]="55">
                <app-service-preview-lite [service]="selectedServiceForChild" [canRemove]="true" (onRemove)="selectedServiceForChild = null"></app-service-preview-lite>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="!isChild">
      <ng-container *ngIf="totalCommentsCount || hasChildren">
        <ng-container *ngIf="!isExpanded && hiddenCommentsCount">
          <div class="discussions-expander cursor-pointer" (click)="onFoldClick()">
            <div class="discussions-expander-fold">
              <span>View {{ hiddenCommentsCount }} more {{ typeName }}</span>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="isExpanded">
          <div class="discussions-expander cursor-pointer" (click)="onFoldClick()">
            <div class="discussions-expander-fold">
              <span>Fold {{ typeName }}</span>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>

  </div>
</ng-container>




























