.discussions {
  padding-bottom: 9px;

  &-expander {
    padding: 10px;
    margin-top: 10px;

    &:empty {
      display: none;
    }

    &-child {
      padding: 10px 10px 15px;
      font-weight: 400;
      font-size: 13px;
      line-height: 17px;
      color: #3B516C;
    }

    &-fold {
      &:empty {
        display: none;
      }

      font-weight: 400;
      font-size: 13px;
      line-height: 17px;
      text-align: center;
      letter-spacing: -0.02em;
      color: #3B516C;
    }
  }
}

.discussions-separator {
  border-top: 1px solid #EDF2F9;

  &.expanded {
    margin-left: 24px;
  }
}

.discussions-container {
  padding: 15px 24px;

  .discussions-top {
    .card.discussion {
      margin-bottom: 10px !important;
    }
  }

  .card.discussion {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .card-body,
    .card-footer {
      padding: 10px;
    }

    time,
    .time {
      font-size: 10px !important;
    }

    hr.tight {
      margin: 10px 0;
    }

    .comment-text {
      word-break: break-word !important;
      font-size : 12px !important;
    }

    .comment-box * {
      font-size: 12px !important;
    }

    .comment-body {
      padding: 10px;
    }

    .text-count {
      font-size: 12px;
    }

    .reactions {
      li {
        a {
          font-size: 20px;
        }
      }
    }

    .dropup {
      display: inline-block;
    }
  }
}

.text-area {
  &-container {
    background: #F9FBFD;
    border-radius: 10px;
    height: 50px;

    &-instruction {
      font-size: 13px;
      color: #6E84A3;
      margin-bottom: 8px;

      span {
        color: #2C7BE5;
      }
    }
  }
}

.comment:not(:last-child) {
  margin-bottom: 25px;
}

.avatar-current-user {
  width: 40px;
  height: 40px;
}

.sorting-section {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #6E84A3;

  .btn-group button:focus {
    box-shadow: none !important;
  }
}

.tier-1-comment {
  .avatar {
    width: 40px;
    height: 40px;
  }

  &:last-of-type,
  &:last-child,
  &:last-of-type {
    margin-bottom: 0px !important;
  }

  .view-more-replies {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #3B516C;
    margin-top: 15px;
  }
}

.tier-2-comment {
  margin-top: 15px;

  .avatar {
    width: 30px;
    height: 30px;
  }
}

.reply-indicator {
  position: absolute;
  width: 15px;
  height: 65%;
  border-left: 1px solid #B1C2D9;
  border-bottom: 1px solid #B1C2D9;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-radius: 10px;
  left: 50%;
}

&-separator {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: right;
  color: #95AAC9;
}
.comment {

  &-title {
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    color: #12263F;
  }

  &-time {
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    color: #95AAC9;
  }

  &-text {
    margin-top: 7px;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #12263F;

    &-tagged {
      cursor: pointer;
      font-weight: 400;
      color: #2C7BE5;
      margin-right: 5px;
    }
  }

  &-actions {

    display: flex;
    width: 33px;
    height: 18px;
    left: 0px;
    top: 1px;
    letter-spacing: -0.01em;
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #6E84A3;
    margin: 5px 15px 15px;

    &-reactions {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #6E84A3;

      &-type {
          &-item {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              border: 1px solid white;
              color: white;
              font-size: 10px;

              &:not(:first-child) {
                  margin-left: -5px;
              }

              &.blue {
                  background-color: #2C7BE5;
              }

              &.red {
                  background-color: #E63757;
              }

              &.yellow {
                  background-color: #F5D83E;
              }
          }
      }
    }

    &-separator {
      color: #D2DDEC;
    }

    .reply-btn {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #6E84A3;
    }
  }

}

app-service-picker {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  overflow: hidden;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  &.show {
      width: 100%;
  }
}
