::ng-deep {
    .modal-dialog-booking-taken {
        max-width: 380px !important;
        margin-left: auto;
        margin-right: auto;

        .modal-content {
            border: 0 none;
        }
    }
}

.booking {
    padding: 20px;

    &-taken {
        &-img {
            margin-top: 16px;
            margin-bottom: 24px;
        }

        &-title {
            font-weight: 600;
            font-size: 20px;
            color: #12263F;
            margin-bottom: 17px;
        }

        &-message {
            color: #6E84A3;
            font-size: 13px;
            font-weight: 400;
            margin-bottom: 33px;
        }

        &-button {
            button {
                height: 32px;
                padding: 5px;
            }
        }
    }
}
