<div class="container-fluid" [@routerTransition]>
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="header">
        <div class="header-body">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="header-pretitle">{{ model.course.name }}</h6>
              <h1 class="header-title">{{ model.name }}</h1>
            </div>
            <div class="col-auto">
              <div class="d-flex align-items-center justify-content-center">
                <button (click)="onLessonPreviewClick()" class="btn btn-outline-primary btn-block no-wrap">
                  {{ 'LessonPreview' | localize | titlecase }}
                </button>
                <button [disabled]="isLoading" (click)="onSaveClick()" class="btn btn-primary btn-block mt-0 ml-3">
                  {{ 'Save' | localize }}
                </button>
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col">
              <ul class="nav nav-tabs nav-overflow header-tabs">
                <li class="nav-item">
                  <a [routerLink]="['content']" routerLinkActive="active" class="nav-link">
                    {{ 'Content' | localize }}
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['details']" routerLinkActive="active" class="nav-link">
                    {{ 'Details' | localize }}
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['settings']" routerLinkActive="active" class="nav-link">
                    {{ 'Settings' | localize }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>

  <ng-template #studentArticles>
    <app-learning></app-learning>
  </ng-template>
