<div class="card">
  <div class="card-header">
    <h4 class="card-header-title">Recent Projects</h4>
  </div>
  <div class="table-responsive mb-0">
    <table class="table table-sm table-nowrap card-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Support Level</th>
          <th>Urgency Level</th>
          <th>Date Created</th>
          <th>Deadline</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Animal Research</td>
          <td>Level 3</td>
          <td>Urgent</td>
          <td>February 14, 2021</td>
          <td>February 27, 2021</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
