<div *ngIf="hasShimmer && isLoading" class="carousel-pill-shimmer-container">
    <app-shimmer [show]="true" [shimmerType]="shimmerType.TopicsCarousel"></app-shimmer>
</div>
<div class="carousel-pill keen-slider align-content-center align-items-center" #carouselContainer [hidden]="hasShimmer && isLoading">
    <div class="keen-slider__slide flex-row align-items-center">
        <div *ngIf="canAdd" class="carousel-pill-item add-pill" (click)="handleAddPill()">
            <i class="fas fa-plus"></i><span class="add-pill-label">{{ 'Add' | localize }}</span>
        </div>
        <div *ngIf="choices?.length" class="carousel-pill-separator" [style.marginLeft.px]="itemSpacing"></div>
    </div>

    <div *ngIf="choices?.length && showAll" class="carousel-pill-item all-pill keen-slider__slide" [class.active]="isAllPillSelected()"  (click)="handleSelectAll()">
        <span class="add-pill-label">{{ 'All Topics' | localize }}</span>
    </div>
    <div *ngFor="let i of choices" class="carousel-pill-item keen-slider__slide" [class.active]="isPillSelected(i)" (click)="handleSelectPill(i)">
       #{{ getDisplayValue(i) }}
    </div>

    <div
        *ngIf="carouselInstance"
        [ngClass]="'carousel-nav carousel-nav-prev ' + (currentItem === 0 ? 'carousel-nav-hidden' : '')">
        <div class="carousel-nav-btn" (click)="carouselInstance.prev()"></div>
    </div>

    <div
        *ngIf="carouselInstance"
        [ngClass]="'carousel-nav carousel-nav-next ' + (isLastItem ? 'carousel-nav-hidden' : '')">
        <div class="carousel-nav-btn" (click)="carouselInstance.next()"></div>
    </div>
</div>
