<div [@routerTransition]>
  <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light" id="sidebar">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarCollapse"
        aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand text-left pt-0 pb-3" href="javascript:;">
        <div class="d-flex">
          <div class="avatar avatar-4by3 ml-n3">
            <img [src]="getCourseImageUrl(thumbnailUrl)" alt="..." class="avatar-img rounded">
          </div>
          <div class="navbar-brand-header ml-3 mr-n3">
            <h6 class="header-pretitle">{{ title | localize }}</h6>
            <h3 class="header-title">{{ model.name }}</h3>
          </div>
        </div>
      </a>

      <div class="collapse navbar-collapse" id="sidebarCollapse">
        <ul class="navbar-nav list-group">
          <li class="nav-item list-group-item">
            <a [routerLink]="['overview']" routerLinkActive="active" class="nav-link" role="button">
              {{ 'Overview' | localize }}
            </a>
          </li>
          <li class="nav-item list-group-item">
            <a [routerLink]="['schedule']" routerLinkActive="active" class="nav-link"  role="button">
              {{ 'Schedule' | localize }}
            </a>
          </li>
          <li class="nav-item list-group-item">
            <a class="nav-link" role="button">
              {{ 'Audience' | localize }}
            </a>
          </li>
          <li class="nav-item list-group-item">
            <a class="nav-link" role="button">
              {{ 'Questions' | localize }}
            </a>
          </li>
          <li class="nav-item list-group-item">
            <a class="nav-link" role="button">
              {{ 'ChatHistory' | localize }}
            </a>
          </li>
          <li class="nav-item list-group-item">
            <a class="nav-link" role="button">
              {{ 'PollResults' | localize }}
            </a>
          </li>
        </ul>
      </div>

      <div class="mt-auto"></div>

      <div class="d-flex justify-content-between align-items-center">
        <a [routerLink]="['/app/dashboard/events']" class="text-muted">
          <i class="fe fe-arrow-left"></i> {{ 'Exit' |localize }}
        </a>
        <button [routerLink]="[(model.type === EventType.SingleEvent ? '/app/dashboard/events' : '/app/dashboard/events/details/broadcast/series'), id]"
          class="btn btn-sm btn-outline-primary">
          {{ 'EditEvent' | localize }}
        </button>
      </div>
    </div>
  </nav>
  <div class="main-content h-100">
    <router-outlet></router-outlet>
  </div>
</div>
