<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h4 class="card-header-title">
                                    Project Summary
                                </h4>
                            </div>
                              <div class="col-auto">
                                <!-- Button -->
                                <a href="#!" class="btn btn-sm btn-white">
                                  View Breif
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="min-height: 250px;">

                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h4 class="card-header-title">
                                    Notification
                                </h4>
                            </div>
                            <div class="col-auto me-n3">
                                <!-- Avatar group -->
                                <div class="avatar-group d-none d-sm-flex">
                                  <a href="profile-posts.html" class="avatar avatar-xs" data-bs-toggle="tooltip" title="" data-bs-original-title="Ab Hadley">
                                    <img src="../../../../assets/themes/dashkit/img/avatars/profiles/avatar-3.jpg" alt="..." class="avatar-img rounded-circle">
                                  </a>
                                  <a href="profile-posts.html" class="avatar avatar-xs" data-bs-toggle="tooltip" title="" data-bs-original-title="Adolfo Hess">
                                    <img src="../../../../assets/themes/dashkit/img/avatars/profiles/avatar-3.jpg" alt="..." class="avatar-img rounded-circle">
                                  </a>
                                  <a href="profile-posts.html" class="avatar avatar-xs" data-bs-toggle="tooltip" title="" data-bs-original-title="Daniela Dewitt">
                                    <img src="../../../../assets/themes/dashkit/img/avatars/profiles/avatar-4.jpg" alt="..." class="avatar-img rounded-circle">
                                  </a>
                                  <a href="profile-posts.html" class="avatar avatar-xs" data-bs-toggle="tooltip" title="" data-bs-original-title="Miyah Myles">
                                    <img src="../../../../assets/themes/dashkit/img/avatars/profiles/avatar-5.jpg" alt="..." class="avatar-img rounded-circle">
                                  </a>
                                </div>
                              </div>
                              <div class="col-auto">
                                <!-- Button -->
                                <a href="#!" class="btn btn-sm btn-white">
                                  Share
                                </a>
                            </div>
                        </div>
                        <hr>
                        <!-- Comments -->
                        <div class="comment mb-3">
                            <div class="row">
                            <div class="col-auto">

                                <!-- Avatar -->
                                <a class="avatar avatar-sm" href="profile-posts.html">
                                <img src="../../../../assets/themes/dashkit/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                                </a>

                            </div>
                            <div class="col ms-n2">

                                <!-- Body -->
                                <div class="comment-body">

                                <div class="row">
                                    <div class="col">

                                    <!-- Title -->
                                    <h5 class="comment-title">
                                        Ab Hadley
                                    </h5>

                                    </div>
                                    <div class="col-auto">

                                    <!-- Time -->
                                    <time class="comment-time">
                                        11:12
                                    </time>

                                    </div>
                                </div> <!-- / .row -->

                                <!-- Text -->
                                <p class="comment-text">
                                    Looking good Dianna! I like the image grid on the left, but it feels like a lot to process and doesn't really <em>show</em> me what the product does? I think using a short looping video or something similar demo'ing the product might be better?
                                </p>

                                </div>

                            </div>
                            </div> <!-- / .row -->
                        </div>

                        <div class="comment mb-3">
                            <div class="row">
                            <div class="col-auto">

                                <!-- Avatar -->
                                <a class="avatar avatar-sm" href="profile-posts.html">
                                <img src="../../../../assets/themes/dashkit/img/avatars/profiles/avatar-3.jpg" alt="..." class="avatar-img rounded-circle">
                                </a>

                            </div>
                            <div class="col ms-n2">

                                <!-- Body -->
                                <div class="comment-body">

                                <div class="row">
                                    <div class="col">

                                    <!-- Title -->
                                    <h5 class="comment-title">
                                        Adolfo Hess
                                    </h5>

                                    </div>
                                    <div class="col-auto">

                                    <!-- Time -->
                                    <time class="comment-time">
                                        11:12
                                    </time>

                                    </div>
                                </div> <!-- / .row -->

                                <!-- Text -->
                                <p class="comment-text">
                                    Any chance you're going to link the grid up to a public gallery of sites built with Launchday?
                                </p>

                                </div>

                            </div>
                            </div> <!-- / .row -->
                        </div>

                        <!-- Comments -->
                        <div class="comment mb-3">
                            <div class="row">
                            <div class="col-auto">

                                <!-- Avatar -->
                                <a class="avatar avatar-sm" href="profile-posts.html">
                                <img src="../../../../assets/themes/dashkit/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                                </a>

                            </div>
                            <div class="col ms-n2">

                                <!-- Body -->
                                <div class="comment-body">

                                <div class="row">
                                    <div class="col">

                                    <!-- Title -->
                                    <h5 class="comment-title">
                                        Ab Hadley
                                    </h5>

                                    </div>
                                    <div class="col-auto">

                                    <!-- Time -->
                                    <time class="comment-time">
                                        11:12
                                    </time>

                                    </div>
                                </div> <!-- / .row -->

                                <!-- Text -->
                                <p class="comment-text">
                                    Looking good Dianna! I like the image grid on the left, but it feels like a lot to process and doesn't really <em>show</em> me what the product does? I think using a short looping video or something similar demo'ing the product might be better?
                                </p>

                                </div>

                            </div>
                            </div> <!-- / .row -->
                        </div>

                        <div class="comment mb-3">
                            <div class="row">
                            <div class="col-auto">

                                <!-- Avatar -->
                                <a class="avatar avatar-sm" href="profile-posts.html">
                                <img src="../../../../assets/themes/dashkit/img/avatars/profiles/avatar-3.jpg" alt="..." class="avatar-img rounded-circle">
                                </a>

                            </div>
                            <div class="col ms-n2">

                                <!-- Body -->
                                <div class="comment-body">

                                <div class="row">
                                    <div class="col">

                                    <!-- Title -->
                                    <h5 class="comment-title">
                                        Adolfo Hess
                                    </h5>

                                    </div>
                                    <div class="col-auto">

                                    <!-- Time -->
                                    <time class="comment-time">
                                        11:12
                                    </time>

                                    </div>
                                </div> <!-- / .row -->

                                <!-- Text -->
                                <p class="comment-text">
                                    Any chance you're going to link the grid up to a public gallery of sites built with Launchday?
                                </p>

                                </div>

                            </div>
                            </div> <!-- / .row -->
                        </div>

                        <!-- Divider -->
                        <hr>

                        <!-- Form -->
                        <div class="row">
                            <div class="col-auto">

                            <!-- Avatar -->
                            <div class="avatar avatar-sm">
                                <img src="../../../../assets/themes/dashkit/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
                            </div>

                            </div>
                            <div class="col ms-n2">

                            <!-- Form -->
                            <form class="mt-1">
                                <textarea class="form-control form-control-flush" data-autosize="" rows="1" placeholder="Leave a comment" style="overflow: hidden; overflow-wrap: break-word; height: 41px;"></textarea>
                            </form>

                            </div>
                            <div class="col-auto align-self-end">

                            <!-- Icons -->
                            <div class="text-muted mb-2">
                                <a class="text-reset mr-3" href="#" data-bs-toggle="tooltip" title="" data-bs-original-title="Add photo">
                                    <i class="fe fe-camera"></i>
                                </a>
                                <a class="text-reset mr-3" href="#" data-bs-toggle="tooltip" title="" data-bs-original-title="Attach file">
                                    <i class="fe fe-paperclip"></i>
                                </a>
                                <a class="text-reset" href="#" data-bs-toggle="tooltip" title="" data-bs-original-title="Record audio">
                                    <i class="fe fe-mic"></i>
                                </a>
                            </div>

                            </div>
                        </div> <!-- / .row -->
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <img src="../../../../assets/themes/dashkit/img/covers/profile-cover-2.jpg" alt="..." class="card-img-top">
                    <!-- Body -->
                    <div class="card-body">
                      <!-- Image -->
                      <a href="profile-posts.html" class="avatar avatar-xl card-avatar card-avatar-top">
                        <img src="../../../../assets/themes/dashkit/img/avatars/profiles/avatar-2.jpg" class="avatar-img rounded-circle border border-4 border-card" alt="...">
                      </a>

                      <!-- Heading -->
                      <h2 class="card-title text-center">
                        <a href="profile-posts.html">Student Name</a>
                      </h2>

                      <!-- Text -->
                      <p class="small text-center text-muted mb-3">
                        University Name
                      </p>

                      <!-- Badges -->
                      <p class="text-center mb-4">
                        <span class="badge bg-secondary-soft">
                          Student
                        </span>
                      </p>

                      <!-- Stats -->
                      <div class="row g-0 border-top border-bottom">
                        <div class="col-6 py-4 text-center">

                          <!-- Heading -->
                          <h6 class="text-uppercase text-muted">
                            Service
                          </h6>

                          <!-- Value -->
                          <h2 class="mb-0">Tutorial</h2>

                        </div>
                        <div class="col-6 py-4 text-center border-start">

                          <!-- Heading -->
                          <h6 class="text-uppercase text-muted">
                            Level
                          </h6>

                          <!-- Value -->
                          <h2 class="mb-0">Doctorate</h2>

                        </div>

                      </div>

                      <!-- List group -->
                      <div class="list-group list-group-flush">
                        <div class="list-group-item">
                          <div class="row align-items-center">
                            <div class="col">

                              <!-- Title -->
                              <small>Methodology</small>

                            </div>
                            <div class="col-auto">

                              <!-- Time -->
                              <time class="small text-muted" datetime="1988-10-24">
                                Survey
                              </time>

                            </div>
                          </div> <!-- / .row -->
                        </div>
                        <div class="list-group-item">
                          <div class="row align-items-center">
                            <div class="col">

                              <!-- Title -->
                              <small>Urgency</small>

                            </div>
                            <div class="col-auto">

                              <!-- Text -->
                              <small class="text-muted">
                                Urgent
                              </small>

                            </div>
                          </div> <!-- / .row -->
                        </div>
                        <div class="list-group-item">
                          <div class="row align-items-center">
                            <div class="col">

                              <!-- Title -->
                              <small>Deadline</small>

                            </div>
                            <div class="col-auto">

                              <!-- Link -->
                              <a class="small text-muted">
                                25/02/2021
                              </a>

                            </div>
                          </div> <!-- / .row -->
                        </div>
                      </div>


                    </div>


                </div>
            </div>

            <div class="col-12">
                <div class="card card-fill">
                    <div class="card-header">

                      <h4 class="card-header-title">
                        Uploads
                      </h4>

                      <!-- Button -->
                      <a class="small" href="#!">View all</a>

                    </div>
                    <div class="card-body">

                      <!-- List group -->
                      <div class="list-group list-group-flush my-n3">
                        <div class="list-group-item">
                          <div class="row">
                            <div class="col-auto">

                              <!-- Avatar -->
                              <div class="avatar avatar-sm">
                                <div class="avatar-title fs-lg bg-primary-soft rounded-circle text-primary">
                                  <i class="fe fe-file"></i>
                                </div>
                              </div>

                            </div>
                            <div class="col ms-n2">

                              <!-- Text -->
                              <h3 class="mb-0">Upload 1</h3>

                              <!-- Time -->
                              <small class="text-muted">
                                2.5kb Doc
                              </small>

                            </div>
                          </div> <!-- / .row -->
                        </div>
                        <div class="list-group-item">
                          <div class="row">
                            <div class="col-auto">

                              <!-- Avatar -->
                              <div class="avatar avatar-sm">
                                <div class="avatar-title fs-lg bg-primary-soft rounded-circle text-primary">
                                  <i class="fe fe-image"></i>
                                </div>
                              </div>

                            </div>
                            <div class="col ms-n2">

                              <!-- Text -->
                              <h3 class="mb-0">Upload 2</h3>

                              <!-- Time -->
                              <small class="text-muted">
                                1.2mb PNG
                              </small>

                            </div>
                          </div> <!-- / .row -->
                        </div>
                      </div>

                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
