<div class="container-fluid" [@routerTransition]>
  <div class="row">
    <div class="col-md-12 header" [loader]="showLoader">
      <div class="header-body">
        <div class="row justify-content-center">
          <div class="col-md-7 header">
            <form class="row" autocomplete="off" [formGroup]="projectForm">
              <div class="col-md-12">
                <div *ngIf="!isEditing" class="d-flex justify-content-end mb-4">
                  <button type="button"
                    (click)="toggleEditProject(true)" class="btn btn-primary">
                    {{ 'Edit' | localize }}
                  </button>
                </div>

                <div *ngIf="isEditing" class="d-flex justify-content-end mb-4">
                  <button type="button"
                    (click)="toggleEditProject(false)" class="btn btn-primary">
                    {{ 'Done' | localize }}
                  </button>
                </div>

                <div class="form-group required">
                  <label class="col-form-label" for="ProjectName">{{ 'ProjectName' | localize }}</label>
                  <input formControlName="name" id="ProjectName" name="ProjectName" type="text" class="form-control" #projectNameEl required/>
                  <abp-validation-summary [control]="name" [controlEl]="projectNameEl"></abp-validation-summary>
                </div>

                <div class="form-group required">
                  <label class="col-form-label" for="Description">{{ 'Description' | localize }}</label>
                  <textarea formControlName="description" id="Description" name="Description" class="form-control"
                    #descriptionEl required rows="4"></textarea>
                  <abp-validation-summary [control]="description" [controlEl]="descriptionEl">
                  </abp-validation-summary>
                </div>

                <hr class="my-4" />

                <div class="form-row">
                  <div [class.mb-0]="!showMethodology" class="form-group col-6 required">
                    <label class="col-form-label" for="AcademicLevel">{{ 'AcademicLevel' | localize}}</label>
                    <select [(ngModel)]="academicLevelValue" select2 [defaultValue]="academicLevel.value"
                      (select2ValueChange)="onAcademicLevelSelect($event)" name="AcademicLevel" id="AcademicLevel"
                      class="custom-select" data-toggle="select" #academicLevelModel="ngModel" #academicLevelEl
                      required [disabled]="isEditing ? null : ''" [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let academicLevel of academicLevels" [value]="academicLevel">
                        {{ academicLevel }}
                      </option>
                    </select>
                    <abp-validation-summary [control]="academicLevelModel" [controlEl]="academicLevelEl">
                    </abp-validation-summary>
                  </div>

                  <div [class.mb-0]="!showMethodology" class="form-group col-6 required">
                    <label class="col-form-label" for="Qualification">{{ 'Qualification' | localize}}</label>
                    <select [(ngModel)]="qualificationValue" select2 [defaultValue]="qualification.value"
                      (select2ValueChange)="onQualificationSelect($event)" name="Qualification" id="Qualification"
                      class="custom-select" data-toggle="select" #qualificationModel="ngModel" #qualificationEl
                      required [disabled]="isEditing ? null : ''" [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let qualification of academicLevelQualifications" [value]="qualification">
                        {{ qualification }}
                      </option>
                    </select>
                    <abp-validation-summary [control]="qualificationModel" [controlEl]="qualificationEl">
                    </abp-validation-summary>
                  </div>
                </div>

                <div *ngIf="showMethodology" class="form-group">
                  <label class="col-form-label" for="Methodology">{{ 'Methodology' | localize}}</label>
                  <select [(ngModel)]="methodologyValue" select2 [defaultValue]="methodology.value"
                    (select2ValueChange)="onMethodologySelect($event)" name="Methodology" id="Methodology"
                    class="custom-select" data-toggle="select" #methodologyModel="ngModel" #methodologyEl
                    [disabled]="isEditing ? null : ''" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let methodology of methodologies" [value]="methodology">
                      {{ methodology }}
                    </option>
                  </select>
                  <abp-validation-summary [control]="methodologyModel" [controlEl]="methodologyEl">
                  </abp-validation-summary>
                </div>

                <hr class="my-4" />

                <div class="form-group required">
                  <label class="col-form-label" for="SubjectArea">{{ 'SubjectArea' | localize}}</label>
                  <select [(ngModel)]="subjectAreaValue" select2 [defaultValue]="subjectArea.value"
                    (select2ValueChange)="onSubjectAreaSelect($event)" name="SubjectArea" id="SubjectArea"
                    class="custom-select" data-toggle="select" #subjectAreaModel="ngModel" #subjectAreaEl required
                    [disabled]="isEditing ? null : ''" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let methodology of methodologies" [value]="methodology">
                      {{ methodology }}
                    </option>
                  </select>
                  <abp-validation-summary [control]="subjectAreaModel" [controlEl]="subjectAreaEl">
                  </abp-validation-summary>
                </div>

                <div class="form-group required">
                  <label class="col-form-label pb-1" for="SubjectKeywords">{{ 'SubjectKeywords' | localize}}</label>
                  <small class="form-text text-muted">
                    {{ 'SubjectKeywordsInfo' | localize }}
                  </small>
                  <input [(ngModel)]="subjectKeyWordValue" #subjectKeywowrdsModel="ngModel" #subjectKeywowrdsEl
                    class="form-control" type="text" id="SubjectKeywords" name="SubjectKeywords"
                    (keydown)="onSearchKeyWordKeyDown($event)" (blur)="onSearchKeyWordBlur()"
                    [ngModelOptions]="{standalone: true}" [disabled]="isEditing ? null : ''"/>
                  <div class="ac-alerts">
                    <div *ngFor="let subjectKeyWord of subjectKeyWordsList" [class.disabled-events]="!isEditing"
                      class="alert alert-info alert-dismissible ac-alert" role="alert">
                      {{ subjectKeyWord }}
                      <button (click)="onRemoveSubjectKeyWordClick(subjectKeyWord)" type="button" class="close"
                        data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                  </div>
                </div>

                <hr class="my-4" />

                <div class="form-group">
                  <label class="col-form-label pb-1" for="UploadFiles">{{ 'UploadFilesOptional' | localize}}</label>
                  <small class="form-text text-muted">
                    {{ 'UploadFilesOptionalInfo' | localize }}
                  </small>
                  <div class="card">
                    <div class="card-body">
                      <app-document-uploader #documentUploader [readonly]="!isEditing" [allowedExtensions]="allowedFileExtensions">
                      </app-document-uploader>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-6 mb-0 required">
                    <label class="col-form-label" for="UrgencyLevel">{{ 'UrgencyLevel' | localize}}</label>
                    <select [(ngModel)]="urgencyLevelValue" select2 [defaultValue]="urgencyLevel.value"
                      (select2ValueChange)="onUrgencyLevelSelect($event)" name="UrgencyLevel" id="urgencyLevel"
                      class="custom-select" data-toggle="select" #urgencyLevelModel="ngModel" #urgencyLevelEl required
                      [disabled]="isEditing ? null : ''" [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let urgencyLevel of urgencyLevels" [value]="urgencyLevel">
                        {{ urgencyLevel }}
                      </option>
                    </select>
                    <abp-validation-summary [control]="urgencyLevelModel" [controlEl]="urgencyLevelEl">
                    </abp-validation-summary>
                  </div>

                  <div class="form-group col-6 mb-0">
                    <label class="col-form-label" for="Deadline">{{ 'Deadline' | localize }}</label>
                    <div class="input-group input-group-merge" (click)="dp.show()">
                      <input formControlName="deadline" id="Deadline" name="Deadline" type="text"
                        class="form-control form-control-appended" #deadlineEl #dp="bsDatepicker" bsDatepicker
                        [bsConfig]="datePickerConfig"/>
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-calendar"></span>
                        </div>
                      </div>
                    </div>
                    <abp-validation-summary [control]="deadline" [controlEl]="deadlineEl">
                    </abp-validation-summary>
                  </div>
                </div>

                <hr class="my-4" />

                <div class="form-row">
                  <div class="form-group col-6 mb-0">
                    <label class="mb-1">
                      {{ 'PrivateRequest' | localize }}
                    </label>
                    <small class="form-text text-muted">
                      {{ 'PrivateRequestInfo' | localize }}
                    </small>
                    <div class="row">
                      <div class="col-auto">
                        <div class="custom-control custom-switch">
                          <input formControlName="isPrivateRequest" id="IsPrivateRequest" name="IsPrivateRequest"
                            type="checkbox" class="custom-control-input">
                          <label class="custom-control-label" for="IsPrivateRequest"></label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-6 mb-0">
                    <div class="card bg-light border ml-4 mb-4">
                      <div class="card-body">
                        <p class="mb-2">
                          <i class="fe fe-alert-triangle"></i>
                          {{ 'Caution' | localize }}
                        </p>
                        <p class="small text-muted">
                          {{ 'CautionInfo' | localize }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <hr class="my-4" />

                <app-availability-setting #availabilitySetting [readonly]="!isEditing"></app-availability-setting>

                <hr class="my-4" />

                <div *ngIf="!isEditing" class="d-flex justify-content-end mb-4">
                  <button type="button"
                    (click)="toggleEditProject(true)" class="btn btn-primary">
                    {{ 'Edit' | localize }}
                  </button>
                </div>

                <div *ngIf="isEditing" class="d-flex justify-content-end mb-4">
                  <button type="button"
                    (click)="toggleEditProject(false)" class="btn btn-primary">
                    {{ 'Done' | localize }}
                  </button>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
