<div class="row justify-content-between align-items-center mb-5">
  <div class="col-12 col-md-9 col-xl-7">

    <h2 class="mb-2">
      {{ 'ChangeYourPassword' | localize }}
    </h2>

    <p class="text-muted mb-xl-0">
      {{ 'EnterYourPreviousPassword' | localize }}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6 order-md-2">

    <div class="card bg-light border ml-md-4">
      <div class="card-body">

        <p class="mb-2">
          {{ 'PasswordRequirements' | localize }}
        </p>

        <p class="small text-muted mb-2">
          {{ 'PasswordRequirementsMessage' | localize }}
        </p>

        <div [innerHtml]="'PasswordRequirementsDetails' | localize"></div>
      </div>
    </div>
  </div>
  <div [loader]="isLoading" class="col-12 col-md-6">

    <form autocomplete="off" #changePasswordForm="ngForm" (ngSubmit)="onFormSubmit()">
      <div class="form-group required">
        <label class="col-form-label" for="currentPassword">
          {{ "CurrentPassword" | localize }}
        </label>
        <input type="password" class="form-control" name="currentPassword" id="currentPassword" required minlength="2"
          maxlength="32" [(ngModel)]="model.currentPassword" #currentPasswordModel="ngModel" #currentPasswordEl />
        <abp-validation-summary [control]="currentPasswordModel" [controlEl]="currentPasswordEl">
        </abp-validation-summary>
      </div>
      <div class="form-group required">
        <label class="col-form-label" for="newPassword">
          {{ "NewPassword" | localize }}
        </label>
        <input type="password" class="form-control" name="newPassword" id="newPassword" required minlength="2"
          maxlength="32" validateEqual="confirmNewPassword" reverse="true" [(ngModel)]="model.newPassword" #newPasswordModel="ngModel"
          #newPasswordEl />
        <abp-validation-summary [control]="newPasswordModel" [controlEl]="newPasswordEl"></abp-validation-summary>
      </div>
      <div class="form-group required">
        <label class="col-form-label" for="confirmNewPassword">
          {{ "ConfirmNewPassword" | localize }}
        </label>
        <input type="password" class="form-control" name="confirmNewPassword" id="confirmNewPassword" required
          minlength="2" maxlength="32" validateEqual="newPassword" reverse="false" ngModel
          #confirmNewPasswordModel="ngModel" #confirmNewPasswordEl />
        <abp-validation-summary [control]="confirmNewPasswordModel" [controlEl]="confirmNewPasswordEl"
          [customValidationErrors]="
              confirmNewPasswordValidationErrors
            "></abp-validation-summary>
      </div>

      <button class="btn btn-block btn-primary lift" type="submit"
        [disabled]="!changePasswordForm.form.valid || isLoading">
        Update password
      </button>
    </form>
  </div>
</div>
