.header {
    &-body {
        .btn {
            height: 38px;
            line-height: 1rem;

            &.custom-button-width {
                min-width: 127px;
                margin-right: 10px;
            }
        }

        .avatar {
            & > div {
                width: 112px;
                height: 112px;
                font-size: 24px;

                .day {
                    color: #12263F;
                    font-weight: 600;
                }

                .month {
                    color: #2C7BE5;
                    font-weight: 400;
                }
            }
        }

        .event-type {
            z-index: 1;
            right: 0;
            bottom: 155%;
            background-color: rgba(40, 40, 40, 0.3);
            width: 123px;
            height: 38px;
            font-size: 18px;
            line-height: 1.5rem;
        }
    }
}
