<form class="form-horizontal" autocomplete="off" #form="ngForm">
  <div class="row">
    <div class="col-8" [loader]="isLoading">

      <div class="card">
        <div class="card-header">
          <h4 class="card-header-title">
            {{ 'DateAndTime' | localize }}
          </h4>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-4">
              <label class="col-form-label font-weight-bold" for="EmailAddress">
                {{ 'Frequency' | localize }}
              </label>
            </div>
            <div class="form-group col-4">
              <div class="custom-control custom-radio">
                <input [(ngModel)]="model.frequencyType" type="radio" id="singleFrequencyType" name="frequencyType"
                  [value]="EventFrequencyType.Single" class="custom-control-input" />
                <label class="custom-control-label" for="singleFrequencyType"></label>
                <label class="custom-control-caption mb-0" for="singleFrequencyType">
                  {{ 'SingleDateAndTime' | localize }}
                </label>
              </div>
            </div>
            <div class="form-group col-4">
              <div class="custom-control custom-radio">
                <input [(ngModel)]="model.frequencyType" type="radio" id="recurringFrequencyType" name="frequencyType"
                  [value]="EventFrequencyType.Recurring" class="custom-control-input" />
                <label class="custom-control-label" for="recurringFrequencyType"></label>
                <label class="custom-control-caption mb-0" for="recurringFrequencyType">
                  {{ 'RecurringTimes' | localize }}
                </label>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-4 mb-0">
              <label class="col-form-label" for="startTime">{{ 'EventDate' | localize}}</label>
              <div class="input-group input-group-merge" (click)="eventDateDp.show()">
                <input [(ngModel)]="eventDateTime" [bsConfig]="datePickerConfig" bsDatepicker
                  class="form-control form-control-appended" type="text" id="eventDate" name="eventDate"
                  #eventDateDp="bsDatepicker" (bsValueChange)="onEventDateTimeChange()" />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-calendar"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-4 mb-0">
              <label class="col-form-label" for="eventTime">{{ 'EventTime' | localize}}</label>
              <p-calendar [(ngModel)]="eventDateTime" [timeOnly]="true" [hourFormat]="12" [styleClass]="'w-100'"
                [inputStyleClass]="'form-control'" id="eventTime" name="eventTime" (onSelect)="onEventDateTimeChange()">
              </p-calendar>
            </div>
            <div class="form-group col-4 mb-0">
              <label class="col-form-label" for="duration">{{ 'DurationInMinutesQuote' | localize}}</label>
              <input [(ngModel)]="model.duration" class="form-control" type="number" id="duration" name="duration"
                step="30" />
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h4 class="card-header-title">
            {{ 'EventReplay' | localize }}
          </h4>
        </div>
        <div class="card-body">
          <div class="custom-control custom-radio">
            <input [(ngModel)]="model.replayType" type="radio" id="recordReplayType" name="replayType"
              [value]="EventReplayType.Record" class="custom-control-input" />
            <label class="custom-control-label" for="recordReplayType"></label>
            <label class="custom-control-caption" for="recordReplayType">
              {{ 'RecordEventDescription' | localize }}
            </label>
          </div>
          <div class="custom-control custom-radio">
            <input [(ngModel)]="model.replayType" type="radio" id="dontRecordReplayType" name="replayType"
              [value]="EventReplayType.DontRecord" class="custom-control-input" />
            <label class="custom-control-label" for="dontRecordReplayType"></label>
            <label class="custom-control-caption mb-0" for="dontRecordReplayType">
              {{ 'DontRecordEventDescription' | localize }}
            </label>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h4 class="card-header-title">
            {{ 'Interaction' | localize }}
          </h4>
        </div>
        <div class="card-body">
          <div class="card border">
            <div class="card-body">
              <div class="row mb-3">
                <div class="col">
                  <b>{{ 'EnableQuestionsTab' | localize }}</b>
                </div>
                <div class="col-auto">
                  <div class="custom-control custom-switch mr-n2">
                    <input [(ngModel)]="model.questionsEnabled" type="checkbox" id="questionsEnabled"
                      name="questionsEnabled" class="custom-control-input" [checked]="model.questionsEnabled" />
                    <label class="custom-control-label" for="questionsEnabled"></label>
                  </div>
                </div>
              </div>
              <div class="mb-2">
                <div class="custom-control custom-radio">
                  <input [(ngModel)]="model.questionType" type="radio" id="privateQuestionType" name="questionType"
                    [value]="QuestionType.Private" class="custom-control-input" />
                  <label class="custom-control-label" for="privateQuestionType"></label>
                  <label class="custom-control-caption" for="privateQuestionType">
                    {{ 'PrivateQuestions' | localize }}
                  </label>
                </div>
                <div class="custom-control custom-radio">
                  <input [(ngModel)]="model.questionType" [disabled]="!model.questionsEnabled" type="radio"
                    id="publicQuestionType" name="questionType" [value]="QuestionType.Public"
                    class="custom-control-input" />
                  <label class="custom-control-label" for="publicQuestionType"></label>
                  <label class="custom-control-caption" for="publicQuestionType">
                    {{ 'PublicQuestions' | localize }}
                  </label>
                </div>
              </div>
              <div class="ml-5">
                <div class="custom-control custom-checkbox">
                  <input [(ngModel)]="model.attendeesCanUpvote" [checked]="model.attendeesCanUpvote"
                    [disabled]="!model.questionsEnabled || model.questionType !== QuestionType.Public" type="checkbox"
                    id="attendeesCanUpvote" name="attendeesCanUpvote" class="custom-control-input" />
                  <label class="custom-control-label" for="attendeesCanUpvote"></label>
                  <label class="custom-control-caption" for="attendeesCanUpvote">
                    {{ 'AttendeesCanUpvote' | localize }}
                  </label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input [(ngModel)]="model.attendeesCanRespond" [checked]="model.attendeesCanRespond"
                    [disabled]="!model.questionsEnabled || model.questionType !== QuestionType.Public" type="checkbox"
                    id="attendeesCanRespond" name="attendeesCanRespond" class="custom-control-input" />
                  <label class="custom-control-label" for="attendeesCanRespond"></label>
                  <label class="custom-control-caption mb-0" for="attendeesCanRespond">
                    {{ 'AttendeesCanRespond' | localize }}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card border mb-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <b>{{ 'EnableChatTab' | localize }}</b>
                </div>
                <div class="col-auto">
                  <div class="custom-control custom-switch mr-n2">
                    <input [(ngModel)]="model.chatEnabled" type="checkbox" id="chatEnabled" name="chatEnabled"
                      class="custom-control-input" [checked]="model.chatEnabled" />
                    <label class="custom-control-label" for="chatEnabled"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h4 class="card-header-title">
            {{ 'CustomWebinarUrl' | localize }}
          </h4>
        </div>
        <div class="card-body">
          <div class="form-group required mb-0 d-flex align-items-center">
            <a href="javascript:;">
              www.scholarpro.com/
            </a>
            <input [(ngModel)]="model.customWebinarUrl" class="form-control" type="text" id="customWebinarUrl"
              name="customWebinarUrl" [placeholder]="'CustomUrl' | localize" />
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h4 class="card-header-title">
            {{ 'Notifications' | localize }}
          </h4>
        </div>
        <div class="card-body py-0">
          <ul class="list-group list-group-flush">
            <div class="list-group-item">
              <div class="row">
                <div class="col">
                  {{ 'RegistrationEmail' | localize }}
                </div>
                <div class="col-auto">
                  <div class="custom-control custom-switch mr-n2">
                    <input [(ngModel)]="model.registrationEmailNotification" type="checkbox"
                      id="registrationEmailNotification" name="registrationEmailNotification"
                      class="custom-control-input" [checked]="model.registrationEmailNotification" />
                    <label class="custom-control-label" for="registrationEmailNotification"></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="list-group-item">
              <div class="row">
                <div class="col">
                  {{ 'TwentyFourHourReminder' | localize }}
                </div>
                <div class="col-auto">
                  <div class="custom-control custom-switch mr-n2">
                    <input [(ngModel)]="model.twentyFourHourReminderNotification" type="checkbox"
                      id="twentyFourHourReminderNotification" name="twentyFourHourReminderNotification"
                      class="custom-control-input" [checked]="model.twentyFourHourReminderNotification" />
                    <label class="custom-control-label" for="twentyFourHourReminderNotification"></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="list-group-item">
              <div class="row">
                <div class="col">
                  {{ 'OneHourReminder' | localize }}
                </div>
                <div class="col-auto">
                  <div class="custom-control custom-switch mr-n2">
                    <input [(ngModel)]="model.oneHourReminderNotification" type="checkbox"
                      id="oneHourReminderNotification" name="oneHourReminderNotification" class="custom-control-input"
                      [checked]="model.oneHourReminderNotification" />
                    <label class="custom-control-label" for="oneHourReminderNotification"></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="list-group-item">
              <div class="row">
                <div class="col">
                  {{ 'FifteenMinuteReminder' | localize }}
                </div>
                <div class="col-auto">
                  <div class="custom-control custom-switch mr-n2">
                    <input [(ngModel)]="model.fifteenMinuteReminderNotification" type="checkbox"
                      id="fifteenMinuteReminderNotification" name="fifteenMinuteReminderNotification"
                      class="custom-control-input" [checked]="model.fifteenMinuteReminderNotification" />
                    <label class="custom-control-label" for="fifteenMinuteReminderNotification"></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="list-group-item">
              <div class="row">
                <div class="col">
                  {{ 'ReplayFollowUp' | localize }}
                </div>
                <div class="col-auto">
                  <div class="custom-control custom-switch mr-n2">
                    <input [(ngModel)]="model.replayFollowUpNotification" type="checkbox"
                      id="replayFollowUpNotification" name="replayFollowUpNotification" class="custom-control-input"
                      [checked]="model.replayFollowUpNotification" />
                    <label class="custom-control-label" for="replayFollowUpNotification"></label>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>

    </div>
    <div class="col-4">

      <div class="card">
        <div class="card-header">
          <h4 class="card-header-title">
            {{ 'EventVisibility' | localize }}
          </h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h4 class="mb-1">{{ 'Visible' | localize }}</h4>
              <span class="text-muted small">{{ 'ProfileAndStoreVisibleDescription' | localize }}</span>
            </div>
            <div class="col-auto d-flex align-items-center">
              <div class="custom-control custom-radio mr-n2">
                <input [(ngModel)]="model.visible" type="radio" name="visible" id="ProfileAndStoreVisible"
                  [value]="true" class="custom-control-input">
                <label class="custom-control-label" for="ProfileAndStoreVisible"></label>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col">
              <h4 class="mb-1">{{ 'Invisible' | localize }}</h4>
              <span class="text-muted small">{{ 'ProfileAndStoreInvisibleDescription' | localize }}</span>
            </div>
            <div class="col-auto d-flex align-items-center">
              <div class="custom-control custom-radio mr-n2">
                <input [(ngModel)]="model.visible" type="radio" name="visible" id="ProfileAndStoreInvisible"
                  [value]="false" class="custom-control-input">
                <label class="custom-control-label" for="ProfileAndStoreInvisible"></label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h4 class="card-header-title">
            {{ 'EventAccess' | localize }}
          </h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h4 class="mb-1">{{ 'Visible' | localize }}</h4>
              <span class="text-muted small">{{ 'OpenEventAccessDescription' | localize }}</span>
            </div>
            <div class="col-auto d-flex align-items-center">
              <div class="custom-control custom-radio mr-n2">
                <input [(ngModel)]="model.opened" type="radio" name="opened" id="openEvent" [value]="true"
                  class="custom-control-input">
                <label class="custom-control-label" for="openEvent"></label>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col">
              <h4 class="mb-1">{{ 'Invisible' | localize }}</h4>
              <span class="text-muted small">{{ 'ClosedEventAccessDescription' | localize }}</span>
            </div>
            <div class="col-auto d-flex align-items-center">
              <div class="custom-control custom-radio mr-n2">
                <input [(ngModel)]="model.opened" type="radio" name="opened" id="closedEvent" [value]="false"
                  class="custom-control-input">
                <label class="custom-control-label" for="closedEvent"></label>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</form>
