<div class="post container-fluid d-flex flex-column p-0" [style.minHeight.px]="307" [style.maxHeight.px]="307">
    <div class="post-author d-flex flex-row align-items-center">
        <div class="post-author-avatar">
            <a href="javascript: void(0);" class="avatar d-flex align-items-center">
                <img [src]="getProfilePicture(appSession.user.profilePictureUrl)" class="avatar-img rounded-circle" alt="profile" />
            </a>
        </div>
        <div class="post-author-name" [style.marginLeft.px]="10">{{ authorName | titlecase }}</div>
        <div class="post-author-visibility" [style.marginLeft.px]="15">
            <div class="dropdown">
                <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="dropdown-value">{{ (visibility.label | localize) | titlecase }}</span><i class="fe fe-chevron-down"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <div *ngFor="let opt of visibilityOptions" class="dropdown-item" (click)="visibility=opt; updateModel();">{{ (opt.label | localize) | titlecase }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="post-body flex-grow-1 d-flex flex-column" [style.marginTop.px]="15">
        <ng-container [ngSwitch]="type">
            <ng-container *ngSwitchCase="'quick-post'">
                <div class="post-body-information flex-grow-1 d-flex" [style.paddingTop.px]="10">
                    <textarea
                        [(ngModel)]="information"
                        (ngModelChange)="updateModel()"
                        #informationModel="ngModel"
                        #informationEl
                        class="form-control flex-grow-1"
                        id="information"
                        name="information"
                        required
                        placeholder="{{ 'Community.QuickPost.Add.Information' | localize }}"
                    ></textarea>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'add-question'">
                <div class="post-body-title flex-grow-1 d-flex" [style.paddingTop.px]="10">
                    <textarea
                        [(ngModel)]="title"
                        (ngModelChange)="updateModel()"
                        #titleModel="ngModel"
                        #titleEl
                        class="form-control flex-grow-1"
                        id="title"
                        name="title"
                        required
                        placeholder="{{ 'Community.Question.Add.Title' | localize }}"
                    ></textarea>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'add-discussion'">
                <div class="post-body-title">
                    <input
                        [(ngModel)]="title"
                        (ngModelChange)="updateModel()"
                        #titleModel="ngModel"
                        #titleEl
                        type="text"
                        class="form-control"
                        type="text"
                        id="title"
                        name="title"
                        required
                        placeholder="{{ 'Community.Discussion.Add.Title' | localize }}"
                    />
                </div>
                <div class="post-body-information flex-grow-1 d-flex" [style.paddingTop.px]="10">
                    <textarea
                        [(ngModel)]="information"
                        (ngModelChange)="updateModel()"
                        #informationModel="ngModel"
                        #informationEl
                        class="form-control flex-grow-1"
                        id="information"
                        name="information"
                        required
                        placeholder="{{ 'Community.Discussion.Add.Information' | localize }}"
                    ></textarea>
                </div>
            </ng-container>
        </ng-container>
        <div class="post-body-topics">
            <div class="form-group required mb-0">
                <app-pill-picker
                    [choices]="topicsChoices"
                    [maxSelected]="10"
                    keywordPrefix="#"
                    keywordPlaceholder="{{ 'Community.AddTopics' | localize: (isTopicsOptional ? '(optional)' : '') }}"
                    [autocompleteTemplateRef]="topicRowItem"
                    autocompleteNoDataText="{{ 'Community.NoTopicsFoundEnterToCreate' | localize }}"
                    [isLoading]="isLoadingTopics"
                    (onUpdateModel)="handleTopicsModelUpdate($event)"
                    (onKeywordUpdate)="handleTopicsKeywordUpdate($event)"
                ></app-pill-picker>
            </div>
        </div>
    </div>
</div>

<ng-template #topicRowItem let-item="item" let-isLoading="isLoading">
    <div *ngIf="isLoading" class="d-flex flex-column flex-grow-1 topic-row gap-4">
        <div class="box-shimmer-bar" [style.width.%]="80" [style.minHeight.px]="16"></div>
        <div class="box-shimmer-bar" [style.width.%]="45" [style.minHeight.px]="12"></div>
    </div>
    <div *ngIf="!isLoading" class="d-flex flex-column flex-grow-1 topic-row">
        <div class="topic-row-name">#{{ item.name }}</div>
        <div class="topic-row-followers">{{ 'Community.Topics.Followers' | localize: (item.followerCount | shortNum: 1)  }}</div>
    </div>
</ng-template>
