<div class="card">
  <div class="card-header">
    <h4 class="card-header-title">
      {{ 'RecentActivity' | localize }}
    </h4>
    <a class="small" href="javascript:;">View all</a>
  </div>
  <div class="card-body">
    <div class="list-group list-group-flush list-group-activity my-n3">
      <div class="list-group-item" *ngFor="let auditlog of auditlogs">
        <div class="row">
          <div class="col-auto">
            <div class="avatar avatar-sm">
              <div class="avatar-title font-size-lg bg-primary-soft rounded-circle text-primary">
                <i *ngIf="auditlog.auditLogsType === AuditLogsType.Edited" class="fe fe-edit-2"></i>
                <i *ngIf="auditlog.auditLogsType === AuditLogsType.Deleted" class="fe fe-trash-2"></i>
                <i *ngIf="auditlog.auditLogsType === AuditLogsType.Created" class="fe fe-plus"></i>

              </div>
            </div>
          </div>
          <div class="col ml-n2">
            <h5 class="mb-1">
              {{ 'Youhave' | localize }} {{ AuditLogsType[auditlog.auditLogsType].toLowerCase() | localize}} {{
              auditlog.serviceName | localize}}
            </h5>
            <small class="text-muted">
              {{convertMomentToDateAgo(auditlog.executionTime)}}
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>