<div class="row videos">
  <div class="col">
    <div class="videos-title">Add presentation materials</div>
    <div class="videos-description">Upload videos, images or PDF’s to present during your event.</div>
    <div class="videos-uploader">
      <div class="card">
        <div class="card-body p-0" [loader]="isLoading">
          <div class="videos-uploader-dropbox" [class.no-files]="!isAttachments">
            <app-document-uploader
              [largeImagePreview]="true"
              [allowedExtensions]="allowedExtensions"
              [placeholderHeight]="'80px'"
              [maxFileSize]="-1"
              [maxFiles]="20"
              [hidePreview]="true"
              (filesChanged)="onFileChanged($event)"
            ></app-document-uploader>
          </div>

          <div *ngIf="isAttachments" class="videos-uploader-listings">
            <app-presentation-detail *ngFor="let attachment of attachments; first as isFirst" [isFirst]="isFirst" [data]="attachment"></app-presentation-detail>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
