@composer-background-color: white;
@composer-padding: 24px 24px 0 24px;
@composer-border-radius: 10px;
@composer-border: 1px solid #edf2f9;
@composer-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);

@composer-post-avatar-margin-right: 15px;
@composer-post-avatar-width: 48px;
@composer-post-avatar-height: 48px;

.composer {
    background-color: @composer-background-color;
    padding: @composer-padding;
    border: @composer-border;
    border-radius: @composer-border-radius;
    box-shadow: @composer-shadow;
    position: relative;

    &-loading {
        max-height: 88px;
        overflow: hidden;
        border: none;
    }

    &-post {
        &-avatar {
            margin-right: @composer-post-avatar-margin-right;

            img {
                width: @composer-post-avatar-width;
                height: @composer-post-avatar-height;
            }
        }

        &-text {
            background-color: #F9FAFC;
            border-radius: 10px;
            padding: 13px;
            height: 50px;

            &-input {
                cursor: pointer;
                width: 100%;
                height: 100%;
                border: none;
                padding: 0;
                background-color: transparent;
                color: #95AAC9;
                font-weight: 400;
                font-size: 15px;
                line-height: normal;
            }

            &-icon {
                position: absolute;
                top: 6px;
                right: 13px;
                font-size: 20px;
                color: #95AAC9;
            }
        }
    }

    &-actions {
        height: 54px;

        .btn {
            font-weight: 600;
            font-size: 15px;
            line-height: 19px;
            color: #3B516C;
        }

        &-separator {
            border-right: 2px solid #D2DDEC;
            width: 0px;
            height: 18px;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}
