.navbar-brand-header,
.header-title {
  white-space  : nowrap;
  overflow     : hidden;
  text-overflow: ellipsis;
}

.navbar-brand-header {
  display        : flex;
  flex-direction : column;
  justify-content: center;
}

.avatar {
  min-width: 64px;
}

.list-group {
  border-radius: 0;

  .list-group-item {
    border-left : none;
    border-right: none;
    padding     : 0;

    a {
      padding: 20px;
    }
  }

  .avatar {
    width    : 52px;
    height   : 39px;
    min-width: auto;
  }
}

.btn-sidebar-collapse {
  position: absolute;
  top     : 5px;
  right   : 5px;
  z-index : 1031;

  i {
    position: relative;
    top     : 1px;
    right   : 0px;
  }
}

.check-container {
  .check {
    position: absolute;
    right   : 33px;
  }
}
