<div class="d-flex flex-column h-100">

  <ul class="navbar-nav list-group">
    <ng-container *ngFor="let studentCourseSection of studentCourseSections" [ngTemplateOutlet]="sectionTemplate"
      [ngTemplateOutletContext]="{ section: studentCourseSection }">
    </ng-container>
  </ul>

  <div class="mt-auto"></div>

  <div class="d-flex justify-content-between align-items-center mt-5 pb-3">
    <a [routerLink]="['home']">
      <i class="fe fe-arrow-left"></i> {{ 'Exit' |localize }}
    </a>
  </div>
</div>

<ng-template #sectionTemplate let-section="section">
  <ng-container *ngIf="section.courseSection.type === 1" [ngTemplateOutlet]="moduleTemplate"
    [ngTemplateOutletContext]="{ section: section }"></ng-container>
  <ng-container *ngIf="section.courseSection.type === 2" [ngTemplateOutlet]="unitTemplate"
    [ngTemplateOutletContext]="{ section: section }"></ng-container>
  <ng-container *ngIf="section.courseSection.type === 3" [ngTemplateOutlet]="lessonTemplate"
    [ngTemplateOutletContext]="{ section: section }"></ng-container>
</ng-template>

<ng-template #moduleTemplate let-module="section">
  <li class="nav-item list-group-item">
    <a href="javascript:;" class="nav-link d-flex justify-content-between" role="button">
      <h3 class="m-0 py-2">{{ module.courseSection.name }}</h3>
      <i *ngIf="module.status === StudentCourseSectionStatus.Finished" class="fa fa-check text-success"></i>
    </a>
  </li>
</ng-template>

<ng-template #unitTemplate let-unit="section">
  <li class="nav-item list-group-item">
    <a href="javascript:;" class="nav-link d-flex justify-content-between" role="button">
      <p class="m-0 small"><b>{{ unit.courseSection.name }}</b></p>
      <i *ngIf="unit.status === StudentCourseSectionStatus.Finished" class="fa fa-check text-success"></i>
    </a>
  </li>
</ng-template>

<ng-template #lessonTemplate let-lesson="section">
  <li class="nav-item list-group-item">
    <a href="javascript:;" class="nav-link" role="button">
      <div class="d-flex">
        <div class="avatar avatar-4by3">
          <img [src]="getLessonImageUrl(lesson.courseSection.courseImageUrl)" alt="..." class="avatar-img rounded">
        </div>
        <div class="d-flex align-items-center ml-3 check-container">
          <p class="m-0 small"><b>{{ lesson.courseSection.name }}</b></p>
          <i *ngIf="lesson.status === StudentCourseSectionStatus.Finished" class="fa fa-check text-success check"></i>
        </div>
      </div>
    </a>
  </li>
</ng-template>
