<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h4 class="card-header-title">
          {{ 'Offers' | localize }}
        </h4>
      </div>
      <div class="col-auto">
        <button class="btn btn-sm btn-white" (click)="onAddClick()">
          {{ 'Add' | localize }}
        </button>
      </div>
    </div>
  </div>
  <div class="card-body py-0" [loader]="isLoading">
    <ul *ngIf="eventOffers.length else noEventOffersTemplate" class="list-group list-group-flush">
      <li
        *ngFor="let eventOffer of (eventOffers | paginate: { id: 'event-polls', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems })"
        class="list-group-item py-4">
        <div class="row">
          <div class="col-auto d-flex justify-content-center align-items-center">
            <div class="avatar avatar-4by3 d-flex justify-content-center align-items-center">
              <i class="fe fe-pie-chart text-muted h1 p-0 m-0"></i>
            </div>
          </div>
          <div class="col d-flex flex-column justify-content-center">
            <h4 class="m-0">{{ eventOffer.serviceTitle }}</h4>
            <!-- <small class="text-muted mb-2">
              {{ eventOffer.eventOfferQuestions.length }}
              {{ (eventOffer.eventOfferQuestions.length === 1 ? 'Question' : 'Questions') | localize }}
            </small> -->
            <small class="text-muted m-0">
              {{ 'CreatedOn' | localize }}
              {{ eventOffer.creationTime | dateFormat: 'MMM D, YYYY' }}
            </small>
          </div>
          <div class="col-auto d-flex align-items-center">

            <button class="btn btn-sm btn-rounded-circle btn-outline-info mr-2" (click)="onEditClick(eventOffer)">
              <i class="fe fe-edit-2"></i>
            </button>
            <button class="btn btn-sm btn-rounded-circle btn-outline-danger" (click)="onDeleteClick(eventOffer)">
              <i class="fe fe-trash-2"></i>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <abp-pagination-controls *ngIf="totalItems > eventOffers.length" id="event-polls" (pageChange)="getDataPage($event)">
  </abp-pagination-controls>
</div>


<ng-template #noEventOffersTemplate>
  <p class="m-0 p-5 text-muted text-center">
    {{ 'NoItemsFound' | localize }}
  </p>
</ng-template>
