.card {
    &-header {
        color: #1F2D3D;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.15px;
    }

    .self-booking {
        color: #3B516C;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.32px;
        text-transform: capitalize;
    }

    .duration {
        color: #3B516C;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.32px;
    }

    .ratings {
        color: #3B516C;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.32px;

        .icon {
            color: #D2DDEC;

            &.active {
                &::after {
                    content: '';
                    display: none;
                }

                color: #F5D83E;
            }
        }
    }

    .description {
        color: #3B516C;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 152.402%;
        letter-spacing: -0.16px;

        .show-more {
            color: #2C7BE5;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 152.402%;
            letter-spacing: -0.16px;
        }
    }

    .topics {
        &-item {
            background-color: #EDF2F9;
            border-radius: 8px;
            padding: 5px 15px;
            color: #3B516C;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}
