<div class="card review d-flex flex-column custom-card-border custom-card-shadow">
    <div class="review-container d-flex flex-column">
        <app-shimmer [show]="false" [shimmerType]="shimmerType.PostCard"></app-shimmer>
        <div class="review-heading d-flex flex-row flex-nowrap align-items-center">
            <div class="review-heading-avatar">
                <a href="#" class="avatar avatar-sm">
                    <img [src]="userRatingAvatar" class="avatar-img rounded-circle" alt="profile"/>
                </a>
            </div>
            <div class="review-heading-owner flex-grow-1 d-flex flex-column flex-nowrap gap-3">
                <div class="review-heading-owner-name d-flex flex-row align-items-center gap-8">
                    {{ userRatingName | titlecase }}
                    <button
                        type="button"
                        class="btn btn-link review-heading-owner-follow d-flex justify-content-center align-items-center">
                        <span class="text">
                            {{ 'Follow' | localize }}
                        </span>
                    </button>
                </div>
                <div class="review-heading-owner-time" role="button">
                    <span [tooltip]="userRatingDate">{{ userRatingDate }}</span>
                </div>
            </div>
        </div>
        <div class="review-rating-container d-flex gap-10 align-items-center">
            <app-star-rating-review [actualRating]="userRatingValue"></app-star-rating-review>
            <div class="rating-badge d-flex gap-10">
                <span class="label">{{ userRatingValue }}/5</span>
                <ng-container [ngSwitch]="experienceType">
                    <span *ngSwitchCase="ratingExperienceType.Positive" class="badge badge-soft-success rounded-pill d-flex align-items-center">
                        <i class="fe fe-plus mr-1"></i>Positive
                    </span>
                    <span *ngSwitchCase="ratingExperienceType.Neutral" class="badge badge-soft-secondary rounded-pill d-flex align-items-center">
                        <i class="fas fa-circle neutral-icon-font mr-1"></i>Neutral
                    </span>
                    <span *ngSwitchCase="ratingExperienceType.Negative" class="badge badge-soft-danger rounded-pill d-flex align-items-center">
                        <i class="fe fe-minus mr-1"></i>Negative
                    </span>
                </ng-container>
            </div>
        </div>
        <div class="review-content d-flex flex-column">
            <div class="review-content-description">
                {{ userReviewComment }}
            </div>
        </div>
    </div>
</div>
