.search {
    &-input {
        padding-left: 20px;
        border-bottom: 1px solid #EDF2F9;
    }

    &-sort {
        min-height: 46px;
        max-height: 46px;
        .dropdown {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 20px;

            &-label {
                font-weight: 400;
                font-size: 13px;
                line-height: 21px;
                letter-spacing: -0.01em;
                color: #6E84A3;
                margin-right: 4px;
            }

            &-value {
                font-weight: 400;
                font-size: 13px;
                line-height: 21px;
                letter-spacing: -0.01em;
                color: #1F2D3D;
                margin-right: 4px;
            }

            &-ellipses {
                i {
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }
    }

    &-list {
        &.divided &-item {
            &:not(:first-child) {
                border-top: 1px solid #EDF2F9;
            }
        }
    }
}


.mock {
    &-item {
        height: 79px;
        padding: 25px 24px;
    }
}
