<div class="search container-fluid d-flex flex-column p-0">
    <div class="search-input row m-0" [style.height.px]="options?.searchHeight ? options.searchHeight : 52">
        <div class="col p-0 h-100">
            <form class="h-100">
                <div class="input-group input-group-flush h-100 d-flex align-items-center">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="fe fe-search"></i></span></div>
                    <input
                        #searchInput
                        class="list-search form-control"
                        [ngClass]="[options.searchInputLoader && loading ? 'hidden' : 'show']"
                        type="search"
                        name="Search"
                        [placeholder]="options.placeholder ? options.placeholder : 'Search'"
                        (keyup.enter)="handleOnSearch()"
                        autocomplete="off"
                    />
                    <div class="bg-white veil d-flex align-items-center" [ngClass]="[options.searchInputLoader && loading ? 'show' : 'hidden']">
                        <div class="box-shimmer-bar"  [style.width.%]="30" [style.height.%]="50"></div>
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="options.pagination" class="col-auto p-0 d-flex align-items-center">
            <form>
                <select [(ngModel)]="pageNumber" select2 [defaultValue]="pageSize"
                (select2ValueChange)="pageSizeChange($event)" name="PageNumber"
                class="custom-select custom-select-sm form-control-flush" data-toggle="select">
                <option *ngFor="let pageSizeSelection of pageSizeSelections" [value]="pageSizeSelection">
                    {{ pageSizeSelection }} {{ 'PerPage' | localize }}
                </option>
                </select>
            </form>
        </div>
    </div>

    <div *ngIf="options.sortable && sortOptions?.length && sort" class="search-sort row m-0" [style.marginTop.px]="10">
        <div *ngIf="loading" class="box-shimmer-bar" [style.width.%]="15" [style.height.px]="8" [style.marginTop.px]="10" [style.marginLeft.px]="20"></div>
        <div *ngIf="!loading" class="dropdown">
            <span class="dropdown-label">{{ 'SortedBy' | localize }}:</span>
            <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="dropdown-value">{{ sort.label | localize }}</span>
              <i class="fe fe-chevron-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div *ngFor="let opt of sortOptions" class="dropdown-item" (click)="handleOnSort(opt)">{{ opt.label | localize }}</div>
            </div>
        </div>
    </div>

    <div class="search-list" [ngClass]="[options?.hasDivider === false ? '' : 'divided']">
        <ng-container *ngIf="loading">
            <div class="search-list-item"><ng-container *ngTemplateOutlet="loadingTemplate"></ng-container></div>
            <div class="search-list-item"><ng-container *ngTemplateOutlet="loadingTemplate"></ng-container></div>
            <div class="search-list-item"><ng-container *ngTemplateOutlet="loadingTemplate"></ng-container></div>
            <div class="search-list-item"><ng-container *ngTemplateOutlet="loadingTemplate"></ng-container></div>
        </ng-container>
        <ng-container *ngIf="!loading">
            <ng-container *ngIf="data && data.length">
                <div
                    *ngFor="let d of (data | paginate: { id: 'data-pagination', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems })"
                    class="search-list-item">
                    <ng-container *ngIf="itemTemplate"><ng-container *ngTemplateOutlet="itemTemplate; context: { item: d }"></ng-container></ng-container>
                    <ng-container *ngIf="!itemTemplate">{{ d.name }}</ng-container>
                </div>
            </ng-container>
            <ng-container *ngIf="!data || data.length === 0">
                <div class="search-list-item"><p class="text-center text-muted m-0 p-4">{{ 'NoRecordsFound' | localize }}</p></div>
            </ng-container>
        </ng-container>
    </div>

    <div *ngIf="options.pagination" class="search-footer row border-top">
        <div class="flex-grow-1">
            <abp-pagination-controls *ngIf="options.pagination" id="data-pagination" (pageChange)="getDataPage($event)" [customClass]="'border-0'"></abp-pagination-controls>
        </div>
    </div>
</div>

<ng-template #loadingTemplate>
    <ng-container *ngIf="itemLoadingTemplate"><ng-container *ngTemplateOutlet="itemLoadingTemplate"></ng-container></ng-container>
    <ng-container *ngIf="!itemLoadingTemplate">
        <div class="mock-item d-flex flex-row">
            <div class="mock-item-left d-flex flex-column flex-grow-1 justify-content-center gap-5">
                <div class="box-shimmer-bar"  [style.width.%]="55" [style.height.px]="18"></div>
                <div class="box-shimmer-bar"  [style.width.%]="15" [style.height.px]="6"></div>
            </div>
            <div class="mock-item-right d-flex flex-row align-items-center gap-20">
                <div class="box-shimmer-bar"  [style.width.px]="120" [style.height.px]="40"></div>
                <div class="box-shimmer-bar action"  [style.width.px]="120" [style.height.px]="40"></div>
            </div>
        </div>
    </ng-container>
</ng-template>
