<div [@routerTransition]>
  <div class="header">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-end">
          <div class="col">
            <h6 class="header-pretitle">
              {{ 'Support' | localize }}
            </h6>
            <h1 class="header-title">
              {{ 'CreateANewProject' | localize }}
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Card -->
        <div class="card">
          <div class="card-body text-center">
            <!-- Title -->
            <h1>
              {{ 'RequestSupportCardTitle' | localize }}
            </h1>
            <!-- Subtitle -->
            <p class="text-muted">
              {{ 'RequestSupportCardMessage' | localize }}
            </p>
            <!-- Button -->
            <a href="javascript:;" class="btn btn-primary">
              {{ 'RequestSupport' | localize }}
            </a>

          </div>
        </div>
      </div>
    </div> <!-- / .row -->

    <div class="row mt-5">
      <div class="col-12 col-xl-8">
        <div class="card">
          <div class="card-header">
            <h4 class="card-header-title">{{ 'HowItworks' | localize}}</h4>
          </div>
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-xl-6">
                <span class="badge bg-light text-primary">STEP 1</span>
                <h2 class="mt-3">
                  <span class="text-primary">Write a breif</span>
                  and post your project
                </h2>
              </div>

            </div>
            <div class="row justify-content-center">
              <div class="col-xl-6">
                <span class="badge bg-light text-primary">STEP 2</span>
                <h2 class="mt-3">
                  <span class="text-primary">Review proposals</span>
                  from ...
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-4">
        <div class="card">
          <div class="card-header">
            <h4 class="card-header-title">{{ 'PopularService' | localize}}</h4>
          </div>
          <div class="card-body">
            <div class="list-group list-group-flush my-n3">
              <div class="list-group-item">
                <div class="row align-items-center">
                  <div class="col">
                    <div class="avatar avatar-sm">
                      <div class="avatar-title font-size-lg bg-primary-soft rounded-circle text-primary">
                        <i class="fe fe-mail"></i>
                      </div>
                    </div>
                    <h5 class="mb-0 text-normal">Service 1</h5>
                  </div>
                  <div class="col-auto">
                    <span class="text-darker"><i class="fe fe-check"></i></span>
                  </div>
                </div>
              </div>
              <div class="list-group-item">
                <div class="row align-items-center">
                  <div class="col">
                    <div class="avatar avatar-sm">
                      <div class="avatar-title font-size-lg bg-primary-soft rounded-circle text-primary">
                        <i class="fe fe-mail"></i>
                      </div>
                    </div>
                    <h5 class="mb-0 text-normal">Service 2</h5>
                  </div>
                  <div class="col-auto">
                    <span class="text-darker"><i class="fe fe-check"></i></span>
                  </div>
                </div>
              </div>
              <div class="list-group-item">
                <div class="row align-items-center">
                  <div class="col">
                    <div class="avatar avatar-sm">
                      <div class="avatar-title font-size-lg bg-primary-soft rounded-circle text-primary">
                        <i class="fe fe-mail"></i>
                      </div>
                    </div>
                    <h5 class="mb-0 text-normal">Service 3</h5>
                  </div>
                  <div class="col-auto">
                    <span class="text-darker"><i class="fe fe-check"></i></span>
                  </div>
                </div>
              </div>
              <div class="list-group-item">
                <div class="row align-items-center">
                  <div class="col">
                    <div class="avatar avatar-sm">
                      <div class="avatar-title font-size-lg bg-primary-soft rounded-circle text-primary">
                        <i class="fe fe-mail"></i>
                      </div>
                    </div>
                    <h5 class="mb-0 text-normal">Service 4</h5>
                  </div>
                  <div class="col-auto">
                    <span class="text-darker"><i class="fe fe-check"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
