<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h4 class="card-header-title">Availability</h4>
      </div>
      <div *ngIf="!readonly" class="col-auto">
        <a (click)="$event.preventDefault(); onAddClick()" href="#" class="btn btn-sm btn-light">
          <i class="fe fe-plus"></i>
          {{ 'Add' | localize }}
        </a>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-sm mb-0">
      <thead>
        <tr>
          <th width="25%" scope="col">Day of Week</th>
          <th class="text-center" scope="col">Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let availability of availabilities">
          <th scope="row">{{ DayOfWeek[availability.dayOfWeek] }}</th>
          <td class="text-center">
            <p *ngFor="let time of availability.times" class="m-0 p-0">
              <time>
                {{ time.startTime | date: 'hh:mm a' }} - {{ time.endTime | date: 'hh:mm a' }}
              </time>
            </p>
          </td>
        </tr>
        <tr *ngIf="!availabilities || !availabilities.length">
          <td colspan="2">
            <p class="text-muted text-center m-0 p-0">
              No availability configured
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
