<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col flex-y-center">
            <h4 class="card-header-title">
              {{ 'Presenters' | localize }}
            </h4>
          </div>
          <div class="col-auto">
            <a class="btn btn-primary btn-sm" (click)="onInviteClick()">
              {{ 'Invite' | localize }}
            </a>
          </div>
        </div>
      </div>
      <div class="card-body py-0" [loader]="loading">
        <ul *ngIf="presenters && presenters.length else noPresentersTemplate" class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let presenter of presenters">
            <div class="row align-items-center">
              <div class="col-auto">
                <a class="avatar">
                  <img *ngIf="presenter.user" [src]="getProfilePictureUrl(presenter.user.profilePictureDocument)"
                    alt="..." class="avatar-img rounded-circle">
                  <img *ngIf="!presenter.user" [src]="getProfilePictureUrl()" alt="..."
                    class="avatar-img rounded-circle">
                </a>
              </div>
              <div class="col ml-n2">
                <h4 class="mb-1 name">
                  <a *ngIf="presenter.user && presenter.user.name; else noNameTemplate">
                    {{ presenter.user.fullName }}
                  </a>
                  <ng-template #noNameTemplate>
                    <a>{{ presenter.email }}</a>
                  </ng-template>
                </h4>
              </div>
              <div class="col-auto">
                <div *ngIf="presenter.user" class="dropdown">
                  <a class="btn btn-sm btn-outline-primary dropdown-toggle" role=" button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {{ EventPresenterType[presenter.type] }} <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
                    <li role="menuitem">
                      <a class="dropdown-item" href="#"
                        (click)="$event.preventDefault(); onPresenterTypeChange(EventPresenterType.CoHost, presenter)">
                        {{ EventPresenterType[EventPresenterType.CoHost] | localize }}
                      </a>
                    </li>
                    <li role="menuitem">
                      <a class="dropdown-item" href="#"
                        (click)="$event.preventDefault(); onPresenterTypeChange(EventPresenterType.Guest, presenter)">
                        {{ EventPresenterType[EventPresenterType.Guest] | localize }}
                      </a>
                    </li>
                  </ul>
                </div>
                <span *ngIf="!presenter.user" class="badge badge-soft-primary">
                  {{ EventPresenterType[EventPresenterType.Guest] | localize }}
                </span>
              </div>
              <div class="col-auto">
                <a class="dropdown-ellipses dropdown-toggle" role="button">

                </a>
                <div class="dropdown">
                  <a class="dropdown-ellipses dropdown-toggle" href="#" role=" button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fe fe-more-vertical"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
                    <li role="menuitem">
                      <a class="dropdown-item" href="#"
                        (click)="$event.preventDefault(); onRemovePresenterClick(presenter)">
                        {{ 'Remove' | localize }}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h4 class="card-header-title">
          {{ 'Permissions' | localize }}
        </h4>

        <div class="col-auto">

          <ul class="nav nav-tabs nav-tabs-sm card-header-tabs cursor">
            <li class="nav-item" (click)="changeActiveTab(1)">
              <a class="nav-link text-center " [ngClass]="{'active' : activeTab === 1}">
                {{ 'Audience' | localize }}
              </a>
            </li>
            <li class="nav-item" (click)="changeActiveTab(2)">
              <a class="nav-link text-center" [ngClass]="{'active' : activeTab === 2}">
                {{ 'Guest' | localize }}
              </a>
            </li>
            <li class="nav-item" (click)="changeActiveTab(3)">
              <a class="nav-link text-center" [ngClass]="{'active' : activeTab === 3}">
                {{ 'Co-hosts' | localize }}
              </a>
            </li>
          </ul>

        </div>

      </div>
      <app-audience *ngIf="activeTab === 1"></app-audience>
      <app-guests *ngIf="activeTab === 2"></app-guests>
      <app-co-host *ngIf="activeTab === 3"></app-co-host>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-auto">

            <!-- Avatar -->
            <a class="avatar avatar-lg">
              <img src="assets/img/anonymous.png" alt="..." class="avatar-img rounded-circle">
            </a>

          </div>
          <div class="col ml-n2">

            <!-- Title -->
            <h6 class="header-pretitle">
              {{ 'DefaultRole' | localize }}
            </h6>
            <h2 class="header-title">
              {{ 'Host' | localize}}
            </h2>


          </div>
          <div class="col-auto">
            <div class="dropdown">
              <a class="btn btn-sm btn-white d-none d-md-inline-block" role="button">
                {{ 'Change' | localize }}
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h4 class="card-header-title">
          {{ 'AttendeeAdmissionSettings' | localize }}
        </h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <label class="col-form-label p-0" for="autoAdmitAttendees">
              {{ 'AutoAdmit' | localize }}
            </label>
          </div>
          <div class="col-auto">
            <div class="custom-control custom-switch mr-n2">
              <input [(ngModel)]="event.autoAdmitAttendees" id="autoAdmitAttendees" name="autoAdmitAttendees"
                type="checkbox" class="custom-control-input" (change)="onAutoAdmitChange()">
              <label class="custom-control-label" for="autoAdmitAttendees"></label>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<ng-template #noPresentersTemplate>
  <p class="text-muted text-center m-0 p-4">
    {{ 'NoPresenterFound' | localize }}
  </p>
</ng-template>
