<div class="card bg-transparent">

  <div class="card-header">
    <h4 class="card-header-title">{{ 'ServicesOffered' | localize}}</h4>
  </div>

  <div class="card-body">
    <app-services></app-services>
  </div>

</div>
<div class="d-flex justify-content-between">
  <button [routerLink]="['/app/tutor-wizard/languages']" type="button" class="btn btn-white">
    {{ 'Back' | localize }}
  </button>
  <button (click)="onNextClick()" type="submit"
    [disabled]='services && (services.isLoading || !services.categories.length)' class="btn btn-primary">
    {{ 'Next' | localize }}
  </button>
</div>
