<div class="component-container" [class.preview-only]="isPreviewOnly"
  [style.background-color]="component.backgroundColor" [class.active]="selectedComponent === component"
  (click)="$event.preventDefault(); $event.stopPropagation(); !isPreviewOnly && onComponentClick();"
  [ngSwitch]="component.name">
  <div *ngIf="component.marginTop > 0" class="page-component-marker-top" [style.top]="component.marginTop + 'px'">
  </div>
  <div *ngIf="component.marginBottom > 0" class="page-component-marker-bottom"
    [style.bottom]="component.marginBottom + 'px'">
  </div>
  <div class="d-flex">
    <div *ngIf="!component.disableMargins" class="page-component-marker-left"></div>
    <div class="component" [class.has-margin-top]="component.marginTop"
      [class.has-margin-bottom]="component.marginBottom" [class.has-margin-left]="false"
      [class.has-margin-right]="false" [style.margin]="component.margin"
      [style.width]="(component.disableMargins ? '100%' : component.width + 'px')">
      <ng-container [ngSwitch]="component.type">
        <app-body-text-component-viewer *ngSwitchCase="'body-text'" [component]="component">
        </app-body-text-component-viewer>
        <app-title-component-viewer *ngSwitchCase="'title'" [component]="component">
        </app-title-component-viewer>
        <app-subtitle-component-viewer *ngSwitchCase="'subtitle'" [component]="component">
        </app-subtitle-component-viewer>
        <app-video-component-viewer *ngSwitchCase="'video'" [component]="component">
        </app-video-component-viewer>
        <app-office-component-viewer *ngSwitchCase="'office'" [component]="component">
        </app-office-component-viewer>
        <app-pdf-component-viewer *ngSwitchCase="'pdf'" [component]="component">
        </app-pdf-component-viewer>
        <app-audio-component-viewer *ngSwitchCase="'audio'" [component]="component">
        </app-audio-component-viewer>
        <app-download-component-viewer *ngSwitchCase="'download'" [component]="component">
        </app-download-component-viewer>
        <app-link-component-viewer *ngSwitchCase="'link'" [component]="component">
        </app-link-component-viewer>
        <app-image-component-viewer *ngSwitchDefault [component]="component">
        </app-image-component-viewer>
      </ng-container>
    </div>
    <div *ngIf="!component.disableMargins" class="page-component-marker-right"></div>
  </div>
</div>
