<div class="recipient d-flex align-items-center gap-15" [ngClass]="{'active': isActive}">
    <app-user-avatar *ngIf="recipientUser" [data]="recipientUser" [isBlocked]="isBlockedByRecipient"></app-user-avatar>
    <div class="d-flex flex-grow-1">
        <div class="recipient-details d-flex flex-column">
            <div class="recipient-details-name">
                <a *ngIf="!isBlockedByRecipient" href="javascript:void(0)">{{ channelName | titlecase }}</a>
                <a *ngIf="isBlockedByRecipient" href="javascript:void(0)">{{ 'User' | titlecase }}</a>
            </div>
            <div class="recipient-details-chat-preview w-154-px">
                <p *ngIf="!isRecipientTyping" class="m-0 wrap-text">{{ latestMessage.message }}</p>
                <p *ngIf="isRecipientTyping" class="m-0 wrap-text typing">Typing</p>
            </div>
        </div>

        <div class="recipient-message-details d-flex flex-column ml-auto align-items-end">
            <span class="time">{{ receivedDateStr }}</span>
            <span *ngIf="!isMutedChannel" class="text-center d-block status" [ngClass]="chatStatusClass">
                <span>{{ unreadCount }}</span>
            </span>
            <span *ngIf="isMutedChannel">
                 <img src="/assets/img/chat/bell-off.svg" class="w-12-px h-12-px" alt="Muted" />
            </span>
        </div>
    </div>
</div>
