.activities {
  font-size: 15px;
  color: #12263F;

  &-header {
    margin-bottom: 8px;
  }

  &-title {
    font-weight: 600;
    margin-bottom: 1px;
    font-size: 15px;
  }

  &-description {
    font-size: 13px;
    color: #6E84A3;
  }

  &-dropdown {
    .btn {
      width: 68px;
      height: 28px;
      line-height: 0.7em;
      border-radius: 4px;
    }
  }

  &-create {
    width: 80px;
    height: 28px;
    font-size: 13px;
    line-height: 0.9em;
  }

  &-empty {
    padding: 32px;
    border: 1px solid #E3EBF6;
    border-radius: 10px;
    color: #95AAC9;
  }
}
