<div class="card">
  <div class="card-header">
    <h4 class="card-header-title">
      {{ 'Engagement' | localize }}
    </h4>
  </div>
  <div class="card-body">
    <div class="position-relative">
      <canvas class="chart-canvas overview-chart" chart [chartSettings]="chartSettings" [chartDataset]="chartDataset">
      </canvas>
    </div>

    <div class="d-flex justify-content-center align-items-center mt-3">
      <div *ngFor="let chartType of ChartType | enumToArray | keyvalue" class="custom-control custom-checkbox mx-5">
        <input [(ngModel)]="currentChartType" (change)="onChartTypeChange()" class="custom-control-input"
          name="engagementChartyType" id="engagementChartyType_{{chartType.key}}" type="radio" [value]="+chartType.key" />
        <label class="custom-control-label" for="engagementChartyType_{{chartType.key}}"></label>
        <label class="custom-control-caption m-0" for="engagementChartyType_{{chartType.key}}">
          {{ chartType.value | localize }}
        </label>
      </div>
    </div>
  </div>
</div>
