:host {
    ::ng-deep {
        .nav {
            .nav-item {
                margin: 0;

                &:not(:first-child) {
                    margin-left: 40px;
                }

                .nav-link {
                    padding-top: 0;
                    padding-bottom: 15px;
                }
            }
        }
    }
}


.card {
    &-header {
        .close {
            font-size: 30px;
            font-weight: 200;
        }
    }

    &-footer {
        height: 57px;
    }
}
