<table *ngIf="model && model.id" class="table table-sm table-sm-custom mb-0">
  <thead>
    <tr>
      <th>
        <div class="row">
          <div class="col flex-y-center">
            {{ 'Hosts' | localize }}
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="row">
          <div class="col flex-y-center">
            <div class="avatar avatar-sm d-inline-block me-2">
              <img [src]="getProfilePictureUrl(model.creatorUser.profilePictureDocument)" alt="..."
                class="avatar-img rounded-circle">
            </div>
            <p class="m-0 ml-3">
              <b>{{ model.creatorUser.fullName }}</b>
            </p>
            <span *ngIf="model.creatorUser.id === appSession.userId" class="badge badge-soft-primary ml-2">
              {{ 'Me' | localize }}
            </span>
          </div>
          <div class="col-auto flex-y-center actions">
            <a href="#!mic" (click)="$event.preventDefault()" class="mr-2" [tooltip]="'Mute' | localize">
              <i class="fe fe-mic"></i>
            </a>
            <a href="#!camera" (click)="$event.preventDefault()" class="mr-2" [tooltip]="'TurnOffCamera' | localize">
              <i class="fe fe-camera"></i>
            </a>
            <a href="#!present" (click)="$event.preventDefault()" class="mr-2" [tooltip]="'StopPresenting' | localize">
              <i class="fe fe-monitor"></i>
            </a>
            <div class="dropdown">
              <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fe fe-more-vertical"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="#!visit" class="dropdown-item text-transform-none" (click)="$event.preventDefault();">
                  <small>{{ 'Message' | localize }}</small>
                </a>
                <a href="#!visit" class="dropdown-item text-transform-none" (click)="$event.preventDefault();">
                  <small>{{ 'BandAttendee' | localize }}</small>
                </a>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-sm table-sm-custom mb-0">
  <thead>
    <tr>
      <th>
        <div class="row">
          <div class="col flex-y-center">
            {{ 'CoHosts' | localize }}
          </div>
          <div class="col-auto flex-y-center actions">
            <a href="#!mic" (click)="$event.preventDefault()" class="mr-2" [tooltip]="'MuteAll' | localize">
              <i class="fe fe-mic"></i>
            </a>
            <a href="#!camera" (click)="$event.preventDefault()" class="mr-2"
              [tooltip]="'TurnOffAllCameras' | localize">
              <i class="fe fe-camera"></i>
            </a>
            <a href="#!present" (click)="$event.preventDefault()" class="mr-2"
              [tooltip]="'StopAllPresenting' | localize">
              <i class="fe fe-monitor"></i>
            </a>
            <div class="dropdown">
              <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fe fe-more-vertical"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="#!visit" class="dropdown-item text-transform-none" (click)="$event.preventDefault();">
                  <small>{{ 'AdmitAll' | localize }}</small>
                </a>
              </div>
            </div>
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let coHost of coHosts">
      <td>
        <div class="row">
          <div class="col flex-y-center">
            <div class="avatar avatar-sm d-inline-block me-2">
              <img
                *ngIf="coHost.user.profilePictureDocument && coHost.user.profilePictureDocument.id else noProfilePictureTemplate"
                [src]="getProfilePictureUrl(coHost.user.profilePictureDocument)" alt="..."
                class="avatar-img rounded-circle">
              <ng-template #noProfilePictureTemplate>
                <span class="avatar-title rounded-circle">
                  {{ getNameInitials(coHost.user) }}
                </span>
              </ng-template>
            </div>
            <p class="m-0 ml-3">
              <b>{{ coHost.user.fullName }}</b>
            </p>
            <span *ngIf="coHost.user.id === appSession.userId" class="badge badge-soft-primary ml-2">
              {{ 'Me' | localize }}
            </span>
          </div>
          <div class="col-auto flex-y-center actions">
            <a href="#!mic" (click)="$event.preventDefault()" class="mr-2" [tooltip]="'Mute' | localize">
              <i class="fe fe-mic"></i>
            </a>
            <a href="#!camera" (click)="$event.preventDefault()" class="mr-2" [tooltip]="'TurnOffCamera' | localize">
              <i class="fe fe-camera"></i>
            </a>
            <a href="#!present" (click)="$event.preventDefault()" class="mr-2" [tooltip]="'StopPresenting' | localize">
              <i class="fe fe-monitor"></i>
            </a>
            <div class="dropdown">
              <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fe fe-more-vertical"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="#!visit" class="dropdown-item text-transform-none" (click)="$event.preventDefault();">
                  <small>{{ 'Message' | localize }}</small>
                </a>
                <a href="#!visit" class="dropdown-item text-transform-none" (click)="$event.preventDefault();">
                  <small>{{ 'BandAttendee' | localize }}</small>
                </a>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-sm table-sm-custom table-stripeless mb-0">
  <thead>
    <tr>
      <th>
        <div class="row">
          <div class="col flex-y-center">
            {{ 'Guests' | localize }}
          </div>
          <div class="col-auto flex-y-center actions">
            <a href="#!mic" (click)="$event.preventDefault()" class="mr-2" [tooltip]="'DisableAllMic' | localize">
              <i class="fe fe-mic text-muted"></i>
            </a>
            <a href="#!camera" (click)="$event.preventDefault()" class="mr-2" [tooltip]="'DisableAllCamera' | localize">
              <i class="fe fe-camera text-muted"></i>
            </a>
            <a href="#!present" (click)="$event.preventDefault()" class="mr-2"
              [tooltip]="'DisableAllPresenting' | localize">
              <i class="fe fe-monitor text-muted"></i>
            </a>
            <div class="dropdown">
              <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fe fe-more-vertical"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="#!visit" class="dropdown-item text-transform-none" (click)="$event.preventDefault();">
                  <small>{{ 'AdmitAll' | localize }}</small>
                </a>
              </div>
            </div>
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let guest of guests">
      <td>
        <div class="row">
          <div class="col flex-y-center">
            <div class="avatar avatar-sm d-inline-block me-2">
              <img
                *ngIf="guest.user.profilePictureDocument && guest.user.profilePictureDocument.id else noProfilePictureTemplate"
                [src]="getProfilePictureUrl(guest.user.profilePictureDocument)" alt="..."
                class="avatar-img rounded-circle">
              <ng-template #noProfilePictureTemplate>
                <span class="avatar-title rounded-circle">
                  {{ getNameInitials(guest.user) }}
                </span>
              </ng-template>
            </div>
            <p class="m-0 ml-3">
              <b>{{ guest.user.fullName }}</b>
            </p>
            <span *ngIf="guest.user.id === appSession.userId" class="badge badge-soft-primary ml-2">
              {{ 'Me' | localize }}
            </span>
          </div>
          <div class="col-auto flex-y-center actions">
            <a href="#!mic" (click)="$event.preventDefault()" class="mr-2" [tooltip]="'DisableMic' | localize">
              <i class="fe fe-mic text-muted"></i>
            </a>
            <a href="#!camera" (click)="$event.preventDefault()" class="mr-2" [tooltip]="'DisableCamera' | localize">
              <i class="fe fe-camera text-muted"></i>
            </a>
            <a href="#!present" (click)="$event.preventDefault()" class="mr-2"
              [tooltip]="'DisablePresenting' | localize">
              <i class="fe fe-monitor text-muted"></i>
            </a>
            <div class="dropdown">
              <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fe fe-more-vertical"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="#!visit" class="dropdown-item text-transform-none" (click)="$event.preventDefault();">
                  <small>{{ 'Message' | localize }}</small>
                </a>
                <a href="#!visit" class="dropdown-item text-transform-none" (click)="$event.preventDefault();">
                  <small>{{ 'BandAttendee' | localize }}</small>
                </a>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-sm table-sm-custom table-stripeless mb-0">
  <thead>
    <tr>
      <th>
        <div class="row">
          <div class="col flex-y-center">
            {{ 'Audience' | localize }}
          </div>
          <div class="col-auto flex-y-center actions">
            <a href="#!mic" (click)="$event.preventDefault()" class="mr-2" [tooltip]="'DisableAllMic' | localize">
              <i class="fe fe-mic-off text-disabled"></i>
            </a>
            <a href="#!camera" (click)="$event.preventDefault()" class="mr-2" [tooltip]="'DisableAllCamera' | localize">
              <i class="fe fe-camera-off text-disabled"></i>
            </a>
            <a href="#!present" (click)="$event.preventDefault()" class="mr-2"
              [tooltip]="'DisableAllPresenting' | localize">
              <i class="fe fe-monitor fe-slash-append text-disabled"></i>
            </a>
            <div class="dropdown">
              <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fe fe-more-vertical"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="#!visit" class="dropdown-item text-transform-none" (click)="$event.preventDefault();">
                  <small>{{ 'AdmitAll' | localize }}</small>
                </a>
              </div>
            </div>
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let audience of audiences">
      <td>
        <div class="row">
          <div class="col flex-y-center">
            <div class="avatar avatar-sm d-inline-block me-2">
              <img [src]="getProfilePictureUrl(audience.creatorUser.profilePictureDocument)" alt="..."
                class="avatar-img rounded-circle">
            </div>
            <p class="m-0 ml-3">
              <b>{{ audience.creatorUser.fullName }}</b>
            </p>
            <span *ngIf="audience.creatorUser.id === appSession.userId" class="badge badge-soft-primary ml-2">
              {{ 'Me' | localize }}
            </span>
          </div>
          <div class="col-auto flex-y-center actions">
            <a href="#!mic" (click)="$event.preventDefault()" class="mr-2" [tooltip]="'DisableMic' | localize">
              <i class="fe fe-mic-off text-disabled"></i>
            </a>
            <a href="#!camera" (click)="$event.preventDefault()" class="mr-2" [tooltip]="'DisableCamera' | localize">
              <i class="fe fe-camera-off text-disabled"></i>
            </a>
            <a href="#!present" (click)="$event.preventDefault()" class="mr-2"
              [tooltip]="'DisablePresenting' | localize">
              <i class="fe fe-monitor fe-slash-append text-disabled"></i>
            </a>
            <div class="dropdown">
              <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fe fe-more-vertical"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="#!visit" class="dropdown-item text-transform-none" (click)="$event.preventDefault();">
                  <small>{{ 'Message' | localize }}</small>
                </a>
                <a href="#!visit" class="dropdown-item text-transform-none" (click)="$event.preventDefault();">
                  <small>{{ 'BandAttendee' | localize }}</small>
                </a>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
