<div class="curriculum-container" [loader]="isLoading">
  <div *ngIf="courseSections && courseSections.length > 0; else noCourseSection" class="curriculums">
    <div class="d-flex justify-content-end mb-3">
      <div class="dropdown d-inline-block">
        <button class="btn btn-sm btn-white dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          {{ 'View' | localize }}
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="javascript:;">{{ 'Student' | localize }}</a>
          <a class="dropdown-item" href="javascript:;">{{ 'Tutor' | localize }}</a>
        </div>
      </div>
      <div class="dropdown d-inline-block ml-2">
        <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          {{ 'Draft' | localize }}
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="javascript:;">{{ 'Publish' | localize }}</a>
        </div>
      </div>
    </div>
    <div *ngFor="let courseSection of courseSections" class="card curriculum">
      <div class="card-body p-3">
        <div class="row align-items-center">
          <div *ngIf="courseSection.type === courseSectionType.Lesson" class="col-auto">
            <a href="javascript:;" class="avatar avatar-lg avatar-4by3">
              <img src="/assets/themes/dashkit/img/avatars/projects/project-1.jpg" alt="..." class="avatar-img rounded">
            </a>
          </div>
          <div class="col ml-n2">
            <h4 class="mb-1">
              <a href="javascript:;">{{ courseSection.name }}</a>
            </h4>
          </div>
          <div class="col-auto">
            <div class="row">
              <div class="col-auto text-muted">
                <i class="fe fe-message-circle"></i>&nbsp;23
              </div>
              <div class="col text-muted">
                <i class="fe fe-clock"></i>&nbsp;{{ courseSection.creationTime | date: 'MMM d, yyyy' }}
              </div>
              <div class="col-auto">
                <span class="badge badge-soft-warning">{{ CourseSectionStatus[courseSection.status] }}</span>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <div class="avatar-group d-none d-md-inline-flex">
              <a href="profile-posts.html" class="avatar avatar-xs" data-toggle="tooltip" title=""
                data-original-title="Ab Hadley">
                <img src="/assets/themes/dashkit/img/avatars/profiles/avatar-2.jpg" class="avatar-img rounded-circle"
                  alt="...">
              </a>
              <a href="profile-posts.html" class="avatar avatar-xs" data-toggle="tooltip" title=""
                data-original-title="Adolfo Hess">
                <img src="/assets/themes/dashkit/img/avatars/profiles/avatar-3.jpg" class="avatar-img rounded-circle"
                  alt="...">
              </a>
              <a href="profile-posts.html" class="avatar avatar-xs" data-toggle="tooltip" title=""
                data-original-title="Miyah Myles">
                <img src="/assets/themes/dashkit/img/avatars/profiles/avatar-5.jpg" class="avatar-img rounded-circle"
                  alt="...">
              </a>
            </div>
          </div>
          <div class="col-auto">
            <div class="dropdown">
              <a href="javascript:;" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fe fe-more-vertical"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="javascript:;" class="dropdown-item">
                  {{ 'View' | localize }}
                </a>
                <a href="javascript:;" class="dropdown-item">
                  {{ 'Duplicate' | localize }}
                </a>
                <a href="javascript:;" class="dropdown-item">
                  {{ 'Edit' | localize }}
                </a>
                <a href="javascript:;" class="dropdown-item">
                  {{ 'Delete' | localize }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="actions ml-2 mt-n3">
      <a href="javascript:;"><i class="fe fe-plus"></i>{{ 'Add' | localize }}</a>
    </div>
  </div>
  <ng-template #noCourseSection>
    <div class="card h-100">
      <div class="card-body h-100">
        <div class="no-curriculum d-flex flex-column justify-content-center align-items-center h-100">
          <h1 class="mb-3">{{ 'NoLessonsOrModules' | localize }}</h1>
          <p class="text-muted mb-5">{{ 'StartByAddingALessonOrModule' | localize }}</p>
          <div class="d-flex">
            <button class="btn btn-primary" (click)="onAddCourseSectionClick(courseSectionType.Lesson)">
              <i class="fe fe-plus"></i>&nbsp;{{ 'AddLesson' | localize }}
            </button>
            <button class="btn btn-white ml-5" (click)="onAddCourseSectionClick(courseSectionType.Module)">
              <i class="fe fe-plus"></i>&nbsp;{{ 'AddModule' | localize }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
