<div class="curriculum-container service-builder w100p" [loader]="isLoading">
  <div class="curriculum-structure flex-column justify-content-center align-items-center w100p">

    <div class="curriculum-structure-title service-builder-label w100p">
      <div class="curriculum-structure-title-name service-builder-label-text">Course structure</div>
      <div class="curriculum-structure-title-description service-builder-label-description">
        <div class="curriculum-structure-title-description-text service-builder-label-description-text">Select the type of course you'd like to create.</div>
        <div class="curriculum-structure-title-description-link service-builder-label-description-link">Learn more.</div>
      </div>
    </div>

    <div class="curriculum-structure-options service-builder-options w100p" [style.marginTop.px]="8">
      <div class="curriculum-structure-options-item service-builder-options-item" [class.selected]="isMiniStructure" (click)="onCourseStructureClick(CourseStructure.Mini)">
        <div class="curriculum-structure-options-text service-builder-options-item-text">Mini course</div>
        <div class="curriculum-structure-options-description service-builder-options-item-description">Create a course with lessons only </div>
      </div>
      <div class="curriculum-structure-options-item service-builder-options-item" [class.selected]="isStandardStructure" (click)="onCourseStructureClick(CourseStructure.Standard)">
        <div class="curriculum-structure-options-text service-builder-options-item-text">Standard course</div>
        <div class="curriculum-structure-options-description service-builder-options-item-description">Create a course with modules and lessons</div>
      </div>
    </div>

    <div *ngIf="courseSections?.length; else noData" class="curriculum-structure-content w100p" [style.marginTop.px]="24">
      <div dragula="Course" [(dragulaModel)]="courseSections">
        <app-course-section
          *ngFor="let courseSectionModule of courseSections"
          [isTemporary]="!courseSectionModule.id"
          [selectedStructure]="selectedStructure"
          [courseSection]="courseSectionModule"
          (editSection)="editSection($event)"
          (addSection)="addSection($event)"
          (deleteSection)="onDeleteClick($event)"
          (duplicate)="onDuplicateClick($event)"
          (removeTemporary)="onRemoveTemporary($event)"
          [attr.temporary]="!courseSectionModule.id"
        ></app-course-section>
      </div>

      <div class="curriculum-structure-content-actions">
        <button *ngIf="isMiniStructure" class="btn btn-lg btn-block btn-primary" (click)="addTemporarySection(CourseSectionType.Lesson)">
          <img src="assets/img/service/content/plus-white.svg" alt="Add"/>
          {{ 'AddLesson' | localize }}
        </button>

        <button *ngIf="isStandardStructure" class="btn btn-lg btn-block btn-primary" (click)="onAddEditCourseSectionClick(CourseSectionType.Module)">
          <img src="assets/img/service/content/plus-white.svg" alt="Add"/>
          {{ 'AddModule' | localize }}
        </button>
      </div>
    </div>

  </div>
</div>

<ng-template #noData>
  <div class="service-builder-no-data" [style.marginTop.px]="24">
    <div class="service-builder-no-data-text">{{ 'NoLessonsOrModules' | localize }}</div>
  </div>
</ng-template>
