.card {
    &-body {
        .service-card {
            border-bottom: 1px solid #EDF2F9;

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}

app-service-card-dashboard {
    &::ng-deep {
        .broadcast,
        .coaching,
        .course,
        .article,
        .tutorial,
        .workshop {
            &-options {
                position: absolute;
                right: 0;
                top: auto;
                bottom: auto;
            }
        }
    }
}
