<div class="card">
  <img *ngIf="!user.coverPictureUrl" src="/assets/themes/dashkit/img/covers/profile-cover-2.jpg" alt="..."
    class="card-img-top">
  <img *ngIf="user.coverPictureUrl" [src]="user.coverPictureUrl" alt="..." class="card-img-top">
  <div class="card-body text-center">
    <a href="#" [routerLink]="['/app/profile']" class="avatar avatar-xl card-avatar card-avatar-top">
      <img [src]="getProfilePicture(user.profilePictureUrl)"
        class="avatar-img rounded-circle border border-4 border-card" alt="profile">
    </a>
    <h2 class="card-title">
      <a href="#" [routerLink]="['/app/profile']">{{ user.name }} {{ user.surname }}</a>
    </h2>
    <p class="small text-muted mb-3">
      {{ user.currentUniversity }}
    </p>
    <p class="card-text">
      <span class="badge badge-soft-secondary">
        {{ userTitle }}
      </span>
    </p>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="row align-items-center no-gutters">
          <div class="col-auto">
            <div class="small mr-2">83%</div>
          </div>
          <div class="col">
            <div class="progress progress-sm">
              <div class="progress-bar" role="progressbar" [style.width]="'83%'" [attr.aria-valuenow]="83"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer card-footer-boxed">
    <div class="row flex-grow-1 align-items-center justify-content-between">
      <div class="col-auto">
        <small>
          <span class="text-success">●</span> Online
        </small>
      </div>
      <div class="col-auto">
        <button *ngIf="permission.isGranted('Pages.TutorWizard') && canBecomeATutor" (click)="onTutorWizardClick()"
          class="btn btn-sm btn-primary">
          {{ 'BecomeATutor' | localize}}
        </button>
      </div>
    </div>
  </div>
</div>
