::ng-deep {
    .modal-dialog-booking {
        margin-left: auto;
        margin-right: auto;
        max-width: 810px !important;

        .modal-content {
            border: 0 none;

            .card {
                min-height: 615px;
                border: 0 none;
            }
        }
    }

    .fc {
        &-header-toolbar {
            padding: 8px 24px;
            border-bottom: 1px solid #edf2f9;
            font-size: 15px;
            margin-bottom: 0 !important;

            .fc-toolbar {
                &-title {
                    font-size: 15px !important;
                }
                &-chunk {
                    .btn-group {
                        button {
                            box-shadow: 0 0 0;
                            outline: 0 none;
                            padding: 8px;
                            background: transparent;
                            color: #000;
                            border: 0;

                            &:hover,
                            &:focus,
                            &:active {
                                background-color: transparent !important;
                                border: 0 !important;
                                outline: 0 none !important;
                                box-shadow: 0 0 0 !important;
                            }
                        }
                    }
                }
            }
        }

        &-view-harness {
            padding: 15px 24px 0;
        }

        table {
            border-style: none !important;
            td, th {
                border-style: none !important;
            }
            th {
                margin-bottom: 9px;
            }
        }

        &-col-header-cell-cushion {
            padding: 0 0 9px !important;
        }

        &-daygrid {
            &-day {
                &.fc-day-today {
                    background-color: transparent !important;

                    .fc-daygrid-day-top {
                        border: 1px solid #E4EBF6;

                        a {
                            color: #000;
                        }
                    }
                }

                &.fc-day-disabled {
                    background-color: transparent !important;
                }

                &.active {
                    background-color: transparent !important;

                    .fc-daygrid-day-top {
                        background-color: #2C7BE5;

                        a {
                            color: white;
                        }
                    }
                }

                &:not(.active).with-events {
                    background-color: transparent !important;

                    .fc-daygrid-day-top {
                        background-color: #EAF2FC;

                        a {
                            color: #2C7BE5;
                        }
                    }
                }

                &-events {
                    display: none;
                }

                &-top {
                    flex-direction: row !important;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin: 0 auto 5px;
                }

                &-number {
                    padding: 0 !important;
                }

                &-frame {
                }
            }
        }
    }
}

.card {
    &-body {
        padding: 0;
    }

    &-footer {
        padding: 20px 24px;

        &-steps {
            color: #6E84A3;
            font-size: 10px;
            font-weight: 600;
            letter-spacing: 1px;
        }
    }

    .btn {
        height: 34px;
        width: 130px;
        padding: 5px 10px;
        font-size: 12px;

        &.btn-outline-secondary {
            border-color: #E4EBF6;
            color: #3B516C;

            &:active,
            &:focus,
            &:hover {
                background: transparent;
                border-color: #E4EBF6;
                color: #3B516C;
            }
        }
    }
}

.booking {
    &-left-content {
        width: 354px;
        padding-bottom: 20px;

        & > div {
            span {
                color: #3B516C;
            }
        }

        &-timezone {
            font-size: 15px;
            font-weight: 400;
            padding-inline: 24px;

            .timezone {
                margin-left: 6px;
            }

            .change-timezone {
                color: #2C7BE5;
                margin-left: 10px;
                cursor: pointer;
            }
        }
    }

    &-right-content {
        flex-grow: 1;
        padding: 20px 0 0;

        &-schedules {
            padding: 16px 24px;
            max-height: 310px;
            overflow-y: auto;
            scroll-behavior: smooth;

            & > div {
                margin-bottom: 12px;

                &:last-child {
                    margin-bottom: 0;
                }

                h3 {
                    font-size: 12px;
                    font-weight: 600;
                    color: #6E84A3;
                    letter-spacing: 1px;
                    margin-bottom: 10px;
                }

                .item {
                    border: 1px solid #E4EBF6;
                    border-radius: 5px;
                    height: 34px;
                    width: 94px;
                    padding: 5px 15px;
                    color: #12263F;
                    font-size: 15px;
                    text-align: center;

                    &.active,
                    &:hover,
                    &:active,
                    &:focus {
                        border: 1px solid #2C7BE5;
                        background-color: #2C7BE5;
                        font-weight: 600;
                        color: white;
                        cursor: pointer;
                    }

                    &.current {
                        border: 1px solid #2C7BE5;
                        color: #2C7BE5;

                        &.active,
                        &:hover,
                        &:active,
                        &:focus {
                            border: 1px solid #2C7BE5;
                            background-color: #FFFFFF;
                            color: #2C7BE5;
                            font-weight: normal;
                        }
                    }
                }
            }
        }


    }

    &-reschedule {
        padding-inline: 24px;

        .required {
            &:after {
                content: "*";
                color: #E00000;
                margin-left: 6px;
            }
        }

        textarea {
            margin-block: 8px;
            height: 320px;
        }

        .form-text {
            font-size: 14px;
        }
    }

    &-results {
        padding-top: 20px;
    }

    &-details {
        padding-inline: 24px;

        & > div[class*="booking-details"] {
            margin-bottom: 12px;

            span {
                color: #3B516C;
                font-size: 15px;
                font-weight: 400;
            }
        }

        & > div[class*="booking-breakdown"] {
            font-weight: 400;
            font-size: 15px;
            color: #12263F;
            margin-bottom: 8px;
        }

        .separator {
            width: 100%;
            height: 1px;
            background-color: #E3EBF6;
            margin-block: 24px;
        }
    }

    &-owner-details {
        font-size: 15px;
        font-weight: 400;
        padding: 0 24px 20px;

        .avatar {
            margin-right: 16px;
            width: 56px;
            height: 56px;
        }

        .owner {
            & > * {
                display: block;
            }

            h3 {
                font-weight: 600;
                color: #12263F;
                margin-bottom: 4px;
                font-size: 15px;
            }

            .name {
                color: #6E84A3;
                margin-bottom: 4px;
            }

            .duration {
                color: #6E84A3;
            }
        }

        .price {
            color: #2C7BE5;
            font-size: 18px;
            font-weight: bold;
            width: 150px;
            text-align: right;
        }

        .tutorial-thumbnail {
            position: relative;

            &:after {
                background: url("assets/img/service/booking/icon-play.svg") no-repeat scroll 0 0 transparent;
                width: 29px;
                height: 29px;
                position: absolute;
                content: "";
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }

    &-cancellation {
        padding: 0 24px 20px;

        &-title {
            font-weight: 600;
            font-size: 15px;
            color: #12263F;
        }

        &-reason {
            &-textarea {
                height: 0;
                padding: 11px 15px;
                border-radius: 6px;
                border: 1px solid #E4EBF6 !important;
                overflow-wrap: anywhere;
                white-space: pre-wrap;
                overflow-y: auto;
                overflow-x: hidden;
            }

            &-length {
                color: #B1C2D9;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
            }
        }

        .required {
            &:after {
                content: "*";
                color: #E00000;
                margin-left: 6px;
            }
        }
    }

    &-payment {
        padding: 0 24px 20px;

        &-title {
            font-weight: 600;
            font-size: 15px;
            color: #12263F;
            margin-bottom: 8px;
        }

        &-paypal,
        &-wechat,
        &-alipay {
            color: #12263F;
            margin-top: 24px;
        }

        &-select {
            & > div {
                border: 1px solid #E4EBF6;
                height: 70px;
                text-align: center;
                border-radius: 5px;
                vertical-align: middle;
                color: #12263F;
                flex: 1 0 21%;
                cursor: pointer;

                &.selected,
                &:hover,
                &:focus,
                &:active {
                    color: #2C7BE5;
                    border-color: #2C7BE5;
                    background-color: #EAF2FC;
                }
            }
        }

        &-form {
            .form-group {
                margin-bottom: 12px;

                label {
                    color: #12263F;
                    font-size: 15px;
                    font-weight: 600;
                    margin-bottom: 8px;
                }
            }
        }

        &-selected {
            margin-top: 12px;
        }

        .required {
            &:after {
                content: "*";
                color: #E00000;
                margin-left: 6px;
            }
        }

        .free-service {
            color: #12263F;

            h4 {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 4px;
            }

            p {
                margin: 0;
                font-size: 13px;
            }
        }
    }

    &-confirmation {
        margin-top: 60px;

        &-header {
            .title {
                color: #12263F;
                font-size: 20px;
                font-weight: 600;
                margin-top: 20px;
                margin-bottom: 6px;
            }

            .description {
                font-size: 15px;
                color: #6E84A3;
                margin-bottom: 24px;
                display: block;
            }
        }

        &-details {
            border-radius: 10px;
            max-width: 354px;
        }
    }
}
