<div class="modal-card card" [loader]="isLoading$ | async">
  <abp-modal-header [title]="title" [hideClose]="true"></abp-modal-header>
  <div class="card-body d-flex flex-column justify-content-start align-items-start w-100">
    <ng-container *ngIf="isCancellation">
      <ng-container *ngIf="isBookingCancelled" [ngTemplateOutlet]="cancelBookingResults"></ng-container>
      <ng-container *ngIf="!isBookingCancelled" [ngTemplateOutlet]="cancelBookingForm"></ng-container>
    </ng-container>
    <ng-container *ngIf="!isCancellation">
      <ng-container [ngSwitch]="step">
        <ng-container *ngSwitchCase="1">
          <div class="booking-schedule d-flex flex-grow-1 w-100p">
            <div class="booking-left-content flex-shrink-0 border-right d-flex flex-column">
              <full-calendar #calendar [options]="calendarOptions"></full-calendar>
              <div class="booking-left-content-timezone d-flex align-items-center mt-auto">
                <img src="assets/img/service/booking/icon-globe.svg" alt="Timezone">
                <span class="timezone">UK, Iremand, Lisbon Time</span>
                <span class="change-timezone">{{ 'Change' | localize | titlecase }}</span>
              </div>
            </div>
            <div class="booking-right-content ml-auto">
              <div class="booking-owner-details d-flex align-items-center border-bottom">
                <div class="avatar avatar-lg flex-shrink-0">
                  <img [src]="coachAvatar" [alt]="coachName" class="avatar-img rounded-circle"/>
                </div>
                <div class="owner">
                  <h3>{{ serviceName | titlecase }}</h3>
                  <span class="name">{{ coachName }}</span>
                  <div class="duration d-flex gap-6">
                    <img src="assets/img/service/booking/icon-duration-2.svg" alt="Duration">
                    <span>30 mins</span>
                  </div>
                </div>
                <div class="price ml-auto">
                  {{ servicePrice | currency : 'GBP' }}
                </div>
              </div>
              <div class="booking-right-content-schedules">
                <ng-container *ngIf="!!selectedSchedule else noSchedule">
                  <div *ngIf="isMorningSessionAvailable" class="booking-schedules booking-right-content-schedules-morning">
                    <h3>{{ 'Morning' | localize | uppercase }}</h3>
                    <div class="booking-schedules-lists d-flex align-items-center flex-wrap gap-10">
                      <div class="item" [class.current]="isCurrentBookingTime(time)"
                           [class]="timeSelectionClass(time)" *ngFor="let time of selectedSessions.morning"
                           (click)="onSelectTime(time)">{{ time }}
                      </div>
                    </div>
                  </div>
                  <div *ngIf="isAfternoonSessionAvailable" class="booking-schedules booking-right-content-schedules-afternoon">
                    <h3>{{ 'Afternoon' | localize | uppercase }}</h3>
                    <div class="booking-schedules-lists d-flex align-items-center flex-wrap gap-10">
                      <div class="item" [class.current]="isCurrentBookingTime(time)"
                           [class]="timeSelectionClass(time)" *ngFor="let time of selectedSessions.afternoon"
                           (click)="onSelectTime(time)">{{ time }}
                      </div>
                    </div>
                  </div>
                  <div *ngIf="isEveningSessionAvailable" class="booking-schedules booking-right-content-schedules-evening">
                    <h3>{{ 'Evening' | localize | uppercase }}</h3>
                    <div class="booking-schedules-lists d-flex align-items-center flex-wrap gap-10">
                      <div class="item" [class.current]="isCurrentBookingTime(time)"
                           [class]="timeSelectionClass(time)" *ngFor="let time of selectedSessions.evening"
                           (click)="onSelectTime(time)">{{ time }}
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="2">
          <div class="booking-schedule d-flex flex-grow-1 w-100p">
            <div class="booking-left-content flex-shrink-0 border-right d-flex flex-column">
              <div class="booking-results" [ngSwitch]="serviceType">
                <ng-container *ngSwitchCase="'coaching'" [ngTemplateOutlet]="coachingTemplate" [ngTemplateOutletContext]="{ pricing: true }"></ng-container>
                <ng-container *ngSwitchCase="'course'" [ngTemplateOutlet]="courseTemplate" [ngTemplateOutletContext]="{ pricing: true }"></ng-container>
                <ng-container *ngSwitchCase="'broadcast'" [ngTemplateOutlet]="eventTemplate" [ngTemplateOutletContext]="{ pricing: true }"></ng-container>
                <ng-container *ngSwitchCase="'workshop'" [ngTemplateOutlet]="eventTemplate" [ngTemplateOutletContext]="{ pricing: true }"></ng-container>
                <ng-container *ngSwitchCase="'article'" [ngTemplateOutlet]="articleTemplate" [ngTemplateOutletContext]="{ pricing: true }"></ng-container>
                <ng-container *ngSwitchCase="'tutorial'" [ngTemplateOutlet]="tutorialTemplate" [ngTemplateOutletContext]="{ pricing: true }"></ng-container>
              </div>
            </div>
            <div class="booking-right-content ml-auto">
              <div class="booking-payment">
                <div *ngIf="!rescheduleBooking else rescheduleTemplate">
                  <h3 class="booking-payment-title required">Payment method</h3>
                  <div class="booking-payment-select d-flex align-items-center gap-16">
                    <div *ngFor="let payment of PaymentMethod | enumToArray | keyvalue"
                         class="d-flex align-items-center justify-content-center"
                         [class.selected]="payment.key == defaultPaymentMethod"
                         (click)="defaultPaymentMethod = PaymentMethod[payment.value]"
                    >
                      {{ paymentMethodNames[payment.key] }}
                    </div>
                  </div>

                  <div class="booking-payment-selected" [ngSwitch]="defaultPaymentMethod">
                    <ng-container *ngSwitchCase="PaymentMethod.CreditCard">
                      <div class="booking-payment-credit">
                        <form class="booking-payment-form">
                          <div class="form-group">
                            <label class="required">Name on card</label>
                            <input type="text" class="form-control" name="nameOnCard" placeholder="Marry Potter" ngModel required>
                          </div>
                          <div class="form-group">
                            <label class="required">Card number</label>
                            <input type="text" class="form-control" name="cardNumber" [mask]="'0000 0000 0000 0000'" placeholder="0000 0000 0000 0000" ngModel required>
                          </div>
                          <div class="d-flex gap-16 w-100">
                            <div class="form-group flex-grow-1">
                              <label class="required">Expiration date</label>
                              <input type="text" class="form-control" name="expirationDate" [mask]="'00/00'" placeholder="MM/YY" ngModel required>
                            </div>
                            <div class="form-group flex-grow-1">
                              <label class="required">Security number</label>
                              <input type="text" class="form-control" name="securityNumber" [mask]="'000'" placeholder="000" ngModel required>
                            </div>
                          </div>
                        </form>
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="PaymentMethod.Paypal">
                      <div class="booking-payment-paypal w-100 text-center">
                        {{ 'PaypalPaymentText' | localize }}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="PaymentMethod.WeChat">
                      <div class="booking-payment-wechat w-100 text-center d-flex flex-column gap-24">
                        {{ 'WechatPaymentText' | localize }}
                        <div>
                          <img src="assets/img/service/booking/wechat.svg" alt="">
                        </div>
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <div class="booking-payment-alipay w-100 text-center d-flex flex-column gap-24">
                        {{ 'AlipayPaymentText' | localize }}
                        <div>
                          <img src="assets/img/service/booking/alipay.svg" alt="">
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="3">
          <div class="booking-schedule d-flex justify-content-center flex-grow-1 w-100p">
            <div class="booking-confirmation d-flex flex-column gap-24">
              <div [ngSwitch]="paymentStatus" class="booking-confirmation-header text-center">
                <ng-container *ngSwitchCase="PaymentStatus.Success">
                  <img src="assets/img/service/booking/icon-successful.svg" alt="">
                  <h3 class="title">{{ paymentSuccessTitle }}</h3>
                  <span class="description">{{ paymentSuccessMessage }}</span>
                  <div class="booking-confirmation-buttons d-flex gap-10 align-items-center justify-content-center">
                    <button type="button" class="btn btn-outline-secondary">{{ 'GoToSchedule' | localize }}</button>
                    <button type="button" class="btn btn-primary" (click)="onCloseModal()">{{ 'Close' | localize }}</button>
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="PaymentStatus.Fail">
                  <img src="assets/img/service/booking/icon-unsuccessful.svg" alt="">
                  <h3 class="title">{{ 'PaymentUnsuccessful' | localize }}</h3>
                  <span class="description">{{ 'CheckPaymentAndTryAgain' | localize }}</span>
                  <div class="booking-confirmation-buttons d-flex gap-10 align-items-center justify-content-center">
                    <button type="button" class="btn btn-outline-secondary" (click)="onCloseModal()">{{ 'Cancel' | localize }}</button>
                    <button type="button" class="btn btn-primary" (click)="onSteps(isPurchase ? 2 : 1)">{{ 'TryAgain' | localize }}</button>
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="PaymentStatus.Reschedule">
                  <img src="assets/img/service/booking/icon-successful.svg" alt="">
                  <h3 class="title">{{ 'SessionRescheduled' | localize }}</h3>
                  <span class="description">{{ 'SessionUpdated' | localize }}</span>
                  <div class="booking-confirmation-buttons d-flex gap-10 align-items-center justify-content-center">
                    <button type="button" class="btn btn-outline-secondary" (click)="gotoSchedule()">{{ 'GoToSchedule' | localize }}</button>
                    <button type="button" class="btn btn-primary" (click)="onCloseModal()">{{ 'Close' | localize }}</button>
                  </div>
                </ng-container>

              </div>
              <div class="booking-confirmation-details border">
                <div class="booking-results" [ngSwitch]="serviceType">
                  <ng-container *ngSwitchCase="'coaching'" [ngTemplateOutlet]="coachingTemplate" [ngTemplateOutletContext]="{ pricing: false }"></ng-container>
                  <ng-container *ngSwitchCase="'course'" [ngTemplateOutlet]="courseTemplate" [ngTemplateOutletContext]="{ pricing: false }"></ng-container>
                  <ng-container *ngSwitchCase="'broadcast'" [ngTemplateOutlet]="eventTemplate" [ngTemplateOutletContext]="{ pricing: false }"></ng-container>
                  <ng-container *ngSwitchCase="'workshop'" [ngTemplateOutlet]="eventTemplate" [ngTemplateOutletContext]="{ pricing: false }"></ng-container>
                  <ng-container *ngSwitchCase="'article'" [ngTemplateOutlet]="articleTemplate" [ngTemplateOutletContext]="{ pricing: false }"></ng-container>
                  <ng-container *ngSwitchCase="'tutorial'" [ngTemplateOutlet]="tutorialTemplate" [ngTemplateOutletContext]="{ pricing: false }"></ng-container>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <div *ngIf="step !== 3" class="card-footer d-flex justify-content-end align-items-center gap-10">
    <ng-container *ngIf="!isPurchase else purchaseFooterButtons">
      <div class="card-footer-steps text-uppercase mr-auto">
        {{ l('Steps', step, totalSteps) }}
      </div>
      <button type="button" class="btn btn-outline-secondary" (click)="onCloseModal()">{{ 'Cancel' | localize }}</button>
      <button *ngIf="stepOne" [disabled]="!isValidFirstStep" class="btn btn-primary" (click)="onSteps(2)">{{ 'Continue' | localize }}</button>
      <button *ngIf="stepOneCancellation" class="btn btn-primary" (click)="onProcessCancellation()">{{ 'Confirm' | localize }}</button>
      <button *ngIf="step2Reschedule" [disabled]="!rescheduleReason?.length" type="button" class="btn btn-primary" (click)="onProcessReschedule()">{{ 'Reschedule' | localize }}</button>
      <button *ngIf="step2Paypal" type="button" class="btn btn-primary" (click)="onProcessPayment()">{{ 'Continue' | localize }}</button>
      <button *ngIf="step2CC" type="button" class="btn btn-primary" (click)="onProcessPayment()">{{ 'Pay' | localize }}</button>
    </ng-container>
  </div>
</div>

<ng-template #noSchedule>
  <div class="text-center w-100 text-muted p-2">{{ 'NoScheduleAvailable' | localize }}</div>
</ng-template>

<ng-template #purchaseFooterButtons>
  <button type="button" class="btn btn-outline-secondary" (click)="onCloseModal()">{{ 'Cancel' | localize }}</button>
  <button type="button" class="btn btn-primary" (click)="onProcessPayment()">{{ 'Pay' | localize }}</button>
</ng-template>

<ng-template #rescheduleTemplate>
  <div class="booking-reschedule">
    <div class="form-group">
      <label class="required">Reason for rescheduling</label>
      <textarea class="form-control" [maxlength]="150" [(ngModel)]="rescheduleReason" placeholder="Start typing your reason for rescheduling"></textarea>
      <span class="form-text text-muted text-right">{{ rescheduleReasonLimit }}</span>
    </div>
  </div>
</ng-template>

<ng-template #cancelBookingResults>
  <div class="booking-schedule d-flex justify-content-center flex-grow-1 w-100p">
    <div class="booking-confirmation d-flex flex-column gap-24">
      <div [ngSwitch]="paymentStatus" class="booking-confirmation-header text-center">
        <img src="assets/img/service/booking/icon-successful.svg" alt="">
        <h3 class="title">{{ 'Session cancelled' | localize }}</h3>
        <span class="description">{{ 'Your session with ' + coachFirstName + ' has been cancelled' }}</span>
        <div class="booking-confirmation-buttons d-flex gap-10 align-items-center justify-content-center">
          <button type="button" class="btn btn-primary" (click)="onCloseModal()">{{ 'Close' | localize }}</button>
        </div>
      </div>
      <div class="booking-confirmation-details border">
        <div class="booking-results">
          <div class="booking-owner-details d-flex align-items-center">
            <div class="avatar avatar-lg flex-shrink-0">
              <img [src]="coachAvatar" [alt]="coachName" class="avatar-img rounded-circle"/>
            </div>
            <div class="owner">
              <h3>{{ serviceName | titlecase }}</h3>
              <span class="name">{{ coachName }}</span>
            </div>
          </div>
          <div class="booking-details">
            <div class="booking-details-duration d-flex align-items-start gap-6">
              <img src="assets/img/service/booking/icon-duration.svg" alt="Timezone">
              <span class="timezone"><del>30 mins</del></span>
            </div>
            <div class="booking-details-schedule d-flex align-items-start gap-6">
              <img src="assets/img/service/booking/icon-calendar.svg" alt="Timezone">
              <span class="timezone"><del>{{ existingBookingSchedule }}</del></span>
            </div>
            <div class="booking-details-timezone d-flex align-items-start gap-6">
              <img src="assets/img/service/booking/icon-globe.svg" alt="Timezone">
              <span class="timezone"><del>UK, Iremand, Lisbon Time</del></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #cancelBookingForm>
  <div class="booking-schedule d-flex flex-grow-1 w-100p">
    <div class="booking-left-content flex-shrink-0 border-right d-flex flex-column">
      <div class="booking-results">
        <div class="booking-owner-details d-flex align-items-center">
          <div class="avatar avatar-lg flex-shrink-0">
            <img [src]="coachAvatar" [alt]="coachName" class="avatar-img rounded-circle"/>
          </div>
          <div class="owner">
            <h3>{{ serviceName | titlecase }}</h3>
            <span class="name">{{ coachName }}</span>
          </div>
        </div>
        <div class="booking-details">
          <div class="booking-details-duration d-flex align-items-start gap-6">
            <img src="assets/img/service/booking/icon-duration.svg" alt="Timezone">
            <span class="timezone">30 mins</span>
          </div>
          <div class="booking-details-schedule d-flex align-items-start gap-6">
            <img src="assets/img/service/booking/icon-calendar.svg" alt="Timezone">
            <span class="timezone">{{ existingBookingSchedule }}</span>
          </div>
          <div class="booking-details-timezone d-flex align-items-start gap-6">
            <img src="assets/img/service/booking/icon-globe.svg" alt="Timezone">
            <span class="timezone">UK, Iremand, Lisbon Time</span>
          </div>
          <div class="separator"></div>
          <div class="booking-breakdown-price d-flex align-items-center">
            <span>Cancellation fee</span>
            <span class="ml-auto">{{ cancellationPrice | currency : 'GBP' }}</span>
          </div>
          <div class="booking-breakdown-total d-flex align-items-center">
            <span class="font-weight-bold">Refund due</span>
            <span class="ml-auto font-weight-bold text-primary">{{ servicePrice | currency : 'GBP' }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="booking-right-content ml-auto">
      <div class="booking-cancellation d-flex flex-column justify-content-center align-items-start gap-8 h-100">
        <h3 class="booking-cancellation-title required m-0">Reason for cancelling</h3>
        <div class="booking-cancellation-reason flex-grow-1 d-flex flex-column justify-content-center align-items-end gap-4 w-100">
          <div
            #cancellationReasonEl
            class="booking-cancellation-reason-textarea flex-grow-1 w-100 with-placeholder slick-scroll"
            contenteditable="true"
            data-placeholder="Write your reason here"
          ></div>
          <div class="booking-cancellation-reason-length">
            {{ cancellationReasonLength }}/150
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #priceDetails>
  <ng-container *ngIf="!rescheduleBooking">
    <div class="separator"></div>
    <div class="booking-breakdown-price d-flex align-items-center">
      <span>Original Price</span>
      <span class="ml-auto">{{ servicePrice | currency : 'GBP' }}</span>
    </div>
    <div class="booking-breakdown-discount d-flex align-items-center">
      <span>Discount</span>
      <span class="ml-auto">-￡0.00</span>
    </div>
    <div class="booking-breakdown-total d-flex align-items-center">
      <span class="font-weight-bold">Total</span>
      <span class="ml-auto font-weight-bold text-primary">{{ servicePrice | currency : 'GBP' }}</span>
    </div>
  </ng-container>
</ng-template>

<ng-template #coachingTemplate let-pricing="pricing">
  <div class="booking-owner-details d-flex align-items-center">
    <div class="avatar avatar-lg flex-shrink-0">
      <img [src]="coachAvatar" [alt]="coachName" class="avatar-img rounded-circle"/>
    </div>
    <div class="owner">
      <h3>{{ serviceName | titlecase }}</h3>
      <span class="name">{{ coachName }}</span>
    </div>
  </div>
  <div class="booking-details">
    <div class="booking-details-duration d-flex align-items-start gap-6">
      <img src="assets/img/service/booking/icon-duration.svg" alt="Timezone">
      <span class="timezone">30 mins</span>
    </div>
    <div class="booking-details-schedule d-flex align-items-start gap-6">
      <img src="assets/img/service/booking/icon-calendar.svg" alt="Timezone">
      <span class="timezone">{{ bookingSchedule }}</span>
    </div>
    <div class="booking-details-timezone d-flex align-items-start gap-6">
      <img src="assets/img/service/booking/icon-globe.svg" alt="Timezone">
      <span class="timezone">UK, Iremand, Lisbon Time</span>
    </div>
    <ng-container *ngIf="pricing" [ngTemplateOutlet]="priceDetails"></ng-container>
  </div>
</ng-template>

<ng-template #courseTemplate let-pricing="pricing">
  <div class="booking-owner-details d-flex align-items-start gap-16">
    <div class="flex-shrink-0">
      <img src="assets/img/service/booking/service-image-placeholder.png" alt="..." class="rounded"/>
    </div>
    <div class="owner flex-grow-1">
      <h3>{{ serviceName | titlecase }}</h3>
      <span class="name">{{ coachName }}</span>
    </div>
  </div>
  <div class="booking-details">
    <div class="booking-details-modules d-flex align-items-start gap-6">
      <img src="assets/img/service/booking/icon-modules.svg" alt="Timezone">
      <span>3 modules, 20 lessons</span>
    </div>
    <div class="booking-details-schedule d-flex align-items-start gap-6">
      <img src="assets/img/service/booking/icon-calendar.svg" alt="Timezone">
      <span class="timezone">16:00am - 18:00pm, Wednesday, February 16, 2025</span>
    </div>
    <ng-container *ngIf="pricing" [ngTemplateOutlet]="priceDetails"></ng-container>
  </div>
</ng-template>

<ng-template #eventTemplate let-pricing="pricing">
  <div class="booking-owner-details d-flex align-items-start gap-16">
    <div class="flex-shrink-0">
      <img src="assets/img/service/booking/service-image-placeholder-2.png" alt="..." class="rounded"/>
    </div>
    <div class="owner flex-grow-1">
      <h3>{{ serviceName | titlecase }}</h3>
      <span class="name">{{ coachName }}</span>
    </div>
  </div>
  <div class="booking-details">
    <div class="booking-details-duration d-flex align-items-start gap-6">
      <img src="assets/img/service/booking/icon-duration.svg" alt="Timezone">
      <span class="timezone">2 hours</span>
    </div>
    <div class="booking-details-schedule d-flex align-items-start gap-6">
      <img src="assets/img/service/booking/icon-calendar.svg" alt="Timezone">
      <span class="timezone">16:00am - 18:00pm, Wednesday, February 16, 2025</span>
    </div>
    <div class="booking-details-timezone d-flex align-items-start gap-6">
      <img src="assets/img/service/booking/icon-globe.svg" alt="Timezone">
      <span class="timezone">UK, Iremand, Lisbon Time</span>
    </div>
    <ng-container *ngIf="pricing" [ngTemplateOutlet]="priceDetails"></ng-container>
  </div>
</ng-template>

<ng-template #articleTemplate let-pricing="pricing">
  <div class="booking-owner-details d-flex align-items-start gap-16">
    <div class="owner flex-grow-1">
      <h3>{{ serviceName | titlecase }}</h3>
      <span class="name">{{ coachName }}</span>
    </div>
  </div>
  <div class="booking-details">
    <div class="booking-details-duration d-flex align-items-start gap-6">
      <img src="assets/img/service/booking/icon-duration.svg" alt="Timezone">
      <span class="timezone">4 mins read</span>
    </div>
    <ng-container *ngIf="pricing" [ngTemplateOutlet]="priceDetails"></ng-container>
  </div>
</ng-template>

<ng-template #tutorialTemplate let-pricing="pricing">
  <div class="booking-owner-details d-flex align-items-start gap-16">
    <div class="flex-shrink-0 tutorial-thumbnail">
      <img src="assets/img/service/booking/service-image-placeholder.png" alt="..." class="rounded"/>
    </div>
    <div class="owner flex-grow-1">
      <h3>{{ serviceName | titlecase }}</h3>
      <span class="name">{{ coachName }}</span>
    </div>
  </div>
  <div class="booking-details">
    <div class="booking-details-schedule d-flex align-items-start gap-6">
      <img src="assets/img/service/booking/icon-video.svg" alt="Video">
      <span class="timezone">10 Videos</span>
    </div>
    <div class="booking-details-duration d-flex align-items-start gap-6">
      <img src="assets/img/service/booking/icon-duration.svg" alt="Timezone">
      <span class="timezone">4 hrs 21 mins</span>
    </div>
    <ng-container *ngIf="pricing" [ngTemplateOutlet]="priceDetails"></ng-container>
  </div>
</ng-template>
