<ul *ngIf="content.sections && content.sections.length else noSelectedPageComponent" class="list-group list-group-sm"
  dragula="EDITOR_SECTIONS" [(dragulaModel)]="content.sections">
  <li (click)="$event.preventDefault(); onSelectContent(section);" *ngFor="let section of content.sections"
    class="list-group-item cursor-pointer">
    <a href="#">{{ section.name }} ({{ section.components.length }})</a>
  </li>
</ul>
<ng-template #noSelectedPageComponent>
  <div class="no-content">
    <p class="p-0 m-0 text-center">{{ 'NoContentYet' | localize }}</p>
  </div>
</ng-template>
