<div [@routerTransition]>
  <div class="header">
    <div class="container-fluid p-0">
      <div class="header-body">
        <app-carousel [items]="featured" [isInfiteScroll]="false" [isLoading]="isLoading" [isFeatured]="true" [circular]="true"></app-carousel>

        <ng-container *ngIf="popular?.items?.length">
          <div class="row align-items-center">
            <div class="col d-flex flex-wrap gap-15">
              <h3>Popular</h3>
            </div>
          </div>
          <div class="row align-items-center mb-5">
            <div class="col d-flex flex-wrap gap-27">
              <app-service-card *ngFor="let d of popular?.items; trackBy:d?.id" [data]="d" [isLoading]="isPopularLoading"></app-service-card>
              <div class="flex-break"></div>
              <div class="btn btn-block btn-white flex-grow-1" *ngIf="showPopularShowMoreButton" (click)="onShowMorePopularButtonClick()">Show More</div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="latest?.items?.length">
          <div class="row align-items-center">
            <div class="col d-flex flex-wrap gap-15">
              <h3>Latest</h3>
            </div>
          </div>
          <div class="row align-items-center mb-5">
            <div class="col d-flex flex-wrap gap-27">
              <app-service-card *ngFor="let d of latest?.items; trackBy:d?.id" [data]="d" [isLoading]="isLoading"></app-service-card>
              <div class="flex-break"></div>
              <div class="btn btn-block btn-white flex-grow-1" *ngIf="showLastestShowMore" (click)="onShowMoreLatestButtonClick()">Show More</div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="lastMonth?.items?.length">
          <div class="row align-items-center">
            <div class="col d-flex flex-wrap gap-15">
              <h3>Last Month</h3>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col d-flex flex-wrap gap-27">
              <app-service-card *ngFor="let d of lastMonth?.items" [data]="d" [isLoading]="isLoading"></app-service-card>
              <div class="flex-break"></div>
              <div class="btn btn-block btn-white flex-grow-1" *ngIf="showLastMonthShowMoreButton" (click)="onShowMoreLastMonthButtonClick()">Show More</div>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
  </div>
</div>
