<div class="card">
  <div class="card-header">
    <h4 class="card-header-title">
      {{ 'Conversion' | localize }}
    </h4>
  </div>
  <div class="card-body">
    <div class="position-relative">
      <canvas class="chart-canvas overview-chart" chart [chartSettings]="chartSettings">
      </canvas>
    </div>

    <div class="d-flex justify-content-center align-items-center mt-3">
      <span _ngcontent-ivi-c192="" class="text-primary chart-dot">●</span>&nbsp;
      {{ 'PlaysVsVisits' | localize }}
    </div>
  </div>
</div>
