<app-search
    [data]="topicValues"
    [options]="{ sortable: true }"
    [sortOptions]="sortOptions"
    [itemTemplate]="topicItemTemplate"
    [itemLoadingTemplate]="topicItemLoadingTemplate"
    [loading]="isAllowLoading && isLoading"
    (onSearch)="handleOnSearch($event)"
    (onSort)="handleOnSort($event)"
></app-search>
<ng-template #topicItemTemplate let-item="item">
    <div class="topic-row d-flex flex-row">
        <div class="topic-row-left d-flex flex-column flex-grow-1 justify-content-center gap-0">
            <div class="topic-row-left-name">#{{ item.name }}</div>
            <div class="topic-row-left-followers">{{ 'Community.Topics.Followers' | localize: (item.followerCount | shortNum: 1)  }}</div>
        </div>
        <div class="topic-row-right d-flex flex-row align-items-center gap-10">
            <ng-container *ngIf="isShowFollowButtons(item)">
                <button class="btn btn-md btn-light" (click)="handleOnRemove(item)" [disabled]="topicInFocus === item.id && isLoading">
                    {{ 'Remove' | localize }}
                </button>
                <button class="btn btn-md btn-primary" (click)="handleOnFollow(item)" [disabled]="topicInFocus === item.id && isLoading">
                    {{ 'Follow' | localize }}
                </button>
            </ng-container>
            <ng-container *ngIf="isShowFollowingButtons(item)">
                <button class="btn btn-md btn-primary following border-0" (click)="handleOnUnfollow(item)" [disabled]="topicInFocus === item.id && isLoading">
                    {{ 'Following' | localize }}
                    <i class="fe fe-check" role="status" aria-hidden="true"></i>
                </button>
            </ng-container>
        </div>
    </div>
</ng-template>

<ng-template #topicItemLoadingTemplate>
  <div class="topic-row d-flex flex-row">
      <div class="topic-row-left d-flex flex-column flex-grow-1 justify-content-center gap-5">
          <div class="box-shimmer-bar"  [style.width.%]="55" [style.height.px]="18"></div>
          <div class="box-shimmer-bar"  [style.width.%]="15" [style.height.px]="6"></div>
      </div>
      <div class="topic-row-right d-flex flex-row align-items-center gap-20">
          <div class="box-shimmer-bar"  [style.width.px]="120" [style.height.px]="40"></div>
          <div class="box-shimmer-bar action"  [style.width.px]="120" [style.height.px]="40"></div>
      </div>
  </div>
</ng-template>
