<app-search
    [data]="data"
    [options]="{ sortable: true, maxItems: 4 }"
    [itemTemplate]="topicItemTemplate"
    [itemLoadingTemplate]="topicItemLoadingTemplate"
    [loading]="loading"
    (onSearch)="handleOnSearch($event)"
></app-search>

<ng-template #topicItemTemplate let-item="item">
    <div class="topic-row">
      {{ item.name }}
    </div>
</ng-template>

<ng-template #topicItemLoadingTemplate let-item="item">
  <div class="topic-row d-flex flex-row">
      <div class="topic-row-left d-flex flex-column flex-grow-1 justify-content-center gap-5">
          <div class="box-shimmer-bar"  [style.width.%]="55" [style.height.px]="18"></div>
          <div class="box-shimmer-bar"  [style.width.%]="15" [style.height.px]="6"></div>
      </div>
      <div class="topic-row-right d-flex flex-row align-items-center gap-20">
          <div class="box-shimmer-bar"  [style.width.px]="120" [style.height.px]="40"></div>
          <div class="box-shimmer-bar action"  [style.width.px]="120" [style.height.px]="40"></div>
      </div>
  </div>
</ng-template>
