::ng-deep {
    .search {
        .card-header {
            max-height: 56px;
        }
    }
}

.broadcast,
.coaching,
.course,
.article,
.tutorial,
.workshop {
    font-size: 15px;

    &-date {
        font-size: 24px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        width: 70px;

        .day {
            color: #12263F;
        }

        .month {
            color: #2C7BE5;
        }
    }

    &-major-participants {
        width: 80px;

        &.is-creator {
            .avatar {
                &.tutor {
                    top: 0;
                    left: 0;
                    bottom: unset;
                    right: unset;
                    z-index: 1;
                }

                &.student {
                    bottom: 0;
                    right: 0;
                    top: unset;
                    left: unset;
                    z-index: 2;
                }

            }
        }

        .avatar {
            width: 55px;
            height: 55px;
            background-color: #fff;
            border-radius: 50% !important;
            border: 2px solid #fff;
            overflow: hidden;
            position: absolute;

            &.tutor {
                bottom: 0;
                right: 0;
                top: unset;
                left: unset;
                z-index: 2;
            }

            &.student {
                top: 0;
                left: 0;
                bottom: unset;
                right: unset;
                z-index: 1;
            }
        }
    }

    &-thumbnail {
        &-wrapper {
            .avatar {
                width: 8.125rem;
                height: 5.188rem;
            }
        }

        &-preview {
            position: absolute;
            top: 0;
            left: 0;

            .video {
                &-play {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 44px;
                    height: 44px;
                    opacity: 0.7;
                }

                &-duration {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    background-color: white;
                    color: #617FA9;
                    width: 65px;
                    height: 18px;
                    padding: 0 6px 0 10px;
                    border-top-left-radius: 15px;

                    &-play {
                        font-size: 8px;
                    }
                }
            }
        }
    }

    &-progress {
        margin-bottom: 0.313rem;
    }

    &.archive {
        .heading, .title, .info, .info-preview {
            color: #6E84A3;
        }

        .learners, .organizer, .role, .coach, .student {
            color: #6E84A3;
        }
    }

    &-heading {
        color: #2C7BE5;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.75px;
        text-transform: uppercase;
        margin-bottom: 0.313rem;

        &.cancelled {
            text-decoration: line-through;
        }
    }

    &-title {
        font-size: 18px;
        color: #12263F;
        margin-bottom: 5px;
    }

    &-info {
        color: #3B516C;
        margin-bottom: 0.313rem;

        &-duration {
            color: #3B516C;
            margin-bottom: 0.313rem;
        }

        &-preview {
            margin-bottom: 0.313rem;
        }
    }

    &-status {
        color: #6E84A3;

        .text-primary {
            &.broadcast,
            &.workshop {
                color: #6E84A3 !important;
            }
        }

        .icon {
            background-image: url(/assets/img/status/completed.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 0.625rem;
        }

        .learners, .organizer, .role, .coach, .student {
            color: #12263F;
        }

        & > span {
            &.has-separator::after {
                content: "";
                height: 12px;
                width: 1px;
                background-color: #D2DDEC;
                display: inline-block;
                margin-left: 10px;
                vertical-align: middle;
                margin-top: -3px;
            }

            .avatar-group {
                .avatar{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    &-actions {
        min-width: 23.2112%;
        max-width: 100%;
        position: relative;

        &:before {
            content: '';
            background-color: #D2DDEC;
            width: 1px;
            height: 62px;
            position: absolute;
            left: 0;
            bottom: auto;
            top: auto;
        }

        .btn {
            &:focus,
            &:active {
                outline: 0 !important;
                box-shadow: 0 0 0;
            }

            &.read {
                span {
                    background-image: url("/assets/img/actions/read.svg");

                    &:hover {
                        background-image: url("/assets/img/actions/read-hover.svg");
                    }
                }
            }

            &.review {
                span {
                    background-image: url("/assets/img/actions/review.svg");

                    &:hover {
                        background-image: url("/assets/img/actions/review-hover.svg");
                    }
                }
            }

            &.join {
                span {
                    background-image: url("/assets/img/actions/join.svg");

                    &:hover {
                        background-image: url("/assets/img/actions/join-hover.svg");
                    }
                }
            }

            &.play {
                span {
                    background-image: url("/assets/img/actions/play_2.svg");

                    &:hover {
                        background-image: url("/assets/img/actions/play_2-hover.svg");
                    }
                }
            }

            &.book {
                span {
                    background-image: url("/assets/img/actions/book.svg");

                    &:hover {
                        background-image: url("/assets/img/actions/book-hover.svg");
                    }
                }
            }

            &.buy {
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 0%;
                letter-spacing: -0.15px;
                background-color: #2C7BE5;
                color: white;
            }

            span {
                width: 53px;
                height: 53px;
            }
        }
    }

    &-options {
        position: absolute;
        right: 24px;
        top: auto;
        bottom: auto;
    }

    &.overview-page {
        margin-bottom: 0;
        border-radius: 0;
        box-shadow: 0 0 0;
        border: 0;

        .card-body {
            padding: 1.5rem 0;
        }
    }
}

.coaching {
    &-thumbnail {
        &-preview {
            .avatar {
                display: block !important;
                width: 38px !important;
                height: 38px !important;
                border-radius: 50% !important;
                position: absolute;
                right: -5px;
                bottom: -5px;
                background-color: #fff;
                border: 2px solid #fff;
                overflow: hidden;
            }
        }
    }
}

.broadcast,
.coaching,
.workshop {
    &-thumbnail {
        &-wrapper {
            .avatar {
                width: 83px;
                height: 83px;
                img {
                    border-radius: 10px !important;
                }
            }
        }
    }
}
