.course,
.article {
    font-size: 15px;

    &-thumbnail-wrapper {
        .avatar {
            width: 8.125rem;
            height: 5.125rem;
        }
    }

    &-progress {
        width: 97%;
        margin-bottom: 0.313rem;
    }

    &.archive {
        .title {
            color: #6E84A3;
        }
    }

    &-title {
        font-size: 18px;
        color: #12263F;
        margin-bottom: 0.313rem;
    }

    &-info {
        color: #3B516C;
        margin-bottom: 0.625rem;
    }

    &-status {
        color: #6E84A3;

        .icon {
            background-image: url("/assets/img/status/completed.svg");
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 0.625rem;
        }

        & > span {
            padding: 0 0.625rem 0 0;

            &:before {
                content: "";
                height: 12px;
                width: 1px;
                background-color: #D2DDEC;
                display: inline-block;
                margin-right: 0.625rem;
                vertical-align: middle;
                margin-top: -3px;
            }

            &:first-child {
                &:before {
                    margin: 0;
                    width: 0;
                }
            }

            .avatar{
                width: 20px;
                height: 20px;
            }
        }
    }

    &-actions {
        min-width: 23.2112%;
        border-left: 1px solid #D2DDEC;

        .btn {
            &:focus,
            &:active {
                outline: 0 !important;
                box-shadow: 0 0 0;
            }

            &.read {
                span {
                    background-image: url("/assets/img/actions/read.svg");

                    &:hover {
                        background-image: url("/assets/img/actions/read-hover.svg");
                    }
                }
            }

            &.review {
                span {
                    background-image: url("/assets/img/actions/review.svg");

                    &:hover {
                        background-image: url("/assets/img/actions/review-hover.svg");
                    }
                }
            }

            &.join {
                span {
                    background-image: url("/assets/img/actions/join.svg");

                    &:hover {
                        background-image: url("/assets/img/actions/join-hover.svg");
                    }
                }
            }

            span {
                width: 53px;
                height: 53px;
            }
        }
    }
}
