
<div class="card custom-card-border" [ngClass]="cardType" [class.archive]="isArchive">
    <div class="card-body">
        <div class="row d-flex align-items-stretch gap-20" [ngSwitch]="cardType">
            <ng-container *ngSwitchCase="'article'">
                <div class="col">
                    <h3 [class]="cardType + '-title'">{{ name }}</h3>
                    <p [class]="cardType + '-description'">{{ description | shorten : 110 }}</p>
                    <div *ngIf="!isCreator" [class]="cardType + '-status'" class="d-flex align-items-center">
                        <span>Unread</span>
<!--                        <span><i class="icon completed"></i> You've read this</span>-->
                    </div>
                    <div *ngIf="isCreator" [class]="cardType + '-status'" class="d-flex align-items-center">
                        <span class="avatar-group d-none d-md-inline-flex">
                            <a href="#" class="avatar avatar-xs" data-bs-toggle="tooltip" aria-label="Ab Hadley" data-bs-original-title="Ab Hadley">
                                <img [src]="avatar" class="avatar-img rounded-circle" alt="...">
                            </a>
                            <a href="#" class="avatar avatar-xs" data-bs-toggle="tooltip" aria-label="Adolfo Hess" data-bs-original-title="Adolfo Hess">
                                <img [src]="avatar" class="avatar-img rounded-circle" alt="...">
                            </a>
                            <a href="#" class="avatar avatar-xs" data-bs-toggle="tooltip" aria-label="Daniela Dewitt" data-bs-original-title="Daniela Dewitt">
                                <img [src]="avatar" class="avatar-img rounded-circle" alt="...">
                            </a>
                        </span>
                        <span [class]="cardType + '-status-purchased'">20 Purchased</span>
<!--                        <span [class]="cardType + '-status-archive text-primary'">Archive</span>-->
                        <span [class]="cardType + '-status-published text-success'">Published</span>
<!--                        <span [class]="cardType + '-status-draft text-danger'">Draft</span>-->
                    </div>
                </div>
                <div *ngIf="!isCreator" [class]="cardType + '-actions'" class="col-auto my-auto d-flex justify-content-center">
                    <button class="read btn d-flex flex-column text-primary align-items-center gap-5 p-0">
                        <span class="block bg-center"></span> Read
                    </button>
<!--                    <button class="review btn d-flex flex-column text-primary align-items-center gap-5 p-0">-->
<!--                        <span class="block bg-center"></span> Review-->
<!--                    </button>-->
<!--                    <button class="read btn d-flex flex-column text-primary align-items-center gap-5 p-0">-->
<!--                        <span class="block bg-center"></span> Read again-->
<!--                    </button>-->
                </div>
                <div *ngIf="isCreator" class="col-auto my-auto">
                    <div class="dropdown">
                        <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-more-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" [routerLink]="['/app/articles/tutor-portal', id]">
                                {{ 'Overview' | localize }}
                            </a>
                            <a *ngIf="articleType === ArticleType.SingleArticle" href="javascript:void(0)" class="dropdown-item" [routerLink]="['/app/articles/', id]">
                                {{ 'Edit' | localize }}
                            </a>
                            <a *ngIf="articleType === ArticleType.ArticleSeries" href="javascript:void(0)" class="dropdown-item" [routerLink]="['/app/articles/article-series', id]">
                                {{ 'Edit' | localize }}
                            </a>
                            <a href="javascript:void(0)" class="dropdown-item" (click)="handleDelete(id)">
                                {{ 'Delete' | localize }}
                            </a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
