
<div [class]="'card ' + cardType" [ngClass]="{ 'overview-page': isOverview }" [class.archive]="isArchive || isExpired || isPast || isCancelled">
    <div class="card-body">
        <div class="d-flex" [ngSwitch]="cardType">

            <div *ngIf="sanitizedOptions?.isShowDate" [class]="cardType + '-date'" class="position-relative d-flex flex-column justify-content-center align-items-center" [style.margin-right.px]="20">
                <div class="day">{{ scheduleDay }}</div>
                <div class="month">{{ scheduleMonth }}</div>
            </div>

            <div *ngIf="isBooked && sanitizedOptions?.isShowMajorParticipants" [style.margin-right.px]="20" [class]="cardType + '-major-participants'" [class.is-creator]="isCreator" class="position-relative d-flex flex-column justify-content-center align-items-center">
                <a *ngIf="sanitized.owner.avatar.src" href="#" class="avatar avatar-xs tutor">
                    <img [src]="sanitized.owner.avatar.src" class="avatar-img rounded-circle" alt="...">
                </a>
                <a *ngIf="coachingStudentAvatarSrc" href="#" class="avatar avatar-xs student">
                    <img [src]="coachingStudentAvatarSrc" class="avatar-img rounded-circle" alt="...">
                </a>
            </div>

            <div *ngIf="sanitizedOptions?.isShowImages" [class]="cardType + '-thumbnail-wrapper'" class="position-relative" [style.margin-right.px]="20">
                <a href="javascript:void(0)" class="avatar avatar-lg avatar-4by3">
                    <img [src]="images[0].src" alt="..." class="avatar-img rounded">
                </a>

                <div *ngIf="this.sanitizedOptions?.isShowQuickPreview" [class]="cardType + '-thumbnail-preview'" class="d-flex align-items-center w-100 h-100">
                    <div *ngIf="composition?.videos" class="video d-flex align-items-center w-100 h-100">
                        <img src="../../../assets/img/actions/play.svg" class="video-play">
                        <div class="video-duration d-flex justify-content-start align-items-center gap-8">
                            <i class="fas fa-play video-duration-play"></i>
                            {{ compositionVideoDuration }}
                        </div>
                    </div>

                    <a *ngIf="sanitized?.owner?.avatar?.src" href="javascript:void(0)" class="avatar d-none">
                        <img [src]="sanitized.owner.avatar.src" alt="..." class="avatar-img">
                    </a>
                </div>
            </div>

            <div class="flex-grow-1 d-flex flex-column" [style.margin-right.px]="40">
                <div *ngIf="this.sanitizedOptions?.isShowHeading" [class]="cardType + '-heading heading'" [class.text-danger]="isScheduleNear && !isExpired" [class.cancelled]="isCancelled">
                    <span *ngIf="this.sanitizedOptions?.headingType === 'unbooked'" class="unbooked"> UNBOOKED </span>
                    <span *ngIf="this.sanitizedOptions?.headingType === 'location' && location" class="location">{{ location }}</span>
                    <span *ngIf="this.sanitizedOptions?.headingType === 'schedule' && schedule" class="schedule">{{ schedule }}</span>
                    <span *ngIf="this.sanitizedOptions?.isShowHeadingSlots" class="slots">{{ slotsCount }} {{ slotsUnit }} left</span>
                </div>

                <h3 [class]="cardType + '-title title'">{{ name }}</h3>
                <p *ngIf="sanitizedOptions?.isShowInfo" [class]="cardType + '-info info'"> {{ info | shorten : 90 }} </p>

                <p *ngIf="this.sanitizedOptions?.isShowDetailsComposition && !!compositionString && isCreator" [class]="cardType + '-info info'">
                    {{ compositionString }}
                </p>

                <p *ngIf="this.sanitizedOptions?.isShowQuickPreview && sessionDuration && isCreator" [class]="cardType + '-info-preview info-preview'">
                    <span *ngIf="composition?.sessions && composition?.durationInSec" class="coaching">
                        {{ sessionDuration }}
                    </span>
                </p>

                <div *ngIf="progress !== null && sanitizedOptions?.isShowProgress && !isCreator" [class]="cardType + '-progress'" class="row d-flex align-items-center g-0">
                    <div class="col">
                        <div class="progress progress-sm">
                            <div class="progress-bar" role="progressbar" [style.width.%]="progress"></div>
                        </div>
                    </div>
                    <div class="col-auto p-0">
                        <div class="small">{{ progress | round }}%</div>
                    </div>
                </div>

                <div *ngIf="!isCreator && status && status?.show" [class]="cardType + '-status'" class="d-flex align-items-center">
                    <ng-container [ngSwitch]="status.type">
                        <ng-container *ngSwitchCase="'unread'">
                            <span class="d-flex">{{ status?.label | localize }}</span>
                        </ng-container>
                        <ng-container *ngSwitchCase="'read'">
                            <span class="d-flex">{{ status?.label | localize }}</span>
                        </ng-container>
                        <ng-container *ngSwitchCase="'completed'">
                            <span class="d-flex mt-2"><i class="icon completed flex-grow-1"></i> {{ status?.label | localize }}</span>
                        </ng-container>
                        <ng-container *ngSwitchCase="'onprogress'">
                            <span class="d-flex"> {{ status?.label | localize }}</span>
                        </ng-container>
                    </ng-container>

                </div>

                <div [class]="cardType + '-status'" class="flex-grow-1 d-flex align-items-end gap-10">
                    <ng-container *ngIf="isDraft else notDraft">
                        <span class="text-danger">{{ status?.label | localize }}</span>
                    </ng-container>

                    <ng-template #notDraft>
                        <span *ngIf="people && people?.isShowAvatars && people?.people && people?.avatarStackCount > 0" class="avatar-group avatar-showing d-none d-md-inline-flex">
                            <ng-container *ngFor="let p of people?.people?.slice(0, people?.avatarStackCount)">
                                <a *ngIf="p.avatar" href="#" class="avatar avatar-xs" [style.width.px]="20" [style.height.px]="20">
                                    <img [src]="p.avatar.src" class="avatar-img rounded-circle" alt="...">
                                </a>
                            </ng-container>
                        </span>

                        <ng-container *ngIf="learners">
                            <span *ngIf="sanitizedOptions?.isSHowPurchased" [class.has-separator]="sanitizedOptions?.isShowGoing || sanitizedOptions?.isShowStatus">{{ learners }} Purchased</span>
                            <span *ngIf="sanitizedOptions?.isShowEnrolled" [class.has-separator]="sanitizedOptions?.isShowGoing || sanitizedOptions?.isShowStatus">{{ learners }} Enrolled</span>
                            <span *ngIf="sanitizedOptions?.isShowGoing" [class.has-separator]="sanitizedOptions?.isShowStatus">
                                <ng-container *ngIf="isCreator">
                                    <span class="learners">{{ learners }} people</span> going, <span class="organizer">you</span> are the <span class="role">organizer</span>
                                </ng-container>
                                <ng-container *ngIf="!isCreator">
                                    <span class="organizer">You</span> and <span class="learners">{{ learners }} others</span> are going.
                                </ng-container>
                            </span>
                        </ng-container>

                        <ng-container *ngIf="sanitizedOptions?.isShowStatus && isCreator">
                            <ng-container [ngSwitch]="status?.type">
                                <ng-container *ngSwitchCase="'published'">
                                    <span class="text-success">{{ status?.label | localize }}</span>
                                </ng-container>
                                <ng-container *ngSwitchCase="'archived'">
                                    <span class="text-primary" [class]="cardType">{{ status?.label | localize }}</span>
                                </ng-container>
                                <ng-container *ngSwitchCase="'draft'">
                                    <span class="text-danger">{{ status?.label | localize }}</span>
                                </ng-container>
                            </ng-container>
                        </ng-container>

                        <ng-container *ngIf="sanitizedOptions?.isShowCoachingDetails">
                            <ng-container *ngIf="isCreator">
                                <span class="has-separator"><span class="coach">You</span> are coaching <span class="student">{{ coachingStudentFullName }}</span></span>
                                <span class="duration">{{ coachingDuration }}</span>
                            </ng-container>
                            <ng-container *ngIf="!isCreator">
                                <span class="has-separator">Coaching with <span class="coach">{{ coachingTutorFullName }}</span>.</span>
                                <span class="duration">{{ coachingDuration }}</span>
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </div>
            </div>

            <div *ngIf="sanitizedActions && sanitizedOptions?.isShowActions" [class]="cardType + '-actions'" class="d-flex justify-content-center align-items-center">
                <ng-container *ngFor="let action of sanitizedActions">
                    <ng-container [ngSwitch]="action.type">
                        <ng-container *ngSwitchCase="'read'">
                            <button class="read btn d-flex flex-column text-primary align-items-center gap-5 p-0" (click)="handleClickAction(id, action)">
                                <span class="block bg-center"></span> {{ action.label | localize}}
                            </button>
                        </ng-container>
                        <ng-container *ngSwitchCase="'review'">
                            <button class="review btn d-flex flex-column text-primary align-items-center gap-5 p-0" (click)="handleClickAction(id, action)">
                                <span class="block bg-center"></span> {{ action.label | localize}}
                            </button>
                        </ng-container>
                        <ng-container *ngSwitchCase="'join'">
                            <button class="join btn d-flex flex-column text-primary align-items-center gap-5 p-0" (click)="handleClickAction(id, action)">
                                <span class="block bg-center"></span> {{ action.label | localize}}
                            </button>
                        </ng-container>
                        <ng-container *ngSwitchCase="'play'">
                            <button class="play btn d-flex flex-column text-primary align-items-center gap-5 p-0" (click)="handleClickAction(id, action)">
                                <span class="block bg-center"></span> {{ action.label | localize}}
                            </button>
                        </ng-container>
                        <ng-container *ngSwitchCase="'book'">
                            <button class="book btn d-flex flex-column text-primary align-items-center gap-5 p-0" (click)="handleClickAction(id, action)">
                                <span class="block bg-center"></span> {{ action.label | localize}}
                            </button>
                        </ng-container>
                        <ng-container *ngSwitchCase="'buy'">
                            <button class="buy btn d-flex justify-content-center align-items-center w-115-px h-35-px" (click)="handleClickAction(id, action)">
                                {{ action.label | localize}}
                            </button>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
            <div class="d-flex align-self-center">
                <div class="dropdown">
                    <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:void(0)" class="dropdown-item" [routerLink]="['/app/articles/tutor-portal', id]">
                            {{ 'Overview' | localize }}
                        </a>
                        <a *ngIf="articleType === ArticleType.SingleArticle" href="javascript:void(0)" class="dropdown-item" [routerLink]="['/app/articles/', id]">
                            {{ 'Edit' | localize }}
                        </a>
                        <a *ngIf="articleType === ArticleType.ArticleSeries" href="javascript:void(0)" class="dropdown-item" [routerLink]="['/app/articles/article-series', id]">
                            {{ 'Edit' | localize }}
                        </a>
                        <a href="javascript:void(0)" class="dropdown-item" (click)="handleDelete(id)">
                            {{ 'Delete' | localize }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
