<div *ngIf="data" class="service-preview d-flex flex-column custom-card-border custom-card-shadow" (click)="viewService()">
    <div *ngIf="canRemove" class="service-preview-remove d-flex justify-content-center align-items-center cursor-pointer" (click)="removeService()">
        <span class="fe fe-x"></span>
    </div>
    <ng-template #nonArticleTypeTemplate>
        <div class="service-preview-image position-relative">
            <img [src]="thumbnailImageUrl" [alt]="creatorName" />

            <div class="service-preview-author d-flex justify-content-end align-items-center gap-10">
                <div class="service-preview-author-name" [innerText]="creatorName"></div>
                <div class="service-preview-author-avatar avatar avatar-sm">
                    <img [src]="creatorProfilePictureUrl" [alt]="creatorName" class="avatar-img rounded-circle">
                </div>
            </div>
        </div>
    </ng-template>
    <div *ngIf="serviceType === ServicesType.Article; else nonArticleTypeTemplate" class="service-preview-content d-flex flex-column" [ngClass]="{'img-attachment': thumbnailImageUrl}">
        <p>{{ serviceContent }}</p>
        <div class="service-preview-author-article d-flex justify-content-end align-items-center">
            <span class="d-inline-block mr-2" [innerText]="creatorName"></span>
            <img [src]="creatorProfilePictureUrl" class="rounded-circle border" [alt]="creatorName" [width]="31" [height]="31">
        </div>
    </div>
    <div class="service-preview-info d-flex flex-row justify-content-center">
        <div class="service-preview-info-left flex-grow-1 d-flex flex-column">
            <div class="service-preview-info-left-identity d-flex justify-content-start align-items-center gap-12">
                <div class="service-preview-info-left-identity-name">{{ serviceName }}</div>
                <div class="service-preview-info-left-identity-type d-flex justify-content-center align-items-center">{{ serviceTypeName | titlecase }}</div>
            </div>
            <div class="service-preview-info-left-details d-flex justify-content-start align-items-center gap-5">
                <ng-container *ngIf="this.sanitizedOptions?.isShowDetailsPrice">
                    <div class="service-preview-info-left-details-price">
                        {{ priceValue | currency: priceCurrency }}<span *ngIf="priceSuffix"> {{ priceSuffix }}</span>
                    </div>
                </ng-container>

                <ng-container *ngIf="this.sanitizedOptions?.isShowDetailsComposition && compositionString">
                    <div class="service-preview-info-left-details-separator">|</div>
                    <div class="service-preview-info-left-details-composition">{{ compositionString }}</div>
                </ng-container>

                <ng-container *ngIf="this.sanitizedOptions?.isShowDetailsLastActive && lastActive">
                    <div class="service-preview-info-left-details-separator">|</div>
                    <div class="service-preview-info-left-details-composition">{{ lastActive }}</div>
                </ng-container>

                <ng-container *ngIf="this.sanitizedOptions?.isShowDetailsSlots && slots">
                    <div class="service-preview-info-left-details-separator">|</div>
                    <div class="service-preview-info-left-details-slots">{{ slotsCount }} {{ slotsUnit }} left</div>
                </ng-container>

                <ng-container *ngIf="this.sanitizedOptions?.isShowDetailsRsvp && rsvp">
                    <div class="service-preview-info-left-details-separator">|</div>
                    <div class="service-preview-info-left-details-composition">{{ rsvpString }}</div>
                </ng-container>

                <ng-container *ngIf="this.sanitizedOptions?.isShowDetailsReviews && reviews">
                    <div class="service-preview-info-left-details-separator">|</div>
                    <div class="service-preview-info-left-details-reviews d-flex flex-row align-items-center">
                        <div *ngIf="reviewValue" class="service-preview-info-left-details-reviews-value">{{ reviewValue | number:'1.1-1' }}</div>
                        <span *ngIf="reviewStar" class="service-preview-info-left-details-reviews-star bg-center" [ngStyle]="{ 'background-image': 'url(\'assets/img/icon-star.png\')' }"></span>
                        <div *ngIf="reviewCount" class="service-preview-info-left-details-reviews-count"> · {{ 'ReviewCount' | localize: reviewCount }}</div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="service-preview-info-right d-flex justify-content-center align-items-center mt-auto">
            <div role="button" class="btn btn-white service-preview-info-right-learnmore d-flex justify-content-center align-items-center">Learn more</div>
        </div>
    </div>
</div>
<div *ngIf="!data" class="service-preview-not-available d-flex justify-content-center align-items-center">
    {{ 'Community.Posts.Content.Not.Available' | localize }}
</div>
