<div class="shared-post d-flex flex-column">
    <div class="shared-post-content d-flex flex-column">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor amet est et neque dictum neque, ac gravida.
            Scelerisque sed feugiat morbi inLorem ipsum dolor, consectetur adipiscing elit. Tempor amet est et neque
            dictum neque, ac gravida. Scelerisque sed feugiat morbi in...</p>
        <div class="shared-post-content-author d-flex justify-content-end align-items-center">
            <span class="d-inline-block mr-2">Jingying Chai</span>
            <img src="assets/img/anonymous.png" class="rounded-circle border" [width]="31" [height]="31">
        </div>
    </div>
    <div class="shared-post-title d-flex flex-column">
        <div class="row">
            <div class="col d-flex flex-column">
                <h3 class="d-flex align-items-center">This is the article title <small class="pill">Article</small></h3>
                <div class="shared-post-title-details d-flex align-items-center">
                    <div class="shared-post-title-details-amount">£8.00</div><span class="separator">|</span>
                    <div class="shared-post-title-details-ratings">5.0 <i class="fe fe-star"></i></div><span class="separator">|</span>
                    <div class="shared-post-title-details-review">215 reviews</div>
                </div>
            </div>
            <div class="col d-flex justify-content-end align-items-center">
                <a href="#" role="button" class="btn btn-info">Learn more</a>
            </div>
        </div>
    </div>
</div>
