:host {
    flex-grow: 1;
}

.back {
    color: #12263F;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.15px;
}

.offer {
    &-service {
        &-thumbnail {
            border-radius: 5px;
        }

        &-name {
            color: #12263F;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.18px;
        }

        &-type {
            color: #3B516C;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.32px;
        }

        &-schedule {
            color: #2C7BE5;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.8px;
            text-transform: uppercase;
        }

        &-price {
            color: #3B516C;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.32px;

            &-value {
                &-original {
                    color: #95AAC9;
                    text-decoration-line: line-through;
                }
            }
        }

        &-description {
            color: #3B516C;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: -0.16px;

            &-action {
                color: #2C7BE5;
            }
        }
    }

    &-units {
        color: #3B516C;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 152.402%;
        letter-spacing: -0.15px;
    }

    &-duration {
        color: #3B516C;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 152.402%;
        letter-spacing: -0.15px;

        &.red {
            color: #E63757;
        }
    }

    &-action {
        &-edit, &-learn {
            width: 295px;
            height: 34px;
            border-radius: 6px;
            border: 1px solid #E4EBF6;
            background: white;
            color: #12263F;
            text-align: center;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 152.402%;
            letter-spacing: -0.15px;
        }

        &-launch, &-purchase, &-relaunch {
            width: 295px;
            height: 34px;
            border-radius: 6px;
            border: 1px solid #2C7BE5;
            background: #2C7BE5;
            color: white;
            text-align: center;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 152.402%;
            letter-spacing: -0.15px;
        }

        &-close {
            width: 295px;
            height: 34px;
            border-radius: 6px;
            border: 1px solid #E63757;
            background: #E63757;
            color: white;
            text-align: center;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 152.402%;
            letter-spacing: -0.15px;
        }
    }
}
