<div class="row lis mx-0 mb-4" style="gap:20px;">
    <div *ngFor="let studentEvent of models" class="col-12 p-0">
      <div class="card m-0">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-auto">
              <a href="#!visit" class="avatar avatar-lg avatar-4by3"
                (click)="$event.preventDefault();">
                <img [src]="getServiceImageUrl(studentEvent.event.thumbnailDocument)" alt="..." class="card-img-top">
              </a>
            </div>
            <div class="col ml-n2">
              <h4 class="mb-1 name">
                <a href="#!visit" (click)="$event.preventDefault();">
                    {{ studentEvent.event.name }}
                </a>
              </h4>
              <p class="card-text small text-muted mb-0">
                <time datetime="2018-06-21">
                  {{ 'Created' | localize }} {{ convertMomentToDateAgo(studentEvent.event.eventDateTime) }}
                </time>
              </p>
              <div class="text-muted mb-1">
                <div class="d-flex">
                  <div class="d-flex align-items-center">
                    <i class="fe fe-file-text mr-2"></i>
                    {{ (studentEvent.event.type === EventType.SingleEvent
                    ? 'Event' : 'EventSeries') | localize }}
                  </div>
                  <div class="d-flex align-items-center mx-3">|</div>
                  <ng-container *ngIf="studentEvent.event.type === EventType.SingleEvent else eventSeriesTemplate">
                    <div class="d-flex align-items-center mr-3">
                      <i class="fe fe-eye mr-2"></i>
                      0 {{ 'Views' | localize }}
                    </div>
                    <div class="d-flex align-items-center mr-3">
                      <i class="fe fe-thumbs-up mr-2"></i>
                      0 {{ 'Likes' | localize }}
                    </div>
                    <div class="d-flex align-items-center mr-3">
                      <i class="fe fe-square-message mr-2"></i>
                      0 {{ 'Comments' | localize }}
                    </div>
                    <div class="d-flex align-items-center mr-3">
                      <i class="fe fe-share-2 mr-2"></i>
                      0 {{ 'Shares' | localize }}
                    </div>
                    <div class="d-flex align-items-center">
                      <i class="fe fe-star mr-2"></i>
                      0 {{ 'Saves' | localize }}
                    </div>
                  </ng-container>
                  <ng-template #eventSeriesTemplate>
                    <div class="d-flex align-items-center">
                      {{ studentEvent.event.children.length }}
                      {{ (studentEvent.event.children.length > 1 ?'Events' : 'Event') | localize }}
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
            <div class="col-auto">
                <button (click)="navToUrl('app/events/student-portal' , studentEvent.eventId)"  type="button"
                class="btn btn-primary btn-sm">
                {{ 'Join' | localize }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
