<div class="card custom-card-shadow custom-card-border">
    <app-shimmer [show]="true" [shimmerType]="shimmerType.LandingLeftCurriculum"></app-shimmer>

    <div class="card-header border-bottom-0">
        <h4 class="card-header-title">
            Curriculum
        </h4>
    </div>

    <div class="collapse-container" accordion>
        <div class="collapse-header d-flex justify-content-between align-items-center service-title border-top border-bottom" role="button">
            <h4 class="m-0 service-name">Module 1: Create Affinity Diagrams to Organize Ideas in Miro</h4>
            <a class="collapse-button rotate"></a>
        </div>
        <div class="collapse-content">
            <div class="list-group list-group-flush my-n3">
                <div class="list-group-item">
                    <div class="row">
                        <div class="unit col align-items-center text-muted font-weight-bold mb-3">Unit 1</div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <a href="#" class="avatar avatar-4by3">
                                <img src="https://placehold.co/200" alt="..." class="avatar-img rounded">
                            </a>
                        </div>
                        <div class="col pl-0 align-items-center">
                            <h4 class="mb-2 font-weight-normal">
                                <a href="#">Lession 1: Create Affinity Diagrams to Organize Ideas in Miro</a>
                            </h4>
                            <p class="small text-muted m-0">
                                3 videos, 2 quizzes
                            </p>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <a href="#" class="avatar avatar-4by3">
                                <img src="https://placehold.co/200" alt="..." class="avatar-img rounded">
                            </a>
                        </div>
                        <div class="col pl-0 align-items-center">
                            <h4 class="mb-2 font-weight-normal">
                                <a href="#">Lession 1: Create Affinity Diagrams to Organize Ideas in Miro</a>
                            </h4>
                            <p class="small text-muted m-0">
                                3 videos, 2 quizzes
                            </p>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="unit col align-items-center text-muted font-weight-bold mb-3">Unit 2</div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <a href="#" class="avatar avatar-4by3">
                                <img src="https://placehold.co/200" alt="..." class="avatar-img rounded">
                            </a>
                        </div>
                        <div class="col pl-0 align-items-center">
                            <h4 class="mb-2 font-weight-normal">
                                <a href="#">Lession 1: Create Affinity Diagrams to Organize Ideas in Miro</a>
                            </h4>
                            <p class="small text-muted m-0">
                                3 videos, 2 quizzes
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse-container" accordion>
        <div class="collapse-header d-flex justify-content-between align-items-center service-title border-top border-bottom" role="button">
            <h4 class="m-0 service-name">Module 1: Create Affinity Diagrams to Organize Ideas in Miro</h4>
            <a class="collapse-button rotate"></a>
        </div>
        <div class="collapse-content">
            <div class="list-group list-group-flush my-n3">
                <div class="list-group-item">
                    <div class="row">
                        <div class="unit col align-items-center text-muted font-weight-bold mb-3">Unit 1</div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <a href="#" class="avatar avatar-4by3">
                                <img src="https://placehold.co/200" alt="..." class="avatar-img rounded">
                            </a>
                        </div>
                        <div class="col pl-0 align-items-center">
                            <h4 class="mb-2 font-weight-normal">
                                <a href="#">Lession 1: Create Affinity Diagrams to Organize Ideas in Miro</a>
                            </h4>
                            <p class="small text-muted m-0">
                                3 videos, 2 quizzes
                            </p>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <a href="#" class="avatar avatar-4by3">
                                <img src="https://placehold.co/200" alt="..." class="avatar-img rounded">
                            </a>
                        </div>
                        <div class="col pl-0 align-items-center">
                            <h4 class="mb-2 font-weight-normal">
                                <a href="#">Lession 1: Create Affinity Diagrams to Organize Ideas in Miro</a>
                            </h4>
                            <p class="small text-muted m-0">
                                3 videos, 2 quizzes
                            </p>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="unit col align-items-center text-muted font-weight-bold mb-3">Unit 2</div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <a href="#" class="avatar avatar-4by3">
                                <img src="https://placehold.co/200" alt="..." class="avatar-img rounded">
                            </a>
                        </div>
                        <div class="col pl-0 align-items-center">
                            <h4 class="mb-2 font-weight-normal">
                                <a href="#">Lession 1: Create Affinity Diagrams to Organize Ideas in Miro</a>
                            </h4>
                            <p class="small text-muted m-0">
                                3 videos, 2 quizzes
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
