.collapse {
    &-container {
        margin-bottom: -1px;
    }
    &-header {
        padding: 0.625rem 1.25rem;
    }

    &-content {
        padding: 0.625rem 1.25rem;

        .unit {
            font-size: 12px;
        }
    }
}
