<div [@routerTransition]>
  <div class="header">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-end">
          <div class="col mb-md-0 mb-3">
            <h6 class="header-pretitle">
              {{ 'Course' | localize }}
            </h6>
            <h1 class="header-title">
              {{ course.name }}
            </h1>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col">
            <ul class="nav nav-tabs nav-overflow header-tabs">
              <li class="nav-item">
                <a #detailsNav class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab"
                  aria-controls="details" aria-selected="true">{{ 'Details' | localize }}</a>
              </li>
              <li class="nav-item">
                <a #curriculumNav class="nav-link" id="curriculum-tab" data-toggle="tab" href="#curriculum" role="tab"
                  aria-controls="curriculum" aria-selected="true">{{ 'Curriculum' | localize }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab"
                  aria-controls="settings" aria-selected="false">{{ 'Settings' | localize }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="tab-content">
      <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
        <app-details></app-details>
      </div>
      <div class="tab-pane fade" id="curriculum" role="tabpanel" aria-labelledby="curriculum-tab">
        <app-curriculum></app-curriculum>
      </div>
      <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
        <app-settings (backClicked)="detailsNav.click()" (settingsSaved)="curriculumNav.click()"></app-settings>
      </div>
    </div>
  </div>
</div>
