.interface {
  &-header {
    height: 96px;
    padding: 24px;

    &-right {
      &-status {
        .status {
          font-size: 16px;
          font-weight: 600;
          color: #12263F;

          &.live {
            &::before {
              content: "";
              width: 8px;
              height: 8px;
              background-color: #CC525F;
              border-radius: 50%;
            }
          }
        }

        .time {
          font-size: 12px;
          font-weight: 400;
          color: #6E84A3;
        }
      }

      .btn {
        border-radius: 10px;
        font-size: 16px;
        font-weight: 600;
        color: #12263F;
        height: 48px;

        &.users {
          border: 1px solid #EDF2F9;
          width: 74px;
          outline: 0 none;
          box-shadow: 0 0 0;

          &.active {
            color: #2C7BE5;
            background-color: #EDF2F9;

            img {
              filter: invert(39%) sepia(77%) saturate(2310%) hue-rotate(200deg) brightness(94%) contrast(90%);
            }
          }
        }

        &.recording {
          background-color: #EDF2F9;
          width: 183px;
        }

        &.end-stream {
          &:hover {
            background-color: transparent;
          }
        }
      }
    }

    .header {
      &-pretitle {
        margin: 0 0 3px;
        font-size: 10px;
        font-weight: 600;
        color: #6E84A3;
      }

      &-title {
        font-size: 20px;
        font-weight: 600;
        margin: 0;
        color: #12263F;
      }
    }
  }

  &-layout {
    height: calc(100vh - 192px);
    padding-left: 24px;
    padding-right: 24px;

    .gutter-horizontal {
      &:hover {
        .inner {
          display: block;
          cursor: col-resize;
        }
      }

      .inner {
        width: 1px;
        height: 100%;
        background: #2C7BE5;
        margin: 0 auto;
        position: relative;
        display: none;

        &::before {
          content: "";
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-right: 5px solid #2C7BE5;
          display: inline-block;
          position: absolute;
          left: -8px;
          top: 45%;
        }

        &::after {
          content: "";
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 5px solid #2C7BE5;
          display: inline-block;
          position: absolute;
          right: -8px;
          top: 45%;
        }
      }


    }
  }

  &-content {
    height: calc(100vh - 192px);
    overflow: hidden;

    &-presenter {
      width: 100%;
      overflow: hidden;
      position: relative;

      .event-not-started {
        height: calc(100vh - 192px);
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
      }

      img {
        border-radius: 10px;
        object-fit: cover;
        object-position: center;
        width: 100%;
        aspect-ratio: 16/9;
        height: calc(100vh - 192px);
      }

      video {
        border-radius: 10px;
        object-fit: cover;
        object-position: center;
        height: calc(100vh - 192px);
        width: 100%;
        aspect-ratio: 16/9;
      }

      .name {
        font-size: 14px;
        font-weight: 400;
        color: #FFFFFF;
        position: absolute;
        bottom: 8px;
        left: 12px;
      }
    }
  }

  &-footer {
    height: 96px;
    padding: 24px;
    z-index: 1;

    &-left,
    &-right,
    &-center {
      .btn {
        border-radius: 10px;
        border: 1px solid #E4EBF6;
        height: 48px;
        min-width: 48px;
        padding: 0;
        position: relative;
        outline: 0 none;
        box-shadow: 0 0 0;

        &.active:not(.btn-exit, .btn-mic, .btn-video) {
          color: #2C7BE5;
          background-color: #EDF2F9;

          img {
            filter: invert(39%) sepia(77%) saturate(2310%) hue-rotate(200deg) brightness(94%) contrast(90%);
          }
        }

        .badge {
          font-size: 10px;
          font-weight: 400;
          height: 16px;
          border-radius: 6px;
          color: #FFFFFF;
          position: absolute;
          top: -5px;
          right: -5px;
        }

        &-leave {
          background-color: #E63757;
          border-radius: 10px;
          height: 48px;
          padding: 8px;
        }

        &-exit {
          color: #FFFFFF;
          font-size: 16px;
          font-weight: 600;
        }

        &-separator {
          height: 24px;
          width: 1px;
          background-color: rgba(0, 0, 0, 0.3);
          margin-left: 16px;
          margin-right: 8px;
        }

        &-option {
          border-radius: 10px;
          border: 1px solid #E4EBF6;
          height: 48px;
          min-width: 48px;
          padding: 0;
        }
      }
    }
  }

  &-features {
    width: 343px;
    margin: 0 0 0 24px;
    border-radius: 10px;
    -webkit-animation: fadeInRight 1s cubic-bezier(0.23, 1, 0.32, 1);
    animation: fadeInRight 1s cubic-bezier(0.23, 1, 0.32, 1);
  }
}

.theme-dark {
  .interface {
    &-header {
      .header {
        &-title {
          color: #FFFFFF;
        }
      }

      &-right {
        &-status {
          .status {
            color: #FFFFFF;
          }

          .time {
            font-size: 12px;
            font-weight: 400;
            color: #6E84A3;
          }
        }

        .btn {
          color: #FFFFFF;

          &.users {
            border: 1px solid #2A415E;

            img {
              filter: invert(100%) sepia(0%) saturate(116%) hue-rotate(235deg) brightness(109%) contrast(107%);
            }

            &.active {
              color: #FFFFFF;
              background-color: #152E4D;

              img {
                filter: invert(100%) sepia(95%) saturate(0%) hue-rotate(135deg) brightness(105%) contrast(104%);
              }
            }
          }

          &.start-recording {
            background-color: #1E3A5C;
            color: #FFFFFF;

            img {
              filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(55deg) brightness(103%) contrast(102%);
            }
          }

          &.end-recording {
            background-color: transparent;
            color: #FFFFFF;
            border: 1px solid #E63757;
          }

          &.end-stream {
            &:hover {
              background-color: transparent;
            }
          }
        }
      }
    }

    &-features {
      background-color: #152E4D;
    }

    &-footer {
      &-center {
        .btn {
          border: 1px solid #2A415E;

          &-mic-enabled,
          &-video-enabled,
          &-share {
            & > img {
              filter: invert(100%) sepia(0%) saturate(116%) hue-rotate(235deg) brightness(109%) contrast(107%);
            }
          }

          &-option {
            border: 1px solid #2A415E;

            a {
              img {
                filter: invert(100%) sepia(0%) saturate(116%) hue-rotate(235deg) brightness(109%) contrast(107%);
              }
            }
          }
        }
      }

      &-left,
      &-right {
        .btn {
          border: 1px solid #2A415E;

          & > img {
            filter: invert(100%) sepia(0%) saturate(116%) hue-rotate(235deg) brightness(109%) contrast(107%);
          }

          &.active:not(.btn-exit, .btn-mic, .btn-video) {
            background-color: #152E4D;

            img {
              filter: invert(100%) sepia(95%) saturate(0%) hue-rotate(135deg) brightness(105%) contrast(104%);
            }
          }

            //&-leave {
            //  .btn {
            //    img {
            //      filter: invert(100%) sepia(4%) saturate(0%) hue-rotate(279deg) brightness(104%) contrast(100%) !important;
            //    }
            //  }
            //}

          &-mic-disabled {
            img {
              filter: invert(100%) sepia(0%) saturate(116%) hue-rotate(235deg) brightness(109%) contrast(107%);
            }
          }

          &-option {
            border: 1px solid #2A415E;

            a {
              img {
                filter: invert(100%) sepia(0%) saturate(116%) hue-rotate(235deg) brightness(109%) contrast(107%);
              }
            }
          }
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
