:host {
    width: 100%;
}

.card {
    padding: 15px 16px;
}

.offer {
    &-service {
        &-name {
            color: #12263F;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.15px;
        }

        &-type {
            color: #6E84A3;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.13px;
        }

        &-price {
            &-original {
                color: #6E84A3;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.13px;
                text-decoration: line-through;
            }

            &-offer {
                color: #12263F;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.13px;
            }
        }

        &-units {
            color: #3B516C;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.12px;
        }

        &-duration {
            color: #3B516C;
            font-family: Cerebri Sans;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.12px;
        }

        &-thumbnail {
            width: 48px;
            height: 37px;
            border-radius: 4px;
        }
    }
}
