<div class="card custom-card-shadow custom-card-border cursor-pointer position-relative m-0" (click)="onSelectServiceOffer()">
  <button *ngIf="canClose" (click)="onCloseClick()" type="button" class="close" data-dismiss="alert"
    aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
  <div class="card-body p-0">
    <div class="d-flex flex-column justify-content-center align-items-start w-100">
      <div class="offer-service-name wrap-text" [style.marginBottom.px]="5">{{ model.serviceName }}</div>
      <div class="d-flex justify-content-center align-items-start w-100">
        <div class="flex-grow-1 d-flex flex-column justify-content-center align-items-start">
          <div class="offer-service-type">{{ model.serviceType }}</div>
          <div class="offer-service-price d-flex justify-content-start align-items-center" [style.gap.px]="2">
            <div class="offer-service-price-original">{{ model.servicePriceOriginal | currency: 'GBP' }}</div>
            <div class="offer-service-price-offer">{{ model.servicePriceOffer | currency: 'GBP' }}</div>
          </div>
        </div>
        <div class="offer-service-thumbnail bg-center" [ngStyle]="{ 'background-image': 'url(\'' + model.serviceThumbnail + '\')' }"></div>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-start w-100">
        <ng-container [ngSwitch]="offerStatus">
          <ng-container *ngSwitchCase="ServiceOfferStatus.Queued">
            <div class="offer-service-units">{{ model.offerUnits }} units available</div>
            <div class="offer-service-duration">Available for {{ model.offerDuration }}</div>
          </ng-container>
          <ng-container *ngSwitchCase="ServiceOfferStatus.Open">
            <div class="offer-service-units">{{ model.offerAvailableUnits }} of {{ model.offerUnits }} available</div>
            <div class="offer-service-duration red">Ends in {{ model.offerRemainingTime }}</div>
          </ng-container>
          <ng-container *ngSwitchCase="ServiceOfferStatus.Closed">
            <div class="offer-service-units">{{ model.offerSoldCount }} units sold</div>
            <div class="offer-service-duration">Ended at {{ model.offerEnded }}</div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
