<div [@routerTransition]>
  <div class="header">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-end">
          <div class="col mb-md-0 mb-3">
            <h6 class="header-pretitle">
              {{ 'Home' | localize }}
            </h6>
            <h1 class="header-title">
              {{ greetings }}, {{ user.name }}
            </h1>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col">
            <ul class="nav nav-tabs nav-overflow header-tabs">
              <li class="nav-item">
                <a [routerLink]="['home']" routerLinkActive="active" class="nav-link" role="button">
                  {{ 'Home' | localize }}
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['projects']" routerLinkActive="active" class="nav-link" role="button">
                  {{ 'Coaching' | localize }}
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['courses']" routerLinkActive="active" class="nav-link" role="button">
                  {{ 'Courses' | localize }}
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['videos']" routerLinkActive="active" class="nav-link" role="button">
                  {{ 'Videos' | localize }}
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['articles']" routerLinkActive="active" class="nav-link" role="button">
                  {{ 'Articles' | localize }}
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['events']" routerLinkActive="active" class="nav-link" role="button">
                  {{ 'Events' | localize }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
