<div [@routerTransition]>
  <div class="header">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-end">
          <div class="col mb-md-0 mb-3">
            <h6 class="header-pretitle">
              {{ 'Home' | localize }}
            </h6>
            <h1 class="header-title">
              {{ greetings }}, {{ user.name }}
            </h1>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col">
            <ul class="nav nav-tabs nav-overflow header-tabs">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                  aria-selected="true">{{ 'Home' | localize }}</a>
              </li>
              <li *ngIf="permission.isGranted('Pages.Home.Courses')" class="nav-item">
                <a class="nav-link" id="courses-tab" data-toggle="tab" href="#courses" role="tab"
                  aria-controls="courses" aria-selected="false">{{ 'Courses' | localize }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="tab-content">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      </div>
      <div *ngIf="permission.isGranted('Pages.Home.Courses')" class="tab-pane fade" id="courses" role="tabpanel"
        aria-labelledby="courses-tab">
        <app-courses></app-courses>
      </div>
    </div>
  </div>
</div>
