.lesson-preview-container {
  position: relative;
  height  : 100%;

  .lesson-preview {
    min-height: calc(100% - 60px);
    background: #FFFFFF;
  }

  .lesson-preview-toolbar {
    height          : 60px;
    display         : flex;
    justify-content : flex-end;
    align-items     : center;
    background-color: #F9FBFD;
    padding         : 10px;
    z-index         : 1;

    .page-title {
      margin: 0;
    }
  }
}
