<div *ngIf="!isCompleted else completedTemplate" class="lesson-preview-container">
  <div class="lesson-preview">
    <app-content-preview [content]="contents[currentPage]">
    </app-content-preview>
  </div>
  <div class="lesson-preview-toolbar">
    <div>
      <button (click)="onNextClick()" class="btn btn-md btn-primary">
        {{ 'Continue' | localize }}
        <i class="fe fe-chevron-right"></i>
      </button>
    </div>
  </div>
</div>

<ng-template #completedTemplate>
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">{{ 'CourseCompletedTitle' | localize }}</h4>
      <p>{{ 'CourseCompletedSubtitle' | localize }}</p>
    </div>
  </div>
</ng-template>
