
:host {

}

.card {
    &-body {
        height: 370px;
        padding: 20px 34px;

        .offer {
            &-service {
                &-units {
                    color: #3B516C;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 152.402%;
                    letter-spacing: -0.15px;
                }

                &-duration {
                    color: #3B516C;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 152.402%;
                    letter-spacing: -0.15px;

                    &.red {
                        color: #E63757;
                    }
                }
            }
        }
    }

    &-footer {
        .btn {
            &-cancel {
                height: 32px;
                width: 114px;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            &-pay {
                height: 32px;
                width: 114px;
                color: white;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}
