<div class="card custom-card-border custom-card-shadow">
    <app-shimmer [show]="isLoading$ | async" [shimmerType]="shimmerType.LandingRightReview"></app-shimmer>

    <div class="card-body">
        <div class="stat d-flex flex-column">
            <div class="stat-title">{{ courseRatingSummary?.positivePercentage }}% {{ 'PositiveReviews' | localize}}</div>
            <div class="stat-overall-rating d-flex justify-content-start">
                <app-star-rating-review *ngIf="courseRatingSummary?.totalRatingPercentage" [actualRating]="courseRatingSummary?.totalRatingPercentage"></app-star-rating-review>
                <span class="ml-1">{{ courseRatingSummary?.totalRatingPercentage }}/5.0</span>
            </div>
            <div class="stat-overall-review">{{ courseRatingSummary?.totalReviews }} reviews</div>
            <div class="stat-experience d-flex justify-content-start gap-30">
                <div class="d-flex flex-column">
                    <div class="d-flex align-content-center gap-8">
                        <span class="badge badge-soft-success rounded-circle"><i class="fe fe-plus"></i></span>
                        <span class="rating">{{ courseRatingSummary?.totalPositiveReviews }}</span>
                    </div>
                    {{ 'Positive' | localize }}
                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex align-content-center gap-8">
                        <span class="badge badge-soft-secondary rounded-circle"><i class="fas fa-circle neutral-icon-font" ></i></span>
                        <span class="rating">{{ courseRatingSummary?.totalNeutralReviews }}</span>
                    </div>
                    {{ 'Neutral' | localize }}
                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex align-content-center gap-8">
                        <span class="badge badge-soft-danger rounded-circle"><i class="fe fe-minus"></i></span>
                        <span class="rating">{{ courseRatingSummary?.totalNegativeReviews }}</span>
                    </div>
                    {{ 'Negative' | localize }}
                </div>
            </div>
            <div class="stat-breakdown">
                <div class="d-flex justify-content-start gap-10">
                    <div>{{ punctualityRatings }}/5</div>
                    <div><app-star-rating-review [actualRating]="punctualityRatings"></app-star-rating-review></div>
                    <div>Accuracy & recentness</div>
                </div>
                <div class="d-flex gap-10">
                    <div>{{ valueForMoneyRatings }}/5</div>
                    <div><app-star-rating-review [actualRating]="valueForMoneyRatings"></app-star-rating-review></div>
                    <div>Value for money</div>
                </div>
                <div class="d-flex gap-10">
                    <div>3.8/5</div>
                    <div><app-star-rating-review [actualRating]="3.8"></app-star-rating-review></div>
                    <div>Interaction & engagement</div>
                </div>
                <div class="d-flex gap-10">
                    <div>2.4/5</div>
                    <div><app-star-rating-review [actualRating]="2.4"></app-star-rating-review></div>
                    <div>Design & structure</div>
                </div>
                <div class="d-flex gap-10">
                    <div>{{ communicationRatings }}/5</div>
                    <div><app-star-rating-review [actualRating]="communicationRatings"></app-star-rating-review></div>
                    <div>Communication & support</div>
                </div>
            </div>
        </div>
    </div>
</div>
