<div class="card custom-card-border custom-card-shadow">
    <app-shimmer [show]="isLoading$ | async" [shimmerType]="shimmerType.LandingRightReview"></app-shimmer>

    <div class="card-body">
        <div class="stat d-flex flex-column">
            <div class="stat-title">{{ courseRatingSummary?.positivePercentage }}% {{ 'PositiveReviews' | localize}}</div>
            <div class="stat-overall-rating d-flex justify-content-start">
                <app-star-rating-review *ngIf="totalRatingPercentage" [actualRating]="totalRatingPercentage"></app-star-rating-review>
                <span class="ml-1">{{ totalRatingPercentage | number : '1.1-1' }}/5.0</span>
            </div>
            <div class="stat-overall-review">{{ totalReviews }} reviews</div>
            <div class="stat-experience d-flex justify-content-start gap-30">
                <div class="d-flex flex-column">
                    <div class="d-flex align-content-center gap-8">
                        <span class="badge badge-soft-success rounded-circle"><i class="fe fe-plus"></i></span>
                        <span class="rating">{{ totalPositiveReviews }}</span>
                    </div>
                    {{ 'Positive' | localize }}
                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex align-content-center gap-8">
                        <span class="badge badge-soft-secondary rounded-circle"><i class="fas fa-circle neutral-icon-font" ></i></span>
                        <span class="rating">{{ totalNeutralReviews }}</span>
                    </div>
                    {{ 'Neutral' | localize }}
                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex align-content-center gap-8">
                        <span class="badge badge-soft-danger rounded-circle"><i class="fe fe-minus"></i></span>
                        <span class="rating">{{ totalNegativeReviews }}</span>
                    </div>
                    {{ 'Negative' | localize }}
                </div>
            </div>
            <div class="stat-breakdown">
                <div class="d-flex justify-content-start gap-10">
                    <div>{{ totalPunctualityRatings | number : '1.1-1' }}/5</div>
                    <div><app-star-rating-review [actualRating]="totalPunctualityRatings"></app-star-rating-review></div>
                    <div>Accuracy & currentness</div>
                </div>
                <div class="d-flex gap-10">
                    <div>{{ totalValueForMoneyRatings | number : '1.1-1' }}/5</div>
                    <div><app-star-rating-review [actualRating]="totalValueForMoneyRatings"></app-star-rating-review></div>
                    <div>Value for money</div>
                </div>
                <div class="d-flex gap-10">
                    <div>{{ totalKnowledgeRatings | number : '1.1-1' }}/5</div>
                    <div><app-star-rating-review [actualRating]="totalKnowledgeRatings"></app-star-rating-review></div>
                    <div>Interaction & engagement</div>
                </div>
                <div class="d-flex gap-10">
                    <div>{{ totalProfessionalismsRating | number : '1.1-1' }}/5</div>
                    <div><app-star-rating-review [actualRating]="totalProfessionalismsRating"></app-star-rating-review></div>
                    <div>Design & structure</div>
                </div>
                <div class="d-flex gap-10">
                    <div>{{ totalCommunicationRatings | number : '1.1-1' }}/5</div>
                    <div><app-star-rating-review [actualRating]="totalCommunicationRatings"></app-star-rating-review></div>
                    <div>Communication & support</div>
                </div>
            </div>
        </div>
    </div>
</div>
