<app-shimmer
    [isBlock]="true"
    [show]="isLoading$ | async"
    [shimmerType]="shimmerType.DashboardCreated"
    backgroundColor="#f9fbfd"
></app-shimmer>

<ng-container *ngIf="!(isLoading$ | async)">
    <div class="card custom-card-border search">
        <div class="card-header border-0">
            <div class="d-flex align-items-center">
                <form>
                    <div class="input-group input-group-flush">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fe fe-search"></i>
                            </span>
                        </div>
                        <input class="list-search form-control" type="search" name="Search" placeholder="Search" />
                    </div>
                </form>
                <div class="search-nav d-flex ml-auto">
                    <ul class="nav nav-tabs nav-tabs-sm border-0">
                        <li class="nav-item">
                            <a href="javascript: void(0);" class="nav-link" [class.active]="activeTab === 'active'" data-toggle="tab" role="tab" (click)="activeTab = 'active'">
                                Active <span class="badge badge-pill badge-light">{{ totalActiveVideos }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript: void(0);" class="nav-link" [class.active]="activeTab === 'draft'" data-toggle="tab" role="tab" (click)="activeTab = 'draft'">
                                Draft <span class="badge badge-pill badge-light">{{ totalDraftVideos }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript: void(0);" class="nav-link" [class.active]="activeTab === 'archived'" data-toggle="tab" role="tab" (click)="activeTab = 'archived'">
                                Archived <span class="badge badge-pill badge-light">{{ totalArchivedVideos }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane fade" [ngClass]="{'show active' : activeTab === 'active'}" id="active-videos" role="tabpanel">
            <ng-container *ngIf="activeVideos?.length else noRecords">
                <app-service-card-dashboard
                    *ngFor="let data of activeVideos"
                    [data]="data"
                    [isLoading]="isLoading$ | async"
                    [isCreator]="isTutor"
                    (onEdit)="onEditClick($event)"
                    (onDuplicate)="onDuplicateClick($event)"
                    (onDelete)="onDeleteClick($event)"
                    (onUnpublish)="onUpdateStatus($event, VideoStatus.Draft)"
                    (onRedirection)="onRedirection($event)"
                ></app-service-card-dashboard>
            </ng-container>
        </div>

        <div class="tab-pane fade" [ngClass]="{'show active' : activeTab === 'draft'}" id="draft-videos" role="tabpanel">
            <ng-container *ngIf="draftVideos?.length else noRecords">
                <app-service-card-dashboard
                    *ngFor="let data of draftVideos"
                    [data]="data"
                    [isLoading]="isLoading$ | async"
                    [isCreator]="isTutor"
                    (onEdit)="onEditClick($event)"
                    (onDuplicate)="onDuplicateClick($event)"
                    (onDelete)="onDeleteClick($event)"
                    (onArchive)="onUpdateStatus($event, VideoStatus.Archived)"
                    (onPublish)="onUpdateStatus($event, VideoStatus.Published)"
                    (onRedirection)="onRedirection($event)"
                ></app-service-card-dashboard>
            </ng-container>
        </div>

        <div class="tab-pane fade" [ngClass]="{'show active' : activeTab === 'archived'}" id="archived-videos" role="tabpanel">
            <ng-container *ngIf="archiveVideos?.length else noRecords">
                <app-service-card-dashboard
                    *ngFor="let data of archiveVideos"
                    [data]="data"
                    [isLoading]="isLoading$ | async"
                    [isCreator]="isTutor"
                    (onEdit)="onEditClick($event)"
                    (onDuplicate)="onDuplicateClick($event)"
                    (onDelete)="onDeleteClick($event)"
                    (onUnArchive)="onUpdateStatus($event, VideoStatus.Draft)"
                    (onRedirection)="onRedirection($event)"
                ></app-service-card-dashboard>
            </ng-container>
        </div>
    </div>
</ng-container>

<ng-template #noRecords>
    <div class="text-center font-size-sm text-muted w-100">No records to display</div>
</ng-template>
