.min-w-50px {
  min-width: 50px;
}

.inline-form-control {
  width: 50px;

  &.x3 {
    width: 150px;
  }
}

.delay-form {
  display      : flex;
  align-items  : center;
  margin-bottom: 0;

  label {
    margin-bottom: 0;
    cursor       : pointer;
  }
}

.card {
  &-body {
    padding-block: 21px;

    .list {
      &-title {
        color: #12263F;
        font-size: 15px;
        margin: 0;
      }

      &-description {
        color: #6E84A3;
        font-size: 13px;
      }
    }
  }
}
