<form class="form-horizontal" autocomplete="off" #form="ngForm" (ngSubmit)="onFormSubmit()">
  <div class="row">
    <div class="col-8" [loader]="isLoading">
      <div class="card" *ngIf="articleType && articleType === ArticleType.SingleArticle">
        <div class="card-header border-0">
          <label class="col-form-label pb-0" for="name">{{ 'Comments' | localize}}</label>
          <div class="col-auto row">
            <button *ngIf="!editField || editField !== EditField.Comments" (click)="onEditClick(EditField.Comments)"
              type="button" class="btn btn-sm btn-light">
              {{ 'Edit' | localize }}
            </button>
            <button *ngIf="editField === EditField.Comments" type="submit" class="btn btn-sm btn-primary">
              {{ 'Save' | localize }}
            </button>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="card border">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <p>
                    <b>{{ 'Visible' | localize}}: </b>
                    {{ 'CommentVisible1' | localize }}
                  </p>
                </div>
                <div class="col-auto min-w-50px">
                  <div class="custom-control custom-radio d-inline">
                    <input type="radio" class="custom-control-input" id="commentVisible" name="comment"
                      [(ngModel)]="model.commentSetting" [value]="CommentSetting.Visible"
                      [disabled]="editField !== EditField.Comments" />
                    <label class="custom-control-label" for="commentVisible"></label>
                  </div>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col">
                  <p class="mb-0 pl-5" [class.text-muted]="model.commentSetting !== CommentSetting.Visible">
                    <b>{{ 'CommentModeration' | localize }}: </b>
                    <span class="text-muted">
                      {{ 'CommentVisible2' | localize }}
                    </span>
                  </p>
                </div>
                <div class="col-auto">
                  <div class="custom-control custom-switch">
                    <input [(ngModel)]="model.commentModeration" id="isPublic" name="isPublic" type="checkbox"
                      class="custom-control-input" [disabled]="model.commentSetting !== CommentSetting.Visible"
                      [disabled]="editField !== EditField.Comments">
                    <label class="custom-control-label" for="isPublic"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card border mb-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <p>
                    <b>{{ 'Hidden' | localize }}: </b>
                    <span class="text-muted">
                      {{ 'ArticleCommentHiddenDescription' | localize }}
                    </span>
                  </p>
                </div>
                <div class="col-auto min-w-50px">
                  <div class="custom-control custom-radio d-inline">
                    <input type="radio" class="custom-control-input" id="commentHidden" name="comment"
                      [(ngModel)]="model.commentSetting" [value]="CommentSetting.Hidden"
                      [disabled]="editField !== EditField.Comments" />
                    <label class="custom-control-label" for="commentHidden"></label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p class="mb-0">
                    <b>{{'Locked' | localize }}: </b>
                    <span class="text-muted">
                      {{ 'ArticleCommentLockedDescription' | localize }}
                    </span>
                  </p>
                </div>
                <div class="col-auto min-w-50px">
                  <div class="custom-control custom-radio d-inline">
                    <input type="radio" class="custom-control-input" id="commentLocked" name="comment"
                      [(ngModel)]="model.commentSetting" [value]="CommentSetting.Locked"
                      [disabled]="editField !== EditField.Comments" />
                    <label class="custom-control-label" for="commentLocked"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header border-0">
          <label class="col-form-label pb-0" for="name">{{ 'CustomUrl' | localize}}</label>
          <div class="col-auto row">
            <button *ngIf="!editField || editField !== EditField.Url" (click)="onEditClick(EditField.Url)" type="button"
              class="btn btn-sm btn-light">
              {{ 'Edit' | localize }}
            </button>
            <button *ngIf="editField === EditField.Url" type="submit" class="btn btn-sm btn-primary">
              {{ 'Save' | localize }}
            </button>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="form-group required mb-0 d-flex align-items-center">
            <a href="javascript:;">
              www.scholarpro.com/<span *ngIf="editField !== EditField.Url">{{ model.customUrl }}</span>
            </a>
            <input *ngIf=" editField===EditField.Url" [(ngModel)]="model.customUrl" #nameModel="ngModel" #nameEl
              class="form-control" type="text" id="name" name="name"
              [placeholder]="'CustomUrl' | localize | lowercase" />
          </div>
        </div>
      </div>

    </div>
    <div class="col-4">

      <div class="card" [loader]="isLoading">
        <div class="card-header">
          <h4 class="card-header-title">
            {{ 'ArticleVisibility' | localize }}
          </h4>
          <div class="col-auto row">
            <button *ngIf="!editField || editField !== EditField.Visibility" (click)="onEditClick(EditField.Visibility)"
              type="button" class="btn btn-sm btn-light">
              {{ 'Edit' | localize }}
            </button>
            <button *ngIf="editField === EditField.Visibility" type="submit" class="btn btn-sm btn-primary">
              {{ 'Save' | localize }}
            </button>
          </div>
        </div>
        <div class="card-body">

          <div class="list-group list-group-flush my-n3">
            <div class="list-group-item">
              <div class="row align-items-center">
                <div class="col ms-n2">
                  <h4 class="mb-1">
                    <span>{{'Visible' | localize}}</span>
                  </h4>

                  <p class="card-text small text-muted">
                    {{ 'ArticleVisible' | localize }}
                  </p>
                </div>
                <div class="col-auto">
                  <div class="custom-control custom-radio d-inline">
                    <input type="radio" class="custom-control-input" id="articleVisible" name="articleVisible"
                      [(ngModel)]="model.isVisible" [value]="true" [disabled]="editField !== EditField.Visibility" />
                    <label class="custom-control-label" for="articleVisible"></label>
                  </div>
                </div>
              </div>
            </div>

            <div class="list-group-item">
              <div class="row align-items-center">
                <div class="col ms-n2">
                  <h4 class="mb-1">
                    <span>{{'Invisible' | localize }}</span>
                  </h4>

                  <p class="card-text small text-muted">
                    {{ 'ArticleInvisible' | localize }}
                  </p>
                </div>
                <div class="col-auto">
                  <div class="custom-control custom-radio d-inline">
                    <input type="radio" class="custom-control-input" id="articleInvisible" name="articleVisible"
                      [(ngModel)]="model.isVisible" [value]="false" [disabled]="editField !== EditField.Visibility" />
                    <label class="custom-control-label" for="articleInvisible"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
