
.proposal-row {
    margin-bottom: 10px;
}

.button-revise {
    text-align: right;
}

.proposal-button-decline {
    width: 100%;
    height: 35px;
    cursor: pointer;
    label {
        padding: 5px;
        cursor: pointer;
    }
}

.proposal-button-submit {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    cursor: pointer;
    label {
        padding: 5px;
        cursor: pointer;
    }
}
.badge {
    margin: 3px;
}
