<div class="row">
  <div class="col-md-4 services">
    <h2>Categories</h2>
    <div [collapse]="i !== 0" *ngFor="let service of services; let i = index" class="card service">
      <div class="card-body">
        <div class="service-title">
          <h4>{{ service.name }}</h4>
          <div class="collapse-toggles">
            <button class="btn btn-sm btn-white collapse-button"></button>
          </div>
        </div>
        <div class="collapse-content">
          <ul [id]="'service_' + service.id" class="service-items">
            <li *ngFor="let childService of service.children"><a href="#">{{ childService.name }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-header-title">Assessment Coaching</h4>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table card-table">
          <tr>
            <td>
              <h5>Numeracy</h5>
              <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempus elementum turpis,
                quis iaculis magna rutrum quis. Vestibulum urna eros, maximus in lacus nec, facilisis accumsan orci.
                Morbi nunc risus, dignissim id purus eget, pellentesque accumsan lacus. Vivamus pellentesque dapibus
                sapien, id mollis velit eleifend vitae. Nulla malesuada velit leo. Aliquam tempus purus sollicitudin sem
                dictum, quis luctus tortor mollis. Vestibulum at orci erat. Proin sagittis efficitur lectus, sit amet
                viverra metus consectetur id. Praesent arcu enim, euismod sed massa in, pharetra ultricies enim. Fusce
                sollicitudin leo lectus, a commodo lorem interdum id. Proin auctor mi in nunc mattis, sit amet malesuada
                quam iaculis. Mauris nec nisl sed risus accumsan vulputate.</p>
              <span class="badge badge-soft-primary mr-1">Numeracy</span>
              <span class="badge badge-soft-info mr-1">Level</span>
              <span class="badge badge-soft-info mr-1">Level</span>
              <span class="badge badge-soft-info mr-1">Level</span>
              <span class="badge badge-soft-info mr-1">Level</span>
            </td>
          </tr>
          <tr>
            <td>
              <h5>Literacy</h5>
              <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempus elementum turpis,
                quis iaculis magna rutrum quis. Vestibulum urna eros, maximus in lacus nec, facilisis accumsan orci.
                Morbi nunc risus, dignissim id purus eget, pellentesque accumsan lacus. Vivamus pellentesque dapibus
                sapien, id mollis velit eleifend vitae. Nulla malesuada velit leo. Aliquam tempus purus sollicitudin sem
                dictum, quis luctus tortor mollis. Vestibulum at orci erat. Proin sagittis efficitur lectus, sit amet
                viverra metus consectetur id. Praesent arcu enim, euismod sed massa in, pharetra ultricies enim. Fusce
                sollicitudin leo lectus, a commodo lorem interdum id. Proin auctor mi in nunc mattis, sit amet malesuada
                quam iaculis. Mauris nec nisl sed risus accumsan vulputate.</p>
              <span class="badge badge-soft-primary mr-1">Literacy</span>
              <span class="badge badge-soft-info mr-1">Level</span>
              <span class="badge badge-soft-info mr-1">Level</span>
              <span class="badge badge-soft-info mr-1">Level</span>
              <span class="badge badge-soft-info mr-1">Level</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
