<div class="row">
  <div class="col-12 service-header">
    <div class="row">
      <div class="col-md-4 d-flex justify-content-between align-items-center">
        <h2 class="m-0">{{ 'Categories' | localize }}</h2>
      </div>
      <div class="col-md-8 text-right">
        <button (click)="onAddClick()" *ngIf="permission.isGranted('Pages.TutorWizard.ServicesOffered.Create')" class="btn btn-sm btn-primary">Add Service</button>
      </div>
    </div>
  </div>
  <div class="col-md-4 services">
    <div [loader]="isLoading">
      <div *ngIf="categories.length === 0" class="card">
        <div class="card-body">
          <p class="text-muted text-center m-0">{{ 'NoServicesFound' | localize}}</p>
        </div>
      </div>

      <div [accordion]="i !== 0" *ngFor="let category of categories; let i = index" class="card service">
        <div class="card-body">
          <div class="service-title">
            <h4 class="service-name">{{ category.name }}</h4>
            <a class="collapse-button"></a>
          </div>
          <div class="collapse-content">
            <ul [id]="'category_' + category.id" class="service-items">
              <li *ngFor="let service of category.children; let j = index">
                <div [accordion]="j !== 0 || i !== 0">
                  <div class="collapse-header d-flex justify-content-between align-items-center">
                    <p class="m-0 service-name">{{ service.name }}</p>
                    <a class="collapse-button"></a>
                  </div>
                  <div class="collapse-content">
                    <ul [id]="'service_' + service.id" class="service-items">
                      <li *ngFor="let level of service.children">
                        <a *ngIf="!selectedService || level.id !== selectedService.id" href="#"
                          (click)="$event.preventDefault(); onServiceClick(level)" class="service-name">
                          {{ level.name }}
                        </a>
                        <span class="text-success" *ngIf="selectedService && level.id === selectedService.id">
                          {{ level.name }}
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card" [loader]="isServicesLoading">
      <ng-container *ngIf="selectedService; else noServiceTemplate">

        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h4 class="card-header-title">{{ selectedService.name }}</h4>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table card-table">
            <tr *ngFor="let userService of userServices">
              <td>
                <h5 class="d-flex align-items-center">
                  {{ userService.title }}
                  <span class="ml-2 badge badge-success">
                    {{ ServiceExptertiseLevel[userService.expertiseLevel] | localize }}
                  </span>
                </h5>
                <div toggableContent [identifier]="userService.id" contentClass="ql-container">
                  <quill-view-html [content]="userService.description" theme="snow"></quill-view-html>
                </div>
                <div *ngIf="userService.subjects && userService.subjects.length > 0">
                  <span *ngFor="let subject of userService.subjects" class="badge badge-soft-info mr-1">
                    {{ subject.name }}
                  </span>
                </div>
                <div *ngIf="userService.disciplineTaxonomies && userService.disciplineTaxonomies.length > 0">
                  <span *ngFor="let disciplineTaxonomy of userService.disciplineTaxonomies"
                    class="badge badge-soft-info mr-1">
                    {{ disciplineTaxonomy.name }}
                  </span>
                </div>
              </td>
            </tr>
          </table>
        </div>

      </ng-container>
      <ng-template #noServiceTemplate>
        <div class="card-body">
          <p class="text-muted text-center m-0">{{ 'NoServiceSelected' | localize}}</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
