<div class="container-fluid" [@routerTransition]>
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="header">
        <div class="header-body">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="header-pretitle">{{ "ManageRoles" | localize }}</h6>
              <h1 class="header-title">{{ "Roles" | localize }}</h1>
            </div>
            <div class="col-auto">
              <a href="javascript:;" class="btn btn-primary ml-2" (click)="onCreateClick()"
                *ngIf="permission.isGranted('Pages.Roles.Create')">
                {{ "Create" | localize }}
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <form>
                <div class="input-group input-group-flush">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fe fe-search"></i>
                    </span>
                  </div>
                  <input class="list-search form-control" type="search" name="Search" placeholder="Search"
                    [(ngModel)]="keyword" (keyup.enter)="getDataPage(1)">
                </div>
              </form>
            </div>
            <div class="col-auto mr-n3">
              <form>
                <select [(ngModel)]="pageNumber" select2 [select2defaultValue]="pageSize"
                  (select2ValueChange)="pageSizeChange($event)" name="PageNumber"
                  class="custom-select custom-select-sm form-control-flush" data-toggle="select">
                  <option *ngFor="let pageSizeSelection of pageSizeSelections" [value]="pageSizeSelection">
                    {{pageSizeSelection}} {{ 'PerPage' | localize }}
                  </option>
                </select>
              </form>
            </div>
          </div>
        </div>


        <div class="table-responsive">
          <table class="table table-sm table-hover table-nowrap card-table" [loader]="isTableLoading">
            <thead table-header-sort [headers]="headers" (sortChange)="sortChange($event)"></thead>
            <tbody class="list font-size-base">
              <tr
                *ngFor="let role of roles | paginate : { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">
                <td>{{ role.name }}</td>
                <td>{{ role.displayName }}</td>
                <td class="table-action">
                  <div dropdown class="dropdown" container="body">
                    <a dropdownToggle class="dropdown-ellipses dropdown-toggle" href="javascript:;" role="button">
                      <i class="fe fe-more-vertical"></i>
                    </a>
                    <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                      <a href="javascript:;" class="dropdown-item" (click)="onEditClick(role)"
                        *ngIf="permission.isGranted('Pages.Roles.Update')">
                        <i class="fe fe-edit"></i> {{ 'Edit' | localize }}</a>
                      <a href="javascript:;" class="dropdown-item" (click)="onDeleteClick(role)"
                        *ngIf="permission.isGranted('Pages.Roles.Delete')">
                        <i class="fe fe-trash"></i> {{ 'Delete' | localize }}</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <abp-pagination-controls id="server" (pageChange)="getDataPage($event)">
          </abp-pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
