.carousel-container {
    position: relative;
    width: auto;
}

app-service-card {
    display: none;
}

.page-active {
    display: contents;
}

.btn-carousel {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8%;
    padding: 0;
    color: white;
    text-align: center;
    background: 0 0;
    border: 0;
    cursor: pointer;
}

.btn-prev {
    left: 0;
}

.btn-next {
    right: 0;
}

.icon-carousel {
    color: white;
    opacity: 0.5;
    transition: all 0.15s ease;
}

.icon-carousel:hover {
    opacity: 0.9;
}

.icon-carousel:active {
    opacity: 0.5;
}

.icon-prev, .icon-next {
    font-size: 35px;
}
