<div class="content" *ngIf="content else noContentSelected">
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h4 class="card-header-title">
            {{ content.name }}
          </h4>
        </div>
        <div class="col-auto">
          <div *ngIf="content.name !== 'Page'" (click)="onSelectParentClick();"
            class="btn btn-outline-info btn-sm mr-2">
            <i class="fe fe-corner-left-up"></i>
          </div>
          <div (click)="onContentDelete();" class="btn btn-outline-danger btn-sm">
            <i class="fe fe-trash"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body" [ngSwitch]="content.name">
      <app-page-editor *ngSwitchCase="'Page'" [content]="content"></app-page-editor>
      <app-section-editor *ngSwitchCase="'Section'" [content]="content"></app-section-editor>
      <app-component-editor *ngSwitchDefault [content]="content"></app-component-editor>
    </div>
  </div>
  <div class="card mb-0" *ngIf="!content.disableMargins">
    <div class="card-header">
      <h4 class="card-header-title">
        {{ 'Margin' | localize }}
      </h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-5">
          <div *ngFor="let marginType of MarginType | enumToArray | keyvalue" class="form-check">
            <input [(ngModel)]="content.marginType" (change)="onMarginTypeChange()" class="form-check-input"
              type="radio" name="marginType" id="margin_{{marginType.key}}"
              [value]="MarginType[MarginType[marginType.key]]">
            <label class="form-check-label" for="margin_{{marginType.key}}">
              {{ marginType.value }}
            </label>
          </div>
        </div>
        <div class="col-7">
          <div class="form-group row">
            <label class="col-form-label-sm col-form-label col-5" for="top">{{ 'Top' | localize}}</label>
            <div class="col-7">
              <div class="input-group input-group-sm">
                <input [readonly]="content.marginType !== MarginType.Custom" [(ngModel)]="content.marginTop"
                  #topModel="ngModel" #topEl class="form-control form-control-sm" type="number" id="top" name="top"
                  [min]="0" />
                <div class="input-group-append">
                  <span class="input-group-text">px</span>
                </div>
              </div>
            </div>
            <abp-validation-summary [control]="topModel" [controlEl]="topEl">
            </abp-validation-summary>
          </div>
          <div class="form-group row">
            <label class="col-form-label-sm col-form-label col-5" for="bottom">{{ 'Bottom' | localize}}</label>
            <div class="col-7">
              <div class="input-group input-group-sm">
                <input [readonly]="content.marginType !== MarginType.Custom" [(ngModel)]="content.marginBottom"
                  #bottomModel="ngModel" #bottomEl class="form-control form-control-sm" type="number" id="bottom"
                  name="bottom" [min]="0" />
                <div class="input-group-append">
                  <span class="input-group-text">px</span>
                </div>
              </div>
            </div>
            <abp-validation-summary [control]="bottomModel" [controlEl]="bottomEl">
            </abp-validation-summary>
          </div>
          <div class="form-group row">
            <label class="col-form-label-sm col-form-label col-5" for="left">{{ 'Left' | localize}}</label>
            <div class="col-7">
              <div class="input-group input-group-sm">
                <input [readonly]="content.marginType !== MarginType.Custom" [(ngModel)]="content.marginLeft"
                  #leftModel="ngModel" #leftEl class="form-control form-control-sm" type="number" id="left" name="left"
                  [min]="0" />
                <div class="input-group-append">
                  <span class="input-group-text">px</span>
                </div>
              </div>
            </div>
            <abp-validation-summary [control]="leftModel" [controlEl]="leftEl">
            </abp-validation-summary>
          </div>
          <div class="form-group row mb-0">
            <label class="col-form-label-sm col-form-label col-5" for="right">{{ 'Right' | localize}}</label>
            <div class="col-7">
              <div class="input-group input-group-sm">
                <input [readonly]="content.marginType !== MarginType.Custom" [(ngModel)]="content.marginRight"
                  #rightModel="ngModel" #rightEl class="form-control form-control-sm" type="number" id="right"
                  name="right" [min]="0" />
                <div class="input-group-append">
                  <span class="input-group-text">px</span>
                </div>
              </div>
            </div>
            <abp-validation-summary [control]="rightModel" [controlEl]="rightEl">
            </abp-validation-summary>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noContentSelected>
  <div class="card">
    <div class="card-body">
      <div class="no-content-selected">
        <p class="p-0 m-0 text-center">{{ 'NoContentSelected' | localize }}</p>
      </div>
    </div>
  </div>
</ng-template>
