.comments-container {
  position      : relative;
  height        : 100%;
  padding-bottom: 48px;
  cursor        : pointer;

  &.sidebar {
    padding-bottom: 0;

    .parent-comments {
      height: calc(100vh - 100px);
    }
  }

  .comment-main-body {
    border       : 1px solid #e3ebf6;
    border-radius: 5px;
    padding      : 3%;
    box-shadow   : 0 2px 8px 0 rgba(0, 0, 0, 0.05);
  }

  .comment-vote {
    border   : 1px solid #e3ebf6;
    font-size: 13px;
  }

  .comment-response {
    text-align: end;
    font-size : 11px;
  }

  .comment-fnt {
    font-size: 12px
  }

  .icon-pad {
    padding-left: 5px;
  }

  .comments {
    position: relative;
    padding : 10px;
    height  : 100%;

    &.parent-comments {
      overflow-y: auto;
      overflow-x: hidden;
    }

    &.comments-small {
      .comment {
        .comment-container {
          .comment-body {
            padding: 10px;
          }
        }

        .comment-replies {
          .comment {
            margin-left: 10px;

            .comment-body {
              padding: 10px;
            }
          }
        }
      }
    }

    .write-comment-container {
      padding: 0;
    }
  }

  .no-comments-container {
    min-height     : 60px;
    display        : flex;
    justify-content: center;
    padding-top    : 10px;
  }


  .write-comment-container {
    padding   : 10px;
    width     : 100%;
    border-top: 1px solid #e3ebf6;

    &:not(.reply) {
      position: absolute;
      bottom  : 0;
    }

    .write-comment {
      border-radius: 25px;
      margin       : 0;

      .profile-container,
      .text-container {
        display        : flex;
        align-items    : center;
        justify-content: center;
      }

      .text-container {
        padding-right: 0;
        padding-left : 0;
      }

      .actions-container {

        .text-muted {
          height         : 100%;
          display        : flex;
          align-items    : center;
          justify-content: center;
        }
      }
    }
  }

  .dropdown-menu {
    padding  : 0 !important;
    min-width: 0 !important;
  }

  .mar-3 {
    margin-left: 3%
  }
}

.host-pill {
  margin-left: 10px;
  padding: 0px 8px;
  font-size: 9px;
}
