<div class="card">
  <div class="card-header">
    <h4 class="card-header-title">
      {{ 'KnowledgeBase' | localize }}
    </h4>
    <a href="#" class="btn btn-sm btn-primary" (click)="$event.preventDefault()">
      {{ 'AddAreaOfStudy' | localize }}
    </a>
  </div>
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <form>
          <div class="input-group input-group-flush">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fe fe-search"></i>
              </span>
            </div>
            <input class="list-search form-control" type="search" name="Search" placeholder="Search" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="alert alert-info alert-dismissible discipline" role="alert">
      Business
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="alert alert-info alert-dismissible discipline" role="alert">
      Social and Behavioral Sciences
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="alert alert-info alert-dismissible discipline" role="alert">
      Medicine and Health Sciences
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="alert alert-info alert-dismissible discipline" role="alert">
      Business
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="alert alert-info alert-dismissible discipline" role="alert">
      Social and Behavioral Sciences
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="alert alert-info alert-dismissible discipline" role="alert">
      Medicine and Health Sciences
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4 class="card-header-title">
      {{ 'ResearchMethodologies' | localize }}
    </h4>
    <a href="#" class="btn btn-sm btn-primary" (click)="$event.preventDefault()">
      {{ 'AddResearchMethodologies' | localize }}
    </a>
  </div>
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <form>
          <div class="input-group input-group-flush">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fe fe-search"></i>
              </span>
            </div>
            <input class="list-search form-control" type="search" name="Search" placeholder="Search" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="alert alert-secondary alert-dismissible discipline" role="alert">
      Interview
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
  </div>
</div>
