.component-container {
  position        : relative;
  background-color: transparent;
  box-shadow      : none;
  border          : 1px dashed #e3ebf6;

  &.active {
    border-color: #2c7be5;

    &>.page-component-marker-top,
    &>.page-component-marker-bottom,
    &>.d-flex>.page-component-marker-left,
    &>.d-flex>.page-component-marker-right {
      border-color: #2c7be5;
    }

    &>.component {
      border-color: #2c7be5;
    }
  }

  &:not(.active) {
    cursor: pointer;
  }

  .component {
    background-color: transparent;
    box-shadow      : none;

    &.has-margin-top {
      border-top: 1px dashed #e3ebf6;
    }

    &.has-margin-bottom {
      border-bottom: 1px dashed #e3ebf6;
    }

    &.has-margin-left {
      border-left: 1px dashed #e3ebf6;
    }

    &.has-margin-right {
      border-right: 1px dashed #e3ebf6;
    }
  }

  .page-component-marker-top,
  .page-component-marker-bottom {
    background-color: transparent;
    box-shadow      : none;
    position        : absolute;
  }

  .page-component-marker-top,
  .page-component-marker-bottom {
    border-top: 1px dashed #e3ebf6;
    width     : 100%;
  }

  .page-component-marker-left,
  .page-component-marker-right {
    flex-grow: 1;
  }

  .page-component-marker-left {
    border-right: 1px dashed #e3ebf6;
  }

  .page-component-marker-right {
    border-left: 1px dashed #e3ebf6;
  }
}
