<div class="header-body pt-0" [style.marginBottom.px]="30">
    <div class="row align-items-end" [style.marginTop.px]="40">
        <div class="col mb-md-0">
            <div class="topics-superscript">{{ 'Community.Topics' | localize }}</div>
            <div class="topics-header">{{ topic?.name }}</div>
        </div>
    </div>
</div>

<ng-container *ngIf="true">
    <div class="container-fluid following card d-flex p-0">
        <app-search
            [options]="{ pagination: true, searchHeight: 59 }"
            [pagedData]="pagedTopics"
            [currentPage]="searchObj?.pageNumber"
            [itemTemplate]="topicItemTemplate"
            [itemLoadingTemplate]="topicItemLoadingTemplate"
            [loading]="loading"
            (onSearch)="handleOnSearch($event)"
        ></app-search>
    </div>

    <ng-template #topicItemTemplate let-item="item">
        <div class="topic-row d-flex flex-row">
            <div class="topic-row-left d-flex flex-column flex-grow-1 justify-content-center gap-0">
                <div class="topic-row-left-name">#{{ item.name }}</div>
                <div class="topic-row-left-followers">{{ 'Community.Topics.Followers' | localize: (item.followerCount | shortNum: 1)  }}</div>
            </div>
            <div class="topic-row-right d-flex flex-row align-items-center gap-10">
                <button class="btn btn-md btn-primary" (click)="handleOnFollow(item)">
                    {{ (isFollowingTopic ? 'Following' : 'Follow') | localize }}
                    <span *ngIf="isFollowingTopic" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </ng-template>

    <ng-template #topicItemLoadingTemplate>
        <div class="topic-row d-flex flex-row">
            <div class="topic-row-left d-flex flex-column flex-grow-1 justify-content-center gap-5">
                <div class="box-shimmer-bar"  [style.width.%]="55" [style.height.px]="18"></div>
                <div class="box-shimmer-bar"  [style.width.%]="15" [style.height.px]="6"></div>
            </div>
            <div class="topic-row-right d-flex flex-row align-items-center gap-20">
                <div class="box-shimmer-bar action"  [style.width.px]="120" [style.height.px]="40"></div>
            </div>
        </div>
    </ng-template>
</ng-container>

<ng-container *ngIf="false">
    <div class="container-fluid all-topics d-flex flex-column flex-nowrap p-0">
        <div *ngFor="let t of clusteredTopics | keyvalue" class="all-topics-content flex-grow-1">
            <div class="row align-items-center" [style.marginTop.px]="40" [style.marginBottom.px]="25">
                <div class="col d-flex flex-wrap align-items-center justify-content-between">
                  <span class="all-topics-content-header">{{ t.key }}</span>
                  <span class="all-topics-content-view-all cursor-pointer" [routerLink]="['events']">View All <i class="fas fa-arrow-right"></i></span>
                </div>
            </div>
            <app-carousel
                [isLoading]="isLoadingTailoredTopics"
                [items]="t.value"
                [templateRef]="topicClusterRef1"
                [metadata]="{ isParent: false, group: t.key }"
                [itemWidth]="240"
                [itemSpacing]="20"
                [isAutoFit]="true"
            ></app-carousel>
        </div>
    </div>

    <ng-template #topicClusterRef let-items="item" let-isLoading="isLoading">
        <app-card-cluster
            [data]="items"
            [gap]="20"
            [isLoading]="isLoading"
            [topicOptions]="{ showFollow: true }"
            (onTopicClick)="handleTopicClick($event)"
            (onTopicFollow)="handleTopicFollowClick($event)"
        ></app-card-cluster>
    </ng-template>
</ng-container>


