<div class="d-flex flex-column flex-sm-row flex-nowrap justify-content-center align-content-center align-items-center mb-4" style="gap: 10px;">
  <div class="flex-grow-1 w100p w-sm-auto">
    <form>
      <div class="input-group input-group-lg input-group-merge">
        <input type="text" class="form-control form-control-prepended list-search" placeholder="Search">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <span class="fe fe-search"></span>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="w100p w-sm-auto">
    <div class="nav btn-group" role="tablist" style="min-width: 200px;">
      <button class="btn btn-lg btn-white active" data-toggle="tab" data-target="#grid-tab" role="tab"
        aria-controls="grid-tab" aria-selected="true">
        <span class="fe fe-grid"></span>
      </button>
      <button class="btn btn-lg btn-white" data-toggle="tab" data-target="#list-tab" role="tab" aria-controls="list-tab"
        aria-selected="false">
        <span class="fe fe-list"></span>
      </button>
    </div>
  </div>
</div>

<div *ngIf="events && events.length else noEventsTemplate" class="tab-content" [loader]="loading">
  <div class="tab-pane fade active show" id="grid-tab" role="tabpanel">
    <app-grid [events]="events" (visitEvent)="onViewEvent($event)"></app-grid>
  </div>
  <div class="tab-pane fade" id="list-tab" role="tabpanel">
    <app-list [events]="events" (visitEvent)="onViewEvent($event)"></app-list>
  </div>
</div>


<ng-template #noEventsTemplate>
  <p class="m-0 p-5 text-muted text-center">
    {{ 'NoEventsFound' | localize }}
  </p>
</ng-template>
