.service {
  &-sidebar {
    padding: 0 24px;

    &-header {
      color: #1F2D3D;
      font-weight: 600;
      font-size: 15px;
      padding-top: 15px;
    }

    &-title {
      color: #12263F;
      font-weight: 600;
      font-size: 18px;
      padding-block: 24px;
    }

    &-menu {
      .navbar-nav {
        margin-inline: 0;

        .nav-item {
          margin-bottom: 16px;

          &.active,
          &:hover,
          &:active,
          &:focus {
            .nav-link {
              color: #12263F;
            }

            .icon-hover {
              display: block;
            }
            .icon-default {
              display: none;
            }
          }

          .icon-hover {
            display: none;
          }

          .nav-link {
            color: #6E84A3;
            font-size: 15px;
            padding: 0;
          }
        }
      }
    }

    &-actions {
      padding-bottom: 24px;
    }
  }

  &-container {
    padding-top: 60px;

    .header {
      margin-bottom: 30px;

      &-body {
        padding: 0 0 20px;
      }
      &-title {
        font-size: 24px;
      }
    }
  }

  &-alert {
    background-color: #EDF2F9;
    border: 1px solid #E3EBF6;
    font-size: 15px;
    color: #6E84A3;
    padding: 15px 60px 15px 20px;
    position: relative;

    &-close {
      position: absolute;
      right: 20px;
      top: 20px;
      line-height: 1em;
    }
  }
}
.main-content {
  padding-left: 250px;
}
