<div [@routerTransition]>
  <div id="sidebar" class="service-sidebar navbar navbar-vertical fixed-start navbar-expand-md bg-white border-right d-flex flex-column">
    <div class="service-sidebar-header w-100">
      <div class="service-create d-flex align-items-center gap-8">
        <a href="javascript: void(0);" (click)="onProcessReturn()">
          <img src="assets/img/service/create/back.svg" alt="Back">
        </a>
        <div class="service-create-info">
          {{ 'Service.Creation' | localize : serviceTypeName }}
        </div>
      </div>
      <hr class="separator">
      <div class="service-sidebar-title line-clamp-3" [innerHTML]="serviceName"></div>
    </div>
    <div class="service-sidebar-menu w-100">
      <ul class="navbar-nav">
        <li *ngFor="let menu of menuItems" class="nav-item curriculum" [class.active]="defaultMenuItem.id === menu.id">
          <a class="nav-link d-flex align-items-center gap-8" href="javascript: void(0);" role="button" (click)="setDefaultMenuItem(menu)">
            <img class="icon-default" [src]="menu.icon" [alt]="menu.label">
            <img class="icon-hover" [src]="menu.iconHover" [alt]="menu.label">
            <span>{{ menu.label }}</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="service-sidebar-actions d-flex flex-column gap-10 mt-auto w-100">
      <button *ngIf="isServicePublished" (click)="handleUnpublished()" class="btn w-100 btn-primary" type="button">Unpublish</button>
      <button *ngIf="isServiceDraft" (click)="handlePublished()" class="btn w-100 btn-outline-success" type="button">Publish</button>
      <button (click)="handleDelete()" class="btn w-100 btn-outline-danger" type="button">Delete</button>
    </div>
  </div>
  <div class="main-content">
    <div class="service-container container-fluid">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="header pt-0">
            <div class="header-body">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="header-pretitle">{{ serviceTypeName }}</h6>
                  <h1 class="header-title">{{ activeMenuName }}</h1>
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-between align-items-center mb-5">
            <div class="col-12">
              <div *ngIf="displayInfoText" class="service-alert alert alert-secondary d-flex align-items-start gap-24" role="alert">
                <span class="flex-grow-1">{{ activeInfoText }}</span>
                <a class="service-alert-close ml-auto" href="javascript: void(0);" (click)="onCloseInfoText()">
                  <img src="assets/img/service/create/close.svg" alt="Close">
                </a>
              </div>
              <ng-content></ng-content>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
