<form class="form-horizontal" autocomplete="off" #form="ngForm" (ngSubmit)="onFormSubmit()">
  <div class="row">
    <div class="col-8">
      <div class="card" [loader]="isLoading">
        <div class="card-header">
          <h4 class="card-header-title">
            {{ 'CourseNameDetails' | localize }}
          </h4>
        </div>
        <div class="card-body">

          <div class="form-group required">
            <label class="col-form-label" for="name">{{ 'Name' | localize}}</label>
            <input [(ngModel)]="model.name" #nameModel="ngModel" #nameEl class="form-control" type="text" id="name"
              name="name" required />
            <abp-validation-summary [control]="nameModel" [controlEl]="nameEl">
            </abp-validation-summary>
          </div>

          <div class="form-group">
            <label class="col-form-label" for="subtitle">{{ 'Subtitle' | localize}}</label>
            <input [(ngModel)]="model.subtitle" #subtitleModel="ngModel" #subtitleEl class="form-control" type="text"
              id="subtitle" name="subtitle" />
            <abp-validation-summary [control]="subtitleModel" [controlEl]="subtitleEl">
            </abp-validation-summary>
          </div>

          <div class="form-group">
            <label class="col-form-label" for="description">{{ 'Description' | localize}}</label>
            <quill-editor [(ngModel)]="model.description" #descriptionModel="ngModel" #descriptionEl id="description"
              name="description"></quill-editor>
            <abp-validation-summary [control]="descriptionModel" [controlEl]="descriptionEl.elementRef.nativeElement">
            </abp-validation-summary>
          </div>

          <div class="form-group">
            <label class="col-form-label" for="categories">{{ 'Categories' | localize}}</label>
            <input class="form-control" type="text" id="categories" name="categories" />
          </div>

        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card" [loader]="isLoading">
        <div class="card-header">
          <h4 class="card-header-title">
            {{ 'model.mage' | localize }}
          </h4>
        </div>
        <div class="card-body">
          <app-document-uploader [previewImages]="true" [largeImagePreview]="true" [maxFiles]="1" [cropImages]="true"
            [cropperAspectRatioWidth]="350" [cropperAspectRationHeight]="263"
            [allowedExtensions]="allowedImageExtensions">
          </app-document-uploader>
        </div>
      </div>

      <div class="card" [loader]="isLoading">
        <div class="card-header">
          <h4 class="card-header-title">
            {{ 'Pricing' | localize }}
          </h4>
        </div>
        <div class="card-body">
          <div class="form-check">
            <input [checked]="currenctPricingState === PricingState.Free" class="form-check-input" type="radio"
              name="free" id="free" value="free" (click)="onPricingClick(PricingState.Free)">
            <label class="form-check-label" for="free">
              {{ 'Free' | localize }}
              <p class="small text-muted">{{ 'AllowAccessToContentFreeOfCharge' | localize }}</p>
            </label>
          </div>
          <div class="form-check">
            <input [checked]="currenctPricingState === PricingState.Charged" class="form-check-input" type="radio"
              name="charged" id="charged" value="charged" (click)="onPricingClick(PricingState.Charged)">
            <label class="form-check-label mb-1" for="charged">{{ 'ChargeAFee' | localize }}</label>
            <div class="input-group">
              <input type="number" [(ngModel)]="model.price" id="price" name="price" class="form-control"
                [disabled]="currenctPricingState === PricingState.Free"
                [readonly]="currenctPricingState === PricingState.Free">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" [disabled]="currenctPricingState === PricingState.Free">
                  {{ this.selectedCurrency.code }}
                </button>
                <div class="dropdown-menu">
                  <a *ngFor="let currency of currencies" class="dropdown-item"
                    (click)="$event.preventDefault(); onCurrencyClick(currency);" href="#">{{ currency.code }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card" [loader]="isLoading">
        <div class="card-header">
          <h4 class="card-header-title">
            {{ 'Language' | localize }}
          </h4>
        </div>
        <div class="card-body">
          <div class="form-group mb-0">
            <select class="custom-select" select2 [defaultValue]="model.languageId"
              (select2ValueChange)="model.languageId = $event" [(ngModel)]="model.languageId" id="language"
              name="language" #languageIdModel="ngModel" #languageIdEl>
              <option *ngFor="let langauge of languages" [value]="langauge.id">
                {{ langauge.name | localize }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary" [disabled]="isLoading || !form.form.valid">
          {{ 'Save' | localize }}
        </button>
      </div>
    </div>
  </div>
</form>
