<form class="form-horizontal" autocomplete="off" #form="ngForm" (ngSubmit)="onFormSubmit()">
  <div class="row">
    <div class="col-8">
      <div class="card" [loader]="isLoading">
        <div class="card-header">
          <h4 class="card-header-title">
            {{ 'CourseNameDetails' | localize }}
          </h4>
        </div>
        <div class="card-body">

          <div class="form-group required">
            <label class="col-form-label" for="name">{{ 'Name' | localize}}</label>
            <input [(ngModel)]="course.name" #nameModel="ngModel" #nameEl class="form-control" type="text" id="name"
              name="name" required />
            <abp-validation-summary [control]="nameModel" [controlEl]="nameEl">
            </abp-validation-summary>
          </div>

          <div class="form-group">
            <label class="col-form-label" for="subtitle">{{ 'Subtitle' | localize}}</label>
            <input [(ngModel)]="course.subtitle" #subtitleModel="ngModel" #subtitleEl class="form-control" type="text"
              id="subtitle" name="subtitle" />
            <abp-validation-summary [control]="subtitleModel" [controlEl]="subtitleEl">
            </abp-validation-summary>
          </div>

          <div class="form-group">
            <label class="col-form-label" for="description">{{ 'Description' | localize}}</label>
            <quill-editor [(ngModel)]="course.description" #descriptionModel="ngModel" #descriptionEl id="description"
              name="description"></quill-editor>
            <abp-validation-summary [control]="descriptionModel" [controlEl]="descriptionEl.elementRef.nativeElement">
            </abp-validation-summary>
          </div>

          <div class="form-group">
            <label class="col-form-label" for="categories">{{ 'Categories' | localize}}</label>
            <input class="form-control" type="text" id="categories" name="categories" />
          </div>

        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" [loader]="isLoading">
        <div class="card-header">
          <h4 class="card-header-title">
            {{ 'CourseImage' | localize }}
          </h4>
        </div>
        <div class="card-body">
          <app-document-uploader [previewImages]="true" [largeImagePreview]="true" [maxFiles]="1" [cropImages]="true"
            [cropperAspectRatioWidth]="350" [cropperAspectRationHeight]="263"
            [allowedExtensions]="allowedImageExtensions">
          </app-document-uploader>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary" [disabled]="isLoading || !form.form.valid">
          {{ 'Save' | localize }}
        </button>
      </div>
    </div>
  </div>
</form>
