<table class="table table-sm table-sm-custom mb-0">
  <tbody>
    <tr>
      <td>
        <div class="row">
          <div class="col flex-horizontal-center">
            <div class="avatar avatar-sm d-inline-block me-2">
              <img src="/assets/themes/dashkit/img/avatars/profiles/avatar-4.jpg" alt="..."
                class="avatar-img rounded-circle">
            </div>
            <p class="m-0 ml-3">
              <b>Diana Smiley</b>
            </p>
          </div>
          <div class="col-auto flex-horizontal-center">
            <button class="btn btn-sm btn-outline-success mr-1">
              <i class="fe fe-check"></i>
            </button>
            <button class="btn btn-sm btn-outline-danger">
              <i class="fe fe-x"></i>
            </button>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="row">
          <div class="col flex-horizontal-center">
            <div class="avatar avatar-sm d-inline-block me-2">
              <img src="/assets/themes/dashkit/img/avatars/profiles/avatar-2.jpg" alt="..."
                class="avatar-img rounded-circle">
            </div>
            <p class="m-0 ml-3">
              <b>Chris Baker</b>
            </p>
          </div>
          <div class="col-auto flex-horizontal-center">
            <button class="btn btn-sm btn-outline-success mr-1">
              <i class="fe fe-check"></i>
            </button>
            <button class="btn btn-sm btn-outline-danger">
              <i class="fe fe-x"></i>
            </button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
