<div class="table-responsive">
    <table class="table table-sm table-nowrap card-table">
      <thead>
        <tr>
          <th>INTERACTIVE TOOLS</th>
        </tr>
      </thead>
      <tbody class="font-size-base">
          <div class="card-body">
          <div class="list-group list-group-flush my-n3">
                <div class="row align-items-center mb-3">
                  <div class="col">
                    <span class="font-weight-base ">
                      Enable Microphone
                    </span>
                  </div>
                  <div class="col-auto">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="subscriptionsSwitchOne">
                      <label class="custom-control-label" for="subscriptionsSwitchOne"></label>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center mb-3">
                  <div class="col">
                    <span class="font-weight-base ">
                      Enable Webcam
                    </span>
                  </div>
                  <div class="col-auto">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="subscriptionsSwitchTwo" checked="true">
                      <label class="custom-control-label" for="subscriptionsSwitchTwo"></label>
                    </div>

                  </div>
                </div>
                <div class="row align-items-center mb-3">
                  <div class="col">

                    <!-- Heading -->
                    <span class="font-weight-base ">
                      Enable Presentation tools
                    </span>
                  </div>
                  <div class="col-auto">

                    <!-- Switch -->
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="subscriptionsSwitchThree" >
                      <label class="custom-control-label" for="subscriptionsSwitchThree"></label>
                    </div>

                  </div>
                </div>
                <div class="row align-items-center mb-3">
                    <div class="col">

                      <!-- Heading -->
                      <span class="font-weight-base ">
                        Enable Speak requests
                      </span>
                    </div>
                    <div class="col-auto">

                      <!-- Switch -->
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="subscriptionsSwitchfour" >
                        <label class="custom-control-label" for="subscriptionsSwitchfour"></label>
                      </div>

                    </div>
                  </div>
            </div>
          </div>

      </tbody>
    </table>
    <table class="table table-sm table-nowrap card-table">
        <thead>
          <tr>
            <th>ATTENDEES</th>
          </tr>
        </thead>
        <tbody class="font-size-base">
            <div class="card-body">
                <div class="list-group list-group-flush my-n3">
                  <div class="row align-items-center mb-3">
                    <div class="col">
                      <span class="font-weight-base ">
                       View Audience
                      </span>
                    </div>
                    <div class="col-auto">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="audienceone" checked="">
                        <label class="custom-control-label" for="audienceone"></label>
                      </div>
                    </div>
                  </div>

            </div>
            </div>

        </tbody>
      </table>
    <table class="table table-sm table-nowrap card-table">
        <thead>
          <tr>
            <th>CHAT</th>


          </tr>
        </thead>
        <tbody class="font-size-base">
            <div class="card-body">
            <div class="list-group list-group-flush my-n3">
                  <div class="row align-items-center mb-3">
                    <div class="col">
                      <span class="font-weight-base ">
                        Chat publicily
                      </span>
                    </div>
                    <div class="col-auto">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="publicChat" checked="">
                        <label class="custom-control-label" for="publicChat"></label>
                      </div>
                    </div>
                  </div>
                  <div class="row align-items-center mb-3">
                    <div class="col">
                      <span class="font-weight-base pd-3">
                        Tag members
                      </span>
                    </div>
                    <div class="col-auto">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="member" checked="true">
                        <label class="custom-control-label" for="member"></label>
                      </div>

                    </div>
                  </div>
                  <div class="row align-items-center mb-3">
                    <div class="col">

                      <!-- Heading -->
                      <span class="font-weight-base ">
                        Chat privately
                      </span>
                    </div>
                    <div class="col-auto">

                      <!-- Switch -->
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="privateChat" checked="">
                        <label class="custom-control-label" for="privateChat"></label>
                      </div>

                    </div>
                  </div>
                  <div class="row align-items-center mb-3">
                      <div class="col">

                        <div class="checklist pd-3">
                            <div class="custom-control custom-checkbox checklist-control">
                                <input class="custom-control-input" id="anyoneChat" type="checkbox" />
                                <label class="custom-control-label" for="anyoneChat"></label>
                                <span >
                                  With anyone
                                </span>
                              </div>
                              </div>

                      </div>

                    </div>
                    <div class="row align-items-center mb-3">
                        <div class="col">

                          <div class="checklist pd-3">
                              <div class="custom-control custom-checkbox checklist-control">
                                  <input class="custom-control-input" id="adminOnly" type="checkbox" />
                                  <label class="custom-control-label" for="adminOnly"></label>
                                  <span >
                                    With admin only
                                  </span>
                                </div>
                                </div>

                        </div>

                      </div>
              </div>
            </div>

        </tbody>
      </table>
      <table class="table table-sm table-nowrap card-table">
        <thead>
          <tr>
            <th>Questions</th>


          </tr>
        </thead>
        <tbody class="font-size-base">
            <div class="card-body">
            <div class="list-group list-group-flush my-n3">
                  <div class="row align-items-center mb-3">
                    <div class="col">
                      <span class="font-weight-base ">
                        Ask questions
                      </span>
                    </div>
                    <div class="col-auto">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="askQuestion" checked="">
                        <label class="custom-control-label" for="askQuestion"></label>
                      </div>
                    </div>
                  </div>
                  <div class="row align-items-center mb-3">
                    <div class="col">
                        <div class="checklist pd-3">
                            <div class="custom-control custom-checkbox checklist-control">
                                <input class="custom-control-input" id="publicQuestion" type="checkbox" />
                                <label class="custom-control-label" for="publicQuestion"></label>
                                <span >
                                  Public questions
                                </span>
                              </div>
                              </div>
                    </div>
                  </div>
                  <div class="row align-items-center mb-3">
                    <div class="col">

                      <!-- Heading -->
                      <span class="font-weight-base pd-12">
                        Allow audience to upvote
                      </span>
                    </div>
                    <div class="col-auto">

                      <!-- Switch -->
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="audienceUpvote" checked="false">
                        <label class="custom-control-label" for="audienceUpvote"></label>
                      </div>

                    </div>
                  </div>
                  <div class="row align-items-center mb-3">
                      <div class="col">

                        <!-- Heading -->
                        <span class="font-weight-base pd-12">
                          Allow audience to respond
                        </span>
                      </div>
                      <div class="col-auto">

                        <!-- Switch -->
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="audienceRespond" checked="false">
                          <label class="custom-control-label" for="audienceRespond"></label>
                        </div>

                      </div>
                    </div>
                    <div class="row align-items-center mb-3">
                        <div class="col">
                            <div class="checklist pd-3">
                                <div class="custom-control custom-checkbox checklist-control">
                                    <input class="custom-control-input" id="privateQuestion" type="checkbox" />
                                    <label class="custom-control-label" for="privateQuestion"></label>
                                    <span >
                                      Private questions with admin
                                    </span>
                                  </div>
                                  </div>
                        </div>
                      </div>
                      <div class="row align-items-center mb-3">
                        <div class="col">

                          <!-- Heading -->
                          <span class="font-weight-base pd-12">
                            Allow follow up response
                          </span>
                        </div>
                        <div class="col-auto">

                          <!-- Switch -->
                          <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="followUp" checked="false">
                            <label class="custom-control-label" for="followUp"></label>
                          </div>

                        </div>
                      </div>
              </div>
            </div>

        </tbody>
      </table>
      <table class="table table-sm table-nowrap card-table">
        <thead>
          <tr>
            <th>POLLS</th>


          </tr>
        </thead>
        <tbody class="font-size-base">
            <div class="card-body">
            <div class="list-group list-group-flush my-n3">
                  <div class="row align-items-center mb-3">
                    <div class="col">
                      <span class="font-weight-base ">
                        Enable polls tab
                      </span>
                    </div>
                    <div class="col-auto">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="pollTab" checked="">
                        <label class="custom-control-label" for="pollTab"></label>
                      </div>
                    </div>
                  </div>

              </div>
            </div>

        </tbody>
      </table>
      <table class="table table-sm table-nowrap card-table">
        <thead>
          <tr>
            <th>OFFERS</th>
          </tr>
        </thead>
        <tbody class="font-size-base">
            <div class="card-body">
            <div class="list-group list-group-flush my-n3">
                  <div class="row align-items-center mb-3">
                    <div class="col">
                      <span class="font-weight-base ">
                        Enable offer tab
                      </span>
                    </div>
                    <div class="col-auto">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="offerTab" checked="">
                        <label class="custom-control-label" for="offerTab"></label>
                      </div>
                    </div>
                  </div>
                  <div class="row align-items-center mb-3">
                    <div class="col">
                      <span class="font-weight-base pd-3">
                       Display number of purchases
                      </span>
                    </div>
                    <div class="col-auto">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="purchasesCount" checked="">
                        <label class="custom-control-label" for="purchasesCount"></label>
                      </div>
                    </div>
                  </div>


              </div>
            </div>

        </tbody>
      </table>
      <table class="table table-sm table-nowrap card-table">
        <thead>
          <tr>
            <th>HANDOUTS</th>
          </tr>
        </thead>
        <tbody class="font-size-base">
            <div class="card-body">
            <div class="list-group list-group-flush my-n3">
                  <div class="row align-items-center mb-3">
                    <div class="col">
                      <span class="font-weight-base ">
                        Enable handouts tabs
                      </span>
                    </div>
                    <div class="col-auto">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="handoutTab" checked="">
                        <label class="custom-control-label" for="handoutTab"></label>
                      </div>
                    </div>
                  </div>

              </div>
            </div>

        </tbody>
      </table>
  </div>
