<div class="table-responsive">
    <table class="table table-sm table-nowrap card-table">
      <thead>
        <tr>
          <th>{{ 'InteractiveTools' | localize }}</th>
        </tr>
      </thead>
      <tbody class="font-size-base">
          <div class="card-body">
          <div class="list-group list-group-flush my-n3">
                <div class="row align-items-center mb-3">
                  <div class="col">
                    <span class="font-weight-base ">
                      {{ 'EnableMicrophone' | localize }}
                    </span>
                  </div>
                  <div class="col-auto">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="subscriptionsSwitchOne">
                      <label class="custom-control-label" for="subscriptionsSwitchOne"></label>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center mb-3">
                  <div class="col">
                    <span class="font-weight-base ">
                      {{ 'EnableWebcam' | localize }}
                    </span>
                  </div>
                  <div class="col-auto">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="subscriptionsSwitchTwo" checked="true">
                      <label class="custom-control-label" for="subscriptionsSwitchTwo"></label>
                    </div>

                  </div>
                </div>
                <div class="row align-items-center mb-3 brd-pad" >
                  <div class="col">

                    <!-- Heading -->
                    <span class="font-weight-base ">
                      {{ 'EnablePresentationTools' | localize }}
                    </span>
                  </div>
                  <div class="col-auto">

                    <!-- Switch -->
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="subscriptionsSwitchThree" >
                      <label class="custom-control-label" for="subscriptionsSwitchThree"></label>
                    </div>

                  </div>
                </div>
                <div class="row align-items-center">
                    <div class="col">

                      <!-- Heading -->
                      <span class="font-weight-base ">
                        {{ 'EnableSpeakRequests' | localize }}
                      </span>
                    </div>
                    <div class="col-auto">

                      <!-- Switch -->
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="subscriptionsSwitchfour" >
                        <label class="custom-control-label" for="subscriptionsSwitchfour"></label>
                      </div>

                    </div>
                  </div>
            </div>
          </div>

      </tbody>
    </table>
    <table class="table table-sm table-nowrap card-table">
        <thead>
          <tr>
            <th>{{ 'Attendees' | localize | uppercase }}</th>
          </tr>
        </thead>
        <tbody class="font-size-base">
            <div class="card-body">
                <div class="list-group list-group-flush my-n3">
                  <div class="row align-items-center">
                    <div class="col">
                      <span class="font-weight-base ">
                       {{ 'ViewAudience' | localize }}
                      </span>
                    </div>
                    <div class="col-auto">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="audienceone" checked="">
                        <label class="custom-control-label" for="audienceone"></label>
                      </div>
                    </div>
                  </div>

            </div>
            </div>

        </tbody>
      </table>
    <table class="table table-sm table-nowrap card-table">
        <thead>
          <tr>
            <th>{{ 'Chat' | localize | uppercase }}</th>


          </tr>
        </thead>
        <tbody class="font-size-base">
            <div class="card-body">
            <div class="list-group list-group-flush my-n3">
                  <div class="row align-items-center mb-3">
                    <div class="col">
                      <span class="font-weight-base ">
                        {{ 'ChatPublicily' | localize }}
                      </span>
                    </div>
                    <div class="col-auto">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="publicChat" checked="">
                        <label class="custom-control-label" for="publicChat"></label>
                      </div>
                    </div>
                  </div>
                  <div class="row align-items-center mb-3">
                    <div class="col">
                      <span class="font-weight-base pd-3">
                        {{ 'TagMembers' | localize }}
                      </span>
                    </div>
                    <div class="col-auto">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="member" checked="true">
                        <label class="custom-control-label" for="member"></label>
                      </div>

                    </div>
                  </div>
                  <div class="row align-items-center mb-3">
                    <div class="col">

                      <!-- Heading -->
                      <span class="font-weight-base ">
                        {{ 'ChatPrivately' | localize }}
                      </span>
                    </div>
                    <div class="col-auto">

                      <!-- Switch -->
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="privateChat" checked="">
                        <label class="custom-control-label" for="privateChat"></label>
                      </div>

                    </div>
                  </div>
                  <div class="row align-items-center">
                      <div class="col">
                        <div class="custom-control custom-radio pd-7">
                            <input type="radio" id="anyoneChatType" name="chatType"
                               class="custom-control-input" />
                            <label class="custom-control-label" for="anyoneChatType"></label>
                            <label class="custom-control-caption" for="anyoneChatType">
                                {{ 'WithAnyone' | localize }}
                            </label>
                          </div>
                          </div>

                    </div>
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="custom-control custom-radio pd-7">
                                <input type="radio" id="adminChatType" name="chatType"
                                   class="custom-control-input" />
                                <label class="custom-control-label" for="adminChatType"></label>
                                <label class="custom-control-caption" for="adminChatType">
                                    {{ 'WithAdminOnly' | localize }}
                                </label>
                              </div>
                              </div>

                      </div>
              </div>
            </div>

        </tbody>
      </table>
      <table class="table table-sm table-nowrap card-table">
        <thead>
          <tr>
            <th>{{'Questions' | localize}}</th>


          </tr>
        </thead>
        <tbody class="font-size-base">
            <div class="card-body">
            <div class="list-group list-group-flush my-n3">
                  <div class="row align-items-center mb-3">
                    <div class="col">
                      <span class="font-weight-base ">
                        {{ 'AskQuestions' | localize }}
                      </span>
                    </div>
                    <div class="col-auto">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="askQuestion" checked="">
                        <label class="custom-control-label" for="askQuestion"></label>
                      </div>
                    </div>
                  </div>
                  <div class="row align-items-center">
                    <div class="col">
                    <div class="custom-control custom-radio pd-7">
                        <input type="radio" id="publicQuestionType" name="questionType"
                           class="custom-control-input" />
                        <label class="custom-control-label" for="publicQuestionType"></label>
                        <label class="custom-control-caption" for="publicQuestionType">
                            {{ 'PublicQuestions' | localize }}
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row align-items-center mb-3">
                    <div class="col">

                      <!-- Heading -->
                      <span class="font-weight-base pd-12">
                        {{ 'AllowAudienceToUpvote' | localize }}
                      </span>
                    </div>
                    <div class="col-auto">

                      <!-- Switch -->
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="audienceUpvote" checked="false">
                        <label class="custom-control-label" for="audienceUpvote"></label>
                      </div>

                    </div>
                  </div>
                  <div class="row align-items-center mb-3">
                      <div class="col">

                        <!-- Heading -->
                        <span class="font-weight-base pd-12">
                          {{ 'AllowAudienceToRespond' | localize }}
                        </span>
                      </div>
                      <div class="col-auto">

                        <!-- Switch -->
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="audienceRespond" checked="false">
                          <label class="custom-control-label" for="audienceRespond"></label>
                        </div>

                      </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col">
                        <div class="custom-control custom-radio pd-7">
                            <input type="radio" id="privateQuestionType" name="questionType"
                               class="custom-control-input" />
                            <label class="custom-control-label" for="privateQuestionType"></label>
                            <label class="custom-control-caption" for="privateQuestionType">
                                {{ 'PrivateQuestionsWithAdmin' | localize }}
                            </label>
                          </div>
                          </div>
                      </div>
                      <div class="row align-items-center">
                        <div class="col">

                          <!-- Heading -->
                          <span class="font-weight-base pd-12">
                            {{ 'AllowFollowUpResponse' | localize }}
                          </span>
                        </div>
                        <div class="col-auto">

                          <!-- Switch -->
                          <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="followUp" checked="false">
                            <label class="custom-control-label" for="followUp"></label>
                          </div>

                        </div>
                      </div>
              </div>
            </div>

        </tbody>
      </table>
      <table class="table table-sm table-nowrap card-table">
        <thead>
          <tr>
            <th>{{ 'Polls' | localize | uppercase }}</th>
          </tr>
        </thead>
        <tbody class="font-size-base">
            <div class="card-body">
            <div class="list-group list-group-flush my-n3">
                  <div class="row align-items-center">
                    <div class="col">
                      <span class="font-weight-base ">
                        {{ 'EnablePollsTab' | localize }}
                      </span>
                    </div>
                    <div class="col-auto">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="pollTab" checked="">
                        <label class="custom-control-label" for="pollTab"></label>
                      </div>
                    </div>
                  </div>

              </div>
            </div>

        </tbody>
      </table>
      <table class="table table-sm table-nowrap card-table">
        <thead>
          <tr>
            <th>{{ 'Offers' | localize | uppercase }}</th>
          </tr>
        </thead>
        <tbody class="font-size-base">
            <div class="card-body">
            <div class="list-group list-group-flush my-n3">
                  <div class="row align-items-center mb-3">
                    <div class="col">
                      <span class="font-weight-base ">
                        Enable offer tab
                      </span>
                    </div>
                    <div class="col-auto">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="offerTab" checked="">
                        <label class="custom-control-label" for="offerTab"></label>
                      </div>
                    </div>
                  </div>
                  <div class="row align-items-center">
                    <div class="col">
                      <span class="font-weight-base pd-3">
                       {{ 'DisplayNumberOfPurchases' | localize }}
                      </span>
                    </div>
                    <div class="col-auto">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="purchasesCount" checked="">
                        <label class="custom-control-label" for="purchasesCount"></label>
                      </div>
                    </div>
                  </div>


              </div>
            </div>

        </tbody>
      </table>
      <table class="table table-sm table-nowrap card-table">
        <thead>
          <tr>
            <th>{{ 'Handouts' | localize | uppercase }}</th>
          </tr>
        </thead>
        <tbody class="font-size-base">
            <div class="card-body">
            <div class="list-group list-group-flush my-n3">
                  <div class="row align-items-center ">
                    <div class="col">
                      <span class="font-weight-base ">
                        {{ 'EnableHandoutsTabs' | localize }}
                      </span>
                    </div>
                    <div class="col-auto">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="handoutTab" checked="">
                        <label class="custom-control-label" for="handoutTab"></label>
                      </div>
                    </div>
                  </div>

              </div>
            </div>

        </tbody>
      </table>
  </div>
