<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%utcdate [%level] %newline     Logger: %-4logger %newline     message: %message %newline     method: %method %newline     exception: %exception %newline%newline" />
		</layout>
	</appender>
	<root>
		<appender-ref ref="ConsoleAppender" />
		<level value="INFO" />
	</root>
</log4net>
