<div *ngIf="poll && !sharedPoll else noPollTemplate" class="attendee-open p-3">
  <ng-container *ngIf="votingFinished || this.poll.eventPollQuestions.length === 0 else votingTemplate">
    <div class="card card-sm finish-voting">
      <div class="card-body p-5 text-center">
        <h4 class="text-center mb-0">{{ poll.name }}</h4>
        <i class="fas fa-check-circle option-icon text-primary my-3"></i>
        <p class="m-0">
          {{ 'FinishedVotingMessage' | localize }}
        </p>
        <p class="small m-0">
          {{ 'FinishedVotingSubmessage' | localize }}
        </p>
      </div>
    </div>
  </ng-container>
  <ng-template #votingTemplate>
    <div class="poll">
      <h4 class="text-center">{{ poll.name }}</h4>
      <div class="questions">
        <div *ngFor="let question of poll.eventPollQuestions" class="card card-sm mb-2">
          <div class="card-header h-auto p-3">
            <p class="card-header-title small">
              <b>
                {{ question.text }}
              </b>
            </p>
          </div>
          <div class="card-body p-3">
            <div *ngFor="let option of question.eventPollQuestionOptions" class="option d-flex align-items-center mb-2">
              <i class="mr-2 option-icon"
                [ngClass]="{ 'far fa-circle text-muted' : !checkVotedOption(option), 'fas fa-check-circle text-primary': checkVotedOption(option) }"
                (click)="onOptionClick(question, option)">
              </i>
              <small>{{ option.text }}</small>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <i *ngIf="question.type === EventPollQuestionType.MultipleChoice" class="small text-muted">
                {{ 'YouCanSelectOneAnswer' | localize }}
              </i>
              <i *ngIf="question.type === EventPollQuestionType.MultipleResponse" class="small text-muted">
                {{ 'YouCanSelectMultipleAnswers' | localize }}
              </i>
              <button [disabled]="!checkQuestionHasVote(question)" class="btn btn-sm btn-primary"
                (click)="onVoteClick(question)">
                {{ 'Vote' | localize }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<ng-template #noPollTemplate>
  <p *ngIf="!sharedPoll" class="small text-center my-5">
    {{ 'NoOpenPolls' | localize }}
  </p>
</ng-template>

<div *ngIf="sharedPoll" class="p-3 h-100">
  <app-poll class="poll" [poll]="sharedPoll" [showVoterPercentage]="false"></app-poll>
</div>
