<app-shimmer
    [isBlock]="true"
    [show]="isLoading$ | async"
    [shimmerType]="shimmerType.DashboardPurchased"
    backgroundColor="#f9fbfd"
></app-shimmer>

<ng-container *ngIf="!(isLoading$ | async)">
    <div class="card custom-card-border">
        <div class="card-header border-0">
            <div class="d-flex align-items-center">
                <form>
                    <div class="input-group input-group-flush">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fe fe-search"></i>
                            </span>
                        </div>
                        <input class="list-search form-control" type="search" name="Search" placeholder="Search" />
                    </div>
                </form>
                <div class="search-nav d-flex ml-auto">
                    <ul class="nav nav-tabs nav-tabs-sm border-0">
                        <li class="nav-item">
                            <a href="#all-articles" class="nav-link" [class.active]="selectedTab === purchasedTabs.All" (click)="selectedTab = purchasedTabs.All" data-toggle="tab" role="tab">
                                All <span class="badge badge-pill badge-light">{{ totalArticles }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#unread-articles" class="nav-link" [class.active]="selectedTab === purchasedTabs.Unread" (click)="selectedTab = purchasedTabs.Unread" data-toggle="tab" role="tab">
                                Unread <span class="badge badge-pill badge-light">{{ totalUnreadArticles }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#read-articles" class="nav-link" [class.active]="selectedTab === purchasedTabs.Read" (click)="selectedTab = purchasedTabs.Read" data-toggle="tab" role="tab">
                                Read <span class="badge badge-pill badge-light">{{ totalReadArticles }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane fade" [ngClass]="{ 'show active': selectedTab === purchasedTabs.All }" id="all-articles" role="tabpanel">
            <ng-container *ngIf="!!totalArticles else noRecords">
                <app-service-card-dashboard
                    *ngFor="let data of allArticles"
                    [data]="data"
                    [isLoading]="isLoading$ | async"
                    (onCancelSession)="onCancelSessionClick($event)"
                    (onRepurchase)="onRepurchaseClick($event)"
                    (onRedirection)="onRedirection($event)"
                    (onReviewAction)="onReviewAction($event)"
                ></app-service-card-dashboard>
            </ng-container>
        </div>

        <div class="tab-pane fade" [ngClass]="{ 'show active': selectedTab === purchasedTabs.Unread }" id="unread-articles" role="tabpanel">
            <ng-container *ngIf="!!totalUnreadArticles else noRecords">
                <app-service-card-dashboard
                    *ngFor="let data of unreadArticles"
                    [data]="data"
                    [isLoading]="isLoading$ | async"
                    (onCancelSession)="onCancelSessionClick($event)"
                    (onRepurchase)="onRepurchaseClick($event)"
                    (onRedirection)="onRedirection($event)"
                    (onReviewAction)="onReviewAction($event)"
                ></app-service-card-dashboard>
            </ng-container>
        </div>

        <div class="tab-pane fade" [ngClass]="{ 'show active': selectedTab === purchasedTabs.Read }" id="read-articles" role="tabpanel">
            <ng-container *ngIf="!!totalReadArticles else noRecords">
                <app-service-card-dashboard
                    *ngFor="let data of readArticles"
                    [data]="data"
                    [isLoading]="isLoading$ | async"
                    (onCancelSession)="onCancelSessionClick($event)"
                    (onRepurchase)="onRepurchaseClick($event)"
                    (onRedirection)="onRedirection($event)"
                    (onReviewAction)="onReviewAction($event)"
                ></app-service-card-dashboard>
            </ng-container>
        </div>
    </div>
</ng-container>

<ng-template #noRecords>
    <div class="text-center font-size-sm text-muted w-100">No records to display</div>
</ng-template>

