<div class="container-fluid" [@routerTransition]>
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="header">
        <div class="header-body">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="header-pretitle">{{ 'ManageYourEvents' | localize }}</h6>
              <h1 class="header-title"><span *ngIf="user.id">{{ user.fullName }}'s Calendar</span></h1>
            </div>
            <div class="btn-group col-auto mr-n3">
              <button class="btn h-40-px w-45-px no-focus" [ngClass]="{ 'btn-primary': isListView, 'btn-white': !isListView }" (click)="activeView=CalendarView.List">
                <img [src]="'/assets/img/schedule/list' + (isListView ? '_active' : '') + '.svg'">
              </button>
              <button class="btn h-40-px w-45-px no-focus" [ngClass]="{ 'btn-primary': isCalendarView, 'btn-white': !isCalendarView }" (click)="activeView=CalendarView.Calendar">
                <img [src]="'/assets/img/schedule/calendar' + (isCalendarView ? '_active' : '') + '.svg'">
              </button>
            </div>
            <div *ngIf="isTutorCalendarUser && isGranted('Pages.Calendar.Schedules')" class="col-auto mr-n3">
              <button [disabled]="isUserAvailabilitiesLoading" (click)="onScheduleClick()" class="btn btn-primary">
                {{ 'Schedules' | localize }}
              </button>
            </div>
            <div class="col-auto">
              <select class="custom-select" [disabled]="isLoading" select2 [defaultValue]="user.timeZoneId"
                (select2ValueChange)="onTimeZoneChange($event)" [(ngModel)]="user.timeZoneId" id="timeZoneId"
                name="timeZoneId" #timeZoneIdModel="ngModel" #timeZoneIdEl required>
                <option *ngFor="let timeZone of timeZones" [value]="timeZone.id">
                  {{ timeZone.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div [ngClass]="{ 'hidden outside-screen' : !isListView }">
        <app-list-view></app-list-view>
      </div>

      <div [ngClass]="{ 'hidden outside-screen' : !isCalendarView }">
        <div class="row">
          <div class="col-md-8 col-lg-9">
            <div class="card">
              <div class="card-body" [loader]="isLoading || isUserAvailabilitiesLoading">
                <full-calendar #calendar [options]="calendarOptions"></full-calendar>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3">
            <div class="card">
              <div class="card-body">
                <div class="form-group mb-0">
                  <select class="custom-select" select2 [(ngModel)]="filteredSessionType"
                    [defaultValue]="CalendarEventSessionType.Upcoming" (select2ValueChange)="onSessionTypeChange($event)"
                    id="sessionType" name="sessionOrder" #sessionType="ngModel" [hideSearchBox]="true">
                    <option [value]="CalendarEventSessionType.Upcoming">{{ 'UpcomingSessions' | localize }}</option>
                    <option [value]="CalendarEventSessionType.Past">{{ 'PastSessions' | localize }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body" [loader]="isLoading">
                <ul class="list-group list-group-flush list my-n3">
                  <li class="list-group-item" *ngFor="let item of calendarEvents">
                    <div class="row align-items-center">
                      <div class="col ms-n2">
                        <div class="row">
                          <h4 class="col text-primary">
                            <a href="javascript:;" (click)="onEventClick(item)">{{ item.title }}</a>
                          </h4>
                        </div>
                        <p class="small mb-0">
                          <span *ngIf="isTutor">{{ item.project.creatorUser.fullName }}</span>
                          <span *ngIf="!isTutor && item.projectOffer && item.projectOffer.creatorUser">{{
                            item.projectOffer.creatorUser.fullName }}</span>
                          @{{ item.startTime | dateFormat: 'hh:mm A DD/MM/YY' }}
                        </p>
                      </div>
                    </div>
                  </li>

                  <li class="list-group-item" *ngIf="calendarEvents.length === 0">
                    <div class="row align-items-center">
                      <div class="col ms-n2" *ngIf="!isLoading">
                        <p *ngIf="filteredSessionType === CalendarEventSessionType.Past" class="m-0">{{ 'NoPastSessions' |
                          localize }}</p>
                        <p *ngIf="filteredSessionType === CalendarEventSessionType.Upcoming" class="m-0">{{
                          'NoUpcomingSessions' | localize }}</p>
                      </div>

                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
