.header {
    margin-bottom: 1.875rem;
    &-body {
        padding-top: 2.5rem;
        padding-bottom: 1.875rem;

        & > div {
            .btn {
                padding: 8px 12px;
            }
        }
    }
}
