<div [@routerTransition]>
    <div class="header">
        <div class="container-fluid">
            <div class="header-body position-relative" [class.border-0]="isLoading$ | async">
                <app-shimmer [show]="isLoading$ | async" [shimmerType]="isLearnerView ? shimmerType.DashboardHeaderLearner : shimmerType.DashboardHeaderCreator" backgroundColor="#f9fbfd"></app-shimmer>
                <div class="d-flex">
                    <div>
                        <h6 class="header-pretitle">{{ 'Dashboard' | localize }}</h6>
                        <h1 class="header-title">{{ greetings }}, {{ user.name }}</h1>
                    </div>
                    <div *ngIf="isTutor" class="ml-auto p-2 d-flex flex-row gap-10">
                        <div class="dropdown" *ngIf="userView === DashboardServiceView.creator">
                            <a href="#" class="btn btn-primary d-flex gap-9" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fe fe-plus"></span>
                                {{ 'Create' | localize}}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-item cursor-pointer" (click)="onCreateCourseClick()">{{ 'Course' | localize}}</div>
                                <div class="dropdown-item cursor-pointer" (click)="onCreateBroadcastClick()">{{ 'Broadcast' | localize}}</div>
                                <div class="dropdown-item cursor-pointer" (click)="onCreateWorkshopClick()">{{ 'Workshop' | localize}}</div>
                                <div class="dropdown-item cursor-pointer" (click)="onCreateCoachingClick()">{{ 'Coaching' | localize}}</div>
                                <div class="dropdown-item cursor-pointer" (click)="onCreateArticleClick()">{{ 'Article' | localize}}</div>
                                <div class="dropdown-item cursor-pointer" (click)="onCreateTutorialClick()">{{ 'Tutorial' | localize}}</div>
                            </div>
                        </div>

                        <button *ngIf="isTutor" class="btn btn-white custom-card-border d-flex gap-9" (click)="handleSwitchView()">
                            <span class="fe fe-refresh-cw"></span>
                            Switch to {{ switchButtonText }} view
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <ng-container *ngIf="!isOnboarding && !user.stripeUserId && isTutor && false">
            <div class="row justify-content-between align-items-center">
                <div class="col-12">
                    <div class="alert alert-warning alert-dismissible mb-0 mt-3" role="alert">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <i class="fe fe-alert-triangle display-5"></i>
                            </div>
                            <div class="col">
                                <h3 class="mb-2">{{ 'StripeConnectionRequired' | localize }}!</h3>
                                {{ 'StripeConnectionMessage' | localize }}
                            </div>
                            <div class="col-auto mr-n5">
                                <button (click)="onConnectStripeClick()" class="btn btn-primary btn-sm" type="button">
                                    {{ 'ConnectStripe' | localize }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-5">
        </ng-container>

        <app-overview *ngIf="permission.isGranted('Pages.Dashboard.Overview')"></app-overview>
    </div>
</div>
