<div class="row mb-3" *ngFor="let relatedEvent of relatedEvents">
  <div class="col-auto d-flex justify-content-center align-items-center">
    <div class="avatar avatar-sm avatar-4by3">
      <img [src]="getServiceImageUrl(relatedEvent.thumbnailDocument) | async" alt="..." class="avatar-img rounded">
    </div>
  </div>
  <div class="col d-flex flex-column justify-content-center ml-n2">
    <a [routerLink]="['/app/articles/student-portal', relatedEvent.id]">
      <h4 class="mb-2 small">{{ relatedEvent.name }}</h4>
    </a>
    <p class="text-muted m-0 p-0 break-spaces small">
      {{ relatedEvent.creationTime | dateFormat: 'MMMM DD, YYYY' }}
    </p>
  </div>
  <div *ngIf="relatedEvent.pricingType !== PricingType.Free"
    class="col-auto d-flex flex-column justify-content-center ">
    <i *ngIf="purchasedEvents[relatedEvent.id] else purchaseButtonTemplate" class="fe fe-check mr-2"></i>
    <ng-template #purchaseButtonTemplate>
      <button class="btn btn-sm btn-primary mb-2" (click)="onPurchaseClick(relatedEvent)">
        &#163;{{ zeroIfNull(relatedEvent.price) }}
      </button>
    </ng-template>
  </div>
</div>
<p *ngIf="!relatedEvents.length" class="m-0 p-0 text-muted text-center small">
  {{ 'NoRelatedEvent' | localize }}
</p>
