.page-section-actions {
  text-align    : center;
  padding-bottom: 10px;
  padding-top   : 20px;
  cursor        : pointer;

  .add-component {
    display  : inline-block;
    font-size: 14px;
  }
}

.no-page-component {
  text-align: center;
  padding   : 20px;

  img {
    width        : 300px;
    margin-bottom: 10px;
  }

  .title {
    margin-bottom: 5px;
  }
}
