<sidebar
  *ngIf="
    (themeSetting.navigationPosition === NavigationPosition.Sidenav || themeSetting.navigationPosition === NavigationPosition.Combo) &&
    themeSetting.sidenavSizing === SidebarSize.Base
  "
  [routerEvent]="routerEvent"
></sidebar>

<topnav *ngIf="themeSetting.navigationPosition === NavigationPosition.Topnav" [routerEvent]="routerEvent"></topnav>

<sidebar-small
  *ngIf="
    (themeSetting.navigationPosition === NavigationPosition.Sidenav || themeSetting.navigationPosition === NavigationPosition.Combo) &&
    themeSetting.sidenavSizing === SidebarSize.Small
  "
  [routerEvent]="routerEvent"
></sidebar-small>

<!-- MAIN CONTENT
================================================== -->
<div class="main-content flex-grow-1" [class.can-scroll]="canScroll">
  <topbar *ngIf="themeSetting.navigationPosition === NavigationPosition.Combo"></topbar>
  <app-notification-card [notification]="notification"></app-notification-card>

  <div *ngIf="upcomingEvents?.length" class="main-content-toaster left bottom hide-empty d-flex flex-column justify-content-center align-items-center gap-20">
    <app-service-notification-popup
      *ngFor="let upcomingEvent of upcomingEvents"
      [upcomingEvent]="upcomingEvent"
      [isClosing]="isUpcomingEventClosing(upcomingEvent)"
      (onClose)="handleCloseEventNotifier($event)"
    ></app-service-notification-popup>
  </div>

  <ng-container *ngIf="themeSetting.navigationPosition === NavigationPosition.Topnav">
    <router-outlet name="header"></router-outlet>
    <div class="container p-0">
      <router-outlet></router-outlet>
    </div>
  </ng-container>
  <ng-container *ngIf="themeSetting.navigationPosition !== NavigationPosition.Topnav">
    <router-outlet name="header"></router-outlet>
    <router-outlet></router-outlet>
  </ng-container>
</div>
<!-- / .main-content -->
