:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content {
  overflow-x: hidden;
  overflow-y: hidden;

  &.can-scroll {
    overflow-y: auto;
  }

  &-toaster {
    z-index: 9999;
    position: fixed;
    transition: all 1s ease-in-out;

    &.left {
      left: 20px;
    }

    &.right {
      right: 20px;
    }

    &.bottom {
      bottom: 20px;
    }

    &.top {
      top: 20px;
    }
  }
}
