<sidebar
  *ngIf="
    (themeSetting.navigationPosition === NavigationPosition.Sidenav || themeSetting.navigationPosition === NavigationPosition.Combo) &&
    themeSetting.sidenavSizing === SidebarSize.Base
  "
  [routerEvent]="routerEvent"
></sidebar>

<topnav *ngIf="themeSetting.navigationPosition === NavigationPosition.Topnav" [routerEvent]="routerEvent"></topnav>

<sidebar-small
  *ngIf="
    (themeSetting.navigationPosition === NavigationPosition.Sidenav || themeSetting.navigationPosition === NavigationPosition.Combo) &&
    themeSetting.sidenavSizing === SidebarSize.Small
  "
  [routerEvent]="routerEvent"
></sidebar-small>

<!-- MAIN CONTENT
================================================== -->
<div class="main-content">
  <topbar *ngIf="themeSetting.navigationPosition === NavigationPosition.Combo"></topbar>
  <ng-container *ngIf="themeSetting.navigationPosition === NavigationPosition.Topnav">
    <router-outlet name="header"></router-outlet>
    <div class="container p-0">
      <router-outlet></router-outlet>
    </div>
  </ng-container>
  <ng-container *ngIf="themeSetting.navigationPosition !== NavigationPosition.Topnav">
    <router-outlet name="header"></router-outlet>
    <router-outlet></router-outlet>
  </ng-container>
</div>
<!-- / .main-content -->
