<div class="card activity custom-card-border custom-card-shadow">
  <div class="card-body activity-body d-flex align-items-center justify-content-between">
    <div class="activity-left-content d-flex align-items-center gap-10">
      <div class="activity-left-content-drag cursor-drag drag-handle flex-shrink-0">
        <img class="drag-handle" src="assets/img/service/content/drag.svg" alt="Move">
      </div>
      <div class="activity-left-content-details d-flex flex-column gap-4">
        <h3 class="activity-left-content-title m-0">{{ activityName }}</h3>
        <div class="activity-left-content-info">
          {{ activityQuestions }} · {{ activityDuration }}
        </div>
      </div>
    </div>
    <div class="activity-right-content d-flex align-items-center gap-10">
      <div class="activity-right-content-type">
       <button class="btn badge-soft-primary text-primary">{{ activityType | titlecase }}</button>
      </div>
      <div class="activity-right-content-actions flex-shrink-0">
        <div class="dropdown">
          <a href="javascript:void(0);" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="assets/img/service/video/icon-ellipsis.svg" alt="Actions">
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0)" class="dropdown-item">Action 1</a>
            <a href="javascript:void(0)" class="dropdown-item">Action 2</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
