.activity {
  margin-bottom: 15px;
  height: 70px;

  &-body {
    padding: 15px 13px;
  }

  &-left-content {
    &-drag {
      cursor: grab;
    }

    &-title {
      font-size: 15px;
      font-weight: 400;
      color: #1F2D3D;
    }

    &-info {
      color: #6E84A3;
      font-size: 13px;
    }
  }

  &-right-content {
    &-type {
      button {
        width: 70px;
        height: 20px;
        font-size: 10px;
        font-weight: 600;
        padding: 0;
        line-height: 2em;
        border-radius: 3px;
      }
    }
  }
}
