<div class="reaction-users-container card d-flex flex-column justify-content-start align-items-center m-0">
    <div class="reaction-users-tabs d-flex justify-content-start align-items-center w-100">
        <ul class="nav nav-tabs nav-overflow border-0 p-0 h-100">
            <li class="nav-item h-100 d-flex justify-content-center align-items-center cursor-pointer" [class.active]="selectedReactionType === null" (click)="selectedReactionType=null">
                <div class="reaction-users-tabs-item d-flex justify-content-center align-items-center gap-5">
                    <div class="reaction-users-tabs-item-label">All</div>
                    <div class="reaction-users-tabs-item-value">{{ reactions?.length }}</div>
                </div>
            </li>
            <li *ngFor="let r of reactionCounts | keyvalue"  class="nav-item h-100 d-flex justify-content-center align-items-center cursor-pointer"  [class.active]="selectedReactionType === r.key" (click)="selectedReactionType=r.key">
                <div class="reaction-users-tabs-item d-flex justify-content-center align-items-center gap-5">
                    <div class="reaction-users-tabs-item-label">
                        <span class="reaction-users-tabs-item-label-icon d-flex flex-nowrap justify-content-center align-items-center" [ngClass]="[getReactionColorClass(r.key)]" [class]="getReactionIcon(r.key)"></span>
                    </div>
                    <div class="reaction-users-tabs-item-value">
                        {{ r.value }}
                    </div>
                </div>
            </li>
        </ul>
        <div class="flex-grow-1 d-flex justify-content-end">
            <button class="reaction-users-close btn btn-md"  (click)="handleCloseModal()">
                <i class="fe fe-x"></i>
            </button>
        </div>
    </div>
    <div class="reaction-users-list flex-grow-1 w-100 slick-scroll">
        <div *ngFor="let u of getReactionUsers()" class="reaction-users-list-item d-flex flex-column flex-nowrap">
            <div class="reaction-users-list-item-content d-flex flex-row flex-nowrap">
                <div class="reaction-users-list-item-left flex-grow-1 d-flex flex-row flex-nowrap justify-content-center align-items-center gap-18">
                    <div class="reaction-users-list-item-avatar d-flex justify-content-center align-items-center position-relative">
                        <img [src]="getProfilePicture(u.profilePictureUrl)" class="avatar avatar-sm avatar-img rounded-circle" alt="profile" />
                        <span class="reaction-users-list-item-avatar-icon d-flex justify-content-center align-items-center" [ngClass]="[getReactionColorClass(getUserReaction(u))]" [class]="getReactionIcon(getUserReaction(u))"></span>
                    </div>
                    <div class="reaction-users-list-item-status flex-grow-1 d-flex flex-column justify-content-center align-items-start gap-2">
                        <div class="reaction-users-list-item-status-name">{{ u.fullName }}</div>
                        <div class="reaction-users-list-item-status-value d-flex justify-content-center align-items-center gap-5">
                            <span class="reaction-users-list-item-status-value-indicator">●</span>
                            <span *ngIf="currentUserId === u.id">You</span>
                            <span *ngIf="currentUserId !== u.id">Online</span>
                        </div>
                    </div>
                </div>
                <div class="reaction-users-list-item-right d-flex justify-content-center align-items-center">
                    <button *ngIf="currentUserId !== u.id" type="button"
                        class="btn btn-white reaction-users-list-item-btn d-flex justify-content-center align-items-center"
                        [class.activated]="isUserFollowing(u)"
                        (click)="handleUserFollow(u)"
                        [disabled]="isUserLoading(u.id)">
                        {{ isUserFollowing(u) ? 'Following' : 'Follow'  }}
                    </button>
                </div>
            </div>
            <div class="reaction-users-list-item-separator w-100"></div>
        </div>
    </div>
</div>
