<div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="list-group list-group-flush my-n3">

          <div class="list-group-item">
            <div class="row align-items-center">
              <div class="col">
                <h5 class="mb-0">{{ 'University' | localize }}</h5>
              </div>
              <div class="col-auto">
                <small class="text-muted">University of Oxford</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-verifications></app-verifications>
  </div>
</div>
