.nav {
    padding: 0 20px;

    .nav-item {
        margin-left: 10px;
        margin-right: 10px;

        .nav-link {
            padding: 25px 0;
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
