<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col d-flex align-items-center">
        <h4 class="card-header-title">
          {{ page.name }}
        </h4>
      </div>
      <div class="col-auto">
        <button (click)="onMoveUpClick()" class="btn btn-sm btn-outline-info">
          <i class="fe fe-corner-left-up"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div [dragula]="dragulaGroup" [(dragulaModel)]='page.components' class="components">
      <div *ngFor="let component of page.components" class="component">
        <div class="row">
          <div class="col-auto">
            <div class="drag-handle-container">
              <i class="fas fa-ellipsis-v drag-handle"></i>
            </div>
          </div>
          <div class="col ml-n3">
            <p class="m-0">
              <a href="!#edit-page" (click)="$event.preventDefault(); onComponentClick(component);">
                {{ component.name }}
              </a>
            </p>
          </div>
          <div class="col-auto">
            <a href="!#edit-page" (click)="$event.preventDefault(); onComponentClick(component)">
              <i class="fe fe-edit-2"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <button (click)="onAddClick()" class="btn btn-md btn-outline-primary w-100">
      {{ 'NewComponent' | localize }}
    </button>
  </div>
</div>
