:host {
    &:empty {
        display: none;
    }
}

.post {

    &-container {
        padding: 24px;
    }

    &-heading {
        &-avatar {
            margin-right: 15px;
            width: 48px;
            height: 48px;

            img {
                width: 48px;
                height: 48px;
            }
        }

        &-owner {
            &-name {
                font-weight: 600;
                font-size: 15px;
                line-height: 19px;
                letter-spacing: -0.01em;
                color: #12263F;
            }

            &-time {
                font-weight: 600;
                font-size: 13px;
                line-height: 17px;
                display: flex;
                align-items: center;
                letter-spacing: -0.01em;
                color: #95AAC9;
            }

            &-follow {
                width: 54px;
                height: 19px;
                border: 1px solid #E3EBF6;
                border-radius: 4px;
                font-weight: 400;
                font-size: 10px;
                line-height: 13px;
                text-align: center;
                letter-spacing: -0.01em;
                color: #3B516C;
            }
        }
    }

    &-content {
        &-title {
            font-weight: 600;
            font-size: 20px;
            line-height: 25px;
            letter-spacing: -0.01em;
            color: #12263F;
        }

        &-description {
            font-weight: 400;
            font-size: 15px;
            line-height: 23px;
            display: flex;
            align-items: center;
            letter-spacing: -0.01em;
            color: #12263F;
        }
    }

    &-topics {
        &-item {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #2C7BE5;
            margin-right: 10px;
        }
    }

    &-actions {
        &-left {
            &-item {
                &.btn {
                    height: 34px;
                    background: #F9FBFD;
                    border-radius: 5px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: #6E84A3;
                }

                &-share {
                    width: 16px;
                    height: 13px;
                }
            }
        }

        &-right {
            &-comments {
                font-weight: 400;
                font-size: 15px;
                line-height: 19px;
                text-align: right;
                color: #95AAC9;
            }

            &-separator {
                font-weight: 400;
                font-size: 15px;
                line-height: 19px;
                text-align: right;
                color: #95AAC9;
            }

            &-reactions {
                font-weight: 400;
                font-size: 15px;
                line-height: 19px;
                text-align: right;
                color: #95AAC9;

                &-type {
                    &-item {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        border: 1px solid white;
                        color: white;
                        font-size: 10px;

                        &:not(:first-child) {
                            margin-left: -5px;
                        }

                        &.blue {
                            background-color: #2C7BE5;
                        }

                        &.red {
                            background-color: #E63757;
                        }

                        &.yellow {
                            background-color: #F5D83E;
                        }
                    }
                }
            }
        }
    }

    &-hidden {
        &-text {
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            letter-spacing: -0.01em;
            color: #95AAC9;
        }

        &-actions {
            &-undo {
                font-weight: 400;
                font-size: 15px;
                line-height: 19px;
                text-align: right;
                letter-spacing: -0.01em;
                color: #95AAC9;
            }

            &-separator {
                font-weight: 400;
                font-size: 15px;
                line-height: 19px;
                text-align: right;
                letter-spacing: -0.01em;
                color: #D2DDEC;
            }

            &-close {
                font-weight: 400;
                font-size: 15px;
                line-height: 19px;
                text-align: right;
                letter-spacing: -0.01em;
                color: #95AAC9;

                .fe {
                    font-weight: bold;
                }
            }
        }
    }
}

.discussions-separator {
    border-top: 1px solid #EDF2F9;
}
