:host {
    &:empty {
        display: none;
    }

    ::ng-deep {
        .tooltip {
            filter: drop-shadow(0 0.75rem 1.5rem rgba(18, 38, 63, 0.03));
            -o-filter: drop-shadow(0 0.75rem 1.5rem rgba(18, 38, 63, 0.03));
            -ms-filter: drop-shadow(0 0.75rem 1.5rem rgba(18, 38, 63, 0.03));
            -moz-filter: drop-shadow(0 0.75rem 1.5rem rgba(18, 38, 63, 0.03));
            -webkit-filter: drop-shadow(0 0.75rem 1.5rem rgba(18, 38, 63, 0.03));

            .tooltip-inner {
                background-color: #031831;
                max-width: none;
                padding: 10px 15px;
                color: #FFFFFF;
                font-size: 15px;
                font-weight: normal;
                border-color: #031831;
            }

            &.top {
                .arrow {
                    &:before {
                        top: -1px;
                        border-top-color: #031831;
                    }
                }
            }
        }
    }
}

.post {

    &.post-loading {
        max-height: 178px;
        overflow: hidden;
        border: none;
    }

    &-container {
        padding: 24px;
    }

    &-heading {
        &-avatar {
            margin-right: 15px;
            width: 48px;
            height: 48px;

            img {
                width: 48px;
                height: 48px;
            }
        }

        &-owner {
            &-name {
                font-weight: 600;
                font-size: 15px;
                line-height: 19px;
                letter-spacing: -0.01em;
                color: #12263F;
            }

            &-time {
                font-weight: 600;
                font-size: 13px;
                line-height: 17px;
                display: flex;
                align-items: center;
                letter-spacing: -0.01em;
                color: #95AAC9;
            }

            &-follow {
                font-weight: 400;
                font-size: 13px;
                line-height: normal;
                text-align: center;
                letter-spacing: -0.13px;
                padding: 0;
                color: #2C7BE5;

                &.activated {
                    color: #6E84A3;
                }

                &:before {
                    content:"•";
                    padding-right: 5px;
                    font-size: 8px;
                }

                &:focus {
                    box-shadow: none;
                }

                &:not(.activated):hover .text {
                    text-underline-offset: 2px;
                    text-decoration: underline;
                }
            }
        }
    }

    &-content {
        &-title {
            font-weight: 600;
            font-size: 20px;
            line-height: 25px;
            letter-spacing: -0.01em;
            color: #12263F;
        }

        &-description {
            font-weight: 400;
            font-size: 15px;
            line-height: 23px;
            display: flex;
            align-items: center;
            letter-spacing: -0.01em;
            color: #12263F;

            a {
                color: #6E84A3;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &-topics {
        &-item {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #2C7BE5;
            margin-right: 10px;
        }
    }

    &-actions {
        &-left {
            &-item {
                &.btn {
                    height: 34px;
                    background: #F9FBFD;
                    border-radius: 5px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: #6E84A3;

                    &:focus {
                        box-shadow: none;
                    }
                }

                &-share {
                    width: 16px;
                    height: 13px;
                }
            }
        }

        &-right {
            &-comments {
                font-weight: 400;
                font-size: 15px;
                line-height: 19px;
                text-align: right;
                color: #95AAC9;
            }

            &-separator {
                font-weight: 400;
                font-size: 15px;
                line-height: 19px;
                text-align: right;
                color: #95AAC9;
            }

            &-reactions {
                font-weight: 400;
                font-size: 15px;
                line-height: 19px;
                text-align: right;
                color: #95AAC9;

                &-type {
                    &-item {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        border: 1px solid white;
                        color: white;
                        font-size: 10px;

                        &:not(:first-child) {
                            margin-left: -5px;
                        }

                        &.blue {
                            background-color: #2C7BE5;
                        }

                        &.red {
                            background-color: #E63757;
                        }

                        &.yellow {
                            background-color: #F5D83E;
                        }
                    }
                }
            }
        }
    }

    &-hidden {
        &-text {
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            letter-spacing: -0.01em;
            color: #95AAC9;
        }

        &-actions {
            &-undo {
                font-weight: 400;
                font-size: 15px;
                line-height: 19px;
                text-align: right;
                letter-spacing: -0.01em;
                color: #95AAC9;
            }

            &-separator {
                font-weight: 400;
                font-size: 15px;
                line-height: 19px;
                text-align: right;
                letter-spacing: -0.01em;
                color: #D2DDEC;
            }

            &-close {
                font-weight: 400;
                font-size: 15px;
                line-height: 19px;
                text-align: right;
                letter-spacing: -0.01em;
                color: #95AAC9;

                .fe {
                    font-weight: bold;
                }
            }
        }
    }
}
