@recommended-title-color: #282828;
@recommended-title-font-size: 22px;
@recommended-title-font-weight: 600;
@recommended-title-line-height: 27.94px;

@view-all-color: #2C7BE5;
@view-all-font-size: 14px;
@view-all-font-weight: 400;
@view-all-line-height: 17.78px;

.recommended-title {
    margin-bottom: 0px;
    color: @recommended-title-color;
    font-size: @recommended-title-font-size;
    font-weight: @recommended-title-font-weight;
    line-height: @recommended-title-line-height;
}

.view-all {
    color: @view-all-color;
    font-size: @view-all-font-size;
    font-weight: @view-all-font-weight;
    line-height: @view-all-line-height;
}
