@recommended-title-color: #282828;
@recommended-title-font-size: 22px;
@recommended-title-font-weight: 600;
@recommended-title-line-height: 27.94px;


.recommended-title {
    margin-bottom: 0px;
    color: @recommended-title-color;
    font-size: @recommended-title-font-size;
    font-weight: @recommended-title-font-weight;
    line-height: @recommended-title-line-height;
}
