<div [@routerTransition]>
  <div class="header">
    <div class="container-fluid p-0">
      <div class="header-body">

        <ng-container *ngIf="top3UpcomingEvent?.length">
          <div class="row align-items-center">
            <div class="col d-flex flex-wrap gap-15">
              <h3>Upcoming Events</h3>
            </div>            
          </div>
          <div class="row align-items-center mb-5">
            <div class="col d-flex flex-wrap gap-27">
              <app-service-card *ngFor="let d of top3UpcomingEvent" [data]="d" [isLoading]="isLoading"></app-service-card>
              <div class="flex-break"></div>
            </div>
          </div>
        </ng-container>
        
      </div>
    </div>
  </div>
</div>
