<div [@routerTransition]>
  <div class="header">
    <div class="container-fluid p-0">
      <div class="header-body">

        <ng-container *ngIf="top2articles?.length">
          <div class="row align-items-center">
            <div class="col d-flex flex-wrap gap-15">
              <h3>New Articles</h3>
            </div>            
          </div>
          <div class="row align-items-center mb-5">
            <div class="col d-flex flex-wrap gap-27">
              <app-service-card *ngFor="let t1 of top2articles" [data]="t1" [isLoading]="isLoadingArticles"></app-service-card>
              <div class="flex-break"></div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="top2ArticlesData !== undefined">
          <div class="row align-items-center">
            <div class="col d-flex flex-wrap gap-15">
              <h3>New Articles</h3>
            </div>            
          </div>
          <div class="row align-items-center mb-5">
            <div class="col d-flex flex-wrap gap-27">
              <app-service-card *ngFor="let t2 of top2ArticlesData.items" [data]="t2" [isLoading]="isLoadingArticles"></app-service-card>
              <div class="flex-break"></div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="top3Tutorials?.length > 0">
          <div class="row align-items-center">
            <div class="col d-flex flex-wrap gap-15">
              <h3>Recommended Tutorials</h3>
            </div>            
          </div>
          <div class="row align-items-center mb-5">
            <div class="col d-flex flex-wrap gap-27">
              <app-service-card *ngFor="let t1 of top3Tutorials" [data]="t1" [isLoading]="isLoadingTutorials"></app-service-card>
              <div class="flex-break"></div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="top3VideosData !== undefined">
          <div class="row align-items-center">
            <div class="col d-flex flex-wrap gap-15">
              <h3>Recommended Tutorials</h3>
            </div>            
          </div>
          <div class="row align-items-center mb-5">
            <div class="col d-flex flex-wrap gap-27">
              <app-service-card *ngFor="let t2 of top3VideosData.items" [data]="t2" [isLoading]="isLoadingTutorials"></app-service-card>
              <div class="flex-break"></div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="top3UpcomingEvent?.length > 0">
          <div class="row align-items-center">
            <div class="col d-flex flex-wrap gap-15">
              <h3>Upcoming Events</h3>
            </div>            
          </div>
          <div class="row align-items-center mb-5">
            <div class="col d-flex flex-wrap gap-27">
              <app-service-card *ngFor="let e1 of top3UpcomingEvent" [data]="e1" [isLoading]="isLoadingEvents"></app-service-card>
              <div class="flex-break"></div>
            </div>
          </div>
        </ng-container>
        
        <ng-container *ngIf="top3coaching?.length">
          <div class="row align-items-center">
            <div class="col d-flex flex-wrap gap-15">
              <h3>New Coaching</h3>
            </div>            
          </div>
          <div class="row align-items-center mb-5">
            <div class="col d-flex flex-wrap gap-27">
              <app-service-card *ngFor="let d of top3coaching" [data]="d" [isLoading]="isLoadingCoaching"></app-service-card>
              <div class="flex-break"></div>
            </div>
          </div>
        </ng-container>
        
        <ng-container *ngIf="top3courses?.length > 0">
          <div class="row align-items-center">
            <div class="col d-flex flex-wrap gap-15">
              <h3>Recommended Courses</h3>
            </div>            
          </div>
          <div class="row align-items-center mb-5">
            <div class="col d-flex flex-wrap gap-27">
              <app-service-card *ngFor="let t1 of top3courses" [data]="t1" [isLoading]="isLoadingCourses"></app-service-card>
              <div class="flex-break"></div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="top3CoursesData !== undefined">
          <div class="row align-items-center">
            <div class="col d-flex flex-wrap gap-15">
              <h3>Recommended Courses</h3>
            </div>            
          </div>
          <div class="row align-items-center mb-5">
            <div class="col d-flex flex-wrap gap-27">
              <app-service-card *ngFor="let t2 of top3CoursesData.items" [data]="t2" [isLoading]="isLoadingCourses"></app-service-card>
              <div class="flex-break"></div>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
  </div>
</div>
