<div class="row videos" [loader]="isLoading">
  <div class="col">
    <div class="videos-title">Add videos</div>
    <div class="videos-description">Upload videos to create a playlist</div>
    <div class="videos-uploader">
      <div class="card">
        <div class="card-body p-0">
          <div class="videos-uploader-dropbox">
            <app-document-uploader
              [largeImagePreview]="true"
              [allowedExtensions]="allowedExtensions"
              [placeholderHeight]="'80px'"
              [maxFileSize]="-1"
              [maxFiles]="20"
            ></app-document-uploader>
          </div>

          <div class="videos-uploader-listings" dragula="Videos" [(dragulaModel)]="attachments">
            <app-video-details *ngFor="let attachment of attachments; first as isFirst" [isFirst]="isFirst" [data]="attachment"></app-video-details>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="row">-->
<!--  <div class="col-4">-->
<!--    <div class="card" [loader]="isLoading">-->
<!--      <div class="card-header">-->
<!--        <h4 class="card-header-title">-->
<!--          {{ 'UploadVideo' | localize | titlecase }}-->
<!--        </h4>-->
<!--      </div>-->
<!--      <div class="card-body">-->
<!--        <app-document-uploader [largeImagePreview]="true" [maxFiles]="1" [allowedExtensions]="allowedExtensions"-->
<!--          [placeholderHeight]="'200px'" [maxFileSize]="-1">-->
<!--        </app-document-uploader>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-8">-->
<!--    <div class="card" [loader]="isLoading">-->
<!--      <div *ngIf="!defaultFile else defaultFileTemplate" class="no-video card-body">-->
<!--        <img src="/assets/themes/dashkit/img/illustrations/scale.svg" alt="..." class="img-fluid">-->
<!--        <h3 class="title">-->
<!--          {{ 'UploadYourVideo' | localize }}-->
<!--        </h3>-->
<!--        <p class="text-muted">-->
<!--          {{ 'UploadYourVideoDescription' | localize }}-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <ng-template #defaultFileTemplate>-->
<!--      <video width="100%" height="100%" controls autoplay>-->
<!--        <source [src]="defaultFile.url">-->
<!--      </video>-->
<!--    </ng-template>-->
<!--  </div>-->
<!--</div>-->
