:host {
    &::ng-deep {
        app-document-uploader {
            .document-uploader {
                height: 100%;
                width: 100%;
                color: #FFF;
                text-align: center;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 0%;
                letter-spacing: -0.15px;
                padding: unset;
                background-color: unset;
                border: 0;
                cursor: pointer;

                &:hover {
                    color: #FFF;
                }

                .document-input-label {
                    cursor: pointer;
                }
            }
        }
    }
}

.no-handouts {
    color: #282828;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.15px;
    margin-top: 20px;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;

    .handouts {
        flex: 1 1 0px;
        overflow-y: auto;

        .handout {
            padding: 15px;
            border-radius: 10px;
            border: 1px solid #E4EBF6;
            background: #FFF;
            margin-bottom: 15px;

            &-icon {
                width: 39px;
                height: 100%;
                overflow: hidden;

                > img {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }

            &-info {
                padding-left: 10px;
                padding-right: 15px;
                &-name {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 23px;
                    letter-spacing: -0.01em;
                    text-align: left;
                    color: black;
                }

                &-size {
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 17px;
                    letter-spacing: -0.01em;
                    text-align: left;
                    color: #6E84A3;
                }
            }

            &-action {
                &-share {
                    width: 24px;
                    height: 100%;
                }

                &-download {
                    color: #B1C2D9;
                    width: 39px;
                    height: 100%;
                    overflow: hidden;
                    padding-left: 5px;
                    padding-right: 5px;
                }

                .dropdown {
                    width: 24px;
                    height: 100%;
                }
            }
        }
    }

    .actions {
    }
}
