<div class="d-flex flex-column justify-content-center align-items-center w-100">
    <app-community-composer [isLoading]="isLoading"  [showBottomActions]="false" (onQuickPostClick)="handleAddPost()" class="w-100"></app-community-composer>

    <div *ngIf="!isLoading" class="discussion-controls d-flex flex-row justify-content-between w-100" [style.margin-bottom.px]="10">
        <div class="discussion-controls-left d-flex align-items-end">
            <div class="discussion-controls-left-posts-count">
                {{ postsCount }} posts
            </div>
        </div>
        <div class="discussion-controls-right d-flex flex-row align-items-center gap-10">
            Sort by:
            <div class="dropdown">
                <a href="#" class="dropdown-ellipses dropdown-toggle d-flex flex-row align-items-center gap-5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ selectedSorting | localize }} <span class="fe fe-chevron-down"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-left" [style.margin-top.px]="10">

                    <div
                        class="dropdown-item cursor-pointer d-flex justify-content-between"
                        [class.selected]="isSelectedSorting(postSortingEnum.Top)"
                        (click)="handleSortingChange(postSortingEnum.Top)"
                    >
                        <div>{{ postSortingEnum.Top  | localize }}</div>
                        <i *ngIf="isSelectedSorting(postSortingEnum.Top)" class="fe fe-check"></i>
                    </div>

                    <div
                        class="dropdown-item cursor-pointer d-flex justify-content-between"
                        [class.selected]="isSelectedSorting(postSortingEnum.Relevant)"
                        (click)="handleSortingChange(postSortingEnum.Relevant)"
                    >
                        <div>{{ postSortingEnum.Relevant  | localize }}</div>
                        <i *ngIf="isSelectedSorting(postSortingEnum.Relevant)" class="fe fe-check"></i>
                    </div>

                    <div
                        class="dropdown-item cursor-pointer d-flex justify-content-between"
                        [class.selected]="isSelectedSorting(postSortingEnum.Latest)"
                        (click)="handleSortingChange(postSortingEnum.Latest)"
                    >
                        <div>{{ postSortingEnum.Latest  | localize }}</div>
                        <i *ngIf="isSelectedSorting(postSortingEnum.Latest)" class="fe fe-check"></i>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div *ngFor="let p of children" class="discussion-content-post w-100">
        <app-community-post-card
            *ngIf="!p.isHidden && !p.isDeleted"
            [isLoading]="isLoading"
            [data]="p"
            [reactionGroup]="reactionGroup.Votes"
            [canOverrideOwner]="true"
            (onChildrenUpdate)="handleChildrenUpdate(p)"
        ></app-community-post-card>
    </div>

    <div *ngIf="hiddenChildrenCount" class="card discussion-content-post-load-more w-100" (click)="onLoadMore()">
        <span>Load more...</span>
    </div>

    <div class="discussion-content-post end d-flex flex-row justify-content-center align-items-center w-100" [style.marginTop.px]="40" [style.marginBottom.px]="20">
        <div class="left"></div>
        <div class="discussion-content-post-no-more flex-grow-1 d-flex justify-content-center align-items-center">No more posts</div>
        <div class="right"></div>
    </div>
</div>
