<div *ngIf="showBackButton" class="back d-flex justify-content-start align-items-center border-bottom w-100 h-70-px cursor-pointer" [style.padding.px]="20" (click)="onBackClick()">
  <img src="assets/img/events/chat/back.svg" alt="Back"> {{ 'Back' | localize }}
</div>

<div class="poll position-relative" [class.is-modal]="isModal">
  <div *ngIf="showMinimizeButton" class="poll-minimize cursor-pointer" (click)="onMinimizeClick()">
    <img src="assets/img/events/poll/minimize.svg" alt="Minimize">
  </div>
  <div class="poll-header">
    <ng-container *ngIf="!showVoterPercentage">
      <div class="poll-header-name">
        {{ poll.name }}
      </div>
    </ng-container>
    <ng-container *ngIf="showVoterPercentage">
      <div class="poll-header-name doughnut text-center">
        {{ poll.name }}
      </div>
      <div class="poll-doughnut-container">
        <div class="poll-doughnut-canvas-container" [ngClass]="{ 'w-160-px h-160-px': isModal, 'w-90-px h-90-px': !isModal }">
          <canvas class="chart-canvas" chart [chartSettings]="chartSettings"></canvas>
          <h5 class="m-0 p-0 percentage">
            {{ getTotalVoterPercentage() }}%
          </h5>
        </div>
        <div class="poll-doughnut-label">
          <div class="dot mr-2"></div>
          <label class="m-0">
            <small class="text-muted">
              {{ 'Participation' | localize }}
            </small>
          </label>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="questions slick-scroll">
    <div *ngFor="let question of poll.eventPollQuestions" class="questions-item card custom-card-border custom-card-shadow">
      <div class="card-header h-auto border-0 p-0">
        <div class="card-header-title">{{ question.text }}</div>
      </div>
      <div class="card-body p-0">
        <div *ngFor="let option of question.eventPollQuestionOptions" class="questions-item-option">
          <div class="questions-item-option-text">{{ option.text }}</div>
          <div class="questions-item-option-percentage row d-flex justify-content-center align-items-center no-gutters">
            <div class="questions-item-option-percentage-chart col h-100 d-flex justify-content-center align-items-center">
              <div class="progress progress-sm w-100 mr-3">
                <div class="progress-bar" role="progressbar" [style.width]="getOptionPercentage(question, option)"
                  [attr.aria-valuenow]="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="questions-item-option-percentage-value col-auto h-100 d-flex justify-content-center align-items-center">
              <small>{{ getOptionPercentage(question, option) }}</small>
            </div>
          </div>
        </div>
        <ng-container *ngIf="!showVoterPercentage">
          <div class="questions-item-voters d-flex align-items-center gap-5">
            <div class="questions-item-voters-badge-count d-flex justify-content-center align-items-center">{{ getQuestionTotalVotes(question) }}</div>
            <div class="questions-item-voters-badge-text">{{ 'Total submissions' | localize }}</div>
          </div>
        </ng-container>
        <ng-container *ngIf="showVoterPercentage">
          <div class="questions-item-voters d-flex align-items-center gap-5">
            <div class="questions-item-voters-badge-avatars d-flex align-items-center">
              <div class="avatar-group hide-empty">
                <div *ngFor="let voterUser of getVoterUsers(question)" class="avatar avatar-xs">
                  <img *ngIf="voterUser.profilePictureDocument && voterUser.profilePictureDocument.id else
                  noProfilePictureTemplate" [src]="getProfilePictureUrl(voterUser.profilePictureDocument)" alt="..."
                    class="avatar-img rounded-circle">
                  <ng-template #noProfilePictureTemplate>
                    <span class="avatar-title rounded-circle" [tooltip]="voterUser.fullName">
                      {{ getNameInitials(voterUser) }}
                    </span>
                  </ng-template>
                </div>
              </div>
              <div class="questions-item-voters-badge-count d-flex justify-content-center align-items-center">{{ getQuestionTotalVotes(question) }}</div>
            </div>
            <div class="questions-item-voters-badge-text">{{ 'Total votes' | localize }}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="actions">
    <ng-container [ngSwitch]="poll.status">
      <ng-container *ngSwitchCase="EventPollStatus.Queue">
        <button class="btn btn-block btn-white" (click)="onEditClick()">
          {{ 'EditPoll' | localize }}
        </button>
        <button class="btn btn-block btn-primary" (click)="onLaunchClick()">
          {{ 'Launch Poll' | localize }}
        </button>
      </ng-container>
      <ng-container *ngSwitchCase="EventPollStatus.Open">
        <button class="btn btn-block btn-white" (click)="onStopClick()">
          {{ 'StopPoll' | localize }}
        </button>
      </ng-container>
      <ng-container *ngSwitchCase="EventPollStatus.Closed">
        <button class="btn btn-block btn-info" (click)="onShareClick()" [disabled]="isResultsShared"
          [class.results-shared]="isResultsShared" [class.text-primary]="isResultsShared">
          {{ (isResultsShared ? 'ResultsSharedWithAudience' : 'ShareResultsWithAttendeesNoQM') | localize }}
        </button>
        <button class="btn btn-block btn-outline-primary" (click)="onCloseClick()">
          {{ 'ClosePoll' | localize }}
        </button>
      </ng-container>
    </ng-container>
  </div>
</div>
