<div class="poll">
  <div class="poll-header mb-2">
    <h5 class="text-center">
      {{ poll.name }}
    </h5>
    <div *ngIf="showVoterPercentage" class="poll-doughnut-container ">
      <div class="poll-doughnut-canvas-container">
        <canvas class="chart-canvas" chart [chartSettings]="chartSettings">
        </canvas>
        <h5 class="m-0 p-0 percentage">
          {{ getTotalVoterPercentage() }}%
        </h5>
      </div>
      <div class="poll-doughnut-label">
        <div class="dot mr-2"></div>
        <label>
          <small class="text-muted">
            {{ 'Voted' | localize }}
          </small>
        </label>
      </div>
    </div>
  </div>
  <div class="questions">
    <div *ngFor="let question of poll.eventPollQuestions" class="card card-sm mb-2">
      <div class="card-header h-auto p-3">
        <p class="card-header-title small">
          <b>
            {{ question.text }}
          </b>
        </p>
      </div>
      <div class="card-body p-3">
        <div *ngFor="let option of question.eventPollQuestionOptions" class="option">
          <p class="small mb-n2">
            <b>{{ option.text }}</b>
          </p>
          <div class="row align-items-center no-gutters">
            <div class="col">
              <div class="progress progress-sm mr-3">
                <div class="progress-bar" role="progressbar" [style.width]="getOptionPercentage(question, option)"
                  [attr.aria-valuenow]="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-auto">
              <small>{{ getOptionPercentage(question, option) }}</small>
            </div>
          </div>
        </div>
        <div class="voters d-flex align-items-center">
          <div *ngIf="!question.eventPollAnswers || !question.eventPollAnswers.length else avatarGroupTemplate"
            class="avatars d-flex">
            <div class="avatar avatar-xs">
              <span class="avatar-title rounded-circle"></span>
            </div>
          </div>
          <ng-template #avatarGroupTemplate>
            <div class="avatar-group">
              <div *ngFor="let voterUser of getVoterUsers(question)" class="avatar avatar-xs">
                <img *ngIf="voterUser.profilePictureDocument && voterUser.profilePictureDocument.id else
                noProfilePictureTemplate" [src]="getProfilePictureUrl(voterUser.profilePictureDocument)" alt="..."
                  class="avatar-img rounded-circle">
                <ng-template #noProfilePictureTemplate>
                  <span class="avatar-title rounded-circle" [tooltip]="voterUser.fullName">
                    {{ getNameInitials(voterUser) }}
                  </span>
                </ng-template>
              </div>
            </div>
          </ng-template>
          <p class="small m-0 ml-2">
            {{ 'TotalVotes' | localize | titlecase }}:
            {{ getQuestionTotalVotes(question) }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
