<table class="table table-sm table-sm-custom mb-0">
  <thead>
    <tr>
      <th>
        <div class="row">
          <div class="col flex-y-center">
            {{ 'WaitingRoom' | localize }}
          </div>
          <div class="col-auto flex-y-center actions">
            <div class="dropdown">
              <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fe fe-more-vertical"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="#!visit" class="dropdown-item text-transform-none" (click)="$event.preventDefault();">
                  <small>{{ 'AdmitAll' | localize }}</small>
                </a>
              </div>
            </div>
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let waitingUser of waitingUsers">
      <td>
        <div class="row">
          <div class="col flex-y-center">
            <div class="avatar avatar-sm d-inline-block me-2">
              <img [src]="getProfilePictureUrl(waitingUser.user.profilePictureDocument) | async" alt="..."
                class="avatar-img rounded-circle">
            </div>
            <p class="m-0 ml-3">
              <b>{{ waitingUser.user.fullName }}</b>
            </p>
          </div>
          <div class="col-auto flex-y-center">
            <button (click)="onAdmitClick(waitingUser)" class=" btn btn-sm btn-primary">
              {{ 'Admit' | localize }}
            </button>
          </div>
        </div>
      </td>
    </tr>
    <tr *ngFor="let lobbyUser of lobbyUsers">
      <td>
        <div class="row">
          <div class="col flex-y-center">
            <div class="avatar avatar-sm d-inline-block me-2">
              <img [src]="getProfilePictureUrl(lobbyUser.user.profilePictureDocument) | async" alt="..."
                class="avatar-img rounded-circle">
            </div>
            <p class="m-0 ml-3">
              <b>{{ lobbyUser.user.fullName }}</b>
            </p>
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="(!waitingUsers || !waitingUsers.length) && (!lobbyUsers || !lobbyUsers.length)">
      <td colspan="10">
        <p class="m-0 p-2 text-muted text-center">
          {{ 'NoOneFound' | localize }}
        </p>
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-sm table-sm-custom mb-0">
  <thead>
    <tr>
      <th>
        <div class="row">
          <div class="col flex-y-center">
            {{ 'NotJoined' | localize }}
          </div>
          <div class="col-auto flex-y-center actions">
            <div class="dropdown">
              <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fe fe-more-vertical"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="#!visit" class="dropdown-item text-transform-none" (click)="$event.preventDefault();">
                  <small>{{ 'MessageAll' | localize }}</small>
                </a>
              </div>
            </div>
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let attendee of attendees">
      <td>
        <div class="row">
          <div class="col flex-y-center">
            <div class="avatar avatar-sm d-inline-block me-2">
              <img [src]="getProfilePictureUrl(attendee.user.profilePictureDocument) | async" alt="..."
                class="avatar-img rounded-circle">
            </div>
            <p class="m-0 ml-3">
              <b>{{ attendee.user.fullName }}</b>
              <br />
              <span class="badge badge-info">
                {{ EventUserType[attendee.type] }}
              </span>
            </p>
          </div>
          <div class="col-auto flex-y-center">
            <button class="btn btn-sm btn-outline-primary">
              {{ 'Message' | localize }}
            </button>
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="!attendees || !attendees.length">
      <td colspan="10">
        <p class="m-0 p-2 text-muted text-center">
          {{ 'NoOneFound' | localize }}
        </p>
      </td>
    </tr>
  </tbody>
</table>
