<div class="modal-card card">
  <div class="card-header border-0">
    <h2 class="card-header-title">
      Event is Live in...
    </h2>
    <button type="button" class="close" aria-label="Close" (click)="onCloseClick()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="card-body">
    <div class="d-flex w-100 h-100 justify-content-center align-items-center">
      <h1 class="timer">{{ timer }}</h1>
    </div>
  </div>
  <div class="card-footer justify-content-end">
    <button class="btn btn-white" (click)="onCloseClick()">
      Cancel
    </button>
  </div>
</div>
