<div class="poll-open">
  <div class="polls">
    <ng-container *ngIf="polls?.length > 0; else noPolls" >
      <div *ngFor="let poll of polls" class="poll custom-card-border custom-card-shadow cursor-pointer" (click)="onSelectClick(poll)">
        <div class="row">
          <div class="col">
            <h5 class="poll-name line-clamp-2">{{ poll.name }}</h5>
            <p class="poll-info m-0">
              {{ 'Poll' | localize }} · {{ poll.eventPollQuestions.length }} questions
            </p>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noPolls>
      <div class="no-polls text-center">
        <ng-container *ngIf="isHost">
          {{ 'No polls' | localize }}
        </ng-container>
        <ng-container *ngIf="!isHost">
          {{ 'No activities' | localize }}
        </ng-container>
      </div>
    </ng-template>
  </div>

  <div *ngIf="isHost" class="poll-actions">
    <button class="btn btn-block btn-primary" (click)="onCreatePollClick()">
      {{ 'New activity' | localize }}
    </button>
  </div>
</div>
