<div [@routerTransition]>
    <ng-container *ngIf="isDiscussion || isEditHistory || isSinglePost">
        <router-outlet></router-outlet>
    </ng-container>
    <ng-container *ngIf="!isDiscussion && !isEditHistory && !isSinglePost">
        <div class="container-fluid">
            <div class="header-body pt-0">
                <div class="row align-items-center"  [style.marginTop.px]="40">
                    <div class="col">
                        <ul class="nav nav-tabs nav-overflow header-tabs">
                            <li class="nav-item">
                                <a [routerLink]="['following']" routerLinkActive="active" class="nav-link" role="button">{{ 'Following' | localize }}</a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="['popular']" routerLinkActive="active" class="nav-link" role="button">{{ 'Popular' | localize }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <app-carousel-pill
                    [isLoading]="isLoading$ | async"
                    [hasShimmer]="true"
                    [choices]="userTopics"
                    key="disciplineTaxonomy.name"
                    (onAdd)="handleAddTopics()"
                    (onSelect)="handleFilterTopics($event)"
                ></app-carousel-pill>
            </div>
        </div>
        <div class="container-fluid community-content d-flex flex-row flex-nowrap">
            <div class="community-content-left flex-grow-1">
                <app-community-composer
                    [isLoading]="isLoading$ | async"
                    (onQuickPostClick)="handleAddPost('quick-post')"
                    (onQuestionClick)="handleAddPost('add-question')"
                    (onDiscussionClick)="handleAddPost('add-discussion')"
                ></app-community-composer>
                <router-outlet></router-outlet>
            </div>
            <div class="community-content-right" [style.marginLeft.px]="24">
                <div *ngIf="suggestedTopics?.length">
                    <app-community-side-card
                        header="Topics you might like"
                        [isLoading]="isLoading$ | async"
                        [items]="suggestedTopics"
                        [template]="topicsTemplate"
                        (onClickItem)="handleItemClick($event, 'topics')"
                        (onViewAll)="handleViewAllClick('topics')"
                    ></app-community-side-card>
                </div>

                <div *ngIf="peopleToFollow?.length" [style.marginTop.px]="24">
                    <app-community-side-card
                        header="People to follow"
                        [isLoading]="isLoading$ | async"
                        [items]="peopleToFollow"
                        [template]="peopleToFollowTemplate"
                        (onClickItem)="handleItemClick($event, 'users')"
                        (onViewAll)="handleViewAllClick('users')"
                    ></app-community-side-card>
                </div>

                <div *ngIf="recommendedCourses?.length" [style.marginTop.px]="24">
                    <app-community-side-card
                        header="Recommended courses"
                        [isLoading]="isLoading$ | async"
                        [items]="recommendedCourses"
                        [template]="recommendedCoursesTemplate"
                        (onClickItem)="handleItemClick($event, 'courses')"
                        (onViewAll)="handleViewAllClick('courses')"
                    ></app-community-side-card>
                </div>

                <div *ngIf="recommendedCoachings?.length" [style.marginTop.px]="24">
                    <app-community-side-card
                        header="Recommended coaching"
                        [isLoading]="isLoading$ | async"
                        [items]="recommendedCoachings"
                        [template]="recommendedCoachingsTemplate"
                        (onClickItem)="handleItemClick($event, 'coachings')"
                        (onViewAll)="handleViewAllClick('coachings')"
                    ></app-community-side-card>
                </div>

                <div *ngIf="recommendedArticles?.length" [style.marginTop.px]="24">
                    <app-community-side-card
                        header="Recommended articles"
                        [isLoading]="isLoading$ | async"
                        [items]="recommendedArticles"
                        [template]="recommendedArticlesTemplate"
                        (onClickItem)="handleItemClick($event, 'articles')"
                        (onViewAll)="handleViewAllClick('articles')"
                    ></app-community-side-card>
                </div>

                <div *ngIf="recommendedEvents?.length" [style.marginTop.px]="24">
                    <app-community-side-card
                        header="Recommended events"
                        [isLoading]="isLoading$ | async"
                        [items]="recommendedEvents"
                        [template]="recommendedEventsTemplate"
                        (onClickItem)="handleItemClick($event, 'events')"
                        (onViewAll)="handleViewAllClick('events')"
                    ></app-community-side-card>
                </div>

                <div *ngIf="recommendedTutorials?.length" [style.marginTop.px]="24">
                    <app-community-side-card
                        header="Recommended tutorials"
                        [isLoading]="isLoading$ | async"
                        [items]="recommendedTutorials"
                        [template]="recommendedTutorialsTemplate"
                        (onClickItem)="handleItemClick($event, 'tutorials')"
                        (onViewAll)="handleViewAllClick('tutorials')"
                    ></app-community-side-card>
                </div>

                <ng-template #topicsTemplate let-item="item">
                    <div class="topic d-flex flex-row flex-nowrap" [title]="item.name">
                        <app-shimmer [show]="isLoading$ | async" [shimmerType]="shimmerType.SideCardDouble"></app-shimmer>
                        <div class="topic-left flex-grow-1 d-flex flex-column flex-nowrap gap-2" [style.minWidth.px]="0">
                            <div class="topic-name wrap-text">#{{ item.name }}</div>
                            <div class="topic-followers">{{ 'Community.Topics.Followers' | localize: (item.followerCount | shortNum: 1) }}</div>
                        </div>
                        <div class="topic-right d-flex justify-content-center align-items-center">
                            <button type="button"
                                class="btn btn-white topic-btn d-flex justify-content-center align-items-center"
                                [class.activated]="isTopicFollowed(item)"
                                (click)="isTopicFollowed(item) ? handleOnUnfollowTopic(item) : handleOnFollowTopic(item)"
                                [disabled]="isTopicLoading(item.id)">
                                {{ isTopicFollowed(item) ? 'Following' : 'Follow'  }}
                            </button>
                        </div>
                    </div>
                </ng-template>

                <ng-template #peopleToFollowTemplate let-item="item">
                    <div class="people d-flex flex-row flex-nowrap">
                        <app-shimmer [show]="isLoading$ | async" [shimmerType]="shimmerType.SideCardAvatar"></app-shimmer>
                        <div class="people-left flex-grow-1 d-flex flex-row flex-nowrap justify-content-center align-items-center">
                            <div class="people-avatar d-flex justify-content-center align-items-center">
                                <img [src]="getProfilePicture(item.profilePictureUrl)" class="avatar avatar-sm avatar-img rounded-circle" alt="profile" />
                            </div>
                            <div class="people-status flex-grow-1 d-flex flex-column gap-2">
                                <div class="people-status-name">{{ item.fullName }}</div>
                                <div class="people-status-value"><span class="people-status-value-indicator">●</span>Online</div>
                            </div>
                        </div>
                        <div class="people-right d-flex justify-content-center align-items-center">
                            <button type="button"
                                class="btn btn-white people-btn d-flex justify-content-center align-items-center"
                                [class.activated]="isUserFollowing(item)"
                                (click)="handleUserFollow(item)"
                                [disabled]="isUserLoading(item.id)">
                                {{ isUserFollowing(item) ? 'Following' : 'Follow'  }}
                            </button>
                        </div>
                    </div>
                </ng-template>

                <ng-template #recommendedCoursesTemplate let-item="item">
                    <div class="course d-flex flex-row flex-nowrap gap-15">
                        <app-shimmer [show]="isLoading$ | async" [shimmerType]="shimmerType.SideCardThumbnail"></app-shimmer>
                        <div class="course-left d-flex flex-column flex-nowrap justify-content-center align-items-center">
                            <div class="course-thumbnail bg-center flex-grow-1" [alt]="item.name" [ngStyle]="{ 'background-image': 'url(\'' + getCourseThumbnail(item) + '\')' }" ></div>
                        </div>
                        <div class="course-right flex-grow-1 d-flex flex-column justify-content-center gap-2">
                            <div class="course-name line-clamp">{{ item.name }}</div>
                            <div class="course-composition wrap-text">{{ getCourseComposition(item) }}</div>
                        </div>
                    </div>
                </ng-template>

                <ng-template #recommendedCoachingsTemplate let-item="item">
                    <div class="coaching d-flex flex-row flex-nowrap gap-15">
                        <app-shimmer [show]="isLoading$ | async" [shimmerType]="shimmerType.SideCardAvatar"></app-shimmer>
                        <div class="coaching-left d-flex flex-column flex-nowrap justify-content-center align-items-center">
                            <img [src]="getProfilePicture(item.creatorUser.profilePictureUrl)" class="avatar avatar-sm avatar-img rounded-circle" alt="profile" />
                        </div>
                        <div class="coaching-right flex-grow-1 d-flex flex-column justify-content-center gap-2">
                            <div class="coaching-name wrap-text">{{ item.name }}</div>
                            <div class="coaching-author wrap-text">{{ item.creatorUser.fullName }}</div>
                        </div>
                    </div>
                </ng-template>

                <ng-template #recommendedArticlesTemplate let-item="item">
                    <div class="article d-flex flex-column flex-nowrap gap-2">
                        <app-shimmer [show]="isLoading$ | async" [shimmerType]="shimmerType.SideCardDouble"></app-shimmer>
                        <div class="article-name line-clamp-2">{{ item.name }}</div>
                        <div class="article-description wrap-text">{{ item.description }}</div>
                    </div>
                </ng-template>

                <ng-template #recommendedEventsTemplate let-item="item">
                    <div class="event d-flex flex-row flex-nowrap gap-15">
                        <app-shimmer [show]="isLoading$ | async" [shimmerType]="shimmerType.SideCardThumbnail"></app-shimmer>
                        <div class="event-left d-flex flex-column flex-nowrap justify-content-center align-items-center">
                            <div class="event-thumbnail bg-center flex-grow-1" [alt]="item.name" [ngStyle]="{ 'background-image': 'url(\'' + getCourseThumbnail(item) + '\')' }" ></div>
                        </div>
                        <div class="event-right flex-grow-1 d-flex flex-column justify-content-start gap-2">
                            <div *ngIf="item.eventDateTime" class="event-schedule wrap-text">{{ 'EventsSchedule' | localize: (item.eventDateTime | date:'HH:mm, dd LLL, yyyy' ) }}</div>
                            <div class="event-name line-clamp-2">{{ item.name }}</div>
                        </div>
                    </div>
                </ng-template>

                <ng-template #recommendedTutorialsTemplate let-item="item">
                    <div class="tutorial d-flex flex-row flex-nowrap">
                        <app-shimmer [show]="isLoading$ | async" [shimmerType]="shimmerType.SideCardThumbnail"></app-shimmer>
                        <div class="tutorial-left d-flex flex-column flex-nowrap justify-content-center align-items-center">
                            <div class="tutorial-thumbnail bg-center flex-grow-1" [alt]="item.name" [ngStyle]="{ 'background-image': 'url(\'' + getCourseThumbnail(item) + '\')' }" ></div>
                        </div>
                        <div class="tutorial-right flex-grow-1 d-flex flex-column justify-content-center gap-2">
                            <div class="tutorial-name line-clamp-2">{{ item.name }}</div>
                            <div class="tutorial-description wrap-text">
                                <span *ngIf="item.videoLength">{{ item.videoLength | number: '1.0-0' }} mins</span>
                                <span>no video content</span>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </ng-container>
</div>
