@community-header-color: #12263F;
@community-header-font-size: 28px;
@community-header-font-weight: 600;
@community-header-line-height: 36px;

.community {
    &-header {
        font-weight: @community-header-font-weight;
        font-size: @community-header-font-size;
        line-height: @community-header-line-height;
        color: @community-header-color;
    }
}


.topic {
    padding: 15px 0;

    &-name {
        font-weight: 600;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: -0.01em;
        color: #3B516C;
    }

    &-followers {
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        letter-spacing: -0.01em;
        color: #6E84A3;
    }

    &-btn {
        width: 58px;
        height: 28px;
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        text-align: center;
        letter-spacing: -0.01em;
        color: #12263F;
    }
}

.people {
    padding: 15px 0;

    &-avatar {
        img {
            width: 48px;
            height: 48px;
        }
    }

    &-status {
        margin-left: 15px;
        &-name {
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            letter-spacing: -0.01em;
            color: #1F2D3D;
        }

        &-value {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: -0.01em;
            color: #6E84A3;

            &-indicator {
                margin-right: 6px;
                color: #00D97E;
            }
        }
    }

    &-btn {
        width: 58px;
        height: 28px;
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        text-align: center;
        letter-spacing: -0.01em;
        color: #12263F;
    }
}


.course {
    padding: 15px 0;

    &-thumbnail {
        width: 64px;
        height: 53px;
        border-radius: 4px;
        margin-right: 15px;
    }

    &-name {
        font-weight: 600;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: -0.01em;
        color: #1F2D3D;
    }

    &-composition {
        font-weight: 400;
        font-size: 11px;
        line-height: 14px;
        color: #6F84A2;
    }
}
