<div [@routerTransition]>
    <div class="container-fluid">       
        <div class="header-body pt-0">
        <div class="row align-items-end">
            <div class="col mb-md-0 mb-3">
                <h2>Community</h2>
            </div>
        </div>
            <div class="row align-items-center">
                <div class="col">
                    <ul class="nav nav-tabs nav-overflow header-tabs">
                         <li class="nav-item">
                            <a [routerLink]="['following']" routerLinkActive="active" class="nav-link" role="button">
                            {{ 'Following' | localize }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['popular']" routerLinkActive="active" class="nav-link" role="button">
                            {{ 'Popular' | localize }}
                            </a>
                        </li>
                    
                    </ul>
                </div>
            
            </div>

        </div>
    
    </div>
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</div>