@community-header-color: #12263F;
@community-header-font-size: 28px;
@community-header-font-weight: 600;
@community-header-line-height: 36px;

.community {
    &-header {
        font-weight: @community-header-font-weight;
        font-size: @community-header-font-size;
        line-height: @community-header-line-height;
        color: @community-header-color;
    }

    &-content {

        &-left {
            width: 738px;
            max-width: 100%;
        }

        &-post {
            padding: 20px 24px;
        }
    }
}

.header {
    &-tabs {
        .nav {
            &-link {
                padding: 0 0 20px 0;
            }
        }
    }
}

.topic {
    padding: 15px 0;
    position: relative;

    &-name {
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: -0.01em;
        color: #3B516C;
        padding-right: 10px;
    }

    &-followers {
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        letter-spacing: -0.01em;
        color: #6E84A3;
    }

    &-btn {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #2C7BE5;
        width: 76px;
        height: 29px;
        text-align: center;
        background: #FFFFFF;
        border: 1px solid #2C7BE5;
        border-radius: 5px;

        &.activated {
            background-color: white;
            color: #6E84A3;
            border-color: #6E84A3;
        }
    }
}

.people {
    padding: 15px 0;
    position: relative;

    &-avatar {
        img {
            width: 45px;
            height: 45px;
        }
    }

    &-status {
        margin-left: 15px;
        &-name {
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            letter-spacing: -0.01em;
            color: #1F2D3D;
        }

        &-value {
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            letter-spacing: -0.01em;
            color: #6E84A3;

            &-indicator {
                margin-right: 6px;
                color: #00D97E;
            }
        }
    }

    &-btn {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #2C7BE5;
        width: 76px;
        height: 29px;
        text-align: center;
        background: #FFFFFF;
        border: 1px solid #2C7BE5;
        border-radius: 5px;

        &.activated {
            background-color: white;
            color: #6E84A3;
            border-color: #6E84A3;
        }
    }
}

.course {
    padding: 15px 0;
    position: relative;

    &-left {
        min-width: 64px;
        min-height: 55px;
        overflow: hidden;
    }

    &-right {
        overflow: hidden;
    }

    &-thumbnail {
        min-width: 64px;
        max-width: 64px;
        min-height: 55px;
        max-height: 55px;
        border-radius: 4px;
    }

    &-name {
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: -0.01em;
        color: #1F2D3D;
    }

    &-composition {
        font-weight: 400;
        font-size: 13px;
        line-height: 14px;
        color: #6F84A2;
    }
}

.coaching {
    padding: 15px 0;
    position: relative;

    &-left {
        img {
            width: 45px;
            height: 45px;
        }
    }

    &-right {
        overflow: hidden;
    }

    &-name {
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: -0.01em;
        color: #1F2D3D;
    }

    &-author {
        font-weight: 400;
        font-size: 13px;
        line-height: 14px;
        color: #6F84A2;
    }
}

.article {
    padding: 15px 0;
    position: relative;
    overflow: hidden;

    &-name {
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: -0.01em;
        color: #1F2D3D;
    }

    &-description {
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: #6F84A2;
    }
}

.event {
    padding: 15px 0;
    position: relative;

    &-left {
        min-width: 64px;
        min-height: 55px;
        overflow: hidden;
    }

    &-right {
        overflow: hidden;
    }

    &-thumbnail {
        min-width: 64px;
        max-width: 64px;
        min-height: 55px;
        max-height: 55px;
        border-radius: 4px;
    }

    &-schedule {
        font-weight: 400;
        font-size: 10px;
        line-height: 13px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #2C7BE5;
    }

    &-name {
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: -0.01em;
        color: #1F2D3D;
    }

    &-description {
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: #6F84A2;
    }
}

.tutorial {
    padding: 15px 0;
    position: relative;

    &-thumbnail {
        width: 64px;
        height: 55px;
        border-radius: 4px;
        margin-right: 15px;
    }

    &-name {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: -0.01em;
        color: #1F2D3D;
    }

    &-description {
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: #6F84A2;
    }
}

app-shimmer:empty {
    display: none;
}
