<form class="form-horizontal" autocomplete="off" #editUserSpokenLanguageForm="ngForm" (ngSubmit)="onFormSubmit()">
  <div class="modal-card card">
    <div class="card-header">
      <h4 class="card-header-title">
        {{ "Languages" | localize }}
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="onCloseClick()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="card-body" [loader]="isLoading">
      <div class="form-group">
        <label class="col-form-label" for="CountryCode">
          {{ "WhatIsYourEnglishProficiency" | localize }}</label>
        <select id="englishProficiency" name="englishProficiency" type="text" class="form-control col-md-3"
          [(ngModel)]="englishProficiency">
          <option *ngFor="let p of proficiency" [ngValue]="p.id">
            {{ p.text | localize }}
          </option>
        </select>
      </div>
      <div class="card mb-0">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h4 class="card-header-title">
                {{ "WhatOtherLanguageDoYouSpeak" | localize }}
              </h4>
            </div>
            <div class="col-auto">
              <a (click)="$event.preventDefault(); onAddOtherLanguage()" href="#" class="btn btn-sm btn-primary">
                {{ "AddLanguage" | localize }}
              </a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-nowrap card-table mb-0">
            <thead>
              <tr>
                <th>{{ "Language" | localize }}</th>
                <th>{{ "Proficiency" | localize }}</th>
                <th width="1%"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let userSpokenLanguage of otherUserSpokenLanguages">
                <td>{{ userSpokenLanguage.spokenLanguageName }}</td>
                <td>
                  {{ getProficiencyText(userSpokenLanguage.proficiency) | localize}}
                </td>
                <td>
                  <button (click)="onEditOtherLanguage(userSpokenLanguage.id)" type="button" class="
                      btn btn-outline-primary btn-sm btn-rounded-circle
                      mr-1
                    ">
                    <span class="fe fe-edit-2"></span>
                  </button>
                  <button (click)="onRemoveOtherLanguage(userSpokenLanguage.id)" type="button"
                    class="btn btn-outline-danger btn-sm btn-rounded-circle">
                    <span class="fe fe-trash-2"></span>
                  </button>
                </td>
              </tr>
              <tr *ngIf="otherUserSpokenLanguages && otherUserSpokenLanguages.length === 0">
                <td colspan="10">
                  <p class="text-center m-0 p-0">
                    {{ "NoRecordsFound" | localize }}
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <abp-modal-footer [isLoading]="isLoading" [cancelDisabled]="isLoading"
      [saveDisabled]="!editUserSpokenLanguageForm.form.valid || isLoading" (onCancelClick)="onCloseClick()">
    </abp-modal-footer>
  </div>
</form>
