{
  "ConnectionStrings": {
    "Default": "server={{my_stack.ansible_facts.cloudformation[stack_name].stack_outputs.RDSEndId}};database={{db_name}};uid={{db_app_user}};password={{db_app_password}};port={{database_port}}"
  },
  "App": {
    "ServerRootAddress": " https://api-{{env_name}}.{{public_domain}}/{{env_name}}",
    "ClientRootAddress": "https://admin-{{env_name}}.{{public_domain}}/",
    "CorsOrigins": "https://{{env_name}}.{{public_domain}},https://admin-{{env_name}}.{{public_domain}},http://{{env_name}}.{{public_domain}},http://admin-{{env_name}}.{{public_domain}}",
    "ServerBasePath": "/{{env_name}}"
  },
  "Aws": {
    "Id": "392566533389",
    "Profile": "",
    "Region": ""
  },
  "Email": {    
    "FromName": "CaseMix Team",
    "FromEmail": "no-reply@casemix-dev.co.uk"
  },
  "SnomedApi": {
    "BaseUrl": "https://browser.ihtsdotools.org/snowstorm/snomed-ct/"
  },
  "Memcached": {
    "Address": "{{my_stack.ansible_facts.cloudformation[stack_name].stack_outputs.MemcachedEndpointAddr}}",
    "Port": {{my_stack.ansible_facts.cloudformation[stack_name].stack_outputs.MemcachedEndpointPort}},
    "MenuCacheKey": "menus"
  },
  "Authentication": {
    "JwtBearer": {
      "IsEnabled": "true",
      "SecurityKey": "CaseMix_C421AAEE0D114E9C",
      "Issuer": "CaseMix",
      "Audience": "CaseMix"
    }
  }
}