{
  "ConnectionStrings": {
    "Default": "server={{my_stack.ansible_facts.cloudformation[stack_name].stack_outputs.RDSEndId}};database={{db_name}};uid={{db_app_user}};password={{db_app_password}};port={{database_port}}"
  },
  "App": {
    "ServerRootAddress": "https://api-academically-{{env_name}}.{{public_domain}}/{{env_name}}",
    "ClientRootAddress": "https://academically-{{env_name}}.{{public_domain}}/",
    "CorsOrigins": "https://academically-{{env_name}}.{{public_domain}},http://academically-{{env_name}}.{{public_domain}}",
    "ServerBasePath": "/{{env_name}}"
  },
  "Authentication": {
    "JwtBearer": {
      "IsEnabled": "true",
      "SecurityKey": "CaseMix_C421AAEE0D114E9C",
      "Issuer": "Academically",
      "Audience": "Academically"
    }
  },
  "Kestrel": {
    "Endpoints": {
      "Http": {
        "Url": "https://api-academically-{{env_name}}.{{public_domain}}"
      }
    }
  },
  "Aws": {
    "Id": "761676740162",
    "Profile": "academically",
    "Region": "eu-west-2",
    "S3": {
      "AssetsBucket": "academically-{{env_name}}-assets",
      "Folders": {
        "ProfilePictures":  "profile-pictures"
      }
    }
  },
  "Email": {
    "FromName": "Academically Team",
    "FromEmail": "no-reply@academically.sourcecloud-dev.uk",
    "SupportEmail": "support@academically.sourcecloud-dev.uk"
  },
  "Address": {
    "SuggestUrl": "https://api.getAddress.io/autocomplete/",
    "GetDetailsUrl": "https://api.getAddress.io/get/",
    "ApiKey": "WOY4jVris0mfE5fWTTb3yQ28995",
    "UrlParameters":  "?api-key="
  },
  "Services": {
    "Tutorial": "6aa5d07a-171b-11eb-87b4-1831bf981123"
  },
  "RankingWeightings": {
    "AreaOfStudyScore": 10,
    "AreaOfStudyLevelScore": 1.5,
    "AreaOfStudyLevelAndAboveScore": 1.6,
    "MethodologyScore": 1.7
  },
  "Agora": {
    "AppId": "3809f04ba9614f87ba1094113461f5a9",
    "AppCertificate": "97b25f391c0147bb876243519adffdd6"
  }
}
