{
  "ConnectionStrings": {
    "Default": "server={{my_stack.ansible_facts.cloudformation[stack_name].stack_outputs.RDSEndId}};database={{db_name}};uid={{db_app_user}};password={{db_app_password}};port={{database_port}}"
  },
  "App": {
    "ServerRootAddress": " https://api-academically-{{env_name}}.{{public_domain}}/{{env_name}}",
    "ClientRootAddress": "https://academically-{{env_name}}.{{public_domain}}/",
    "CorsOrigins": "https://academically-{{env_name}}.{{public_domain}},http://academically-{{env_name}}.{{public_domain}}",
    "ServerBasePath": "/{{env_name}}"
  },
  "Aws": {
    "Id": "392566533389",
    "Profile": "",
    "Region": ""
  },
  "Email": {    
    "FromName": "Academically Team",
    "FromEmail": "no-reply@sourcecloud-dev.co.uk"
  },
  "Memcached": {
    "Address": "{{my_stack.ansible_facts.cloudformation[stack_name].stack_outputs.MemcachedEndpointAddr}}",
    "Port": {{my_stack.ansible_facts.cloudformation[stack_name].stack_outputs.MemcachedEndpointPort}},
    "MenuCacheKey": "menus"
  },
  "Authentication": {
    "JwtBearer": {
      "IsEnabled": "true",
      "SecurityKey": "CaseMix_C421AAEE0D114E9C",
      "Issuer": "Academically",
      "Audience": "Academically"
    }
  }
}