# This file is maintained by Ansible

# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: academically-pub-api
#app: your-app-name
#tenant: your-tenant-name

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
# frameworkVersion: "=X.X.X"

provider:
  name: aws
  endpointType: EDGE
  runtime: dotnetcore3.1
  profile: academically
  region: {{aws_region}}
  stage: {{env_name}}
  vpc:
    securityGroupIds:
      - {{my_stack.ansible_facts.cloudformation[stack_name].stack_outputs.SGWebId}}
    subnetIds:
      - subnet-0844400c2c751d0de
      - subnet-0d2a8e5ff0a29bcae
  iamRoleStatements:
    - Effect: Allow
      Action:
        - logs:CreateLogGroup
        - logs:CreateLogStream
        - logs:PutLogEvents
        - ec2:CreateNetworkInterface
        - ec2:DescribeNetworkInterfaces
        - ec2:DeleteNetworkInterface
      Resource: '*'
    - Effect: Allow
      Action:
        - "ses:SendRawEmail"
      Resource: "arn:aws:ses:${self:provider.region}:*:*"
    - Effect: Allow
      Action:
        - s3:*Object
        - s3:ListBucket
      Resource: 'arn:aws:s3:::{{env_name}}-academically-assets' 
  apiGateway:
    binaryMediaTypes:
      - 'multipart/form-data'

package:
  individually: true

functions:
  api:
    handler: XXXXXXXXX.Web.Host::XXXXXXXXX.Web.Host.Startup.LambdaEntryPoint::FunctionHandlerAsync
    name: ${self:provider.stage}-academically-pub-api
    description: Academically Public Facing API
    memorySize: 1024 
    timeout: 90
    environment:
      ASPNETCORE_ENVIRONMENT: {{env_name}}
    events:
      # - ProxyResource:
      #   Type: API
      #   Properties:
      #     Path: "{/{proxy+}"
      #     Method: "ANY"

      - http:
          path: /{proxy+}
          method: ANY
    #      integration: lambda


    # you can add packaging information here
    package:
      artifact: bin/release/netcoreapp3.1/academically-pub-api.zip
    #  exclude:
    #    - exclude-me.js
    #    - exclude-me-dir/**

plugins:
  - serverless-domain-manager

custom:
  customDomain:
    domainName: api-{{env_name}}.{{public_domain}}
    stage: {{env_name}}
    basePath: {{env_name}}
    # certificate name is first SAN listed
    certificateName: '*.{{public_domain}}'
    createRoute53Record: true
    endpointType: 'EDGE'
    securityPolicy: tls_1_2

#  Outputs:
#     NewOutput:
#       Description: "Description for the output"
#       Value: "Some output value"
