<div [@routerTransition]>
    <div class="container-fluid coaching-content d-flex flex-row flex-nowrap mb-5">
        <div class="coaching-content-left flex-grow-1">
            <div class="row">
                <div class="col col-sm-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <div class="coaching-content-right">
            <div class="row">
                <div class="col col-sm-12">
                    <ng-container *ngIf="isAboutTab">
                        <app-about-coach></app-about-coach>
                        <app-about-related-coaching></app-about-related-coaching>
                    </ng-container>
                    <ng-container *ngIf="isDiscussionTab">
                        <app-coach-badge></app-coach-badge>
                        <app-session-badge></app-session-badge>
                        <app-about-related-coaching></app-about-related-coaching>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
