<div class="container-fluid following card d-flex p-0">
  <app-search
    [options]="{ pagination: true, searchHeight: 59 }"
    [pagedData]="pagedTopics"
    [currentPage]="searchObj?.pageNumber"
    [itemTemplate]="topicItemTemplate"
    [itemLoadingTemplate]="topicItemLoadingTemplate"
    [loading]="loading"
    (onSearch)="handleOnSearch($event)"
  ></app-search>
</div>

<ng-template #topicItemTemplate let-item="item">
  <div class="topic-row d-flex flex-row">
      <div class="topic-row-left d-flex flex-column flex-grow-1 justify-content-center gap-0">
          <div class="topic-row-left-name">#{{ item.disciplineTaxonomy.name }}</div>
          <div class="topic-row-left-followers">{{ 'Community.Topics.Followers' | localize: (getFollowersCount(item.disciplineTaxonomy) | shortNum: 1)  }}</div>
      </div>
      <div class="topic-row-right d-flex flex-row align-items-center gap-10">
          <button class="btn btn-md btn-primary border-0" (click)="handleOnUnfollow(item.disciplineTaxonomy)">
              {{ (isUnfollowingTopic ? 'Unfollowing' : 'Following') | localize }}
              <span *ngIf="isUnfollowingTopic" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <i *ngIf="!isUnfollowingTopic" class="fe fe-check" role="status" aria-hidden="true"></i>
          </button>
      </div>
  </div>
</ng-template>

<ng-template #topicItemLoadingTemplate>
  <div class="topic-row d-flex flex-row">
      <div class="topic-row-left d-flex flex-column flex-grow-1 justify-content-center gap-5">
          <div class="box-shimmer-bar"  [style.width.%]="55" [style.height.px]="18"></div>
          <div class="box-shimmer-bar"  [style.width.%]="15" [style.height.px]="6"></div>
      </div>
      <div class="topic-row-right d-flex flex-row align-items-center gap-20">
          <div class="box-shimmer-bar action"  [style.width.px]="120" [style.height.px]="40"></div>
      </div>
  </div>
</ng-template>
