<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h4 class="card-header-title">Research Interests</h4>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-sm btn-primary">
          Add Research Interest
        </button>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-nowrap card-table">
      <tr>
        <td>
          <div class="row p-3">
            <div class="col-12">
              <h4 class="text-body">Media</h4>
            </div>
            <div class="col-12">
              <p class="m-0 p-0 text-body break-spaces">Aliquam ac nunc non nibh pulvinar finibus. Nulla nec fringilla
                magna, in porta
                tellus. Aenean vitae hendrerit elit. In hac habitasse platea dictumst. Cras hendrerit est sit amet
                lacinia
                maximus. Nulla at commodo orci. Morbi urna sem, efficitur in nunc at, mattis tristique nunc. Nunc ut
                metus
                lacus. Donec dapibus lorem vel justo fermentum consequat nec consequat velit. Maecenas quis massa nec
                nisi
                vestibulum imperdiet quis non nisi. Praesent at lacinia elit. Donec mi sapien, egestas at consectetur
                vitae, faucibus ut diam. Nullam metus dui, ornare a est a, vestibulum ultrices metus. Cras sagittis
                libero
                quis lectus imperdiet fringilla eget hendrerit neque. Nam in mi nibh. Phasellus ultricies ligula sed
                odio
                volutpat, at blandit risus sodales.</p>
            </div>
            <div class="col-12 pt-2">
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
            </div>
          </div>
        </td>
        <td class="table-action align-middle">
          <div dropdown class="dropdown" container="body">
            <a dropdownToggle class="dropdown-ellipses dropdown-toggle" href="javascript:;" role="button">
              <i class="fe fe-more-vertical"></i>
            </a>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="row p-3">
            <div class="col-12">
              <h4 class="text-body">Therapy</h4>
            </div>
            <div class="col-12">
              <p class="m-0 p-0 text-body break-spaces">Aliquam ac nunc non nibh pulvinar finibus. Nulla nec fringilla
                magna, in porta
                tellus. Aenean vitae hendrerit elit. In hac habitasse platea dictumst. Cras hendrerit est sit amet
                lacinia
                maximus. Nulla at commodo orci. Morbi urna sem, efficitur in nunc at, mattis tristique nunc. Nunc ut
                metus
                lacus. Donec dapibus lorem vel justo fermentum consequat nec consequat velit. Maecenas quis massa nec
                nisi
                vestibulum imperdiet quis non nisi. Praesent at lacinia elit. Donec mi sapien, egestas at consectetur
                vitae, faucibus ut diam. Nullam metus dui, ornare a est a, vestibulum ultrices metus. Cras sagittis
                libero
                quis lectus imperdiet fringilla eget hendrerit neque. Nam in mi nibh. Phasellus ultricies ligula sed
                odio
                volutpat, at blandit risus sodales.</p>
            </div>
            <div class="col-12 pt-2">
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
            </div>
          </div>
        </td>
        <td class="table-action align-middle">
          <div dropdown class="dropdown" container="body">
            <a dropdownToggle class="dropdown-ellipses dropdown-toggle" href="javascript:;" role="button">
              <i class="fe fe-more-vertical"></i>
            </a>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h4 class="card-header-title">Methodology</h4>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-sm btn-primary">
          Add Methodology
        </button>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-nowrap card-table">
      <tr>
        <td>
          <div class="row p-3">
            <div class="col-12">
              <h4 class="text-body">Quantitative</h4>
            </div>
            <div class="col-12">
              <p class="m-0 p-0 text-body break-spaces">Aliquam ac nunc non nibh pulvinar finibus. Nulla nec fringilla
                magna, in porta
                tellus. Aenean vitae hendrerit elit. In hac habitasse platea dictumst. Cras hendrerit est sit amet
                lacinia
                maximus. Nulla at commodo orci. Morbi urna sem, efficitur in nunc at, mattis tristique nunc. Nunc ut
                metus
                lacus. Donec dapibus lorem vel justo fermentum consequat nec consequat velit. Maecenas quis massa nec
                nisi
                vestibulum imperdiet quis non nisi. Praesent at lacinia elit. Donec mi sapien, egestas at consectetur
                vitae, faucibus ut diam. Nullam metus dui, ornare a est a, vestibulum ultrices metus. Cras sagittis
                libero
                quis lectus imperdiet fringilla eget hendrerit neque. Nam in mi nibh. Phasellus ultricies ligula sed
                odio
                volutpat, at blandit risus sodales.</p>
            </div>
            <div class="col-12 pt-2">
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
            </div>
          </div>
        </td>
        <td class="table-action align-middle">
          <div dropdown class="dropdown" container="body">
            <a dropdownToggle class="dropdown-ellipses dropdown-toggle" href="javascript:;" role="button">
              <i class="fe fe-more-vertical"></i>
            </a>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="row p-3">
            <div class="col-12">
              <h4 class="text-body">Qualitative</h4>
            </div>
            <div class="col-12">
              <p class="m-0 p-0 text-body break-spaces">Aliquam ac nunc non nibh pulvinar finibus. Nulla nec fringilla
                magna, in porta
                tellus. Aenean vitae hendrerit elit. In hac habitasse platea dictumst. Cras hendrerit est sit amet
                lacinia
                maximus. Nulla at commodo orci. Morbi urna sem, efficitur in nunc at, mattis tristique nunc. Nunc ut
                metus
                lacus. Donec dapibus lorem vel justo fermentum consequat nec consequat velit. Maecenas quis massa nec
                nisi
                vestibulum imperdiet quis non nisi. Praesent at lacinia elit. Donec mi sapien, egestas at consectetur
                vitae, faucibus ut diam. Nullam metus dui, ornare a est a, vestibulum ultrices metus. Cras sagittis
                libero
                quis lectus imperdiet fringilla eget hendrerit neque. Nam in mi nibh. Phasellus ultricies ligula sed
                odio
                volutpat, at blandit risus sodales.</p>
            </div>
            <div class="col-12 pt-2">
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
              <div class="badge badge-soft-info mr-1">Tag</div>
            </div>
          </div>
        </td>
        <td class="table-action align-middle">
          <div dropdown class="dropdown" container="body">
            <a dropdownToggle class="dropdown-ellipses dropdown-toggle" href="javascript:;" role="button">
              <i class="fe fe-more-vertical"></i>
            </a>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h4 class="card-header-title">Publications</h4>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-sm btn-primary">
          Add Publication
        </button>
      </div>
    </div>
  </div>
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <form>
          <div class="input-group input-group-flush">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fe fe-search"></i>
              </span>
            </div>
            <input class="list-search form-control" type="search" placeholder="Search" />
          </div>
        </form>
      </div>
      <div class="col-auto">
        <form>
          <select select2 [select2defaultValue]="'Sort Order'" class="custom-select custom-select-sm form-control-flush"
            data-toggle="select">
            <option>Sort Order</option>
          </select>
        </form>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-nowrap card-table">
      <tr *ngFor="let x of ['', '', '']">
        <td>
          <div class="row p-3">
            <div class="col-12 mb-2">
              <h4 class="text-body">Data from multi year environmental and radiation detector measurements of different
                radiation sources with data.</h4>
              <div class="d-flex align-items-center">
                <div class="badge badge-soft-success">Article</div>
                <span class="text-muted ml-2">Publisher, June 2020</span>
              </div>
            </div>
            <div class="col-12">
              <p class="m-0 p-0 text-body break-spaces">Aliquam ac nunc non nibh pulvinar finibus. Nulla nec fringilla
                magna, in porta
                tellus. Aenean vitae hendrerit elit. In hac habitasse platea dictumst. Cras hendrerit est sit amet
                lacinia
                maximus. Nulla at commodo orci. Morbi urna sem, efficitur in nunc at, mattis tristique nunc. Nunc ut
                metus
                lacus. Donec dapibus lorem vel justo fermentum consequat nec consequat velit. Maecenas quis massa nec
                nisi
                vestibulum imperdiet quis non nisi. Praesent at lacinia elit. Donec mi sapien, egestas at consectetur
                vitae, faucibus ut diam. Nullam metus dui, ornare a est a, vestibulum ultrices metus. Cras sagittis
                libero
                quis lectus imperdiet fringilla eget hendrerit neque. Nam in mi nibh. Phasellus ultricies ligula sed
                odio
                volutpat, at blandit risus sodales.</p>
            </div>
            <div class="col-12 pt-2">
              <div class="badge badge-soft-info mr-1">Radiation</div>
              <div class="badge badge-soft-info mr-1">Decay Consultant</div>
              <div class="badge badge-soft-info mr-1">Half-life</div>
              <div class="badge badge-soft-info mr-1">Radioactive Decay</div>
              <div class="badge badge-soft-info mr-1">Detector Stability</div>
              <div class="badge badge-soft-info mr-1">Decay Fluctuations</div>
              <a href="#" class="small ml-2">3 more</a>
            </div>
          </div>
        </td>
        <td class="table-action align-middle">
          <button class="btn btn-white btn-sm">Full Abstract</button>
        </td>
        <td class="table-action align-middle">
          <div dropdown class="dropdown" container="body">
            <a dropdownToggle class="dropdown-ellipses dropdown-toggle" href="javascript:;" role="button">
              <i class="fe fe-more-vertical"></i>
            </a>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <ul class="list-pagination-prev pagination pagination-tabs card-pagination">
      <li class="page-item">
        <a class="page-link pl-0 pr-4 border-right" href="javascript:;">
          <i class="fe fe-arrow-left mr-1"></i> Prev
        </a>
      </li>
    </ul>
    <ul class="list-pagination pagination pagination-tabs card-pagination">
      <li class="active"><a class="page" href="javascript:function Z(){Z=&quot;&quot;}Z()">1</a></li>
      <li><a class="page" href="javascript:function Z(){Z=&quot;&quot;}Z()">2</a></li>
      <li><a class="page" href="javascript:function Z(){Z=&quot;&quot;}Z()">3</a></li>
    </ul>
    <ul class="list-pagination-next pagination pagination-tabs card-pagination">
      <li class="page-item">
        <a class="page-link pl-4 pr-0 border-left" href="javascript:;">
          Next <i class="fe fe-arrow-right ml-1"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
