<table class="table table-sm table-nowrap mb-0">
  <tbody>
    <tr *ngFor="
      let eventInstance of (eventInstances | paginate: { id: 'upcoming-instances', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems })
    ">
      <td class="width-1">
        <div class="checklist">
          <div class="custom-control custom-checkbox checklist-control">
            <input class="custom-control-input" id="upcomingChecklistOne" type="checkbox" />
            <label class="custom-control-label" for="upcomingChecklistOne"></label>
          </div>
        </div>
      </td>
      <td>
        {{ eventInstance.date | dateFormat: 'dddd MMM DD, YYYY' }}
      </td>
      <td>
        {{ eventInstance.time }}
      </td>
      <td>
        {{ eventInstance.registrants }} {{ 'Registered' | localize }}
      </td>
      <td>
        {{ eventInstance.duration }} {{ 'Minutes' | localize | lowercase }}
      </td>
      <td class="width-1">
        <button [routerLink]="['/app/dashboard/events/portal/broadcast/student/', eventId]" type="button" class="btn btn-sm btn-primary">
          {{'Join' | localize}}
        </button>
      </td>
    </tr>
    <tr *ngIf="eventInstances.length === 0">
      <td>
        <p class="text-center m-0 p-0">{{ 'NoRecordsFound' | localize }}</p>
      </td>
    </tr>
  </tbody>
</table>
<abp-pagination-controls *ngIf="totalItems > eventInstances.length" id="upcoming-instances" (pageChange)="getDataPage($event)">
</abp-pagination-controls>
