<div *ngIf="!isRemoved" class="link-preview d-flex justify-content-center align-items-center gap-10 position-relative custom-card-shadow custom-card-border">
    <div class="link-preview-remove d-flex justify-content-center align-items-center cursor-pointer" (click)="removePreview()">
        <img src="/assets/img/actions/close.svg" class="plus active">
    </div>
    <div *ngIf="isImgShown" class="link-preview-image" [ngClass]="{ 'square': isSquareImg, 'circle': isCircleImg, 'rectangle': isRectangleImg }">
        <div [ngStyle]="{ 'background-image': 'url(\'' + img + '\')' }"></div>
    </div>
    <div *ngIf="isVideoShown" class="link-preview-video d-flex flex-column justify-content-center align-items-center position-relative">
        <img *ngIf="!isVideoPlaying" [class.can-play]="canPlay" src="/assets/img/actions/play.svg" class="link-preview-video-play">
        <div [ngStyle]="{ 'background-image': 'url(\'' + img + '\')' }"></div>
    </div>
    <!-- <div *ngIf="isVideoShown" class="link-preview-video d-flex flex-column justify-content-center align-items-center position-relative" (click)="togglePlayVideo($event)">
        <img *ngIf="!isVideoPlaying" [class.can-play]="canPlay" src="/assets/img/actions/play.svg" class="link-preview-video-play cursor-pointer">
        <video #videoFile [src]="video" class="bg-light cursor-pointer" loop playsinline></video>
    </div> -->
    <div class="link-preview-content flex-grow-1 d-flex flex-column justify-content-center align-items-center gap-2">
        <div *ngIf="isScheduleShown" class="link-preview-schedule w-100">
            {{ schedule }}
        </div>
        <div class="link-preview-title w-100 line-clamp-2">
            {{ title }}
        </div>
        <div *ngIf="isDescriptionShown" class="link-preview-description w-100 wrap-text">
            {{ description }}
        </div>
        <div *ngIf="isAuthorShown" class="link-preview-author w-100">
            {{ author }}
        </div>
        <div *ngIf="isCompositionsShown" class="link-preview-composition w-100">
            {{ composition }}
        </div>
        <div *ngIf="isLinksShown" class="link-preview-url w-100">
            {{ link }}
        </div>
    </div>
</div>
