.presenters {
    &-content {
        &-post {
            &-title {
                padding: 20px 24px 18px 24px;

                &-heading {
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 19px;
                    color: #12263F;
                }
                &-view-all {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 18px;
                    color: #2C7BE5;
                }
            }

            &-items {
                padding: 0 0 24px 24px;
                overflow: hidden;
            }

            &.end {
                .left, .right {
                    width: 162px;
                    height: 0.5px;
                    background-color: #95AAC9;
                }
            }


        }
    }
}
