<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h4 class="card-header-title">{{ 'OtherCourses' | localize}}</h4>
      </div>
      <div *ngIf="permission.isGranted('Pages.Profile.Education.Qualifications.Create')" class="col-auto">
        <button (click)="onAddClick()" type="button" class="btn btn-sm btn-light">
          <i class="fe fe-plus"></i>
          {{ 'Add' | localize }}
        </button>
      </div>
    </div>
  </div>
  <div class="table-responsive" [loader]="isLoading">

    <table class="table table-nowrap table-align-top card-table">
      <tbody>
        <ng-container *ngFor="let qualification of userQualifications">
          <tr>
            <td rowspan="2" width="1%">
              <div class="avatar avatar-sm">
                <div class="avatar-title font-size-lg bg-primary-soft rounded-circle text-primary">
                  <i class="fe fe-book-open"></i>
                </div>
              </div>
            </td>
            <td>
              <div class="ml-n2">
                <h4 class="mb-1">{{ qualification.conferringOrganization }}</h4>
                <p class="card-text small text-muted">
                  {{ qualification.city }}, {{ qualification.country }}
                </p>
              </div>
            </td>
            <td width="15%">
              {{ qualification.startYear }} - {{ qualification.endYear }}
            </td>
            <td width="20%">
              {{ qualification.professionalCertificateOrAward }}
            </td>
            <td width="10%">
            </td>
            <td width="10%">
              {{ qualification.gradeAttained }}
            </td>
            <td rowspan="2" width="1%" class="align-middle">
              <button [disabled]="deleteLoaders[qualification.id]" (click)="onViewDocumentsClick(qualification)"
                type="button" class="btn btn-outline-success btn-sm btn-rounded-circle mr-1">
                <span class="fe fe-folder"></span>
              </button>
              <button *ngIf="permission.isGranted('Pages.Profile.Education.Qualifications.Update')"
                [disabled]="deleteLoaders[qualification.id]" (click)="onEditClick(qualification)" type="button"
                class="btn btn-outline-primary btn-sm btn-rounded-circle mr-1">
                <span class="fe fe-edit-2"></span>
              </button>
              <button *ngIf="permission.isGranted('Pages.Profile.Education.Qualifications.Delete')"
                [disabled]="deleteLoaders[qualification.id]" (click)="onDeleteClick(qualification.id)" type="button"
                class="btn btn-outline-danger btn-sm btn-rounded-circle">
                <span *ngIf="deleteLoaders[qualification.id]" class="spinner-border spinner-border-sm" role="status"
                  aria-hidden="true"></span>
                <span *ngIf="!deleteLoaders[qualification.id]" class="fe fe-trash-2"></span>
              </button>
            </td>
          </tr>
          <tr class="no-border">
            <td colspan="5">
              <div class="ml-n2 mt-n3">
                <div toggableContent [identifier]="qualification.id" contentClass="ql-container">
                  <quill-view-html [content]="qualification.summary" theme="snow"></quill-view-html>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
        <tr *ngIf="userQualifications.length === 0">
          <td colspan="10">
            <p class="text-center m-0 p-0">{{ 'NoRecordsFound' | localize }}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
