.notification-icon {
  position: relative;

  .unread-count {
    color        : #FFFFFF;
    border-radius: 50%;
    font-size    : 8px;
    position     : absolute;
    top          : 0;
    right        : 0;
  }
}
