<div *ngIf="!isModal; else modalTemplate" class="btn-group mr-4 d-none d-md-flex" dropdown placement="bottom left"
  container="body">
  <a href (click)="$event.preventDefault(); unreadCount = 0" dropdownToggle class="navbar-user-link">
    <span class="icon">
      <i class="fe fe-bell"></i>
      <span class="badge bg-primary unread-count" *ngIf="unreadCount">{{ unreadCount }}</span>
    </span>
  </a>
  <div *dropdownMenu class="dropdown-menu dropdown-menu-card dropdown-menu-right">
    <div class="card-header">
      <h5 class="card-header-title">
        Notifications
      </h5>
      <a href="#!" class="small">
        View all
      </a>
    </div>
    <div class="card-body">
      <div class="list-group list-group-flush list-group-activity my-n3">
        <a *ngFor="let notification of notifications" class="list-group-item text-reset" [href]="notification.link">
          <div class=" row">
            <div class="col-auto">
              <div class="avatar avatar-sm">
                <img [src]="getProfilePicture(notification.userProfilePictureUrl)" alt="..."
                  class="avatar-img rounded-circle">
              </div>
            </div>
            <div class="col ms-n2">
              <div class="small" [innerHTML]="notification.notificationMessage">
              </div>
              <small class="text-muted">
                {{ notification.creationTime }}
              </small>
            </div>
          </div>
        </a>
        <a *ngIf="!notifications || !notifications.length" class="list-group-item text-reset">
          <p class="text-center text-muted p-0 m-0">
            {{ 'NoRecentNotification' | localize }}
          </p>
        </a>
      </div>
    </div>
  </div>
</div>

<ng-template #modalTemplate>
  <div [class]="buttonClass">
    <a href (click)="$event.preventDefault(); onNotificationsModalShow();" class="navbar-user-link">
      <span class="icon">
        <i class="fe fe-bell"></i>
        <span class="badge bg-primary unread-count" *ngIf="unreadCount">{{ unreadCount }}</span>
      </span>
    </a>
  </div>
  <div bsModal #notificationsModal="bs-modal" class="modal fade fixed-left" id="modalDemo" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-vertical" role="document">
      <form class="modal-content">
        <div class="modal-body">
          <a href="#" (click)="$event.preventDefault(); onCloseClick();" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </a>
          <h2 class="text-center mb-2">Notifications</h2>
          <hr class="mb-4" />
          <div class="list-group list-group-flush list-group-activity my-n3">
            <a *ngFor="let notification of notifications" class="list-group-item text-reset" [href]="notification.link">
              <div class="row">
                <div class="col-auto">
                  <div class="avatar avatar-sm">
                    <img [src]="getProfilePicture(notification.userProfilePictureUrl)" alt="..."
                      class="avatar-img rounded-circle">
                  </div>
                </div>
                <div class="col ms-n2">
                  <div class="small" [innerHTML]="notification.notificationMessage">
                  </div>
                  <small class="text-muted">
                    {{ notification.creationTime }}
                  </small>
                </div>
              </div>
            </a>
            <a *ngIf="!notifications || !notifications.length" class="list-group-item text-reset">
              <p class="text-center text-muted p-0 m-0">
                {{ 'NoRecentNotification' | localize }}
              </p>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>
