<ng-container *ngIf="model.parent && model.parent.id">
  <div class="p-3">
    <div class="row align-items-center">
      <div class="col">
        <h6 class="header-pretitle">{{ 'VideoSeries' | localize }}</h6>
        <h3 class="header-title">
          {{ model.parent.name }}
        </h3>
      </div>
      <div class="col-auto">
        <button class="btn btn-sm btn-primary">
          &#163;10
        </button>
      </div>
    </div>
  </div>
  <hr class="m-0 p-0">
</ng-container>
<div class="p-3" *ngIf="model.creatorUser">
  <div class="row align-items-center">
    <div class="col-auto">
      <a href="#!" class="avatar avatar-sm">
        <img [src]="getProfilePictureUrl(model.creatorUser.profilePictureDocument)" alt="..."
          class="avatar-img rounded-circle">
      </a>
    </div>
    <div class="col ml-n2">
      <h4 class="m-0 p-0">{{ model.creatorUser.fullName }}</h4>
    </div>
    <div *ngIf="studentVideo && studentVideo.id && studentVideo.creatorUserId !== model.creatorUser.id" class="col-auto">
      <button *ngIf="!userFollower || !userFollower.id else unfollowTemplate" class="btn btn-sm btn-outline-primary"
        (click)="onFollowClick()">
        {{ 'Follow' | localize }}
      </button>
      <ng-template #unfollowTemplate>
        <button class="btn btn-sm btn-outline-success" (click)="onUnfollowClick()">
          {{ 'Unfollow' | localize }}
        </button>
      </ng-template>
    </div>
  </div>
</div>
<hr class="m-0 p-0">
<div class="p-3">
  <div class="d-flex align-items-center justify-content-between">
    <h4 class="p-0 m-0">{{ model.name }}</h4>
    <button class="btn btn-sm btn-primary">
      &#163;2
    </button>
  </div>
  <p *ngIf="model.description" class="pt-1 m-0 small">{{ model.description }}</p>
  <div class="row small text-muted text-center mx-2 mt-2">
    <div class="col p-0 no-wrap">
      <a [class.text-success]="isLiked" href="#!like" (click)="$event.preventDefault(); onLikeClick()">
        <i class="fe fe-thumbs-up"></i> {{ likeCount }}
      </a>
    </div>
    <div class="col-auto p-0 ">|</div>
    <div class="col p-0 no-wrap">
      <i class="fe fe-share-2"></i> {{ 'Share' }}
    </div>
    <ng-container *ngIf="!preview && (!studentVideo.id || (studentVideo && studentVideo.saveOnly))">
      <div class="col-auto p-0 ">|</div>
      <div class="col p-0 no-wrap">
        <a *ngIf="!studentVideo || !studentVideo.id else unsaveVideoTemplate" href="#!save"
          (click)="$event.preventDefault(); onSaveClick()">
          <i class="fe fe-bookmark"></i> {{ 'Save' }}
        </a>
        <ng-template #unsaveVideoTemplate>
          <a href="#!save" (click)="$event.preventDefault(); onUnsaveClick()" class="text-success">
            <i class="fe fe-bookmark"></i> {{ 'Unsave' }}
          </a>
        </ng-template>
      </div>
    </ng-container>
  </div>
</div>
<ng-container *ngIf="!preview && model.id">
  <hr class="m-0 p-0">
  <ul class="nav nav-tabs nav-tabs-sm px-3">
    <li *ngIf="model.parent && model.parent.id" class="nav-item">
      <a href="#" class="nav-link active" id="more-tab" data-toggle="tab" href="#more-container" role="tab"
        aria-controls="more-container" aria-selected="true">
        {{ 'MoreInSeries' | localize }}
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link" [class.active]="!model.parent || !model.parent.id" id="related-tab" data-toggle="tab"
        href="#related-container" role="tab" aria-controls="related-container" aria-selected="true">
        {{ 'Related' | localize }}
      </a>
    </li>
  </ul>
  <div class="p-3">
    <div class="tab-content">
      <div *ngIf="model.parent && model.parent.id" class="tab-pane fade show active" id="more-container" role="tabpanel"
        aria-labelledby="more-tab">
        <app-series-videos [videoId]="model.id"></app-series-videos>
      </div>
      <div class="tab-pane fade" [ngClass]="{'show active' : !model.parent || !model.parent.id}" id="related-container"
        role="tabpanel" aria-labelledby="related-tab">
        <app-related [videoId]="model.id"></app-related>
      </div>
    </div>
  </div>
</ng-container>
