
<app-shimmer
    [isBlock]="true"
    [show]="isLoading$ | async"
    [shimmerType]="shimmerType.DashboardCreated"
    backgroundColor="#f9fbfd"
></app-shimmer>

<ng-container *ngIf="!(isLoading$ | async)">
    <div class="card custom-card-border search">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">
                    <form>
                        <div class="input-group input-group-flush">
                            <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fe fe-search"></i>
                            </span>
                            </div>
                            <input class="list-search form-control" type="search" name="Search" placeholder="Search" />
                        </div>
                    </form>
                </div>
                <div class="search-nav d-flex ml-auto">
                    <ul class="nav nav-tabs nav-tabs-sm">
                        <li class="nav-item">
                            <a href="#active-coaching" class="nav-link active" data-toggle="tab" role="tab">
                                Active <span class="badge badge-pill badge-light">{{ totalActiveCoaching }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#draft-coaching" class="nav-link" data-toggle="tab" role="tab">
                                Draft <span class="badge badge-pill badge-light">{{ totalDraftCoaching }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#archived-coaching" class="nav-link" data-toggle="tab" role="tab">
                                Archived <span class="badge badge-pill badge-light">{{ totalArchivedCoaching }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="active-coaching" role="tabpanel">
            <ng-container *ngIf="!!totalActiveCoaching else noRecords">
                <app-service-card-dashboard
                    *ngFor="let data of activeCoachings"
                    [data]="data"
                    [isLoading]="isLoading$ | async"
                    [isCreator]="isTutor"
                ></app-service-card-dashboard>
            </ng-container>
        </div>

        <div class="tab-pane fade" id="draft-coaching" role="tabpanel">
            <ng-container *ngIf="!!totalDraftCoaching else noRecords">
                <app-service-card-dashboard
                    *ngFor="let data of draftCoachings"
                    [data]="data"
                    [isLoading]="isLoading$ | async"
                    [isCreator]="isTutor"
                ></app-service-card-dashboard>
            </ng-container>
        </div>

        <div class="tab-pane fade" id="archived-coaching" role="tabpanel">
            <ng-container *ngIf="!!totalArchivedCoaching else noRecords">
                <app-service-card-dashboard
                    *ngFor="let data of archiveCoachings"
                    [data]="data"
                    [isLoading]="isLoading$ | async"
                    [isCreator]="isTutor"
                ></app-service-card-dashboard>
            </ng-container>
        </div>
    </div>
</ng-container>

<ng-template #noRecords>
    <div class="text-center font-size-sm text-muted w-100">No records to display</div>
</ng-template>
