<div class="pill-picker d-flex flex-row flex-wrap align-items-center gap-8">
    <span *ngFor="let item of selected" class="pill-picker-selected d-flex align-items-center">
        #{{ item.name }} <button (click)="handleRemoveSelected(item)" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    </span>
    <div *ngIf="canAddItems" class="pill-picker-keyword flex-grow-1">
        <div class="d-flex align-items-center">
            <span *ngIf="keywordPrefix && (isShowKeywordPrefix || keyword)" class="pill-picker-keyword-prefix">{{ keywordPrefix }}</span>
            <input
                [(ngModel)]="keyword"
                #keywordModel="ngModel"
                #keywordEl
                class="pill-picker-keyword-input flex-grow-1"
                [style.paddingLeft.px]="isShowKeywordPrefix ? 13 : 0"
                type="text"
                id="keyword"
                name="keyword"
                [placeholder]="keywordPlaceholder"
                (keydown)="handleKeyDown($event)"
            />
        </div>
        <app-autocomplete
            [input]="keywordEl"
            [minChars]="1"
            [templateRef]="autocompleteTemplateRef"
            [noDataText]="autocompleteNoDataText"
            [isLoading]="isLoading"
            [data]="choices"
            (onKeywordChange)="handleKeywordChange($event)"
            (onItemSelect)="handleChoiceSelect($event)"
        ></app-autocomplete>
    </div>
</div>
