<div class="card h-100">
  <div class="card-body h-100">
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
      <h1 class="mb-3">{{ 'NoLessonsOrModules' | localize }}</h1>
      <p class="text-muted mb-5">{{ 'StartByAddingALessonOrModule' | localize }}</p>
      <div class="d-flex">
        <button class="btn btn-primary" (click)="onAddLessionClick()">
          <i class="fe fe-plus"></i>&nbsp;{{ 'AddLesson' | localize }}
        </button>
        <button class="btn btn-white ml-5">
          <i class="fe fe-plus"></i>&nbsp;{{ 'AddModule' | localize }}
        </button>
      </div>
    </div>
  </div>
</div>
