<div class="post container-fluid">
    <div class="row">
        <div class="post-content col">
            <app-community-post-card
                *ngIf="isLoading$ | async"
                [isLoading]="true"
                [data]="tempPost"
            ></app-community-post-card>
            <app-community-post-card
                *ngIf="!(isLoading$ | async)"
                [isLoading]="false"
                [data]="post"
                [notificationId]="notificationId"
                [sorting]="notificationId ? PostSorting.Relevant : PostSorting.Latest"
                (onSharePost)="handleSharePost($event)"
            ></app-community-post-card>
        </div>
    </div>
</div>
