<div class="post container-fluid">
    <div *ngIf="isLoading$ | async" class="row">
        <app-community-post-card
            [isLoading]="true"
            [data]="tempPost"
        ></app-community-post-card>
    </div>
    <ng-container *ngIf="(isLoading$ | async) === false">
        <div *ngFor="let post of posts" class="row">
            <div class="post-content col">
                <app-community-post-card
                    [isLoading]="false"
                    [data]="post"
                    [notificationId]="notificationId"
                    [sorting]="notificationId ? PostSorting.Relevant : PostSorting.Latest"
                    (onSharePost)="handleSharePost($event)"
                ></app-community-post-card>
            </div>
        </div>
    </ng-container>

    <!-- <div id="editor"></div> -->
</div>
