::ng-deep {
    .modal-invite-user {
        .modal {
            &-content {
                width: 600px;
            }
        }
    }
}

.card {
    &-header {
        .title {
            color: #1F2D3D;
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.15px;
        }
    }

    &-body {
        height: 323px !important;

        .following {
            &-row {
                height: 79px;
                padding: 25px 24px;

                &:hover {
                    background-color: rgb(253, 253, 253);
                }

                &-left {
                    &-name {
                        color: #1F2D3D;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: -0.15px;
                    }

                    &-followers {
                        color: #6E84A3;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 0%;
                        letter-spacing: -0.13px;
                    }

                    &-status {
                        font-size: 13px;
                        color: #6E84A3;
                    }
                }

                &-right {
                    .btn {
                        &.invited {
                            color: #6E84A3;
                            border-radius: 5px;
                            border-color: rgba(171, 180, 192, 0.10);
                            background: rgba(171, 180, 192, 0.10);
                        }
                    }
                }
            }
        }

    }

    &-footer {
        padding: 10px 25px 20px;
        border-top: none;

        .btn {
            height: 31px;
            width: 114px;
            font-size: 12px;
        }
    }
}
