<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <form>
          <div class="input-group input-group-flush">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fe fe-search"></i>
              </span>
            </div>
            <input class="list-search form-control" type="search" name="Search" placeholder="Search"
              [(ngModel)]="searchFilter" (keyup.enter)="getDataPage(1)" />
          </div>
        </form>
      </div>
      <div class="col-auto mr-n3">
        <form>
          <select [(ngModel)]="pageNumber" select2 [defaultValue]="pageSize"
            (select2ValueChange)="pageSizeChange($event)" name="PageNumber"
            class="custom-select custom-select-sm form-control-flush" data-toggle="select">
            <option *ngFor="let pageSizeSelection of pageSizeSelections" [value]="pageSizeSelection">
              {{ pageSizeSelection }} {{ 'PerPage' | localize }}
            </option>
          </select>
        </form>
      </div>
      <div class="col-auto">
        <div class="dropdown" dropdown #filterDropdown="bs-dropdown" [isAnimated]="true" [autoClose]="false">
          <button class="btn btn-sm btn-white" type="button" dropdownToggle>
            <i class="fe fe-sliders mr-1"></i> {{ 'Filters' | localize }}
            <span *ngIf="statusFilter || statusFilter >= 0" class="badge badge-primary ml-1">1</span>
          </button>
          <form *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu-card" (ngSubmit)="getDataPage(1)">
            <div class="card-header">
              <h4 class="card-header-title">{{ 'Filters' | localize }}</h4>
              <button class="btn btn-sm btn-link text-reset btn-white" type="submit"
                (click)="filterDropdown.hide(); onClearFiltersClick()">
                <small>{{ 'ClearFilters' | localize }}</small>
              </button>
            </div>
            <div class="card-body">
              <div class="list-group list-group-flush mt-n4 mb-4">
                <div class="list-group-item">
                  <div class="row">
                    <div class="col">
                      <small>{{ 'Status' | localize }}</small>
                    </div>
                    <div class="col-auto">
                      <div class="custom-control custom-radio d-inline">
                        <input type="radio" class="custom-control-input" id="allStatus" name="statusFilter"
                          [(ngModel)]="statusFilter" [value]="undefined" checked />
                        <label class="custom-control-label" for="allStatus">
                          {{ 'All' | localize }}
                        </label>
                      </div>
                      <div class="custom-control custom-radio d-inline mx-3">
                        <input type="radio" class="custom-control-input" id="draftStatus" name="statusFilter"
                          [(ngModel)]="statusFilter" [value]="ArticleStatus.Draft" />
                        <label class="custom-control-label" for="draftStatus">
                          {{ 'Draft' | localize }}
                        </label>
                      </div>
                      <div class="custom-control custom-radio d-inline">
                        <input type="radio" class="custom-control-input" id="publishedStatus" name="statusFilter"
                          [(ngModel)]="statusFilter" [value]="ArticleStatus.Published" />
                        <label class="custom-control-label" for="publishedStatus">
                          {{ 'Published' | localize }}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-block btn-primary" type="submit" (click)="filterDropdown.hide()">
                {{ 'ApplyFilter' | localize }}
              </button>
            </div>
            &nbsp;
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-sm table-hover table-nowrap card-table" [loader]="isTableLoading">
      <tbody class="list font-size-base">
        <tr *ngFor="
            let article of (articles | paginate: { id: 'articles', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems })
          ">
          <td>
            <div class="row">
              <div class="col-auto d-flex justify-content-center align-items-center">
                <div *ngIf="!article.thumbnailDocumentUrl else withThumbnailTemplate"
                  class="avatar avatar-4by3 d-flex justify-content-center align-items-center">
                  <i class="fe fe-file-text text-muted h1 p-0 m-0"></i>
                </div>
                <ng-template #withThumbnailTemplate>
                  <div class="avatar avatar-4by3">
                    <img [src]="getCourseImageUrl(article.thumbnailDocumentUrl)" alt="..." class="avatar-img rounded">
                  </div>
                </ng-template>
              </div>
              <div class="col d-flex flex-column justify-content-center">
                <a *ngIf="article.type === ArticleType.SingleArticle" [routerLink]="[article.id]">
                  <h4 class="mb-1">{{ article.name }}</h4>
                </a>
                <a *ngIf="article.type === ArticleType.ArticleSeries" [routerLink]="['article-series', article.id]">
                  <h4 class="mb-1">{{ article.name }}</h4>
                </a>
                <p *ngIf="article.description" class="text-muted mb-1">
                  {{ article.description }}
                </p>
                <div class="text-muted mb-1">
                  <div class="d-flex">
                    <div class="d-flex align-items-center">
                      <i class="fe fe-file-text mr-2"></i>
                      {{ (article.type === ArticleType.SingleArticle ? 'Article' : 'ArticleSeries') | localize }}
                    </div>
                    <div class="d-flex align-items-center mx-3">|</div>
                    <ng-container *ngIf="article.type === ArticleType.SingleArticle else articleSeriesTemplate">
                      <div class="d-flex align-items-center mr-3">
                        <i class="fe fe-eye mr-2"></i>
                        0 {{ 'Views' | localize }}
                      </div>
                      <div class="d-flex align-items-center mr-3">
                        <i class="fe fe-thumbs-up mr-2"></i>
                        0 {{ 'Likes' | localize }}
                      </div>
                      <div class="d-flex align-items-center mr-3">
                        <i class="fe fe-square-message mr-2"></i>
                        0 {{ 'Comments' | localize }}
                      </div>
                      <div class="d-flex align-items-center mr-3">
                        <i class="fe fe-share-2 mr-2"></i>
                        0 {{ 'Shares' | localize }}
                      </div>
                      <div class="d-flex align-items-center">
                        <i class="fe fe-star mr-2"></i>
                        0 {{ 'Saves' | localize }}
                      </div>
                    </ng-container>
                    <ng-template #articleSeriesTemplate>
                      <div class="d-flex align-items-center">
                        {{ article.children.length }}
                        {{ (article.children.length > 1 ?'Articles' : 'Article') | localize }}
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <span class="badge" [class.badge-info]="article.status === ArticleStatus.Draft"
              [class.badge-primary]="article.status === ArticleStatus.Published">
              {{ ArticleStatus[article.status] }}
            </span>
          </td>
          <td class="table-action">
            <button class="btn btn-sm btn-white">
              {{ 'Edit' | localize }}
            </button>
          </td>
        </tr>
        <tr *ngIf="articles.length === 0">
          <td colspan="10">
            <p class="text-center m-0 p-0">{{ 'NoRecordsFound' | localize }}</p>
          </td>
        </tr>
      </tbody>
    </table>
    <abp-pagination-controls id="articles" (pageChange)="getDataPage($event)"> </abp-pagination-controls>
  </div>
</div>
