<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-6 col-xl">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted mb-2">Total hours</h6>
              <span class="h2 mb-0"> 763.5 </span>
            </div>
            <div class="col-auto">
              <span class="h2 fe fe-briefcase text-muted mb-0"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 col-xl">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted mb-2">Response Time</h6>
              <span class="h2 mb-0"> 763.5 </span>
            </div>
            <div class="col-auto">
              <span class="h2 fe fe-clock text-muted mb-0"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 col-xl">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted mb-2">Vark Style</h6>
              <span class="h2 mb-0"> 35.5% </span>
            </div>
            <div class="col-auto">
              <div class="chart chart-sparkline">
                <canvas class="chart-canvas" chart [chartSettings]="varkStyleChartSettings"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 col-xl">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted mb-2">Average Rating</h6>
              <span class="h2 mb-0"> 2:37 </span>
            </div>
            <div class="col-auto">
              <span class="h2 fe fe-clock text-muted mb-0"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-xl-8">
      <div id="overview" class="card">
        <div class="card-header">
          <h4 class="card-header-title">{{ 'About' | localize }} {{ profileDetail.firstName }}</h4>
        </div>
        <div class="card-body">
          <p class="text-secondary">
            {{ profileDetail.about }}
          </p>
          <div class="alert alert-success alert-dismissible ac-alert ac-alert-service pr-2" role="alert">UX Team</div>
          <div class="alert alert-success alert-dismissible ac-alert ac-alert-service pr-2" role="alert">Research Team</div>
        </div>
      </div>

      <div id="reviews" class="card">
        <div class="card-header">
          <h4 class="card-header-title">{{ 'StudentsReviews' | localize }}</h4>
        </div>
        <div class="card-body">
          <div class="comment mb-3">
            <div class="row">
              <div class="col-auto">
                <a class="avatar" href="profile-posts.html">
                  <img src="assets/themes/dashkit/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle" />
                </a>
              </div>
              <div class="col ml-n2">
                <div class="comment-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="comment-title">Ab Hadley</h5>
                    </div>
                    <div class="col-auto">
                      <time class="comment-time"> 11:12 </time>
                    </div>
                  </div>

                  <p class="comment-text">
                    Looking good Dianna! I like the image grid on the left, but it feels like a lot to process and doesn't really
                    <em>show</em> me what the product does? I think using a short looping video or something similar demo'ing the product
                    might be better?
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="comment mb-3">
            <div class="row">
              <div class="col-auto">
                <a class="avatar" href="profile-posts.html">
                  <img src="assets/themes/dashkit/img/avatars/profiles/avatar-3.jpg" alt="..." class="avatar-img rounded-circle" />
                </a>
              </div>
              <div class="col ml-n2">
                <div class="comment-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="comment-title">Adolfo Hess</h5>
                    </div>
                    <div class="col-auto">
                      <time class="comment-time"> 11:12 </time>
                    </div>
                  </div>
                  <p class="comment-text">Any chance you're going to link the grid up to a public gallery of sites built with Launchday?</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="educations">
        <profile-education *ngIf="userId" [userId]="userId" [isViewOnly]="isViewOnly"></profile-education>
      </div>

      <div id="publications">
        <profile-publications *ngIf="userId" [userId]="userId" [isViewOnly]="isViewOnly"></profile-publications>
      </div>

      <div id="experiences" class="card">
        <div class="card-header">
          <h4 class="card-header-title">
            {{ 'MyExperience' | localize }}
          </h4>
          <a *ngIf="!isViewOnly" href="#" class="btn btn-sm btn-primary" (click)="$event.preventDefault()">
            {{ 'Add' | localize }}
          </a>
        </div>
        <div class="card-body">
          <h3>Coming Soon!</h3>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4">
      <!-- Card -->
      <div class="card">
        <div class="card-body">
          <div class="list-group list-group-flush my-n3">
            <div class="list-group-item">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="mb-0">{{ 'Birthday' | localize }}</h5>
                </div>
                <div class="col-auto">
                  <time class="small text-muted"> {{ profileDetail.dateOfBirth | date: 'dd/MM/yyyy' }} </time>
                </div>
              </div>
            </div>

            <div class="list-group-item">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="mb-0">{{ 'Joined' | localize }}</h5>
                </div>
                <div class="col-auto">
                  <time class="small text-muted"> {{ profileDetail.dateJoined | date: 'dd/MM/yyyy' }} </time>
                </div>
              </div>
            </div>

            <div class="list-group-item">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="mb-0">{{ 'Location' | localize }}</h5>
                </div>
                <div class="col-auto">
                  <small class="text-muted"> {{ profileDetail.city }}, {{ profileDetail.country }} </small>
                </div>
              </div>
            </div>

            <div class="list-group-item">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="mb-0">{{ 'Website' | localize }}</h5>
                </div>
                <div class="col-auto">
                  <small class="text-muted"> <a target="_blank" href="http://www.example.com">www.example.com</a> </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <verifications-widget></verifications-widget>

      <div class="card">
        <div class="card-header">
          <h4 class="card-header-title">{{ 'Availability' | localize }}</h4>
        </div>
        <div class="card-body">
          <div class="chart chart-sm">
            <canvas class="chart-canvas" chart [chartSettings]="availabilityChartSettings"></canvas>
          </div>
        </div>
      </div>

      <profile-knowledge-base *ngIf="userId" [userId]="userId" [isViewOnly]="isViewOnly"></profile-knowledge-base>

      <profile-research-methods *ngIf="userId" [userId]="userId" [isViewOnly]="isViewOnly"></profile-research-methods>

      <profile-support-services *ngIf="userId" [userId]="userId" [isViewOnly]="isViewOnly"></profile-support-services>
    </div>
  </div>
</div>
