<div class="container-fluid" [@routerTransition]>
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="header">
        <div class="header-body">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="header-pretitle">{{ "ManageYourSettings" | localize }}</h6>
              <h1 class="header-title">{{ "Profile" | localize }}</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-12 col-xl-8 profile-settings">
          <tabset>
            <tab *ngIf="permission.isGranted('Pages.Profile.Details')" heading="{{ 'Details' | localize }}">
              <profile-details #profileDetailsComponent></profile-details>
            </tab>
            <tab *ngIf="permission.isGranted('Pages.Profile.Educations')" heading="{{ 'Education' | localize }}">
              <profile-education></profile-education>
            </tab>
            <tab *ngIf="permission.isGranted('Pages.Profile.Publications')" heading="{{ 'Publication' | localize }}">
              <profile-publications></profile-publications>
            </tab>
            <tab *ngIf="true" heading="{{ 'AreasOfStudy' | localize }}">
              <h1>Areas of Study - Coming Soon</h1>
            </tab>
            <tab *ngIf="true" heading="{{ 'Service' | localize }}">
              <h1>Service - Coming Soon</h1>
            </tab>
            <tab *ngIf="true" heading="{{ 'PrivacyAndNotifications' | localize }}">
              <h1>Privacy & Notifications - Coming Soon</h1>
            </tab>
            <tab *ngIf="true" heading="{{ 'Financials' | localize }}">
              <h1>Financials - Coming Soon</h1>
            </tab>
          </tabset>
        </div>

        <div class="col-12 col-xl-4">
          <profile-summary-widget></profile-summary-widget>
        </div>
      </div>
    </div>
  </div>
</div>