<div class="table-responsive">
  <table class="table table-sm table-nowrap card-table">
    <thead>
      <tr>
        <th>INTERACTIVE TOOLS</th>
      </tr>
    </thead>
    <tbody class="font-size-base">
        <div class="card-body">
        <div class="list-group list-group-flush my-n3">
              <div class="row align-items-center mb-3">
                <div class="col">
                  <span class="font-weight-base ">
                    Enable Microphone
                  </span>
                </div>
                <div class="col-auto">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="subscriptionsSwitchOne">
                    <label class="custom-control-label" for="subscriptionsSwitchOne"></label>
                  </div>
                </div>
              </div>
              <div class="row align-items-center mb-3">
                <div class="col">
                  <span class="font-weight-base ">
                    Enable Webcam
                  </span>
                </div>
                <div class="col-auto">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="subscriptionsSwitchTwo" checked="true">
                    <label class="custom-control-label" for="subscriptionsSwitchTwo"></label>
                  </div>

                </div>
              </div>
              <div class="row align-items-center mb-3 brd-pad">
                <div class="col">

                  <!-- Heading -->
                  <span class="font-weight-base ">
                    Enable Presentation tools
                  </span>
                </div>
                <div class="col-auto">

                  <!-- Switch -->
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="subscriptionsSwitchThree" >
                    <label class="custom-control-label" for="subscriptionsSwitchThree"></label>
                  </div>

                </div>
              </div>
              <div class="row align-items-center">
                  <div class="col">

                    <!-- Heading -->
                    <span class="font-weight-base ">
                      Enable Speak requests
                    </span>
                  </div>
                  <div class="col-auto">

                    <!-- Switch -->
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="subscriptionsSwitchfour" >
                      <label class="custom-control-label" for="subscriptionsSwitchfour"></label>
                    </div>

                  </div>
                </div>
          </div>
        </div>

    </tbody>
  </table>
  <table class="table table-sm table-nowrap card-table">
      <thead>
        <tr>
          <th>ATTENDEES</th>
        </tr>
      </thead>
      <tbody class="font-size-base">
          <div class="card-body">
              <div class="list-group list-group-flush my-n3">
                <div class="row align-items-center mb-3">
                  <div class="col">
                    <span class="font-weight-base ">
                     View registrants
                    </span>
                  </div>
                  <div class="col-auto">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="registrant" checked="">
                      <label class="custom-control-label" for="registrant"></label>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center mb-3">
                  <div class="col">
                    <span class="font-weight-base ">
                     Manage audience
                    </span>
                  </div>
                  <div class="col-auto">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="manageAudience" checked="">
                      <label class="custom-control-label" for="manageAudience"></label>
                    </div>
                  </div>
                </div><div class="row align-items-center">
                  <div class="col">
                    <span class="font-weight-base ">
                     Manage audience settings
                    </span>
                  </div>
                  <div class="col-auto">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="audienceSettings" checked="">
                      <label class="custom-control-label" for="audienceSettings"></label>
                    </div>
                  </div>
                </div>

          </div>
          </div>

      </tbody>
    </table>
    <table class="table table-sm table-nowrap card-table">
      <thead>
        <tr>
          <th>CHAT</th>


        </tr>
      </thead>
      <tbody class="font-size-base">
          <div class="card-body">
          <div class="list-group list-group-flush my-n3">
                <div class="row align-items-center mb-3">
                  <div class="col">
                    <span class="font-weight-base ">
                      Chat publicily
                    </span>
                  </div>
                  <div class="col-auto">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="publicChat" checked="">
                      <label class="custom-control-label" for="publicChat"></label>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center mb-3">
                  <div class="col">
                    <span class="font-weight-base pd-3">
                      Tag members
                    </span>
                  </div>
                  <div class="col-auto">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="member" checked="true">
                      <label class="custom-control-label" for="member"></label>
                    </div>

                  </div>
                </div>
                <div class="row align-items-center mb-3">
                  <div class="col">

                    <!-- Heading -->
                    <span class="font-weight-base ">
                      Chat privately
                    </span>
                  </div>
                  <div class="col-auto">

                    <!-- Switch -->
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="privateChat" checked="">
                      <label class="custom-control-label" for="privateChat"></label>
                    </div>

                  </div>
                </div>
                <div class="row align-items-center">
                    <div class="col">
                      <div class="custom-control custom-radio pd-7">
                          <input type="radio" id="anyoneChatType" name="chatType"
                             class="custom-control-input" />
                          <label class="custom-control-label" for="anyoneChatType"></label>
                          <label class="custom-control-caption" for="anyoneChatType">
                              With anyone
                          </label>
                        </div>
                        </div>

                  </div>
                  <div class="row align-items-center">
                      <div class="col">
                          <div class="custom-control custom-radio pd-7">
                              <input type="radio" id="adminChatType" name="chatType"
                                 class="custom-control-input" />
                              <label class="custom-control-label" for="adminChatType"></label>
                              <label class="custom-control-caption" for="adminChatType">
                                  With admin only
                              </label>
                            </div>
                            </div>

                    </div>
            </div>
          </div>

      </tbody>
    </table>
    <table class="table table-sm table-nowrap card-table">
      <thead>
        <tr>
          <th>Questions</th>


        </tr>
      </thead>
      <tbody class="font-size-base">
          <div class="card-body">
          <div class="list-group list-group-flush my-n3">
                <div class="row align-items-center mb-3">
                  <div class="col">
                    <span class="font-weight-base ">
                      Allow guests to upvote
                    </span>
                  </div>
                  <div class="col-auto">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="guestUpvote" checked="">
                      <label class="custom-control-label" for="guestUpvote"></label>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col">
                    <span class="font-weight-base ">
                      Allow guests to respond
                    </span>
                  </div>
                  <div class="col-auto">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="guestRespond" checked="">
                      <label class="custom-control-label" for="guestRespond"></label>
                    </div>
                  </div>
                </div>

            </div>
          </div>

      </tbody>
    </table>
    <table class="table table-sm table-nowrap card-table">
      <thead>
        <tr>
          <th>POLLS</th>


        </tr>
      </thead>
      <tbody class="font-size-base">
          <div class="card-body">
          <div class="list-group list-group-flush my-n3">
                <div class="row align-items-center">
                  <div class="col">
                    <span class="font-weight-base ">
                     Create poll
                    </span>
                  </div>
                  <div class="col-auto">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="createPoll" checked="">
                      <label class="custom-control-label" for="createPoll"></label>
                    </div>
                  </div>
                </div>

            </div>
          </div>

      </tbody>
    </table>
    <table class="table table-sm table-nowrap card-table">
      <thead>
        <tr>
          <th>OFFERS</th>
        </tr>
      </thead>
      <tbody class="font-size-base">
          <div class="card-body">
          <div class="list-group list-group-flush my-n3">
                <div class="row align-items-center ">
                  <div class="col">
                    <span class="font-weight-base ">
                      Create offers
                    </span>
                  </div>
                  <div class="col-auto">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="createOffers" checked="">
                      <label class="custom-control-label" for="createOffers"></label>
                    </div>
                  </div>
                </div>



            </div>
          </div>

      </tbody>
    </table>
    <table class="table table-sm table-nowrap card-table">
      <thead>
        <tr>
          <th>HANDOUTS</th>
        </tr>
      </thead>
      <tbody class="font-size-base">
          <div class="card-body">
          <div class="list-group list-group-flush my-n3">
                <div class="row align-items-center">
                  <div class="col">
                    <span class="font-weight-base ">
                      Upload handouts
                    </span>
                  </div>
                  <div class="col-auto">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="uploadHandout" checked="">
                      <label class="custom-control-label" for="uploadHandout"></label>
                    </div>
                  </div>
                </div>

            </div>
          </div>

      </tbody>
    </table>
</div>
