<div class="container-fluid" [@routerTransition]>
  <div class="row mt-5 pt-5 text-center">
    <div class="col-md-12">
      <p class="text-muted">
        <ng-container *ngTemplateOutlet="stepInfo"></ng-container>
      </p>
    </div>
    <div class="col-md-12 header mt-md-5">
      <div class="header-body">
        <h1 class="header-title mb-4">
          {{ 'ServiceWizardStep1Title' | localize }}
        </h1>
        <p class="header-subtitle mb-5">
          {{ 'ServiceWizardStep1Subtitle' | localize }}
        </p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-12 header" [loader]="isLoading">
      <div class="header-body">
        <div class="row">
          <div class="col-md-6" *ngFor="let serviceCategory of serviceCategories">
            <div class="form-group m-0 p-3" [class.bg-light]="getSelected(serviceCategory.id)">
              <div class="custom-control custom-checkbox">
                <!-- Remove (click)="$event.preventDefault()" to select more than one services-->
                <input class="custom-control-input" id="service_{{ serviceCategory.id }}" name="service-category"
                  type="checkbox" [checked]="getSelected(serviceCategory.id)" (click)="$event.preventDefault()"
                  (change)="onCheckChange($event.target.checked, serviceCategory)" />
                <label class="custom-control-label w-100" for="service_{{ serviceCategory.id }}">{{ serviceCategory.name
                  }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <button (click)="onCancelClick()" type="button" class="btn btn-white">
      {{ 'Cancel' | localize }}
    </button>
    <p class="text-muted m-0 align-self-center">
      <ng-container *ngTemplateOutlet="stepInfo"></ng-container>
    </p>
    <button type="button" (click)="onNextClick()" class="btn btn-primary">
      {{ 'Continue' | localize }}
    </button>
  </div>
</div>
<ng-template #stepInfo>{{ 'step' | localize | titlecase }} 1 {{ 'of' | localize | titlecase }} 4</ng-template>
