<div class="d-flex flex-column flex-sm-row flex-nowrap justify-content-center align-content-center align-items-center px-3 px-sm-4 mt-3 mb-4" style="gap: 10px;">
  <div class="flex-grow-1 w100p w-sm-auto">
    <div class="card m-0">
      <div class="card-header height-pad border-0">
        <div class="row align-items-center">
          <div class="col">
          </div>
          <div class="col-auto mr-n3">
            <form>
              <select [(ngModel)]="pageNumber" select2 [defaultValue]="pageSize"
                (select2ValueChange)="pageSizeChange($event)" name="PageNumber"
                class="custom-select custom-select-sm form-control-flush" data-toggle="select">
                <option *ngFor="let pageSizeSelection of pageSizeSelections" [value]="pageSizeSelection">
                  {{ pageSizeSelection }} {{ 'PerPage' | localize }}
                </option>
              </select>
            </form>
          </div>
          <div class="col-auto">
            <div class="dropdown" dropdown #filterDropdown="bs-dropdown" [isAnimated]="true" [autoClose]="false">
              <button class="btn btn-sm btn-white" type="button" dropdownToggle>
                <i class="fe fe-sliders mr-1"></i> {{ 'Filters' | localize }}
                <span *ngIf="scheduleFilter || scheduleFilter >= 0" class="badge badge-primary ml-1">1</span>
              </button>
              <form *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu-card"
                (ngSubmit)="getDataPage(1)">
                <div class="card-header">
                  <h4 class="card-header-title">{{ 'Filters' | localize }}</h4>
                  <button class="btn btn-sm btn-link text-reset btn-white" type="submit"
                    (click)="filterDropdown.hide(); onClearFiltersClick()">
                    <small>{{ 'ClearFilters' | localize }}</small>
                  </button>
                </div>
                <div class="card-body">
                  <div class="list-group list-group-flush mt-n4 mb-4">
                    <div class="list-group-item">
                      <div class="row">
                        <div class="col">
                          <small>{{ 'Status' | localize }}</small>
                        </div>
                        <div class="col-auto">
                          <div class="custom-control custom-radio d-inline">
                            <input type="radio" class="custom-control-input" id="allSchedule" name="scheduleFilter"
                              [(ngModel)]="scheduleFilter" [value]="undefined" checked />
                            <label class="custom-control-label" for="allSchedule">
                              {{ 'All' | localize }}
                            </label>
                          </div>
                          <div class="custom-control custom-radio d-inline mx-3">
                            <input type="radio" class="custom-control-input" id="upcomingSchedule" name="scheduleFilter"
                              [(ngModel)]="scheduleFilter" [value]="EventScheduleFilter.Upcoming" />
                            <label class="custom-control-label" for="upcomingSchedule">
                              {{ 'Upcoming' | localize }}
                            </label>
                          </div>
                          <div class="custom-control custom-radio d-inline">
                            <input type="radio" class="custom-control-input" id="pastSchedule" name="scheduleFilter"
                              [(ngModel)]="scheduleFilter" [value]="EventScheduleFilter.Past" />
                            <label class="custom-control-label" for="pastSchedule">
                              {{ 'Past' | localize }}
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-block btn-primary" type="submit" (click)="filterDropdown.hide()">
                    {{ 'ApplyFilter' | localize }}
                  </button>
                </div>
                &nbsp;
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="w100p w-sm-auto">
    <div class="nav btn-group h-100" role="tablist" style="min-width: 200px;">
      <button class="btn btn-lg btn-white active" data-toggle="tab" data-target="#grid-tab" role="tab"
        aria-controls="grid-tab" aria-selected="true">
        <span class="fe fe-grid"></span>
      </button>
      <button class="btn btn-lg btn-white" data-toggle="tab" data-target="#list-tab" role="tab" aria-controls="list-tab"
        aria-selected="false">
        <span class="fe fe-list"></span>
      </button>
    </div>
  </div>
</div>

<div *ngIf="events && events.length else noCoursesTemplate" class="tab-content px-3 px-sm-4" [loader]="isTableLoading">
  <div class="tab-pane fade active show" id="grid-tab" role="tabpanel">
    <app-grid [events]="events"></app-grid>
  </div>
  <div class="tab-pane fade" id="list-tab" role="tabpanel">
    <app-list [events]="events"></app-list>
  </div>
</div>

<ng-template #noCoursesTemplate>
  <p class="m-0 p-5 text-muted text-center">
    {{ 'NoRecordsFound' | localize }}
  </p>
</ng-template>
