<div class="schedule-container d-flex flex-column justify-content-center align-items-center">
    <ng-container *ngFor="let dayOfWeek of DayOfWeek | enumToArray | keyvalue" >
        <div class="schedule row d-flex justify-content-center align-items-center" [class.disabled]="!models[dayOfWeek.key].availability.isAvailable">
        <div class="schedule-day flex-grow-1">
            {{ dayOfWeek.value }}'s
        </div>
        <div class="schedule-available">
            <div class="custom-control custom-switch">
            <input [(ngModel)]="models[dayOfWeek.key].availability.isAvailable" type="checkbox" [id]="'isAvailable-' + dayOfWeek.key" [name]="'isAvailable-' + dayOfWeek.key" class="custom-control-input" [checked]="models[dayOfWeek.key].availability.isAvailable" />
            <label class="custom-control-label" [for]="'isAvailable-' + dayOfWeek.key">{{ models[dayOfWeek.key].availability.isAvailable ? 'Available' : 'Unavailable' | localize }}</label>
            </div>
        </div>
        <div class="schedule-time d-flex justify-content-center align-items-center">
            <div class="schedule-time-from">
            <div class="dropdown">
                <a href="javascript:void(0)" class="dropdown-ellipses dropdown-toggle d-flex justify-content-between align-items-center h-100" role="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ models[dayOfWeek.key].startTime.label }} <span class="fe fe-chevron-down"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right custom-card-shadow">
                <div class="dropdown-item-container">
                    <div *ngFor="let time of timeSelections" [value]="time.value" class="dropdown-item cursor-pointer d-flex justify-content-end" (click)="models[dayOfWeek.key].startTime = time">
                    {{ time.label }}
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="schedule-time-separator">to</div>
            <div class="schedule-time-to">
            <div class="dropdown">
                <a href="javascript:void(0)" class="dropdown-ellipses dropdown-toggle d-flex justify-content-between align-items-center h-100" role="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ models[dayOfWeek.key].endTime.label }} <span class="fe fe-chevron-down"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right custom-card-shadow">
                    <div class="dropdown-item-container">
                        <div *ngFor="let time of timeSelections" [value]="time.value" class="dropdown-item cursor-pointer d-flex justify-content-end" (click)="models[dayOfWeek.key].endTime = time">
                            {{ time.label }}
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="schedule-actions">
            <div class="schedule-actions-plus cursor-pointer" (click)="addBreak(dayOfWeek.key)">
                <img src="/assets/img/actions/plus-active.svg" class="plus active">
                <img src="/assets/img/actions/plus-inactive.svg" class="plus inactive">
            </div>
        </div>
        </div>
        <ng-container *ngFor="let b of models[dayOfWeek.key].breaks; let i = index">
            <ng-container *ngTemplateOutlet="breakTemplate; context: { day: dayOfWeek.key, idx: i }"></ng-container>
        </ng-container>
    </ng-container>
</div>

<ng-template #breakTemplate let-day="day" let-idx="idx">
    <div class="schedule row justify-content-end align-items-center">
        <div class="schedule-break flex-grow-1 d-flex justify-content-end align-items-center">
            <label class="m-0">{{ 'Break' | localize }}</label>
        </div>
        <div class="schedule-time d-flex justify-content-center align-items-center">
            <div class="schedule-time-from">
              <div class="dropdown">
                <a href="javascript:void(0)" class="dropdown-ellipses dropdown-toggle d-flex justify-content-between align-items-center h-100" role="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ getBreakValue(day, idx, 'startTime') }} <span class="fe fe-chevron-down"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right custom-card-shadow">
                  <div class="dropdown-item-container">
                    <div *ngFor="let time of blockedTimeSelections(day)" [value]="time.value" class="dropdown-item cursor-pointer d-flex justify-content-end" (click)="models[day].breaks[idx].startTime = time">
                      {{ time.label }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="schedule-time-separator">to</div>
            <div class="schedule-time-to">
              <div class="dropdown">
                <a href="javascript:void(0)" class="dropdown-ellipses dropdown-toggle d-flex justify-content-between align-items-center h-100" role="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ getBreakValue(day, idx, 'endTime') }} <span class="fe fe-chevron-down"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right custom-card-shadow">
                    <div class="dropdown-item-container">
                        <div *ngFor="let time of blockedTimeSelections(day)" [value]="time.value" class="dropdown-item cursor-pointer d-flex justify-content-end" (click)="models[day].breaks[idx].endTime = time">
                            {{ time.label }}
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="schedule-actions">
            <div class="schedule-actions-trash cursor-pointer" (click)="removeBreak(day, idx)">
              <img src="/assets/img/actions/trash.svg" class="trash">
            </div>
        </div>
    </div>
</ng-template>
