<div class="row mb-3" *ngFor="let model of models">
  <div class="col-auto d-flex justify-content-center align-items-center">
    <div *ngIf="!model.thumbnailDocument else withThumbnailTemplate"
      class="avatar avatar-sm avatar-4by3 d-flex justify-content-center align-items-center">
      <i class="fe fe-video text-muted h1 p-0 m-0"></i>
    </div>
    <ng-template #withThumbnailTemplate>
      <div class="avatar avatar-sm avatar-4by3">
        <img [src]="getServiceImageUrl(model.thumbnailDocument) | async" alt="..." class="avatar-img rounded">
      </div>
    </ng-template>
  </div>
  <div class="col d-flex flex-column justify-content-center ml-n2">
    <a [routerLink]="['/app/videos/student-portal', model.id]">
      <h4 class="mb-2 small">{{ model.name }}</h4>
    </a>
    <p class="text-muted m-0 p-0 break-spaces small">
      {{ model.creationTime | dateFormat: 'MMMM DD, YYYY' }}
    </p>
  </div>
  <div *ngIf="model.pricingType !== PricingType.Free" class="col-auto d-flex flex-column justify-content-center">
    <i *ngIf="purchasedVideo[model.id] else purchaseButtonTemplate" class="fe fe-check mr-2"></i>
  </div>
  <ng-template #purchaseButtonTemplate let-price="price">
    <button class="btn btn-sm btn-primary mb-2" (click)="onPurchaseClick(model)">
      &#163;{{ model.price }}
    </button>
  </ng-template>
</div>
<p *ngIf="!models.length" class="m-0 p-0 text-muted text-center small">
  {{ 'NoVideoFound' | localize }}
</p>
