.main-content {
    background-color: white;

    &-img {
        img {
            width: 80px;
            height: 80px;
        }
    }

    &-title {
        margin-top: 24px;
        color: #12263F;
        text-align: center;
        font-size: 34px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
    }

    &-subtitle {
        margin-top: 16px;
        color: #95AAC9;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    &-actions {
        margin-top: 48px;

        button {
            height: 48px;
            padding: 8px 16px;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
    }
}
