<div class="container-fluid" [@routerTransition]>
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="header">
        <div class="header-body">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="header-pretitle">{{ model.name }}</h6>
              <h1 class="header-title">{{ 'Overview' | localize }}</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <form>
                <div class="input-group input-group-flush">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fe fe-search"></i>
                    </span>
                  </div>
                  <input class="list-search form-control" type="search" name="Search" placeholder="Search"
                    [(ngModel)]="searchFilter" (keyup)="getDataPage(1)" />
                </div>
              </form>
            </div>
            <div class="col-auto mr-n3">
              <form>
                <select [(ngModel)]="pageNumber" select2 [defaultValue]="pageSize"
                  (select2ValueChange)="pageSizeChange($event)" name="PageNumber"
                  class="custom-select custom-select-sm form-control-flush" data-toggle="select">
                  <option *ngFor="let pageSizeSelection of pageSizeSelections" [value]="pageSizeSelection">
                    {{ pageSizeSelection }} {{ 'PerPage' | localize }}
                  </option>
                </select>
              </form>
            </div>
            <div class="col-auto">
              <div class="dropdown" dropdown #filterDropdown="bs-dropdown" [isAnimated]="true" [autoClose]="false">
                <button class="btn btn-sm btn-white" type="button" dropdownToggle>
                  <i class="fe fe-sliders mr-1"></i> {{ 'Filters' | localize }}
                  <span *ngIf="minimumProgressFilter || minimumProgressFilter >= 0"
                    class="badge badge-primary ml-1">1</span>
                </button>
                <form *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu-card"
                  (ngSubmit)="getDataPage(1)">
                  <div class="card-header">
                    <h4 class="card-header-title">{{ 'Filters' | localize }}</h4>
                    <button class="btn btn-sm btn-link text-reset btn-white" type="submit"
                      (click)="filterDropdown.hide(); onClearFiltersClick()">
                      <small>{{ 'ClearFilters' | localize }}</small>
                    </button>
                  </div>
                  <div class="card-body">
                    <div class="list-group list-group-flush mt-n4 mb-4">
                      <div class="list-group-item">
                        <div class="row">
                          <div class="col">
                            <small>{{ 'Progress' | localize }}</small>
                          </div>
                          <div class="col-auto">
                            <div class="custom-control custom-radio d-inline">
                              <input type="radio" class="custom-control-input" id="allProgress"
                                name="minimumProgressFilter" [(ngModel)]="minimumProgressFilter" [value]="undefined"
                                checked />
                              <label class="custom-control-label" for="allProgress">
                                {{ 'All' | localize }}
                              </label>
                            </div>
                            <div class="custom-control custom-radio d-inline mx-3">
                              <input type="radio" class="custom-control-input" id="currentProgress"
                                name="minimumProgressFilter" [(ngModel)]="minimumProgressFilter" [value]="100" />
                              <label class="custom-control-label" for="currentProgress">
                                {{ 'Current' | localize }}
                              </label>
                            </div>
                            <div class="custom-control custom-radio d-inline">
                              <input type="radio" class="custom-control-input" id="pastProgress"
                                name="minimumProgressFilter" [(ngModel)]="minimumProgressFilter" [value]="101" />
                              <label class="custom-control-label" for="pastProgress">
                                {{ 'Past' | localize }}
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-block btn-primary" type="submit" (click)="filterDropdown.hide()">
                      {{ 'ApplyFilter' | localize }}
                    </button>
                  </div>
                  &nbsp;
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-sm table-hover table-nowrap card-table" [loader]="isTableLoading">
            <thead table-header-sort [headers]="headers" (sortChange)="sortChange($event)"></thead>
            <tbody class="list font-size-base">
              <tr *ngFor="
                  let studentCourse of (studentCourses | paginate: { id: 'courses-learning', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems })
                ">
                <td>
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <a [routerLink]="['../../../../student-course', studentCourse.id]" class="avatar avatar-lg">
                        <img
                          [src]="getProfilePictureFromDocument(studentCourse.creatorUser.profilePictureDocument, studentCourse.creatorUser.id)"
                          alt="..." class="avatar-img rounded-circle">
                      </a>
                    </div>
                    <div class="col ml-n2">
                      <h4 class="mb-1">
                        <a [routerLink]="['../../../../student-course', studentCourse.id]">
                          {{ studentCourse.creatorUser.fullName }}
                        </a>
                      </h4>
                      <p class="card-text small text-muted mb-1">
                        {{ 'EnrolledOn' | localize }}
                        {{ studentCourse.creationTime | dateFormat: 'MMM DD, YYYY'}}
                      </p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="col-auto p-0">
                      <p class="small mb-0 mr-2">{{ studentCourse.progress | number: '1.0-0' }}%</p>
                    </div>
                    <div class="col p-0">
                      <div class="progress progress-sm">
                        <div class="progress-bar" role="progressbar"
                          [ngStyle]="{ width: studentCourse.progress + '%' }"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td width="1%">
                  <button class="btn btn-white btn-sm">{{ 'Message' | localize }}</button>
                </td>
              </tr>
              <tr *ngIf="studentCourses.length === 0">
                <td colspan="10">
                  <p class="text-center m-0 p-0">{{ 'NoRecordsFound' | localize }}</p>
                </td>
              </tr>
            </tbody>
          </table>
          <abp-pagination-controls id="courses-learning" (pageChange)="getDataPage($event)"> </abp-pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
