<div class="container-fluid" [@routerTransition]>
  <div class="row mt-5 pt-5 text-center">
    <div class="col-md-12">
      <p class="text-muted">
        <ng-container *ngTemplateOutlet="stepInfo"></ng-container>
      </p>
    </div>
    <div class="col-md-12 header mt-md-5">
      <div class="header-body">
        <h1 class="header-title mb-4">
          {{ model.serviceNameLevel3 }}
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 header" [loader]="isLoading">
      <div class="header-body">
        <div class="row justify-content-center">
          <div class="col-md-7 header">
            <form class="row" autocomplete="off" #modelForm="ngForm" (ngSubmit)="onFormSubmit()">
              <div class="col-md-12">
                <div class="form-group required">
                  <label class="col-form-label" for="ProjectName">{{ 'ProjectName' | localize }}</label>
                  <input [(ngModel)]="model.name" id="ProjectName" name="ProjectName" type="text" class="form-control"
                    #projectNameModel="ngModel" #projectNameEl required />
                  <abp-validation-summary [control]="projectNameModel" [controlEl]="projectNameEl">
                  </abp-validation-summary>
                </div>

                <div class="form-group required">
                  <label class="col-form-label" for="Description">{{ 'Description' | localize }}</label>
                  <textarea [(ngModel)]="model.description" id="Description" name="Description" class="form-control"
                    #descriptionModel="ngModel" #descriptionEl required rows="4"></textarea>
                  <abp-validation-summary [control]="descriptionModel" [controlEl]="descriptionEl">
                  </abp-validation-summary>
                </div>

                <hr class="my-4" />

                <div class="form-row">
                  <div [class.mb-0]="!showMethodology" class="form-group col-6 required">
                    <label class="col-form-label" for="AcademicLevel">{{ 'AcademicLevel' | localize}}</label>
                    <select [(ngModel)]="model.academicLevel" select2 [defaultValue]="model.academicLevel"
                      (select2ValueChange)="onAcademicLevelSelect($event)" name="AcademicLevel" id="AcademicLevel"
                      class="custom-select" data-toggle="select" #academicLevelModel="ngModel" #academicLevelEl
                      required>
                      <option *ngFor="let academicLevel of academicLevels" [value]="academicLevel">
                        {{ academicLevel }}
                      </option>
                    </select>
                    <abp-validation-summary [control]="academicLevelModel" [controlEl]="academicLevelEl">
                    </abp-validation-summary>
                  </div>

                  <div [class.mb-0]="!showMethodology" class="form-group col-6 required">
                    <label class="col-form-label" for="Qualification">{{ 'Qualification' | localize}}</label>
                    <select [(ngModel)]="model.qualification" select2 [defaultValue]="model.qualification"
                      (select2ValueChange)="model.qualification = $event" name="Qualification" id="Qualification"
                      class="custom-select" data-toggle="select" #qualificationModel="ngModel" #qualificationEl
                      required>
                      <option *ngFor="let qualification of academicLevelQualifications" [value]="qualification">
                        {{ qualification }}
                      </option>
                    </select>
                    <abp-validation-summary [control]="qualificationModel" [controlEl]="qualificationEl">
                    </abp-validation-summary>
                  </div>
                </div>

                <div *ngIf="showMethodology" class="form-group">
                  <label class="col-form-label" for="Methodology">{{ 'Methodology' | localize}}</label>
                  <select [(ngModel)]="model.methodology" select2 [defaultValue]="model.methodology"
                    (select2ValueChange)="model.methodology = $event" name="Methodology" id="Methodology"
                    class="custom-select" data-toggle="select" #methodologyModel="ngModel" #methodologyEl>
                    <option *ngFor="let methodology of methodologies" [value]="methodology">
                      {{ methodology }}
                    </option>
                  </select>
                  <abp-validation-summary [control]="methodologyModel" [controlEl]="methodologyEl">
                  </abp-validation-summary>
                </div>

                <hr class="my-4" />

                <div class="form-group required">
                  <label class="col-form-label" for="SubjectArea">{{ 'SubjectArea' | localize}}</label>
                  <select [(ngModel)]="model.subjectArea" select2 [defaultValue]="model.subjectArea"
                    (select2ValueChange)="model.subjectArea = $event" name="SubjectArea" id="SubjectArea"
                    class="custom-select" data-toggle="select" #subjectAreaModel="ngModel" #subjectAreaEl required>
                    <option *ngFor="let methodology of methodologies" [value]="methodology">
                      {{ methodology }}
                    </option>
                  </select>
                  <abp-validation-summary [control]="subjectAreaModel" [controlEl]="subjectAreaEl">
                  </abp-validation-summary>
                </div>

                <div class="form-group required">
                  <label class="col-form-label pb-1" for="SubjectKeywords">{{ 'SubjectKeywords' | localize}}</label>
                  <small class="form-text text-muted">
                    {{ 'SubjectKeywordsInfo' | localize }}
                  </small>
                  <input [(ngModel)]="subjectKeyword" #subjectKeywowrdsModel="ngModel" #subjectKeywowrdsEl
                    class="form-control" type="text" id="SubjectKeywords" name="SubjectKeywords"
                    (keydown)="onSearchKeywordKeyDown($event)" (blur)="onSearchKeywordBlur()" />
                  <div class="ac-alerts">
                    <div *ngFor="let subjectKeyword of subjectKeywords"
                      class="alert alert-info alert-dismissible ac-alert" role="alert">
                      {{ subjectKeyword }}
                      <button (click)="onRemoveSubjectKeywordClick(subjectKeyword)" type="button" class="close"
                        data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                  </div>
                </div>

                <hr class="my-4" />

                <div class="form-group">
                  <label class="col-form-label pb-1" for="UploadFiles">{{ 'UploadFilesOptional' | localize}}</label>
                  <small class="form-text text-muted">
                    {{ 'UploadFilesOptionalInfo' | localize }}
                  </small>
                  <div class="card">
                    <div class="card-body">
                      <app-document-uploader #documentUploader [allowedExtensions]="allowedFileExtensions">
                      </app-document-uploader>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-6 mb-0 required">
                    <label class="col-form-label" for="UrgencyLevel">{{ 'UrgencyLevel' | localize}}</label>
                    <select [(ngModel)]="model.urgencyLevel" select2 [defaultValue]="model.urgencyLevel"
                      (select2ValueChange)="model.urgencyLevel = $event" name="UrgencyLevel" id="urgencyLevel"
                      class="custom-select" data-toggle="select" #urgencyLevelModel="ngModel" #urgencyLevelEl required>
                      <option *ngFor="let urgencyLevel of urgencyLevels" [value]="urgencyLevel">
                        {{ urgencyLevel }}
                      </option>
                    </select>
                    <abp-validation-summary [control]="urgencyLevelModel" [controlEl]="urgencyLevelEl">
                    </abp-validation-summary>
                  </div>

                  <div class="form-group col-6 mb-0">
                    <label class="col-form-label" for="Deadline">{{ 'Deadline' | localize }}</label>
                    <div class="input-group input-group-merge" (click)="dp.show()">
                      <input [(ngModel)]="deadline" id="Deadline" name="Deadline" type="text"
                        class="form-control form-control-appended" #deadlineModel="ngModel" #deadlineEl
                        #dp="bsDatepicker" bsDatepicker [bsConfig]="datePickerConfig" />
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-calendar"></span>
                        </div>
                      </div>
                    </div>
                    <abp-validation-summary [control]="deadlineModel" [controlEl]="deadlineEl">
                    </abp-validation-summary>
                  </div>
                </div>

                <hr class="my-4" />

                <div class="form-row">
                  <div class="form-group col-6 mb-0">
                    <label class="mb-1">
                      {{ 'PrivateRequest' | localize }}
                    </label>
                    <small class="form-text text-muted">
                      {{ 'PrivateRequestInfo' | localize }}
                    </small>
                    <div class="row">
                      <div class="col-auto">
                        <div class="custom-control custom-switch">
                          <input [(ngModel)]="model.isPrivateRequest" id="IsPrivateRequest" name="IsPrivateRequest"
                            type="checkbox" class="custom-control-input">
                          <label class="custom-control-label" for="IsPrivateRequest"></label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-6 mb-0">
                    <div class="card bg-light border ml-4 mb-4">
                      <div class="card-body">
                        <p class="mb-2">
                          <i class="fe fe-alert-triangle"></i>
                          {{ 'Caution' | localize }}
                        </p>
                        <p class="small text-muted">
                          {{ 'CautionInfo' | localize }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <hr class="my-4" />

                <app-availability-setting></app-availability-setting>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between mb-4">
    <button (click)="onBackClick()" type="button" class="btn btn-white">
      {{ 'Back' | localize }}
    </button>
    <p class="text-muted m-0 align-self-center">
      <ng-container *ngTemplateOutlet="stepInfo"></ng-container>
    </p>
    <button [disabled]="!modelForm.form.valid || !subjectKeywords || !subjectKeywords.length" type="button"
      (click)="onFormSubmit()" class="btn btn-primary">
      {{ 'Create' | localize }}
    </button>
  </div>
</div>
<ng-template #stepInfo>{{ 'step' | localize | titlecase }} 4 {{ 'of' | localize | titlecase }} 4</ng-template>
