.card {
    &-body {
        padding: 15px 24px;

        .list-group {
            &-item {
                padding: 15px 0;

                &-name {
                    font-size: 15px;
                    font-weight: 600;
                    color: #1F2D3D;
                }

                &-button {
                    border: 1px solid #E3EBF6;
                    border-radius: 4px;
                    font-size: 13px;
                    font-weight: 400;
                    color: #12263F;
                    width: 77px;
                    height: 28px;
                    line-height: 13px;
                    padding: 5px;
                }
            }
        }
    }
}
