.keen-slider {
    &:hover {
        .carousel-nav-prev, .carousel-nav-next {
            visibility: visible !important;
            opacity: 1 !important;
        }
    }
}

.carousel {
    &-nav {
        &-prev {
            visibility: hidden;
            opacity: 0 !important;
            border-radius: 50%;
            background-color: #fff;
            background-image: url('../../../assets/img/icon-carousel-left.png') !important;
            background-size: cover !important;
            width: 56px !important;
            height: 56px !important;
            position: absolute;
            top: 48%;
            left: 15px;
            z-index: 999;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);

            &:hover {
                cursor: pointer;
                background-image: url('../../../assets/img/icon-carousel-left-hover.png') !important;
            }
        }

        &-next {
            visibility: hidden;
            opacity: 0 !important;
            border-radius: 50%;
            background-color: #fff;
            background-image: url('../../../assets/img/icon-carousel-right.png') !important;
            background-size: cover !important;
            width: 56px !important;
            height: 56px !important;
            position: absolute;
            top: 48%;
            right: 15px;
            z-index: 999;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);

            &:hover {
                cursor: pointer;
                background-image: url('../../../assets/img/icon-carousel-right-hover.png') !important;
            }
        }

        &-hidden {
            display: none !important;
        }
    }
}
