<p-carousel
  *ngIf="renderCarousel"
  [value]="items"
  [numScroll]="numScroll"
  [numVisible]="visibleItems"
  [circular]="circular"
  [autoplayInterval]="autoplayInterval"
  [indicatorsContentClass]="'hidden'"
  (onPage)="onPage($event)">
  <ng-template let-content pTemplate="item">

    <app-service-card [data]="content" [ngClass]="{'item-active': expression}" [isLoading]="isLoading" [isFeatured]="isFeatured" (onClick)="handleServiceCardClick($event)"></app-service-card>

  </ng-template>
</p-carousel>
