<div class="card">
  <div class="card-header">
    <ul class="mr-4 nav nav-tabs nav-tabs-sm card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="saved-tab" data-toggle="tab" href="#saved-container" role="tab"
          aria-controls="saved-container" aria-selected="true">
          {{ 'Saved' | localize}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="purchased-tab" data-toggle="tab" href="#purchased-container" role="tab"
          aria-controls="purchased-containerts" aria-selected="true">
          {{ 'Purchased' | localize}}
        </a>
      </li>
    </ul>
  </div>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="saved-container" role="tabpanel" aria-labelledby="saved-tab">
      <app-saved></app-saved>
    </div>
    <div class="tab-pane" id="purchased-container" role="tabpanel" aria-labelledby="purchased-tab">
      <app-purchased></app-purchased>
    </div>
  </div>
</div>
