<form class="form-horizontal" autocomplete="off">

  <div class="row">
    <div class="col-8">
      <div class="card card-body col-12">
        <div class="row card-header align-items-center" style="border-bottom: none">
          <div class="col">
            <h4>{{'DripDelay' | localize}}</h4>
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-sm btn-light float-right">
              {{'Edit' | localize}}
            </button>
          </div>
        </div>
        <div class="card-body shadow">
          <div class="row d-flex align-items-center form-group">
            <div class="col-auto">
              <input id="rdb1" type="radio" value="" name="rdb1">
            </div>
            <div class="col-auto">
              <label>{{'EnrolmentDateSectionDelayed' | localize}}</label>
            </div>
            <div class="col-md-2">
              <input class="form-control" type="number" id="EnrolmentDate" name="EnrolmentDate" />
            </div>
            <div class="col-auto">
              <label class="">{{'DaysFromEnrolmentDate' | localize}}</label>
            </div>
          </div>
          <div class="row d-flex align-items-center form-group">
            <div class="col-auto">
              <input id="rdb2" type="radio" value="" name="rdb2" formControlName="">
            </div>
            <div class="col-auto">
              <label>{{'CourseStartDateSectionDelayed' | localize}}</label>
            </div>
            <div class="col-md-2">
              <input class="form-control" type="number" id="courseDate" name="courseDate" />
            </div>
            <div class="col-auto">
              <label class="">{{'DaysFromCourseStartDate' | localize}}</label>
            </div>
          </div>
          <div class="row d-flex align-items-center form-group">
            <div class="col-auto">
              <input id="rdb3" type="radio" name="rdb3" formControlName="">
            </div>
            <div class="col-auto">
              <label>{{'SpecificDateSectionAvailableOn' | localize}}</label>
            </div>
            <div class="col-md-4">
              <input class="form-control" type="number" id="specificDate" name="specificDate" />
            </div>
          </div>
        </div>
        <div class="row card-body">
          <div class="custom-control custom-switch">
            <input type="checkbox" [checked]="true" class="custom-control-input" id="v4">
            <label class="custom-control-label" for="v4"></label>
          </div>
          <div class="mr-4">
            {{'SendEmailToStudentsWhenAvailable' | localize}}
          </div>
        </div>
        <div class="card-body shadow">
          <div class="form-group">
            <label class="col-form-label" for="subject">{{'Subject' | localize}}</label>
            <input class="form-control" type="text" id="subject" name="subject" />
          </div>
          <div class="form-group">
            <label class="col-form-label" for="body">{{'Body' | localize}}</label>
            <textarea class="form-control" id="body" name="body" required></textarea>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4 class="card-header-title">
            {{'Comments' | localize}}
          </h4>
        </div>
        <div class="card-body pt-0 pb-0">
          <ul class="list-group list-group-flush list-group-focus">
            <li class="list-group-item">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  {{'Visible' | localize}}:
                  <span class="small text-muted">{{'CommentVisible1' | localize}}</span>
                </div>
                <input class="mr-3" type="radio" [checked]="true">
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="ml-5">
                  {{'CommentModeration' | localize}}:
                  <span class="small text-muted">{{'CommentVisible2' | localize}}</span>
                </div>
                <div class="custom-control custom-switch">
                  <input type="checkbox" [checked]="true" class="custom-control-input" id="c1">
                  <label class="custom-control-label" for="c1"></label>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  {{'Hidden' | localize}}:
                  <span class="small text-muted">{{'CommentHidden' | localize}}</span>
                </div>
                <input class="mr-3" type="radio" [checked]="true">
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  {{'Locked' | localize}}:
                  <span class="small text-muted">{{'CommentLocked' | localize}}</span>
                </div>
                <input class="mr-3" type="radio" [checked]="false">
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <h4 class="card-header-title">
            {{CourseSectionType[model.type] | localize}} {{'Visibility' | localize}}
          </h4>
        </div>
        <div class="card-body py-0">
          <ul class="list-group list-group-flush list-group-focus">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div>
                {{'Visible' | localize}}
                <p class="small text-muted p-0 m-0">{{'CourseVisible' | localize}}</p>
              </div>
              <input class="mr-3" id="hidden" name="isVisible" [(ngModel)]="!model.isVisible" type="radio"
                [value]="false">
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div>
                {{'Invisible' | localize}}
                <p class="small text-muted p-0 m-0">{{'CourseInvisible' | localize}}
                </p>
              </div>
              <input class="mr-3" id="visible" name="isVisible" [(ngModel)]="model.isVisible" type="radio"
                [value]="true">
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4 class="card-header-title">
            {{'StorePreview' | localize}}
          </h4>
        </div>
        <div class="card-body py-0">
          <ul class="list-group list-group-flush list-group-focus">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="custom-control custom-switch">
                <input type="checkbox" [checked]="true" class="custom-control-input" id="v1">
                <label class="custom-control-label" for="v1"></label>
              </div>
              <div class="mr-4">
                {{'Preview' | localize}}
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4 class="card-header-title">
            {{'Prerequisites' | localize}}
          </h4>
        </div>
        <div class="card-body py-0">
          <ul class="list-group list-group-flush list-group-focus">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="custom-control custom-switch">
                <input type="checkbox" [checked]="true" class="custom-control-input" id="v2">
                <label class="custom-control-label" for="v2"></label>
              </div>
              <div class="mr-4">
                {{'Prerequisites1' | localize}}
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="custom-control custom-switch">
                <input type="checkbox" [checked]="true" class="custom-control-input" id="v3">
                <label class="custom-control-label" for="v3"></label>
              </div>
              <div class="mr-4">
                {{'Prerequisites2' | localize}}
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4 class="card-header-title">
            {{'Assignments' | localize}}
          </h4>
        </div>
        <div class="card-body py-0">
          <ul class="list-group list-group-flush list-group-focus">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="custom-control custom-switch">
                <input type="checkbox" [(ngModel)]="model.isAssignmentEnabled" id="isAssignmentEnabled"
                  name="isAssignmentEnabled" class="custom-control-input">
                <label class="custom-control-label" for="isAssignmentEnabled"></label>
              </div>
              <div class="w-100 ml-2">
                {{'AllowUpload' | localize}}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</form>
