<div class="container-fluid" [@routerTransition]>
	<div class="row">
		<div class="col-12">
			<div class="card">
        <div class="card-header">
          <div class="col p-0">
            <h4 class="card-header-title">{{ 'Hired' | localize }}</h4>
          </div>
          <div class="col-auto">
            <div class="row align-items-center form-group mb-0">
              <div class="form-select-wrapper">
                <select id="minEducationLevel" name="sortBy" class="form-control form-select form-control-sm">
                  <option>Sort order</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive mb-0">
          <table class="table table-sm table-nowrap card-table">
            <thead>
              <tr>
                <th>{{ 'TutorName' | localize }}</th>
                <th>{{ 'Sessions' | localize }}</th>
                <th>{{ 'Completion' | localize }}</th>
                <th>{{ 'NextSession' | localize }}</th>
                <th>{{ 'Status' | localize }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-auto">
                      <a href="javascript:;" class="avatar avatar-sm">
                        <img src="../../../assets/themes/dashkit/img/avatars/profiles/avatar-5.jpg" alt="..." class="avatar-img rounded-circle">
                      </a>
                    </div>
                    <div class="col ms-n2">
                      <h4 class="mb-1">
                        <a href="javascript:;">Miyta Myles</a>
                      </h4>
                      <p class="card-text small text-muted mb-1">
                        University of Cambridge
                      </p>
                    </div>
                  </div>
                </td>
                <td>44</td>
                <td>
                    <div class="row align-items-center g-0">
                      <div class="col-auto">
                        <div class="small me-2">29%</div>
                      </div>
                      <div class="col">
                        <div class="progress progress-sm">
                          <div class="progress-bar" role="progressbar" style="width: 29%" aria-valuenow="29" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                      </div>
                    </div>
                </td>
                <td>24/03/2021</td>
                <td>
                  <p class="card-text small">
                    <span class="text-success">●</span> Online
                  </p>
                </td>
                <td>
                  <a href="javascript:;" class="btn btn-sm btn-primary d-none d-md-inline-block">
                    {{ 'VisitPortal' | localize }}
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-auto">
                      <a href="javascript:;" class="avatar avatar-sm">
                        <img src="../../../assets/themes/dashkit/img/avatars/profiles/avatar-6.jpg" alt="..." class="avatar-img rounded-circle">
                      </a>
                    </div>
                    <div class="col ms-n2">
                      <h4 class="mb-1">
                        <a href="javascript:;">Ryu Duke</a>
                      </h4>
                      <p class="card-text small text-muted mb-1">
                        University of Durham
                      </p>
                    </div>
                  </div>
                </td>
                <td>271</td>
                <td>
                    <div class="row align-items-center g-0">
                      <div class="col-auto">
                        <div class="small me-2">55%</div>
                      </div>
                      <div class="col">
                        <div class="progress progress-sm">
                          <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                </td>
                <td>-</td>
                <td>
                  <p class="card-text small">
                    <span class="text-success">●</span> Online
                  </p>
                </td>
                <td>
                  <a href="javascript:;" class="btn btn-sm btn-primary d-none d-md-inline-block">
                    {{ 'VisitPortal' | localize }}
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-auto">
                      <a href="javascript:;" class="avatar avatar-sm">
                        <img src="../../../assets/themes/dashkit/img/avatars/profiles/avatar-5.jpg" alt="..." class="avatar-img rounded-circle">
                      </a>
                    </div>
                    <div class="col ms-n2">
                      <h4 class="mb-1">
                        <a href="javascript:;">Miyta Myles</a>
                      </h4>
                      <p class="card-text small text-muted mb-1">
                        University of Cambridge
                      </p>
                    </div>
                  </div>
                </td>
                <td>44</td>
                <td>
                    <div class="row align-items-center g-0">
                      <div class="col-auto">
                        <div class="small me-2">29%</div>
                      </div>
                      <div class="col">
                        <div class="progress progress-sm">
                          <div class="progress-bar" role="progressbar" style="width: 29%" aria-valuenow="29" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                </td>
                <td>-</td>
                <td>
                  <p class="card-text small">
                    <span class="text-success">●</span> Online
                  </p>
                </td>
                <td>
                  <a href="javascript:;" class="btn btn-sm btn-primary d-none d-md-inline-block">
                    {{ 'VisitPortal' | localize }}
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

		</div>
	</div>
</div>



