<app-spoken-languages [userId]="userId">
</app-spoken-languages>

<div class="d-flex justify-content-between">
  <button (click)="onBackClick()" type="button" class="btn btn-white">
    {{ 'Back' | localize }}
  </button>

  <div *ngIf="tutorVerificationStep?.status === tutorVerificationStepStatus.Saved" class="btn-group-toggle text-center d-flex">
    <div *ngIf="permission.isGranted('Pages.TutorApplications.Approve')">
      <input type="radio" class="btn-check" [disabled]="isApproving || isDeclining || isLoading"
        name="approval" id="declined" autocomplete="off" value="declined" (click)="onStatusChange($event)">
      <label class="btn btn-white mr-lg-2" for="declined">
        <span *ngIf="isDeclining" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <i *ngIf="!isDeclining" class="fe fe-x-circle"></i>
         {{ 'Declined' | localize }}
      </label>
    </div>
    <div *ngIf="permission.isGranted('Pages.TutorApplications.Reject')">
      <input type="radio" class="btn-check" [disabled]="isApproving || isDeclining || isLoading"
        name="approval" id="approved" value="approved" autocomplete="off" (click)="onStatusChange($event)">
      <label class="btn btn-white" for="approved">
        <span *ngIf="isApproving" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <i *ngIf="!isApproving" class="fe fe-check-circle"></i>
        {{ 'Approved' | localize }}
      </label>
    </div>
  </div>

  <button
    (click)="onNextClick()" [disabled]="isLoading || (spokenLanguages && !spokenLanguages.userSpokenLanguages.length)"
    *ngIf="!isReadOnly"  type="submit" class="btn btn-primary">
    {{ "Next" | localize }}
  </button>
  <button *ngIf="isReadOnly" type="button" class="btn btn-primary" (click)="onNavigateNextScreen()">
    {{ 'Next' | localize }}
  </button>
</div>
