<app-spoken-languages [userId]="userId">
</app-spoken-languages>

<div class="d-flex justify-content-between">
  <button (click)="onBackClick()" type="button" class="btn btn-white">
    {{ 'Back' | localize }}
  </button>
  <button
    (click)="onNextClick()" [disabled]="isLoading || (spokenLanguages && !spokenLanguages.userSpokenLanguages.length)"
    *ngIf="!isReadOnly"  type="submit" class="btn btn-primary">
    {{ "Next" | localize }}
  </button>
  <button *ngIf="isReadOnly" type="button" class="btn btn-primary" (click)="onNavigateNextScreen()">
    {{ 'Next' | localize }}
  </button>
</div>
