.start {
    &-body {
        padding: 31px 25px 20px;
    }

    &-details {
        margin-bottom: 25px;

        &-thumb {
            width: 64px;
            height: 55px;
            border-radius: 4px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
            }
        }

        &-text {
            p {
                margin-bottom: 10px;
                line-height: 18px;
            }
        }
    }

    &-button {
        button {
            height: 34px;
            padding: 4px;
        }
    }

    &-review {
        img {
            margin-top: 11px;
            margin-bottom: 24px;
        }

        &-text {
            color: #3B516C;
            font-weight: 600;
            font-size: 12px;
            letter-spacing: 1px;
            margin-bottom: 24px;
        }
    }
}
