<ul *ngIf="pageSection.pageComponents && pageSection.pageComponents.length else noSelectedPageComponent"
  class="list-group list-group-sm">
  <li (click)="$event.preventDefault(); onSelectComponent(pageComponent);"
    *ngFor="let pageComponent of pageSection.pageComponents" class="list-group-item cursor-pointer">
    <a href="#">{{ pageComponent.name }}</a>
  </li>
</ul>
<ng-template #noSelectedPageComponent>
  <div class="no-page-content">
    <p class="p-0 m-0 text-center">{{ 'NoContentYet' | localize }}</p>
  </div>
</ng-template>
