<div class="card custom-card-border custom-card-shadow">
    <app-shimmer [show]="isLoading$ | async" [shimmerType]="shimmerType.LandingRightAuthor"></app-shimmer>
    <div class="card-body text-center">
        <img [alt]="ownerName" class="avatar-img rounded-circle"
             [src]="getProfilePicture(profilePictureUrl)" />
        <h5 class="card-title">{{ ownerName }}</h5>
        <p class="card-text">{{ ownerAbout }}</p>
        <a href="#" class="btn btn-light btn-sm">Instructor</a>
    </div>

    <div class="card-footer d-flex justify-content-between">
        <div class="coach-status online d-flex gap-5"><span>●</span>Online</div>
        <div *ngIf="!isOwner">
            <button class="btn btn-outline-primary btn-sm coach-message" (click)="onMessageClick()"> {{ 'Message' | localize }}</button>
        </div>
    </div>
</div>
