<div class="card custom-card-border custom-card-shadow">
    <app-shimmer [show]="true" [shimmerType]="shimmerType.LandingRightAuthor"></app-shimmer>
    <div class="card-body text-center">
        <img [alt]="profileFullName" class="avatar-img rounded-circle"
             [src]="getProfilePicture(profilePictureUrl)" />
        <h5 class="card-title">Casey Fyfe</h5>
        <p class="card-text">You either die Spongebob or you live long enough to become Squidward. Worked at/with @Twitter.</p>
        <a href="#" class="btn btn-light btn-sm">Instructor</a>
    </div>

    <div class="card-footer d-flex justify-content-between">
        <div class="coach-status online d-flex gap-5"><span>●</span>Online</div>
        <div>
            <button class="btn btn-outline-primary btn-sm coach-message"> {{ 'Message' | localize }}</button>
        </div>
    </div>
</div>
