:host {
    ::ng-deep {
        .nav {
            .nav-item {
                margin: 0;

                &:not(:first-child) {
                    margin-left: 40px;
                }

                .nav-link {
                    padding-top: 0;
                    padding-bottom: 15px;
                }
            }
        }
    }
}


.card {
    min-height: 376px;
    max-height: 568px;

    &-header {
        &-title {
            font-weight: 600;
            font-size: 15px;
            line-height: 19px;
            letter-spacing: -0.02em;
            color: #12263F;
        }

        .close {
            font-size: 30px;
            font-weight: 200;
        }
    }

    &-body {
        display: flex;
        flex-direction: column;
        height: 0;
        flex: 1 1 100%;
        padding: 22px 24px 0 24px;

        &.scroll-wrapper {
            overflow: auto;
            margin-right: 4px;

            &::-webkit-scrollbar {
                width: 1.5px;
            }

            &::-webkit-scrollbar-thumb {
                background: #D2DDEC;
                border-radius: 10px;
            }
        }

        app-service-picker {
            position: absolute;
            z-index: 3;
            top: 0;
            right: 0;
            height: 100%;
            width: 0;
            overflow: hidden;

            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;

            &.show {
                width: 100%;
            }
        }

        app-emoji-picker {
            position: absolute;
            z-index: 3;
            width: auto;
            overflow: hidden;

            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }
    }

    &-footer {
        padding: 10px 24px 20px 24px;
        border-top: none;

        &-left {
            height: 32px;

            &-icon {
                color: #B1C2D9;
                font-size: 18px;
                height: 18px;
                width: 18px;

                &.disabled, &:disabled {
                    color: #E4EBF6;
                    pointer-events: none;
                }
            }
        }

        &-right {
            height: 32px;

            .btn {
                width: 114px;
                height: 32px;

                font-weight: 400;
                font-size: 15px;
                line-height: 15px;
            }
        }
    }
}
