<div class="modal-card card">
    <div class="card-header">
        <div *ngIf="!allowTabs && title" class="card-header-title flex-grow-1 row align-items-center m-0">
            {{ title | localize }}
        </div>
        <div *ngIf="allowTabs" class="flex-grow-1 row align-items-center">
            <div class="col">
                <ul class="nav nav-tabs nav-overflow header-tabs" *ngIf="!updateOnly">
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="activeTab === 'quick-post'" role="button" (click)="setActiveTab('quick-post')">{{ 'Community.QuickPost' | localize }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="activeTab === 'add-question'" role="button" (click)="setActiveTab('add-question')">{{ 'Community.AddQuestion' | localize }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="activeTab === 'add-discussion'" role="button" (click)="setActiveTab('add-discussion')">{{ 'Community.AddDiscussion' | localize }}</a>
                    </li>
                </ul>
                <ul class="nav nav-tabs nav-overflow header-tabs" *ngIf="updateOnly">
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="true" role="button" (click)="setActiveTab(activeTab)">
                            {{ tabTitle | localize }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ml-auto">
            <button type="button" class="close" aria-label="Close" (click)="onCloseClick()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    </div>

    <div class="card-body scroll-wrapper">
        <app-community-post
            *ngIf="activeTab === 'quick-post'"
            type="quick-post" [model]="model"
            (onModelChange)="handleModelChanged($event)"
            (onFocusChange)="handleFocusChange($event)"
            (onCaretPos)="handleCaretChange($event)"
            [information]="model?.information"
        ></app-community-post>
        <app-community-post
            *ngIf="activeTab === 'add-question'"
            type="add-question" [model]="model"
            (onModelChange)="handleModelChanged($event)"
            (onFocusChange)="handleFocusChange($event)"
            (onCaretPos)="handleCaretChange($event)"
            [information]="model?.information"
        ></app-community-post>
        <app-community-post
            *ngIf="activeTab === 'add-discussion'"
            type="add-discussion" [model]="model"
            (onModelChange)="handleModelChanged($event)"
            (onFocusChange)="handleFocusChange($event)"
            (onCaretPos)="handleCaretChange($event)"
            [information]="model?.information"
            [title]="model?.title"
        ></app-community-post>
        <app-attachment-preview
            *ngIf="fileAttachment"
            [file]="fileAttachment"
            [canRemove]="canRemoveAttachment"
            (onRemove)="handleRemoveAttachment()"
        ></app-attachment-preview>
        <app-preview-services
            *ngIf="sharedService"
            [data]="sharedService"
            [canRemove]="canRemoveAttachment"
            (onRemove)="handleRemoveService()"
        ></app-preview-services>
        <app-preview-posts
            *ngIf="sharedPost"
            [data]="sharedPost"
            [canRemove]="canRemoveAttachment"
            (onRemove)="handleRemovePost()"
        ></app-preview-posts>
        <app-service-picker
            [selectedService]="selectedService"
            [isShown]="isShowServicePicker"
            [class.show]="isShowServicePicker"
            (onClose)="isShowServicePicker = false"
            (onBack)="isShowServicePicker = false"
            (onAdd)="handleOnAddService($event)"
        ></app-service-picker>
        <app-emoji-picker
            *ngIf="isShowEmojiPicker"
            [input]="emojiPickerToggle"
            (onClose)="isShowEmojiPicker = false"
            (onBack)="isShowEmojiPicker = false"
            (onSelect)="handleOnEmojiSelect($event)"
        ></app-emoji-picker>
        <ng-container *ngIf="sharedLinks?.length">
            <app-preview-links
                *ngFor="let link of sharedLinks"
                [linkPreview]="link"
                [canRemove]="true"
            ></app-preview-links>
        </ng-container>
    </div>

    <div class="card-footer d-flex justify-content-between">
        <div class="card-footer-left d-flex align-items-center flex-grow-1 gap-20">
            <a class="card-footer-left-icon cursor-pointer d-flex justify-content-center align-items-center" [class.disabled]="!canAddImage" (click)="handleImageUploadBtnClick()"><i class="fe fe-camera"></i></a>
            <a class="card-footer-left-icon cursor-pointer d-flex justify-content-center align-items-center" [class.disabled]="!canAddFile" (click)="handleFileUploadBtnClick()"><i class="fe fe-paperclip"></i></a>
            <a #emojiPickerToggle class="card-footer-left-icon cursor-pointer d-flex justify-content-center align-items-center" [class.disabled]="!canAddEmoticons"
                (click)="isShowEmojiPicker = !isShowEmojiPicker">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-smile">
                    <circle cx="12" cy="12" r="10"></circle>
                    <path d="M8 14s1.5 2 4 2 4-2 4-2"></path>
                    <line x1="9" y1="9" x2="9.01" y2="9"></line>
                    <line x1="15" y1="9" x2="15.01" y2="9"></line>
                </svg>
            </a>
            <a class="card-footer-left-icon cursor-pointer d-flex justify-content-center align-items-center"
                [class.disabled]="!canAddService" (click)="isShowServicePicker = !isShowServicePicker">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg>
            </a>
        </div>
        <div class="card-footer-right d-flex align-items-center gap-20">
            <button *ngIf="canCancel" type="button" class="btn btn-light" (click)="onCloseClick()">
                {{ 'Cancel' | localize }}
            </button>
            <button type="button" *ngIf="!updateOnly" class="btn btn-primary" (click)="handleCreatePost()" [disabled]="!isModelValid">
                {{ 'Post' | localize }}
            </button>
            <button type="button" *ngIf="updateOnly" class="btn btn-primary" (click)="handleUpdatePost()" [disabled]="!isModelValid">
                {{ 'Save' | localize }}
            </button>
        </div>
    </div>
</div>
<input #fileInput (change)="onFileChange($event)" [accept]="allowedExtensions" class="hidden position-absolute" type="file">
