<ul class="nav nav-tabs nav-tabs-sm px-3">
  <li class="nav-item">
    <a href="#" class="nav-link active" id="audience-tab" data-toggle="tab" href="#audience-container" role="tab"
      aria-controls="audience-container" aria-selected="true">
      {{ 'Audience' | localize }}
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link" id="guests-tab" data-toggle="tab" href="#guests-container" role="tab"
      aria-controls="guests-container" aria-selected="true">
      {{ 'Guests' | localize }}
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link" id="co-hosts-tab" data-toggle="tab" href="#co-hosts-container" role="tab"
      aria-controls="co-hosts-container" aria-selected="true">
      {{ 'CoHosts' | localize }}
    </a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="audience-container" role="tabpanel" aria-labelledby="audience-tab">
    <app-audience></app-audience>
  </div>
  <div class="tab-pane fade" id="guests-container" role="tabpanel" aria-labelledby="guests-tab">
    <app-guests></app-guests>
  </div>
  <div class="tab-pane fade" id="co-hosts-container" role="tabpanel" aria-labelledby="co-hosts-tab">
    <app-co-hosts></app-co-hosts>
  </div>
</div>
