<div [@routerTransition] class="container-fluid">

  <div class="row justify-content-center">
    <div class="col-12">
      <div class="header">
        <div class="header-body">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="header-pretitle">{{ course.name }}</h6>
              <h1 class="header-title">{{ 'Messages' | localize }}</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <app-discussions [isInCourse]="false"></app-discussions>
        </div>
        <div class="col-4">
          <div class="card" *ngIf="course && course.creatorUser">
            <img [src]="getCoverPhotoFromDocument(course.creatorUser.coverPhotoDocument, course.creatorUser.id)"
              alt="..." class="card-img-top">
            <div class="card-body text-center">
              <a href="#" [routerLink]="['/app/profile' , course.creatorUser.id]" class="avatar avatar-xl card-avatar card-avatar-top">
                <img
                  [src]="getProfilePictureFromDocument(course.creatorUser.profilePictureDocument, course.creatorUser.id)"
                  class="avatar-img rounded-circle border border-4 border-card" alt="profile">
              </a>
              <h2 class="card-title">
                <a href="#" [routerLink]="['/app/profile' , course.creatorUser.id]">
                  {{ course.creatorUser.name }} {{ course.creatorUser.surname }}
                </a>
              </h2>
              <p class="small text-muted mb-3">
                {{ course.creatorUser.currentUniversity }}
              </p>
              <p class="card-text">
                <span class="badge badge-soft-secondary">
                  {{ 'Tutor' | localize }}
                </span>
              </p>
            </div>
            <div class="card-footer card-footer-boxed">
              <div class="row flex-grow-1 align-items-center justify-content-between">
                <div class="col-auto">
                  <small>
                    <span class="text-success">●</span> Online
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
