<div class="table-responsive">
  <table class="table table-sm table-hover table-nowrap card-table" [loader]="isTableLoading">
    <tbody class="list font-size-base">
      <tr *ngFor="
            let studentArticle of (models | paginate: { id: 'purchased-articles', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems })
          ">
        <td>
          <div class="row">
            <div class="col-auto d-flex justify-content-center align-items-center">
              <div *ngIf="!studentArticle.article.thumbnailDocument else withThumbnailTemplate"
                class="avatar avatar-4by3 d-flex justify-content-center align-items-center">
                <i class="fe fe-file-text text-muted h1 p-0 m-0"></i>
              </div>
              <ng-template #withThumbnailTemplate>
                <div class="avatar avatar-4by3">
                  <img [src]="getServiceImageUrl(studentArticle.article.thumbnailDocument)" alt="..."
                    class="avatar-img rounded">
                </div>
              </ng-template>
            </div>
            <div class="col d-flex flex-column justify-content-center">
              <a [routerLink]="['/app/articles/student-portal', studentArticle.article.id]">
                <h4 class="mb-1">{{ studentArticle.article.name }}</h4>
              </a>
              <p *ngIf="studentArticle.article.description" class="text-muted mb-1 break-spaces">
                {{ studentArticle.article.description }}
              </p>
              <div class="text-muted mb-1">
                <div class="d-flex">
                  <div class="d-flex align-items-center">
                    <i class="fe fe-file-text mr-2"></i>
                    {{ (studentArticle.article.type === ArticleType.SingleArticle
                    ? 'Article' : 'ArticleSeries') | localize }}
                  </div>
                  <div class="d-flex align-items-center mx-3">|</div>
                  <ng-container
                    *ngIf="studentArticle.article.type === ArticleType.SingleArticle else articleSeriesTemplate">
                    <div class="d-flex align-items-center mr-3">
                      <i class="fe fe-eye mr-2"></i>
                      0 {{ 'Views' | localize }}
                    </div>
                    <div class="d-flex align-items-center mr-3">
                      <i class="fe fe-thumbs-up mr-2"></i>
                      0 {{ 'Likes' | localize }}
                    </div>
                    <div class="d-flex align-items-center mr-3">
                      <i class="fe fe-square-message mr-2"></i>
                      0 {{ 'Comments' | localize }}
                    </div>
                    <div class="d-flex align-items-center mr-3">
                      <i class="fe fe-share-2 mr-2"></i>
                      0 {{ 'Shares' | localize }}
                    </div>
                    <div class="d-flex align-items-center">
                      <i class="fe fe-star mr-2"></i>
                      0 {{ 'Saves' | localize }}
                    </div>
                  </ng-container>
                  <ng-template #articleSeriesTemplate>
                    <div class="d-flex align-items-center">
                      {{ studentArticle.article.children.length }}
                      {{ (studentArticle.article.children.length > 1 ?'Articles' : 'Article') | localize }}
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr *ngIf="models.length === 0">
        <td colspan="10">
          <p class="text-center m-0 p-0">{{ 'NoRecordsFound' | localize }}</p>
        </td>
      </tr>
    </tbody>
  </table>
  <abp-pagination-controls *ngIf="totalItems > models.length" id="purchased-articles"
    (pageChange)="getDataPage($event)">
  </abp-pagination-controls>
</div>
