<div class="row mb-3">
  <div class="col-auto d-flex justify-content-center align-items-center">
    <div class="avatar avatar-sm avatar-4by3">
      <img [src]="getServiceImageUrl(undefined) | async" alt="..." class="avatar-img rounded">
    </div>
  </div>
  <div class="col d-flex flex-column justify-content-center ml-n2">
    <a href="#">
      <h4 class="mb-2 small">Event </h4>
    </a>
    <p class="text-muted m-0 p-0 break-spaces small">
      January 1, 2021
    </p>
  </div>
</div>
<div class="row mb-3">
  <div class="col-auto d-flex justify-content-center align-items-center">
    <div class="avatar avatar-sm avatar-4by3">
      <img [src]="getServiceImageUrl(undefined) | async" alt="..." class="avatar-img rounded">
    </div>
  </div>
  <div class="col d-flex flex-column justify-content-center ml-n2">
    <a href="#">
      <h4 class="mb-2 small">Event </h4>
    </a>
    <p class="text-muted m-0 p-0 break-spaces small">
      January 1, 2021
    </p>
  </div>
</div>
<div class="row mb-3">
  <div class="col-auto d-flex justify-content-center align-items-center">
    <div class="avatar avatar-sm avatar-4by3">
      <img [src]="getServiceImageUrl(undefined) | async" alt="..." class="avatar-img rounded">
    </div>
  </div>
  <div class="col d-flex flex-column justify-content-center ml-n2">
    <a href="#">
      <h4 class="mb-2 small">Event </h4>
    </a>
    <p class="text-muted m-0 p-0 break-spaces small">
      January 1, 2021
    </p>
  </div>
</div>
