<div class="card">
  <div class="card-header">
    <h4 class="card-header-title">Recent Projects</h4>
    <p class="small text-muted mb-0">Receiving Help</p>
  </div>
  <div class="table-responsive mb-0">
    <table class="table table-sm table-nowrap card-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Schedule</th>
          <th>Hours Billed</th>
          <th>Completion</th>
          <th>Effective Rate</th>
        </tr>
      </thead>
      <tbody>
        <tr [routerLink]="['/app/tutorial', tutorial.id]" class="recent-project-item" *ngFor="let tutorial of tutorials">
          <td>{{ tutorial.information }}</td>
          <td><span class="text-success">●</span> On Schedule</td>
          <td>48</td>
          <td>
            <div class="row align-items-center no-gutters">
              <div class="col-auto"><span class="mr-2">55%</span></div>
              <div class="col">
                <div class="progress progress-sm">
                  <div
                    class="progress-bar bg-secondary"
                    role="progressbar"
                    style="width: 55%"
                    aria-valuenow="55"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </td>
          <td>$55.25%</td>
        </tr>
        <tr *ngIf="tutorials.length === 0">
          <td colspan="10">
            <p class="text-center m-0 p-0">{{ 'NoRecentProject' | localize }}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
