<div *ngIf="!poll else viewPollTemplate" class="polls p-3">
  <ng-container *ngIf="polls && polls.length else noClosedPollsTemplate"></ng-container>
  <div *ngFor="let poll of polls" class="poll p-3 mb-3 border">
    <div class="row">
      <div class="col">
        <h5 class="mb-2">{{ poll.name }}</h5>
        <p class="small text-muted m-0 pb-1">
          {{ poll.eventPollQuestions.length }}
          {{ 'Questions' | localize }}
        </p>
        <p class="small text-muted m-0">
          {{ 'CreatedOn' | localize }}
          {{ poll.creationTime | dateFormat: 'MMM D, YYYY' }}
        </p>
      </div>
      <div class="col-auto d-flex align-items-center">
        <button class="btn btn-sm btn-outline-primary" (click)="onViewResultsClick(poll)">
          <small>{{ 'ViewResults' | localize }}</small>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #viewPollTemplate>
  <div class="poll-queue p-3">
    <app-poll class="poll" [poll]="poll" [showVoterPercentage]="false"></app-poll>
    <div class="actions">
      <button class="btn btn-sm btn-white" (click)="onBackClick()">
        {{ 'Back' | localize }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #noClosedPollsTemplate>
  <p class="small text-center my-5">
    {{ 'NoClosedPolls' | localize }}
  </p>
</ng-template>
