<!-- <div class="table-responsive">
  <table class="table table-sm table-hover table-nowrap card-table" [loader]="isTableLoading">
    <tbody class="list font-size-base">
      <tr *ngFor="
            let studentVideo of (models | paginate: { id: 'saved-videos', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems })
          ">
        <td>
          <div class="row">
            <div class="col-auto d-flex justify-content-center align-items-center">
              <div *ngIf="!studentVideo.video.thumbnailDocumentId"
                class="avatar avatar-4by3 d-flex justify-content-center align-items-center">
                <i class="fe fe-video text-muted h1 p-0 m-0"></i>
              </div>
              <ng-template #withThumbnailTemplate>
                <div class="avatar avatar-4by3">
                  <img [src]="getServiceImageUrl(studentVideo.video.thumbnailDocument) | async" alt="..."
                    class="avatar-img rounded">
                </div>
              </ng-template>
            </div>
            <div class="col d-flex flex-column justify-content-center">
              <a [routerLink]="['/app/videos/student-portal', studentVideo.video.id]">
                <h4 class="mb-1">{{ studentVideo.video.name }}</h4>
              </a>
              <p *ngIf="studentVideo.video.description" class="text-muted mb-1 break-spaces">
                {{ studentVideo.video.description }}
              </p>
              <div class="text-muted mb-1">
                <div class="d-flex">
                  <div class="d-flex align-items-center">
                    <i class="fe fe-video mr-2"></i>
                    {{ (studentVideo.video.type === VideoType.SingleVideo ? 'Video' : 'VideoSeries') | localize }}
                  </div>
                  <div class="d-flex align-items-center mx-3">|</div>
                  <ng-container *ngIf="studentVideo.video.type === VideoType.SingleVideo else videoSeriesTemplate">
                    <div class="d-flex align-items-center mr-3">
                      <i class="fe fe-eye mr-2"></i>
                      0 {{ 'Views' | localize }}
                    </div>
                    <div class="d-flex align-items-center mr-3">
                      <i class="fe fe-thumbs-up mr-2"></i>
                      0 {{ 'Likes' | localize }}
                    </div>
                    <div class="d-flex align-items-center mr-3">
                      <i class="fe fe-square-message mr-2"></i>
                      0 {{ 'Comments' | localize }}
                    </div>
                    <div class="d-flex align-items-center mr-3">
                      <i class="fe fe-share-2 mr-2"></i>
                      0 {{ 'Shares' | localize }}
                    </div>
                    <div class="d-flex align-items-center">
                      <i class="fe fe-star mr-2"></i>
                      0 {{ 'Saves' | localize }}
                    </div>
                  </ng-container>
                  <ng-template #videoSeriesTemplate>
                    <div class="d-flex align-items-center">
                      {{ studentVideo.video.children.length }}
                      {{ (studentVideo.video.children.length > 1 ?'Videos' : 'Video') | localize }}
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr *ngIf="models.length === 0">
        <td colspan="10">
          <p class="text-center m-0 p-0">{{ 'NoRecordsFound' | localize }}</p>
        </td>
      </tr>
    </tbody>
  </table>
  <abp-pagination-controls *ngIf="totalItems > models.length" id="saved-videos" (pageChange)="getDataPage($event)">
  </abp-pagination-controls>
</div> -->


<div class="d-flex flex-column flex-sm-row flex-nowrap justify-content-center align-content-center align-items-center px-3 px-sm-4 mt-3 mb-4" style="gap: 10px;">
  <div class="flex-grow-1 w100p w-sm-auto">
  </div>
  <div class="w100p w-sm-auto">
    <div class="nav btn-group" role="tablist" style="min-width: 200px;">
      <button class="btn btn-lg btn-white active" data-toggle="tab" data-target="#saved-grid-tab" role="tab"
        aria-controls="saved-grid-tab" aria-selected="true">
        <span class="fe fe-grid"></span>
      </button>
      <button class="btn btn-lg btn-white" data-toggle="tab" data-target="#saved-list-tab" role="tab" aria-controls="saved-list-tab"
        aria-selected="false">
        <span class="fe fe-list"></span>
      </button>
    </div>
  </div>
</div>

<div *ngIf="models && models.length else noVideosTemplate" class="tab-content px-3 px-sm-4" [loader]="loading">
  <div class="tab-pane fade active show" id="saved-grid-tab" role="tabpanel">
    <app-grid [models]="models" ></app-grid>
  </div>
  <div class="tab-pane fade" id="saved-list-tab" role="tabpanel">
    <app-list [models]="models"></app-list>
  </div>
</div>


<ng-template #noVideosTemplate>
  <p class="m-0 p-5 text-muted text-center">
    {{ 'NoRecordsFound' | localize }}
  </p>
</ng-template>
