<ng-container *ngIf="permission.isGranted('Pages.Profile')">
  <a href="#" [routerLink]="['/app/profile']" class="dropdown-item">{{ 'Profile' | localize }}</a>
</ng-container>
<ng-container *ngIf="permission.isGranted('Pages.Account')">
  <a href="#" [routerLink]="['/app/account']" class="dropdown-item">{{ 'EditProfile' | localize }}</a>
</ng-container>
<ng-container *ngIf="permission.isGranted('Pages.Settings')">
  <a href="#" [routerLink]="['/app/settings']" class="dropdown-item">{{ 'Settings' | localize }}</a>
</ng-container>
<hr *ngIf="permission.isGranted('Pages.Profile') || permission.isGranted('Pages.Account') || permission.isGranted('Pages.Account')" class="dropdown-divider" />
<a href="javascript:;" class="dropdown-item" (click)="onLogoutClick()">{{ 'Logout' | localize }}</a>
