<div class="course-section" [ngClass]="{'module': courseSection.type === CourseSectionType.Module, 'lesson': courseSection.type === CourseSectionType.Lesson}">
  <div class="course-section-info w100p" [style.marginBottom.px]="courseSection.type === CourseSectionType.Module ? 10 : 0">
    <div class="course-section-drag" [ngClass]="{ 'cursor-grab': !isTemporary, 'cursor-not-allowed': isTemporary }">
      <img src="assets/img/service/content/drag.svg" alt="move"/>
    </div>

    <div class="course-section-name">
      <ng-container *ngIf="!isTemporary">
        {{ courseSection.name }}
      </ng-container>
      <ng-container *ngIf="isTemporary">
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          [(ngModel)]="courseSection.name"
          (keypress)="onKeyPressName($event)"
          (keyup)="onKeyUpName($event)"
          (blur)="onBlurName()"
          autocomplete="off"
          [autofocus]="true"
        />
      </ng-container>
    </div>

    <ng-container *ngIf="courseSection.type === CourseSectionType.Module">
      <div class="course-section-lessons">
        <div class="course-section-lessons-count">{{ lessonsCount | number }}</div>
        <div class="course-section-lessons-text">{{ 'lessons' | localize }}</div>
      </div>
    </ng-container>

    <ng-container *ngIf="courseSection.type === CourseSectionType.Lesson">
      <div class="course-section-activities">
        <div class="course-section-activities-polls">
          <div class="course-section-activities-polls-count">{{ pollsCount | number }}</div>
          <div class="course-section-activities-polls-icon"><img src="assets/img/service/content/polls.svg" alt="polls"/></div>
        </div>
        <div class="course-section-activities-files">
          <div class="course-section-activities-files-count">{{ filesCount | number }}</div>
          <div class="course-section-activities-files-icon"><img src="assets/img/service/content/files.svg" alt="files"/></div>
        </div>
        <div class="course-section-activities-questions">
          <div class="course-section-activities-questions-count">{{ questionsCount | number }}</div>
          <div class="course-section-activities-questions-icon"><img src="assets/img/service/content/questions.svg" alt="questions"/></div>
        </div>
        <div class="course-section-activities-offers">
          <div class="course-section-activities-offers-count">{{ offersCount | number }}</div>
          <div class="course-section-activities-offers-icon"><img src="assets/img/service/content/offers.svg" alt="offers"/></div>
        </div>
      </div>
    </ng-container>

    <div class="course-section-dropdown dropdown">
      <a href="javascript:;" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fe fe-more-vertical"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <a href="javascript:;" class="dropdown-item">
          {{ 'View' | localize }}
        </a>
        <a href="javascript:;" class="dropdown-item" (click)="onDuplicateClick(courseSection)">
          {{ 'Duplicate' | localize }}
        </a>
        <a href="#" [routerLink]="['course-sections', courseSection.id]" class="dropdown-item">
          {{ 'Edit' | localize }}
        </a>
        <a href="javascript:;" class="dropdown-item" (click)="onAddEditCourseSectionClick(courseSection)">
          {{ 'Rename' | localize }}
        </a>
        <a href="javascript:;" class="dropdown-item" (click)="onDeleteClick(courseSection.id)">
          {{ 'Delete' | localize }}
        </a>
      </div>
    </div>
  </div>

  <ng-container *ngIf="isStandardStructure">
    <div *ngIf="courseSection.children?.length" id="{{courseSection.id}}" dragula="Course" [(dragulaModel)]="courseSection.children" class="course-section-children w100p">
      <app-course-section
        *ngFor="let courseSectionUnit of courseSection.children"
        [isTemporary]="!courseSectionUnit.id"
        [attr.temporary]="!courseSectionUnit.id"
        [selectedStructure]="selectedStructure"
        [courseSection]="courseSectionUnit"
        (editSection)="onAddEditCourseSectionClick($event)"
        (addSection)="onAddCourseSectionClick($event)"
        (deleteSection)="onDeleteClick($event)"
        (duplicate)="onDuplicateClick($event)"
        (removeTemporary)="onRemoveTemporary($event)"
      ></app-course-section>
    </div>

    <div *ngIf="courseSection.type === CourseSectionType.Module" class="course-section-actions w100p">
      <button class="btn btn-lg btn-block btn-primary" (click)="addTemporarySection(CourseSectionType.Lesson)">
        <img src="assets/img/service/content/plus-blue.svg" alt="Add"/>
        {{ 'AddLesson' | localize }}
      </button>
    </div>
  </ng-container>

</div>
