.community {
    &-content {
        &-post {
            &-title {
                padding: 20px 24px 18px 24px;

                &-heading {
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 19px;
                    color: #12263F;
                }
                &-view-all {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 18px;
                    color: #2C7BE5;
                }
            }

            &-items {
                padding: 0 0 24px 24px;
            }

            &.end {
                .left, .right {
                    width: 162px;
                    height: 0.5px;
                    background-color: #95AAC9;
                }
                .center {
                    padding: 0 163px;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 17px;
                    color: #95AAC9;
                }
            }
        }
    }
}

.following {
    &-controls {
        &-filter {
            .dropdown {
                &-toggle,
                &-toggle .fe {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    color: #12263F;
                }
            }
        }

        &-sort {
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
            text-align: right;
            letter-spacing: -0.01em;
            color: #6E84A3;

            .dropdown {
                &-toggle,
                &-toggle .fe {
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 20px;
                    color: #12263F;
                }
            }
        }
    }
}
