.community {
    &-content {
        &-post {
            padding: 20px 24px;

            &-heading {
                &-1 {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    color: #6E84A3;
                }

                &-2 {
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 19px;
                    color: #12263F;
                }
            }

            &-view-all {
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                color: #2C7BE5;
            }
        }
    }
}
