.community {
    &-content {
        &-post {
            padding: 20px 24px;

            &-heading {
                font-weight: 600;
                font-size: 15px;
                line-height: 19px;
                color: #12263F;
            }

            &-view-all {
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                color: #2C7BE5;
            }
        }
    }
}
