<div class="container-fluid following d-flex flex-column flex-nowrap p-0">

    <div class="following-controls d-flex flex-row justify-content-between" [style.marginBottom.px]="10">
      <div class="following-controls-filter">
        <div class="dropdown">
          <a href="#" class="dropdown-ellipses dropdown-toggle d-flex flex-row align-items-center gap-5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ selectedFiltering | localize }} <span class="fe fe-chevron-down"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-left" [style.marginTop.px]="10">
            <div
              class="dropdown-item cursor-pointer d-flex justify-content-between"
              [class.selected]="isSelectedFiltering(postFilteringEnum.All)"
              (click)="handleFilteringChange(postFilteringEnum.All)"
            >
              <div>{{ postFilteringEnum.All  | localize }}</div>
              <i *ngIf="isSelectedFiltering(postFilteringEnum.All)" class="fe fe-check"></i>
            </div>

            <div
              class="dropdown-item cursor-pointer d-flex justify-content-between"
              [class.selected]="isSelectedFiltering(postFilteringEnum.Post)"
              (click)="handleFilteringChange(postFilteringEnum.Post)"
            >
              <div>{{ postFilteringEnum.Post  | localize }}</div>
              <i *ngIf="isSelectedFiltering(postFilteringEnum.Post)" class="fe fe-check"></i>
            </div>

            <div
              class="dropdown-item cursor-pointer d-flex justify-content-between"
              [class.selected]="isSelectedFiltering(postFilteringEnum.Question)"
              (click)="handleFilteringChange(postFilteringEnum.Question)"
            >
              <div>{{ postFilteringEnum.Question  | localize }}</div>
              <i *ngIf="isSelectedFiltering(postFilteringEnum.Question)" class="fe fe-check"></i>
            </div>

            <div
              class="dropdown-item cursor-pointer d-flex justify-content-between"
              [class.selected]="isSelectedFiltering(postFilteringEnum.Discussion)"
              (click)="handleFilteringChange(postFilteringEnum.Discussion)"
            >
              <div>{{ postFilteringEnum.Discussion  | localize }}</div>
              <i *ngIf="isSelectedFiltering(postFilteringEnum.Discussion)" class="fe fe-check"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="following-controls-sort d-flex flex-row align-items-center gap-10">
        Sort by:
        <div class="dropdown">
          <a href="#" class="dropdown-ellipses dropdown-toggle d-flex flex-row align-items-center gap-5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ selectedSorting | localize }} <span class="fe fe-chevron-down"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-left" [style.marginTop.px]="10">

            <div
              class="dropdown-item cursor-pointer d-flex justify-content-between"
              [class.selected]="isSelectedSorting(postSortingEnum.Latest)"
              (click)="handleSortingChange(postSortingEnum.Latest)"
            >
              <div>{{ postSortingEnum.Latest  | localize }}</div>
              <i *ngIf="isSelectedSorting(postSortingEnum.Latest)" class="fe fe-check"></i>
            </div>

            <div
              class="dropdown-item cursor-pointer d-flex justify-content-between"
              [class.selected]="isSelectedSorting(postSortingEnum.Replied)"
              (click)="handleSortingChange(postSortingEnum.Replied)"
            >
              <div>{{ postSortingEnum.Replied  | localize }}</div>
              <i *ngIf="isSelectedSorting(postSortingEnum.Replied)" class="fe fe-check"></i>
            </div>

            <div
              class="dropdown-item cursor-pointer d-flex justify-content-between"
              [class.selected]="isSelectedSorting(postSortingEnum.Reacted)"
              (click)="handleSortingChange(postSortingEnum.Reacted)"
            >
              <div>{{ postSortingEnum.Reacted  | localize }}</div>
              <i *ngIf="isSelectedSorting(postSortingEnum.Reacted)" class="fe fe-check"></i>
            </div>

          </div>
        </div>
      </div>
    </div>

    <ng-container *ngFor="let p of posts" >
      <div *ngIf="!p.isHidden" class="card community-content-post">
        <app-community-post-card [data]="p" (onChildrenUpdate)="handleChildrenUpdate(p)"></app-community-post-card>
      </div>
    </ng-container>

    <div *ngIf="usersYouMayKnow?.length > 0" class="card community-content-post">
        <div class="row align-items-center community-content-post-title">
          <div class="col d-flex flex-wrap align-items-center justify-content-between">
            <span class="community-content-post-title-heading">Users you may know</span>
            <span class="community-content-post-title-view-all cursor-pointer" [routerLink]="['users']">View All</span>
          </div>
        </div>
        <div class="community-content-post-items">
          <app-carousel
            [items]="usersYouMayKnow"
            [maxItems]="usersYouMayKnowMaxItems"
            [itemWidth]="260"
            [itemSpacing]="25"
            [isLoading]="isLoading_usersYouMayKnow"
            [isAutoFit]="true"
            [isInfiteScroll]="true"
            (onRequestNewData)="handleUsersYouMayKnowRequestData($event)">
          </app-carousel>
        </div>
    </div>

    <div *ngIf="recommendedCourses?.length > 0" class="card community-content-post">
      <div class="row align-items-center community-content-post-title">
        <div class="col d-flex flex-wrap align-items-center justify-content-between">
          <span class="community-content-post-title-heading">Recommended Courses</span>
          <span class="community-content-post-title-view-all cursor-pointer" [routerLink]="['courses']">View All</span>
        </div>
      </div>
      <div class="community-content-post-items">
        <app-carousel
          [items]="recommendedCourses"
          [maxItems]="recommendedCoursesMaxItems"
          [itemWidth]="352"
          [itemSpacing]="30"
          [isLoading]="isLoading_recommendedCourses"
          [isAutoFit]="true"
          [isInfiteScroll]="true"
          (onRequestNewData)="handleRecommendedCoursesRequestData($event)"
          (onServiceCardClick)="handleCourseServiceCardClick($event)">
        </app-carousel>
      </div>
    </div>

    <div class="community-content-post end d-flex flex-row justify-content-center align-items-center" [style.marginTop.px]="40" [style.marginBottom.px]="20">
      <div class="left"></div>
      <div class="center flex-grow-1">This is the end</div>
      <div class="right"></div>
    </div>

</div>
