<div class="container-fluid following d-flex flex-column flex-nowrap p-0">

    <div *ngFor="let p of posts" class="card community-content-post">
        <app-community-post-card [post]="p"></app-community-post-card>
    </div>

    <div *ngIf="usersYouMayKnow?.length > 0" class="card community-content-post">
        <div class="row align-items-center community-content-post-title">
          <div class="col d-flex flex-wrap align-items-center justify-content-between">
            <span class="community-content-post-title-heading">Users you may know</span>
            <span class="community-content-post-title-view-all cursor-pointer" [routerLink]="['users']">View All <i class="fas fa-arrow-right"></i></span>
          </div>
        </div>
        <div class="community-content-post-items">
          <app-carousel
            [items]="usersYouMayKnow"
            [maxItems]="usersYouMayKnowMaxItems"
            [itemWidth]="260"
            [itemSpacing]="25"
            [isLoading]="isLoading_usersYouMayKnow"
            [isAutoFit]="true"
            [isInfiteScroll]="true"
            (onRequestNewData)="handleUsersYouMayKnowRequestData($event)">
          </app-carousel>
        </div>
    </div>

    <div *ngIf="recommendedCourses?.length > 0" class="card community-content-post">
      <div class="row align-items-center community-content-post-title">
        <div class="col d-flex flex-wrap align-items-center justify-content-between">
          <span class="community-content-post-title-heading">Recommended Courses</span>
          <span class="community-content-post-title-view-all cursor-pointer" [routerLink]="['courses']">View All <i class="fas fa-arrow-right"></i></span>
        </div>
      </div>
      <div class="community-content-post-items">
        <app-carousel
          [items]="recommendedCourses"
          [maxItems]="recommendedCoursesMaxItems"
          [itemWidth]="352"
          [itemSpacing]="30"
          [isLoading]="isLoading_recommendedCourses"
          [isAutoFit]="true"
          [isInfiteScroll]="true"
          (onRequestNewData)="handleRecommendedCoursesRequestData($event)"
          (onServiceCardClick)="handleCourseServiceCardClick($event)">
        </app-carousel>
      </div>
    </div>
</div>
