.list-group-item {
    cursor: pointer;
    text-align: center;
}
label {
    color: white;
    font-size: 20px;
    cursor: pointer;
}
a {
    border-radius: 10px;
    cursor: pointer;
    padding-top: 40px;
}