.list-group-item {
    cursor    : pointer;
    text-align: center;
}

label {
    color    : white;
    font-size: 20px;
    cursor   : pointer;
}

a {
    border-radius: 10px;
    cursor       : pointer;
    padding-top  : 40px;
}

.searchbar {
    margin-top: 20px;


}

.header-body {
    border-bottom: unset !important;
}


.search-text {
    font-weight  : bold;
    margin-bottom: 5px;
}

.search {
    margin-top: 20px;
}

.grid-list-view {
    padding: 18px;
}

.card {
    text-align: center;

    >.card-footer {
        display: unset;
    }

    >.avatar {
        margin-left: 147px;
        margin-top : 20px;
    }
}

.social-media {
    font-size: 1.5em;
    padding  : 5px;
}