<div class="modal-card card">
  <div class="card-body">
    <div class="timezones-content text-center">
      <h3>Update default timezone</h3>
      <p>Do you want to update your default time zone in account settings with this timezone?</p>
    </div>
    <div class="timezones-buttons d-flex align-items-center gap-16">
      <button type="button" class="btn btn-outline-secondary flex-grow-1" (click)="onChangeTimezone()">Update my settings</button>
      <button type="button" class="btn btn-primary flex-grow-1" (click)="onCloseModal()">Do not update</button>
    </div>
  </div>
</div>
