::ng-deep {
  .modal-dialog-change-timezone {
    max-width: 382px !important;
    margin-left: auto;
    margin-right: auto;

    .modal-content {
      border: 0 none;
    }
  }
}

.card {
  &-body {
    padding: 40px 20px 24px;

    .timezones {
      &-content {
        h3 {
          font-size: 20px;
          font-weight: 600;
          color: #12263F;
          margin-bottom: 12px;
        }

        p {
          margin: 0;
          font-size: 13px;
          color: #6E84A3;
        }
      }

      &-buttons {
        margin-top: 24px;

        button {
          font-size: 15px;
          height: 32px;
          line-height: 15px;
          width: 0;

          &.btn-outline-secondary {
            border-color: #E4EBF6;
            color: #3B516C;

            &:active,
            &:focus,
            &:hover {
              background: #FFFFFF;
              border-color: #E4EBF6;
              color: #3B516C;
            }
          }
        }
      }
    }
  }
}

