<div class="offer-wrapper">
  <div class="offer-header d-flex align-items-center">
    <div class="offer-header-wrapper flex-grow-1">
      <h3 class="offer-title">Create upsells</h3>
      <div class="offer-description">
        Add offers to upsell additional products and services.
      </div>
    </div>
    <button class="btn btn-primary ml-auto offer-create" (click)="onAddOffer()">Add</button>
  </div>
  <div class="offer-content" *ngIf="isOffersAvailable else noOffers">
    <app-service-card-offer *ngFor="let offer of offers" [offer]="offer"></app-service-card-offer>
  </div>
</div>

<ng-template #noOffers>
  <div class="offer-empty bg-white text-center">
    {{ 'No Offers' | localize }}
  </div>
</ng-template>
