.review {
    &-body {
        padding: 20px;

        &-details {
            padding-top: 30px;

            &-text {
                margin-top: 25px;
                margin-bottom: 30px;
            }
        }
    }

    &-button {
        button {
            height: 34px;
            padding: 5px 10px;
            font-size: 15px;

            &:first-child {
                margin-bottom: 10px;
            }
        }
    }
}
