<div class="row listAlias">
    <div *ngFor="let article of articles" class="col-12 col-md-6 col-xl-4">
      <div class="card">
        <a href="#!visit" [routerLink]="['/app/articles/tutor-portal', article.id]" (click)="$event.preventDefault();">
          <img [src]="getServiceImageUrl(article.thumbnailDocument) | async" alt="..." class="card-img-top">
        </a>
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <h4 class="mb-2 name">
                <a href="#!visit" [routerLink]="['/app/articles/tutor-portal', article.id]" (click)="$event.preventDefault();">
                  {{ article.name }}
                </a>
              </h4>
              <p class="card-text small text-muted">
                {{ 'Created' | localize }} {{ convertMomentToDateAgo(article.creationTime) }}
              </p>
            </div>
            <div class="col-auto">
              <div class="dropdown">
                <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="fe fe-more-vertical"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="#!visit" [routerLink]="['/app/articles/tutor-portal', article.id]" class="dropdown-item" (click)="$event.preventDefault(); ">
                    {{ 'Overview' | localize }}
                  </a>
                  <a  *ngIf="article.type === ArticleType.SingleArticle" [routerLink]="['/app/articles/', article.id]" href="#!visit" class="dropdown-item" (click)="$event.preventDefault();" >
                    {{ 'Edit' | localize }}
                  </a>
                  <a  *ngIf="article.type === ArticleType.ArticleSeries"   [routerLink]="['/app/articles/article-series', article.id]" href="#!visit" class="dropdown-item" (click)="$event.preventDefault();">
                    {{ 'Edit' | localize }}
                  </a>
                  <a href="#!visit" class="dropdown-item" (click)="$event.preventDefault(); onDeleteArticle(article.id)">
                    {{ 'Delete' | localize }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
