::ng-deep {
    .fc {
        &-header-toolbar {
            padding: 0.5rem 1.25rem;
            border-bottom: 1px solid #edf2f9;
            font-size: 15px;
            margin-bottom: 0 !important;

            .fc-toolbar {
                &-title {
                    font-size: 15px !important;
                }
                &-chunk {
                    .btn-group {
                        button {
                            box-shadow: 0 0 0;
                            outline: 0 none;
                            padding: 8px;
                            background: transparent;
                            color: #000;
                            border: 0;

                            &:hover,
                            &:focus,
                            &:active {
                                background-color: transparent !important;
                                border: 0 !important;
                                outline: 0 none !important;
                                box-shadow: 0 0 0 !important;
                            }
                        }
                    }
                }
            }
        }

        &-view-harness {
            padding: 15px 20px 0;
        }

        table {
            border-style: none !important;
            td, th {
                border-style: none !important;
            }
            th {
                margin-bottom: 9px;
            }
        }

        &-col-header-cell-cushion {
            padding: 0 0 9px !important;
        }

        &-daygrid {
            &-day {
                &.fc-day-today {
                    background-color: transparent !important;

                    .fc-daygrid-day-top {
                        border: 1px solid #E4EBF6;

                        a {
                            color: #000;
                        }
                    }
                }

                &.fc-day-disabled {
                    background-color: transparent !important;
                }

                &.active {
                    background-color: transparent !important;

                    .fc-daygrid-day-top {
                        background-color: #2C7BE5;

                        a {
                            color: white;
                        }
                    }
                }

                &:not(.active).future-events {
                    background-color: transparent !important;

                    .fc-daygrid-day-top {
                        background-color: #EAF2FC;

                        a {
                            color: #2C7BE5;
                        }
                    }
                }

                &.past-events {
                    background-color: transparent !important;

                    .fc-daygrid-day-top {
                        border: 1px solid #E4EBF6;
                    }
                }

                &-events {
                    display: none;
                }

                &-top {
                    flex-direction: row !important;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin: 0 auto 5px;
                }

                &-number {
                    padding: 0 !important;
                }

                &-frame {
                }
            }
        }
    }
}

.card {
    &-body {
        padding: 0;

        &-header {
            margin: 1.25rem 0 0.625rem;
        }
    }

    &-content {
        padding: 0 20px 15px;
    }

    &-footer {
        padding: 20px;
    }
}

.list {
    &-group {
        &-item {
            &-avatar {
                margin-right: 9px;
            }

            &-text {
                .pre-title {
                    font-size: 11px;
                    color: #2C7BE5;

                    &.live {
                        color: #E52C2C;
                    }
                }

                .composition {
                    .people,
                    .role,
                    .organizer {
                        color: #1F2D3D;
                    }
                }
            }
        }
    }
}
