.no-content {
  text-align: center;

  img {
    width        : 300px;
    margin-bottom: 10px;
  }

  .title {
    margin-bottom: 5px;
  }

  .add-content {
    display   : inline-block;
    margin-top: 20px;
    font-size : 14px;
  }
}

.actions {
  width     : 100%;
  text-align: center;
}

.no-selected-content {
  min-height     : 100px;
  display        : flex;
  align-items    : center;
  justify-content: center;

  p {
    font-weight: bold;
  }
}
