<div class="row">
  <div class="col-8">
    <ng-container *ngFor="let content of contents">
      <app-content-preview [content]="content">
      </app-content-preview>
      <hr class="divider">
    </ng-container>
    <div class="actions">
      <a href="#" (click)="$event.preventDefault(); $event.stopPropagation(); onAddClick();">
        <i class="fe fe-plus"></i>
        {{ 'AddPage' | localize | titlecase }}
      </a>
    </div>
  </div>
  <div class="col-4">
    <app-content-editor [content]="currentContent" (deleteContent)="onDeleteContent($event)"
      (selectParent)="onSelectParent($event)"></app-content-editor>
  </div>
</div>
