<app-two-factor-authentication></app-two-factor-authentication>

<hr class="my-5">

<app-change-password></app-change-password>

<hr class="my-5">

<div class="row justify-content-between mb-5">
  <div class="col-12 col-md-6">

    <h4>
      Delete your account
    </h4>

    <p class="small text-muted mb-md-0">
      Please note, deleting your account is a permanent action and will no be recoverable once completed.
    </p>

  </div>
  <div class="col-auto">

    <button class="btn btn-danger">
      Delete
    </button>

  </div>
</div>
