<form class="form-horizontal" autocomplete="off" #form="ngForm" (ngSubmit)="onFormSubmit()">
  <div class="modal-card card">
    <abp-modal-header
      [title]="(model.type === EventType.SingleEvent ? 'NameYourEvent' : 'NameYourEventSeries') | localize"
      (onCloseClick)="onCloseClick()">
    </abp-modal-header>
    <div class="card-body">
      <div class="col-md-12 form-group mb-0 required">
        <label class="col-form-label" for="name">{{ 'Name' | localize }}</label>
        <input type="text" class="form-control" name="name" id="name" required [(ngModel)]="model.name"
          #nameModel="ngModel" #nameEl required />
        <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
      </div>
    </div>
    <abp-modal-footer [saveLabel]="'CreateEvent' | localize" [cancelLabel]="'Back' | localize"
      [cancelDisabled]="isLoading" [saveDisabled]="!form.form.valid || isLoading || (model.name.trim()==='')"
      (onCancelClick)="onCancelClick()">
    </abp-modal-footer>
  </div>
</form>
