.maximized {
  margin-top: 40px;
  color: #12263F;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.15px;
}

.nav {
  min-height: 70px;
  .nav-item {
      margin: 0 10px;

      .nav-link {
          height: 100%;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -0.15px;
          display: flex;
          justify-content: center;
          align-items: center;
      }
  }
}

.tab-content {
  height: 100%;

  .tab-pane {
    height: 100%;
  }
}
