<div [@routerTransition]>
  <div class="header">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-end">
          <div class="col">
            <h6 class="header-pretitle">
              {{ "Overview" | localize }}
            </h6>
            <h1 class="header-title">
              {{ "Dashboard" | localize }}
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-4 col-xl">
        <a href="#" [routerLink]="['/app/users']">
          <div class="card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col">
                  <span class="h2 mb-0">
                    User Management
                  </span>
                </div>
                <div class="col-auto">
                  <span class="h2 fe fe-users text-muted mb-0"></span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-lg-4 col-xl">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <span class="h2 mb-0">
                  Financials
                </span>
              </div>
              <div class="col-auto">
                <span class="h2 fe fe-dollar-sign text-muted mb-0"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-xl">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <span class="h2 mb-0">
                  Settings
                </span>
              </div>
              <div class="col-auto">
                <span class="h2 fe fe-settings text-muted mb-0"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>