form.poll-form {
  margin-left: 10px;

  .form-group {
    margin-bottom: 0;

    label {
      font-size: 12px;
    }
  }
}

.chat-box {
  .list-group {
    border-right: 1px solid #edf2f9;
    height: 100%;
  }

  .list-group-item {
    padding-left: 10px;
  }

  .conversations {
    min-height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
}

.text-links {
  padding: 0;
  margin-bottom: 2rem;
}

.nav-link {
  cursor: pointer;
}