.poll-queue {
  height        : 100%;
  display       : flex;
  flex-direction: column;

  .polls {
    flex      : 1 1 0px;
    overflow-y: auto;

    .poll {
      border-radius: 5px;

      .small {
        font-size  : 12px;
        line-height: 12px;
      }
    }
  }


  .actions {
    display       : flex;
    flex-direction: column;
    background    : #FFFFFF;
    padding       : 5px 0 0 0;

    button {
      margin-top   : 5px;
      margin-bottom: 5px;
    }
  }
}
