<div class="p-3" *ngIf="isTutor">
  <div class="avatar-group">
    <div class="avatar-sm">
      <img src="/assets/themes/dashkit/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
    </div>
    <div class="avatar-sm">
      <img src="/assets/themes/dashkit/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
    </div>
    <div class="avatar-sm">
      <img src="/assets/themes/dashkit/img/avatars/profiles/avatar-3.jpg" alt="..." class="avatar-img rounded-circle">
    </div>
    <div class="avatar-sm">
      <img src="/assets/themes/dashkit/img/avatars/profiles/avatar-4.jpg" alt="..." class="avatar-img rounded-circle">
    </div>
  </div>
</div>
<div class="p-3" *ngIf="!isTutor && model.creatorUser">
  <div class="row align-items-center">
    <div class="col-auto">
      <a href="#!" class="avatar avatar-sm">
        <img [src]="getProfilePictureUrl(model.creatorUser.profilePictureDocument)" alt="..."
          class="avatar-img rounded-circle">
      </a>
    </div>
    <div class="col ml-n2">
      <h4 class="m-0 p-0">{{ model.creatorUser.fullName }}</h4>
    </div>
    <div *ngIf="appSession.userId !== model.creatorUser.id" class="col-auto">
      <button *ngIf="!userFollower || !userFollower.id else unfollowTemplate" class="btn btn-sm btn-outline-primary"
        (click)="onFollowClick()">
        {{ 'Follow' | localize }}
      </button>
      <ng-template #unfollowTemplate>
        <button class="btn btn-sm btn-outline-success" (click)="onUnfollowClick()">
          {{ 'Unfollow' | localize }}
        </button>
      </ng-template>
    </div>
  </div>
</div>
<hr class="m-0 p-0">
<div class="p-3">
  <div class="d-flex align-items-center justify-content-between">
    <h4 class="p-0">{{ model.name }}</h4>
  </div>
  <p *ngIf="model.description" class="pt-1 m-0 small">{{ model.description }}</p>
  <div class="row small text-muted text-center mx-2 mt-2">
    <div class="col p-0 no-wrap">
      <a href="#!like" (click)="$event.preventDefault();">
        <i class="fe fe-thumbs-up"></i> {{ likeCount }}
      </a>
    </div>
    <div class="col-auto p-0 ">|</div>
    <div class="col p-0 no-wrap">
      <i class="fe fe-share-2"></i> {{ 'Share' }}
    </div>
  </div>
</div>
<ng-container *ngIf="!preview && model.id">
  <hr class="m-0 p-0">
  <app-upcoming *ngIf="isTutor"></app-upcoming>
  <app-related *ngIf="!isTutor"></app-related>
</ng-container>
