<div class="container-fluid" [@routerTransition]>
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="header">
        <div class="header-body">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="header-pretitle">{{ '' | localize }}</h6>
              <h1 class="header-title">{{ 'Tutorial' | localize }}</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label class="col-form-label" for="Information"> {{ 'SuitorLabel' | localize }} </label>
                <p class="small text-muted mb-1">{{ 'SuitorSubLabel' | localize }}</p>
                <textarea
                  class="form-control"
                  data-toggle="autosize"
                  rows="5"
                  name="Information"
                  [(ngModel)]="userTutorials.information"
                  id="Information"
                  placeholder="Please provide some information on what you would like to help with"
                ></textarea>
              </div>
              <div class="form-group">
                <label class="col-form-label" for="SupportLevel">{{ 'LevelOfSupport' | localize }}</label>
                <select class="form-control" id="id" [(ngModel)]="userTutorials.supportLevel" name="id" required>
                  <option *ngFor="let spLevel of supportLevels" [ngValue]="spLevel.id"> {{ spLevel.level }} </option>
                </select>
              </div>
              <!-- <div class="form-group">
                <label class="col-form-label" for="MethodologyLabel">{{ 'Methodology' | localize }}</label>
                <select id="Methodology" name="Methodology" type="text" class="form-control">
                  <option>ComboBox</option>
                </select>
              </div> -->
              <div class="form-group">
                <div class="dropzone">
                  <div class="dz-message">
                    <i class="fe fe-upload"></i>
                    <button class="dz-button" type="button">
                      {{ 'DropOrClickToUpload' | localize }}
                    </button>
                  </div>
                  <div class="dz-preview"></div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-10">
                  <label class="col-form-label" for="AreaOfStudy">{{ 'MainTopicLabel' | localize }}</label>
                  <p class="small text-muted mb-1">{{ 'MainTopicSubLabel' | localize }}</p>
                  <input
                    class="list-search form-control"
                    type="search"
                    placeholder="{{ 'SearchAreasOfStudy' | localize }}"
                    [(ngModel)]="disciplineTaxonomyName"
                    id="AreaOfStudy"
                    name="AreaOfStudy"
                    typeaheadOptionField="name"
                    [typeahead]="disciplineTaxonomiesDataSource"
                    [typeaheadAsync]="true"
                    [typeaheadMinLength]="0"
                    (typeaheadOnSelect)="onTaxonomySelect($event)"
                  />
                </div>
                <div class="col-md-2 browse-skills">
                  <button type="button" class="btn btn-primary" (click)="onBrowseSkillsClick()">Browse Skills</button>
                </div>
                <div class="col-md-12 mt-2">
                  <div
                    *ngFor="let disciplineTaxonomy of selectedDisciplineTaxonomies"
                    class="alert alert-info alert-dismissible discipline"
                    role="alert"
                  >
                    {{ disciplineTaxonomy.name }}
                    <button
                      *ngIf="permission.isGranted('Pages.Profile.AreasOfStudy.KnowledgeBase.Delete')"
                      (click)="onRemoveDisciplineTaxonomyClick(disciplineTaxonomy.id)"
                      type="button"
                      class="close"
                      data-dismiss="alert"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label" for="MainTopic">{{ 'MainConcernLabel' | localize }}</label>
                <p class="small text-muted mb-1">{{ 'MainConcernSubLabel' | localize }}</p>
                <textarea
                  class="form-control"
                  data-toggle="autosize"
                  rows="5"
                  name="Concerns"
                  [(ngModel)]="userTutorials.concerns"
                  id="Concerns"
                  placeholder="Please provide your main concers or questions"
                  maxlength="4000"
                ></textarea>
              </div>
              <div class="form-row">
                <div class="col-md-12">
                  <label> {{ 'UrgencyLevelLabel' | localize }} </label>
                </div>
                <div class="col-md-4">
                  <input type="radio" name="urgencyLevel" value="urgent" [(ngModel)]="userTutorials.urgencyLevel" />
                  <label for="urgent" class="urgency-level-labels">Urgent</label>
                </div>
                <div class="col-md-4">
                  <input type="radio" name="urgencyLevel" value="average" [(ngModel)]="userTutorials.urgencyLevel" />
                  <label for="average" class="urgency-level-labels">Average</label>
                </div>
                <div class="col-md-4">
                  <input type="radio" name="urgencyLevel" value="not urgent" [(ngModel)]="userTutorials.urgencyLevel" />
                  <label for="notUrgent" class="urgency-level-labels">Not Urgent</label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label" for="DeadlineLabel">{{ 'DeadlineLabel' | localize }}</label>
                <div class="input-group input-group-merge" (click)="dp.show()">
                  <input
                    [(ngModel)]="userTutorials.deadline"
                    id="DeadLine"
                    name="DeadLine"
                    type="text"
                    class="form-control form-control-appended"
                    #DeadLineModel="ngModel"
                    #DeadLineEl
                    #dp="bsDatepicker"
                    bsDatepicker
                    [bsConfig]="datePickerConfig"
                  />
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-calendar"></span>
                    </div>
                  </div>
                </div>
                <abp-validation-summary [control]="DeadLineModel" [controlEl]="DeadLineEl"> </abp-validation-summary>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" type="submit" [disabled]="">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
