.amount {
    text-align: center;
}
.description {
    padding: 20px;
    margin-left: 70px;
}
.browse-skills {
    text-align: center;
    padding-top: 60px;
}
.btn {
    margin-right: 30px;
}
.urgency-level-labels {
    padding: 5px;
}
