<div class="card">
  <div class="card-header">
    <h4 class="card-header-title">Verifications</h4>
  </div>
  <div class="card-body">
    <div class="list-group list-group-flush my-n3">
      <div class="list-group-item">
        <div class="row align-items-center">
          <div class="col">
            <i class="fe fe-user-plus"></i>
            <h5 class="mb-0 text-normal">Preferred Freelancer</h5>
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row align-items-center">
          <div class="col">
            <i class="fe fe-user"></i>
            <h5 class="mb-0 text-normal">Identity Verified</h5>
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row align-items-center">
          <div class="col">
            <i class="fe fe-dollar-sign"></i>
            <h5 class="mb-0 text-normal">Payment Verified</h5>
          </div>
          <div class="col-auto">
            <span class="text-muted"><i class="fe fe-check"></i></span>
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row align-items-center">
          <div class="col">
            <i class="fe fe-phone"></i>
            <h5 class="mb-0 text-normal">Phone Verified</h5>
          </div>
          <div class="col-auto">
            <span class="text-muted"><a href="javascript:;" class="small">Verify</a></span>
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row align-items-center">
          <div class="col">
            <i class="fe fe-mail"></i>
            <h5 class="mb-0 text-normal">Email Verified</h5>
          </div>
          <div class="col-auto">
            <span class="text-muted"><i class="fe fe-check"></i></span>
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row align-items-center">
          <div class="col">
            <i class="fe fe-facebook"></i>
            <h5 class="mb-0 text-normal">Facebook Connected</h5>
          </div>
          <div class="col-auto">
            <span class="text-muted"><i class="fe fe-check"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
