<div [@routerTransition] class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="header position-relative">
                <app-shimmer [show]="isLoading$ | async" [shimmerType]="isLearnerView ? shimmerType.DashboardHeaderLearner : shimmerType.DashboardHeaderCreator" backgroundColor="#f9fbfd"></app-shimmer>
                <div class="header-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="header-pretitle">{{ 'Dashboard' | localize }}</h6>
                            <h1 class="header-title">{{ 'Events' | localize }}</h1>
                        </div>
                        <div class="col-auto d-flex gap-10">
                            <ng-container *ngIf="isTutor">
                                <button (click)="onNewBroadcastClick()" class="btn btn-primary">
                                    {{ 'NewBroadcast' | localize | titlecase }}
                                </button>
                                <button (click)="onNewWorkshopClick()" class="btn btn-primary">
                                    {{ 'NewWorkshop' | localize | titlecase }}
                                </button>
                                <button *ngIf="isTutor" class="btn btn-white custom-card-border d-flex align-items-center gap-10" (click)="handleSwitchView()">
                                    <span class="fe fe-refresh-cw"></span>
                                    Switch to {{ switchButtonText }} view
                                </button>
                            </ng-container>
                        </div>
                    </div>
                    <app-sub-header [userView]="defaultUserView"></app-sub-header>
                </div>
            </div>

            <div class="tab-content" [ngSwitch]="defaultUserView">
                <ng-container *ngSwitchCase="dashboardServiceView.creator">
                    <div class="tab-pane fade show active" id="created" role="tabpanel" aria-labelledby="created-tab">
                        <app-created></app-created>
                        <!-- <app-teaching></app-teaching> -->
                    </div>
                    <div class="tab-pane fade" id="analytics" role="tabpanel" aria-labelledby="analytics-tab">
                        This is analytics tab
                    </div>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <div class="tab-pane fade show active" id="purchased" role="tabpanel" aria-labelledby="purchased-tab">
                        <app-learning></app-learning>
                    </div>
                    <div class="tab-pane fade" id="saved" role="tabpanel" aria-labelledby="save-tab">
                        <p>This is saved tab content.</p>
                    </div>
                    <div class="tab-pane fade" id="discover" role="tabpanel" aria-labelledby="discover-tab">
                        <p>This is Discover tab content.</p>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
