.device-settings-component {
  position  : absolute;
  height    : 100%;
  width     : 100%;
  overflow-x: hidden;
  z-index   : 500;

  select {
    text-align: center;
  }

  .custom-control.custom-switch {
    min-height: auto;
    left      : 10px;
  }
}
