.search {
    &-results {
        &-users {
            &-title {
                color: #1F2D3D;
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -0.15px;
                padding: 20px 24px 10px;
            }

            &-list {
                &-item {
                    padding: 15px 24px;
                    cursor: pointer;

                    &.active, &:hover {
                        background-color: #F9FAFC;
                    }

                    .avatar {
                        width: 45px;
                        height: 45px;

                        &-status {
                            position: absolute;
                            width: 8px;
                            height: 8px;
                            bottom: 2px;
                            right: 2px;
                            background-color: #00d97e;
                            border-radius: 50%;
                        }
                    }

                    .name {
                        color: #1F2D3D;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: -0.15px;
                    }
                }
            }
        }

        &-messages {
            &-title {
                color: #1F2D3D;
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -0.15px;
                padding: 20px 24px 10px;
            }

            &-list {
                &-item {
                    padding: 15px 24px;
                    cursor: pointer;

                    &.active, &:hover {
                        background-color: #F9FAFC;
                    }

                    .avatar {
                        width: 45px;
                        height: 45px;

                        &-status {
                            position: absolute;
                            width: 8px;
                            height: 8px;
                            bottom: 2px;
                            right: 2px;
                            background-color: #00d97e;
                            border-radius: 50%;
                        }
                    }

                    .name {
                        color: #1F2D3D;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: -0.15px;
                    }

                    .matches {
                        color: #6E84A3;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: -0.13px;
                    }
                }
            }
        }
    }
}
