<div class="modal-card card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <ul class="nav nav-tabs nav-overflow header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="activeTab === 'quick-post'" role="button" (click)="setActiveTab('quick-post')">{{ 'Community.QuickPost' | localize }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="activeTab === 'add-question'" role="button" (click)="setActiveTab('add-question')">{{ 'Community.AddQuestion' | localize }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="activeTab === 'add-discussion'" role="button" (click)="setActiveTab('add-discussion')">{{ 'Community.AddDiscussion' | localize }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="onCloseClick()">
          <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="card-body">
        <app-community-post *ngIf="activeTab === 'quick-post'" type="quick-post" (onModelChange)="model=$event"></app-community-post>
        <app-community-post *ngIf="activeTab === 'add-question'" type="add-question" (onModelChange)="model=$event"></app-community-post>
        <app-community-post *ngIf="activeTab === 'add-discussion'" type="add-discussion" (onModelChange)="model=$event"></app-community-post>
    </div>

    <div class="card-footer d-flex justify-content-between">
        <div class="card-footer-left d-flex align-items-center flex-grow-1 gap-20">
            <a class="card-footer-left-icon cursor-pointer" [class.disabled]="!canAddImage"><i class="fe fe-camera"></i></a>
            <a class="card-footer-left-icon cursor-pointer" [class.disabled]="!canAddFile"><i class="fe fe-paperclip"></i></a>
            <a class="card-footer-left-icon cursor-pointer" [class.disabled]="!canAddEmoticons"><i class="fas fa-smile"></i></a>
            <a class="card-footer-left-icon cursor-pointer" [class.disabled]="!canAddService"><i class="fe fe-plus"></i></a>
        </div>
        <div class="card-footer-right d-flex align-items-center gap-20">
            <button type="button" class="btn btn-light" (click)="onCloseClick()">
                {{ 'Cancel' | localize }}
            </button>
            <button type="button" class="btn btn-primary" (click)="handleCreatePost()" [disabled]="!isModelValid">
                {{ 'Post' | localize }}
            </button>
        </div>
    </div>
  </div>
