<div class="modal-card card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <ul class="nav nav-tabs nav-overflow header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="activeTab === 'quick-post'" role="button" (click)="setActiveTab('quick-post')">{{ 'Community.QuickPost' | localize }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="activeTab === 'add-question'" role="button" (click)="setActiveTab('add-question')">{{ 'Community.AddQuestion' | localize }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="activeTab === 'add-discussion'" role="button" (click)="setActiveTab('add-discussion')">{{ 'Community.AddDiscussion' | localize }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="onCloseClick()">
          <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="card-body">
        <app-community-post *ngIf="activeTab === 'quick-post'" type="quick-post" (onModelChange)="model=$event"></app-community-post>
        <app-community-post *ngIf="activeTab === 'add-question'" type="add-question" (onModelChange)="model=$event"></app-community-post>
        <app-community-post *ngIf="activeTab === 'add-discussion'" type="add-discussion" (onModelChange)="model=$event"></app-community-post>
        <div *ngIf="fileAttachment" class="card-body-attachment position-relative">
            <div class="card-body-attachment-remove d-flex justify-content-center align-items-center cursor-pointer" (click)="removeAttachment()">
                <span class="fe fe-x"></span>
            </div>
            <div *ngIf="isVideoAttachment" class="card-body-attachment-play d-flex justify-content-center align-items-center cursor-pointer" (click)="togglePlayVideo()">
                <span class="fas" [ngClass]="[isVideoPlaying ? 'fa-pause' : 'fa-play']"></span>
            </div>
            <div *ngIf="isImageAttachment" class="card-body-attachment-image">
                <img [src]="sanitizedAttachmentUrl" />
            </div>
            <div *ngIf="isVideoAttachment" class="card-body-attachment-video d-flex flex-wrap justify-content-center align-content-center align-items-center cursor-pointer" (click)="togglePlayVideo()">
                <video #videoAttachment [src]="sanitizedAttachmentUrl" class="bg-light" loop playsinline></video>
            </div>
            <div *ngIf="!isImageAttachment && !isVideoAttachment" class="card-body-attachment-file d-flex justify-content-center align-items-start">
                <div class="card d-flex justify-content-center align-items-center p-5 mt-4">
                    <span class="fas fa-6x fa-file"></span>
                </div>
            </div>
            <div *ngIf="isShowAttachmentInfo" class="card-body-attachment-info d-flex flex-column justify-content-center">
                <div class="card-body-attachment-info-name">{{ fileAttachmentName }}</div>
                <div class="card-body-attachment-info-details d-flex flex-row align-content-center gap-5">
                    <div class="card-body-attachment-info-details-type d-flex align-items-center">{{ fileAttachmentType | uppercase }}</div>
                    <div class="card-body-attachment-info-details-size">{{ fileAttachmentSize }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer d-flex justify-content-between">
        <div class="card-footer-left d-flex align-items-center flex-grow-1 gap-20">
            <a class="card-footer-left-icon cursor-pointer" [class.disabled]="!canAddImage" (click)="handleImageUploadBtnClick()"><i class="fe fe-camera"></i></a>
            <a class="card-footer-left-icon cursor-pointer" [class.disabled]="!canAddFile" (click)="handleFileUploadBtnClick()"><i class="fe fe-paperclip"></i></a>
            <a class="card-footer-left-icon cursor-pointer" [class.disabled]="!canAddEmoticons"><i class="fas fa-smile"></i></a>
            <a class="card-footer-left-icon cursor-pointer" [class.disabled]="!canAddService"><i class="fe fe-plus"></i></a>
        </div>
        <div class="card-footer-right d-flex align-items-center gap-20">
            <button type="button" class="btn btn-light" (click)="onCloseClick()">
                {{ 'Cancel' | localize }}
            </button>
            <button type="button" class="btn btn-primary" (click)="handleCreatePost()" [disabled]="!isModelValid">
                {{ 'Post' | localize }}
            </button>
        </div>
    </div>


  </div>

<input #fileInput (change)="onFileChange($event)" [accept]="allowedExtensions" class="hidden position-absolute" type="file">
