.sidebar {
    height: 100%;
    width: 400px;
    position: fixed;
    right: 0;
    top: 0;
    border-width: center center 0 1px;
    border-color: #e3ebf6;
    border-style: solid;
    z-index: 1;
    transition: 0.5s;
    overflow: hidden;

    &.content-hidden {
        width: 65px;
    }

    &-logo {
        height: 65px;
        margin-bottom: -20px;
        a {
            img {
                padding: 15px;
                width: 100%;
            }
        }
    }

    .sidebar-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        height: 100%;
        border-right: 1px solid #e3ebf6;

        li {
            display: flex;
            justify-content: center;
            width: 65px;

            &.separator {
                padding: 0;

                hr {
                    margin: 0;
                    padding: 0;
                    width: 70%;
                }
            }

            &.active {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: auto;
                    border-left: 2px solid #2c7be5;
                    border-bottom: 0;
                }
                a {
                    color: #12263f;
                    .icon {
                        &.home { background-image: url("assets/img/events/home-hover.svg"); }
                        &.users { background-image: url("assets/img/events/users-hover.svg"); }
                        &.chat { background-image: url("assets/img/events/chat-hover.svg"); }
                        &.comments { background-image: url("assets/img/events/comment-hover.svg"); }
                        &.help { background-image: url("assets/img/events/help-hover.svg"); }
                        &.pie-chart { background-image: url("assets/img/events/pie-chart-hover.svg"); }
                        &.folder { background-image: url("assets/img/events/folder-hover.svg"); }
                        &.shopping-bag { background-image: url("assets/img/events/shopping-bag-hover.svg"); }
                        &.star { background-image: url("assets/img/events/star-hover.svg"); }
                        &.sliders { background-image: url("assets/img/events/sliders-hover.svg"); }
                    }
                }
            }

            a {
                position: relative;
                line-height: 1;
                color: #6e84a3;

                .icon {
                    display: inline-block;
                    width: 20px;
                    height: 20px;

                    &.home {
                        background: url("assets/img/events/home.svg") no-repeat center center transparent;
                        &:hover { background-image: url("assets/img/events/home-hover.svg"); }
                    }

                    &.users {
                        background: url("assets/img/events/users.svg") no-repeat center center transparent;
                        &:hover { background-image: url("assets/img/events/users-hover.svg"); }
                    }

                    &.chat {
                        background: url("assets/img/events/chat.svg") no-repeat center center transparent;
                        &:hover { background-image: url("assets/img/events/chat-hover.svg"); }
                    }

                    &.comments {
                        background: url("assets/img/events/comment.svg") no-repeat center center transparent;
                        &:hover { background-image: url("assets/img/events/comment-hover.svg"); }
                    }

                    &.help {
                        background: url("assets/img/events/help.svg") no-repeat center center transparent;
                        &:hover { background-image: url("assets/img/events/help-hover.svg"); }
                    }

                    &.pie-chart {
                        background: url("assets/img/events/pie-chart.svg") no-repeat center center transparent;
                        &:hover { background-image: url("assets/img/events/pie-chart-hover.svg"); }
                    }

                    &.folder {
                        background: url("assets/img/events/folder.svg") no-repeat center center transparent;
                        &:hover { background-image: url("assets/img/events/folder-hover.svg"); }
                    }

                    &.shopping-bag {
                        background: url("assets/img/events/shopping-bag.svg") no-repeat center center transparent;
                        &:hover { background-image: url("assets/img/events/shopping-bag-hover.svg"); }
                    }

                    &.star {
                        background: url("assets/img/events/star.svg") no-repeat center center transparent;
                        &:hover { background-image: url("assets/img/events/star-hover.svg"); }
                    }

                    &.sliders {
                        background: url("assets/img/events/sliders.svg") no-repeat center center transparent;
                        &:hover { background-image: url("assets/img/events/sliders-hover.svg"); }
                    }
                }
            }
        }
    }

    .sidebar-contents {
        margin-left: 64px;
        height: 100%;
        display: flex;
        flex-direction: column;

        .sidebar-title {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #e3ebf6;
            padding: 20px;
            height: 65px;

            h4 {
                padding: 0;
                margin: 0;
                text-transform: uppercase;
            }
        }

        .sidebar-content {
            flex-grow: 1;
        }
    }
}
