<div [class.content-hidden]="hidden" class="sidebar bg-white">
  <ul class="sidebar-menu d-flex flex-column gap-20">
    <li class="sidebar-logo">
      <a href="#!" (click)="$event.preventDefault();">
        <img src="assets/img/ac-logo-light.png" alt="Academically" />
      </a>
    </li>
    <ng-container *ngFor="let item of menuItems">
      <li *ngIf="item.name !== 'Separator' else separatorTemplate" [class.active]="activeMenuItem === item">
        <a href="#" (click)="onMenuItemClick(item, $event)">
          <span class="icon" [class]="item.className"></span>
        </a>
      </li>
    </ng-container>
  </ul>

  <div *ngIf="!hidden" class="sidebar-contents" [ngSwitch]="activeMenuItem.name">
    <div class="sidebar-title">
      <h4 class="text-muted">
        {{ activeMenuItem.name | localize }}
      </h4>
    </div>

    <div class="sidebar-content">
      <app-overview *ngSwitchCase="'Overview'"></app-overview>
      <app-attendees *ngSwitchCase="'Attendees'"></app-attendees>
      <app-settings *ngSwitchCase="'Settings'"></app-settings>
      <app-offers *ngSwitchCase="'Offers'"></app-offers>
      <app-comments *ngSwitchCase="'Comments'"></app-comments>
      <app-sidebar-questions *ngSwitchCase="'Questions'"></app-sidebar-questions>
      <app-polls *ngSwitchCase="'Polls'"></app-polls>
      <app-sidebar-chat *ngSwitchCase="'Chat'" [referenceId]="eventId"></app-sidebar-chat>
    </div>
  </div>
</div>

<ng-template #separatorTemplate>
  <li class="separator">
    <hr>
  </li>
</ng-template>
