<div *ngIf="this.videos && this.videos.length" class="share-video-container border">
  <div class="share-video-header">
    <div class="row">
      <div class="col">
        <p class="m-0 p-0 text-muted">
          {{ 'Share Videos' | localize | uppercase }}
        </p>
      </div>
      <div class="col-auto">
        <a href="#!toggle-share-video" (click)="$event.preventDefault(); this.showShareVideos = !showShareVideos">
          <i *ngIf="showShareVideos" class="fe fe-chevron-down"></i>
          <i *ngIf="!showShareVideos" class="fe fe-chevron-up"></i>
        </a>
      </div>
    </div>
  </div>
  <div *ngIf="showShareVideos" class="share-video-body">
    <ng-container *ngIf="!selectedVideo else selectedVideoTemplate">
      <div *ngFor="let video of videos" class="share-video-item border">
        <video [src]="videoThumbnails[video.name]" class="bg-light"></video>
        <div class="share-video-details">
          <div class="row">
            <div class="col">
              <h4 class="mb-1">{{ video.name }}</h4>
              <p class="small p-0 m-0 text-muted">
                {{ formatBytes(video.size) }}
                {{ getFileExtension(video.name) | uppercase }}
              </p>
              <p class="small p-0 m-0 text-muted">
                {{ 'UploadedOn' | localize }}
                {{ video.lastModified | date: 'MMM dd, yyyy' }}</p>
            </div>
            <div class="col-auto flex-y-center">
              <div class="btn btn-sm btn-outline-primary" (click)="onSelectClick(video)">
                {{ 'Select' | localize }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #selectedVideoTemplate>
      <div class="share-video-item border">
        <video [src]="videoThumbnails[selectedVideo.name]" class="bg-light"></video>
        <div class="share-video-details">
          <div class="row">
            <div class="col">
              <h4 class="mb-1">{{ selectedVideo.name }}</h4>
              <p class="small p-0 m-0 text-muted">
                {{ formatBytes(selectedVideo.size) }}
                {{ getFileExtension(selectedVideo.name) | uppercase }}
              </p>
              <p class="small p-0 m-0 text-muted">
                {{ 'UploadedOn' | localize }}
                {{ selectedVideo.lastModified | date: 'MMM dd, yyyy' }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <div class="share-video-controls d-flex flex-column">
      <ng-container *ngIf="!selectedVideo else selectedVideoControlsTemplate">
        <button class="btn btn-sm btn-primary" (click)="uploadFiles()">
          {{ 'AddVideo' | localize }}
        </button>
      </ng-container>
      <ng-template #selectedVideoControlsTemplate>
        <ng-container *ngIf="!sharingVideo else sharingVideoControlsTemplate">
          <button class="btn btn-sm btn-white" (click)="onCancelClick()">
            {{ 'Cancel' | localize }}
          </button>
          <button class="btn btn-sm btn-primary mt-2" (click)="onShareClick()">
            {{ 'ShareVideo' | localize }}
          </button>
        </ng-container>
        <ng-template #sharingVideoControlsTemplate>
          <button [popover]="popTemplate" class="btn btn-sm btn-white" #pop="bs-popover">
            {{ 'UnshareVideo' | localize }}
          </button>
          <ng-template #popTemplate>
            <h5 class="text-body">
              {{ 'UnshareVideoWarningMessage' | localize }}
            </h5>
            <hr>
            <div class="row">
              <div class="col-6 text-center">
                <button class="btn btn-sm btn-danger" (click)="onUnshareClick()">
                  {{ 'StopVideo' | localize }}
                </button>
              </div>
              <div class="col-6 text-center">
                <button class="btn btn-sm btn-success" (click)="pop.hide()">
                  {{ 'KeepPlaying' | localize }}
                </button>
              </div>
            </div>
          </ng-template>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>

<input #fileInput class="d-none" type="file" (change)="onFileChange()" [multiple]="true"
  accept="video/mp4,video/x-m4v,video/*" />
