<form class="horizontal" autocomplete="off" #createProfileEducation="ngForm" (ngSubmit)="onFormSubmit()">
    <div class="card">
        <div class="card-header">
            <h4 class="card-header-title">
                {{ 'Education' | localize }}
            </h4>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="">{{ 'Country' | localize }}</label>
                    <select class="form-control">
                        <option></option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="">{{ 'UniversityCollege' | localize }}</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="">{{ 'Degree' | localize }}</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="">{{ 'StartYear' | localize }}</label>
                    <select class="form-control">
                        <option></option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="">{{ 'EndYear' | localize }}</label>
                    <select class="form-control">
                        <option></option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="">{{ 'Level' | localize }}</label>
                    <select class="form-control">
                        <option></option>
                    </select>
                </div>
                <div class="form-group col-md-1" class="add-column-button">
                    <button type="submit" class="btn btn-primary">
                        {{ 'Add' | localize }}
                      </button>
                </div>
            </div>
            <div class="form-group">
                <table class="table table-sm table-nowrap table-hover card-table">
                    <thead>
                        <tr>
                            <th scope="col">{{ 'UniversityCollege' | localize }}</th>
                            <th scope="col">{{ 'Degree' | localize }}</th>
                            <th scope="col">{{ 'StartYear' | localize }}</th>
                            <th scope="col">{{ 'EndYear' | localize }}</th>
                            <th scope="col">{{ 'Level' | localize }}</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>University of Life</td>
                            <td>Maths</td>
                            <td>2002</td>
                            <td>2005</td>
                            <td>Masters</td>
                            <td class="table-action">
                                <div dropdown class="dropdown" container="body">
                                  <a dropdownToggle class="dropdown-ellipses dropdown-toggle" href="javascript:;" role="button">
                                    <i class="fe fe-more-vertical"></i>
                                  </a>
                                  <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                                    <a href="#" class="dropdown-item">
                                      <i class="fe fe-edit"></i> {{ 'Edit' | localize }}</a>
                                    <a href="#" class="dropdown-item">
                                      <i class="fe fe-trash"></i> {{ 'Delete' | localize }}</a>
                                  </div>
                                </div>
                              </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer justify-content-between ml-auto">
            <button type="submit" class="btn btn-primary">
              {{ 'Save & Next' | localize }}
            </button>
        </div>
    </div>
</form>