<div class="card">
  <div class="card-header">
    <h4 class="card-header-title">
      {{ 'Education' | localize }}
    </h4>
    <a href="#" class="btn btn-sm btn-primary" (click)="$event.preventDefault(); onCreateClick();">{{ 'Create' | localize }}</a>
  </div>
  <div class="table-responsive" [busy]="isTableLoading">
    <table class="table table-sm table-hover table-nowrap card-table" [busy]="isTableLoading">
      <thead table-header-sort [headers]="headers" (sortChange)="sortChange($event)"></thead>
      <tbody class="list font-size-base">
        <tr
          *ngFor="let userEducation of userEducations | paginate : { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">
          <td>{{ userEducation.universityOrCollege }}</td>
          <td>{{ userEducation.degree }}</td>
          <td>{{ userEducation.startYear }}</td>
          <td>{{ userEducation.endYear }}</td>
          <td>{{ userEducation.levelText }}</td>
          <td class="table-action">
            <div dropdown class="dropdown" container="body">
              <a dropdownToggle class="dropdown-ellipses dropdown-toggle" href="javascript:;" role="button">
                <i class="fe fe-more-vertical"></i>
              </a>
              <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                <a href="javascript:;" class="dropdown-item" (click)="onEditClick(userEducation.id)"
                  *ngIf="permission.isGranted('Pages.Profile.Educations.Update')">
                  <i class="fe fe-edit"></i> {{ 'Edit' | localize }}</a>
                <a href="javascript:;" class="dropdown-item" (click)="onDeleteClick(userEducation.id)"
                  *ngIf="permission.isGranted('Pages.Profile.Educations.Delete')">
                  <i class="fe fe-trash"></i> {{ 'Delete' | localize }}</a>
              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf="userEducations.length === 0">
          <td colspan="10">
            <p class="text-center m-0 p-0">{{ 'NoEducationAvailable' | localize }}</p>
          </td>
        </tr>
      </tbody>
    </table>
    <abp-pagination-controls id="server" (pageChange)="getDataPage($event)">
    </abp-pagination-controls>
  </div>
</div>