<div class="card">

  <div class="card-header">
    <h4 class="card-header-title">{{ 'PhotoId' | localize}}</h4>
  </div>

  <div class="card-body" [loader]="isLoading">
    <app-document-uploader [maxFiles]="1" [previewImages]="true" [largeImagePreview]="true" [cropImages]="true"
      [allowedExtensions]="photIdVerificationExtensions" [hasRemoveButton]="!isReadOnly">
    </app-document-uploader>
  </div>
</div>
<div class="d-flex justify-content-between">
  <button (click)="onBackClick()" type="button" class="btn btn-white">
    {{ 'Back' | localize }}
  </button>
  <button *ngIf="!isReadOnly" (click)="onNextClick()" [disabled]="(!photoId && !defaultFile) || isLoading" type="submit"
    class="btn btn-primary">
    {{ 'Next' | localize }}
  </button>
  <button *ngIf="isReadOnly" type="button" class="btn btn-primary" (click)="onNavigateNextScreen()">
    {{ 'Next' | localize }}
  </button>
</div>
