<div class="container-fluid all-topics d-flex flex-column flex-nowrap p-0 pb-5">
    <div class="all-topics-content flex-grow-1">
        <app-carousel
            [isLoading]="isLoadingParentTopics"
            [items]="parentTopics"
            [templateRef]="topicClusterRef1"
            [metadata]="{ isParent: true }"
            [itemWidth]="257"
            [itemSpacing]="30"
            [isAutoFit]="true"
        ></app-carousel>
    </div>

    <div class="all-topics-content flex-grow-1">
        <div class="row align-items-center" [style.marginTop.px]="40" [style.marginBottom.px]="25">
            <div class="col d-flex flex-wrap align-items-center justify-content-between">
              <span class="all-topics-content-header">For you</span>
              <span class="all-topics-content-view-all cursor-pointer" [routerLink]="['events']">View All</span>
            </div>
        </div>
        <app-carousel
            [isLoading]="isLoadingForYouTopics"
            [items]="forYouTopics"
            [templateRef]="topicClusterRef2"
            [metadata]="{ isParent: false }"
            [itemWidth]="240"
            [itemSpacing]="20"
            [isAutoFit]="true"
        ></app-carousel>
    </div>

    <div *ngFor="let t of tailoredTopics | keyvalue" class="all-topics-content flex-grow-1">
        <div class="row align-items-center" [style.marginTop.px]="40" [style.marginBottom.px]="25">
            <div class="col d-flex flex-wrap align-items-center justify-content-between">
              <span class="all-topics-content-header">{{ t.value.name }}</span>
              <span class="all-topics-content-view-all cursor-pointer" (click)="handleViewAllTopicsClick(t.key)">View All</span>
            </div>
        </div>
        <app-carousel
            [isLoading]="isLoadingTailoredTopics[t.key]"
            [items]="t.value.items"
            [templateRef]="topicClusterRef1"
            [metadata]="{ isParent: false, group: t.key }"
            [itemWidth]="240"
            [itemSpacing]="20"
            [isAutoFit]="true"
        ></app-carousel>
    </div>
</div>

<ng-template #topicClusterRef1 let-items="item" let-isLoading="isLoading" let-metadata="metadata">
    <app-card-cluster
        [data]="items"
        [gap]="20"
        [isParent]="metadata.isParent"
        [isLoading]="isLoading"
        [topicOptions]="{ showFollow: true }"
        (onTopicClick)="handleTopicClick($event)"
        (onTopicFollow)="handleTopicFollowClick(metadata.group, $event)"
    ></app-card-cluster>
</ng-template>

<ng-template #topicClusterRef2 let-items="item" let-isLoading="isLoading" let-metadata="metadata">
    <app-card-cluster
        [data]="items"
        [gap]="20"
        [isParent]="metadata.isParent"
        [isLoading]="isLoading"
        [topicOptions]="{ showFollow: true, showRemove: true }"
        (onTopicFollow)="handleTopicFollowClick(metadata.group, $event)"
        (onTopicRemove)="handleTopicRemoveClick(metadata.group, $event)"
    ></app-card-cluster>
</ng-template>
