<form [loader]="isLoading" autocomplete="off" #createEditForm="ngForm" (ngSubmit)="onFormSubmit()" class="pb-5">

  <ng-container *ngIf="!isOnboarding && !isLoading && !model.stripeUserId && isTutor">

    <div class="row justify-content-between align-items-center">
      <div class="col-12">
        <div class="alert alert-warning alert-dismissible mb-0 mt-3" role="alert">
          <div class="row align-items-center">
            <div class="col-auto">
              <i class="fe fe-alert-triangle display-5"></i>
            </div>
            <div class="col">
              <h3 class="mb-2">{{ 'StripeConnectionRequired' | localize }}!</h3>
              {{ 'StripeConnectionMessage' | localize }}
            </div>
            <div class="col-auto mr-n5">
              <button (click)="onConnectStripeClick()" class="btn btn-primary btn-sm" type="button">
                {{ 'ConnectStripe' | localize }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="my-5">

  </ng-container>


  <div class="form-row">

    <div class="form-group col-md-6 required">
      <label class="col-form-label" for="name">{{ 'FirstName' | localize}}</label>
      <input [(ngModel)]="model.name" #nameModel="ngModel" #nameEl class="form-control" type="text" id="name"
        name="name" required />
      <abp-validation-summary [control]="nameModel" [controlEl]="nameEl">
      </abp-validation-summary>
    </div>

    <div class="form-group col-md-6 required">
      <label class="col-form-label" for="surname">{{ 'LastName' | localize}}</label>
      <input [(ngModel)]="model.surname" #surnameModel="ngModel" #surnameEl class="form-control" type="text"
        id="surname" name="surname" required />
      <abp-validation-summary [control]="surnameModel" [controlEl]="surnameEl">
      </abp-validation-summary>
    </div>

  </div>

  <div class="form-row">

    <div class="form-group col-md-6 required">
      <label class="col-form-label" for="dateOfBirth">{{ 'DateOfBirth' | localize}}</label>
      <div class="input-group input-group-merge" (click)="dp.show()">
        <input [(ngModel)]="dateOfBirth" #dateOfBirthModel="ngModel" #dateOfBirthEl
          class="form-control form-control-appended" type="text" id="dateOfBirth" name="dateOfBirth" required
          #dp="bsDatepicker" bsDatepicker [bsConfig]="datePickerConfig" />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-calendar"></span>
          </div>
        </div>
      </div>
      <abp-validation-summary *ngIf="isTutor" [control]="dateOfBirthModel" [controlEl]="dateOfBirthEl">
      </abp-validation-summary>
    </div>

    <div class="form-group col-md-6 required">
      <label class="col-form-label" for="phoneNumber">{{ 'PhoneNumber' | localize}}</label>
      <div>
        <ngx-intl-tel-input [(ngModel)]="model.phoneNumber" [enableAutoCountrySelect]="false" [searchCountryFlag]="true"
          [phoneValidation]="true" [enablePlaceholder]="true" [selectFirstCountry]="false"
          [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
          [selectedCountryISO]="CountryISO.UnitedKingdom" [maxLength]="15" [separateDialCode]="true"
          [numberFormat]="PhoneNumberFormat.International" id="PhoneNumber" name="PhoneNumber"
          #phoneNumberModel="ngModel"
          [class.is-invalid]="phoneNumberModel.invalid && phoneNumberModel.touched && phoneNumberModel.errors.required"
          required>
        </ngx-intl-tel-input>
      </div>
      <ng-container *ngIf="phoneNumberModel.invalid && phoneNumberModel.touched">
        <span *ngIf="!!phoneNumberModel.errors.required" class="error invalid-feedback"
          [class.d-block]="phoneNumberModel.errors.required">
          {{ 'ThisFieldIsRequired' | localize }}
        </span>
      </ng-container>
    </div>

  </div>

  <div class="form-group required">
    <label class="col-form-label" for="emailAddress">{{ 'EmailAddress' | localize}}</label>
    <input [(ngModel)]="model.emailAddress" #emailAddressModel="ngModel" #emailAddressEl class="form-control"
      type="email" id="emailAddress" name="emailAddress" required />
    <abp-validation-summary [control]="emailAddressModel" [controlEl]="emailAddressEl">
    </abp-validation-summary>
  </div>

  <div class="form-group required">
    <label class="col-form-label" for="TimeZone">{{ 'TimeZone' | localize }}</label>
    <div class="form-select-wrapper" [class.is-invalid]="!timeZoneModel.valid && timeZoneModel.touched">
      <select [(ngModel)]="model.timeZoneId" (change)="onTimeZoneChange()" id="TimeZone" name="TimeZone" type="text" class="form-control"
        #timeZoneModel="ngModel" #timeZoneEl required>
        <option [ngValue]="null">{{ 'SelectTimeZone' | localize }}</option>
        <option *ngFor="let timezone of timezones" [value]="timezone.id">{{ timezone.name }}</option>
      </select>
    </div>

    <abp-validation-summary [control]="timeZoneModel" [controlEl]="timeZoneEl"> </abp-validation-summary>
  </div>

  <div class="form-group required">
    <label class="col-form-label" for="country">{{ 'Country' | localize}}</label>
    <div class="form-select-wrapper" [class.is-invalid]="!countryModel.valid && countryModel.touched">
      <select [(ngModel)]="model.country" #countryModel="ngModel" #countryEl class="form-control" id="country"
        name="country" required (change)="onCountryChange()">
        <option [ngValue]="null">{{ 'SelectCountry' | localize }}</option>
        <option *ngFor="let country of countries" [value]="country.name">{{ country.name }}</option>
      </select>
    </div>
    <abp-validation-summary *ngIf="isTutor" [control]="countryModel" [controlEl]="countryEl">
    </abp-validation-summary>
  </div>

  <ng-container *ngIf="model.country">

    <div class="form-group" [class.required]="isTutor" *ngIf="model.country !== 'United Kingdom'">
      <label class="col-form-label" for="AddressLine1">{{ 'AddressLine1' | localize }}</label>
      <input [(ngModel)]="model.addressLine1" id="AddressLine1" name="AddressLine1" type="text" class="form-control"
        #addressLine1Model="ngModel" #addressLine1El />
      <abp-validation-summary *ngIf="isTutor" [control]="addressLine1Model" [controlEl]="addressLine1El">
      </abp-validation-summary>
    </div>

    <div class="form-group" [class.required]="isTutor" *ngIf="model.country === 'United Kingdom'">
      <label class="col-form-label" for="AddressLine1">{{ 'AddressLine1' | localize }}</label>
      <div class="input-group input-group-merge">
        <input [(ngModel)]="model.addressLine1" id="AddressLine1" name="AddressLine1" type="text"
          class="form-control form-control-appended" #addressLine1Model="ngModel" #addressLine1El
          typeaheadOptionField="address" [typeahead]="locationsDataSource" [typeaheadAsync]="true"
          [typeaheadMinLength]="3" (typeaheadOnSelect)="onAddressSelected($event)" />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-search"></span>
          </div>
        </div>
      </div>
      <abp-validation-summary *ngIf="isTutor" [control]="addressLine1Model" [controlEl]="addressLine1El">
      </abp-validation-summary>
    </div>

    <div class="form-group">
      <label class="col-form-label" for="AddressLine2">{{ 'AddressLine2' | localize }}</label>
      <input [(ngModel)]="model.addressLine2" id="AddressLine2" name="AddressLine2" type="text" class="form-control" />
    </div>

    <div class="form-group" [class.required]="isTutor">
      <label class="col-form-label" for="City">{{ 'City' | localize }}</label>
      <input [(ngModel)]="model.city" id="City" name="City" type="text" class="form-control" #cityModel="ngModel"
        #cityEl />
      <abp-validation-summary *ngIf="isTutor" [control]="cityModel" [controlEl]="cityEl"> </abp-validation-summary>
    </div>

    <div class="form-row">

      <div class="form-group col-md-6" [class.required]="isFullAddressRequired">
        <label class="col-form-label" for="ZipOrPostCode">{{ 'ZipOrPostCode' | localize }}</label>
        <input [(ngModel)]="model.zipOrPostCode" id="ZipOrPostCode" name="ZipOrPostCode" type="text"
          class="form-control" #zipOrPostCodeModel="ngModel" #zipOrPostCodeEl />
        <abp-validation-summary *ngIf="isFullAddressRequired" [control]="zipOrPostCodeModel"
          [controlEl]="zipOrPostCodeEl"></abp-validation-summary>
      </div>

      <div class="form-group col-md-6" [class.required]="isFullAddressRequired && isTutor">
        <label class="col-form-label" for="StateOrProvince">{{ 'StateOrProvince' | localize }}</label>
        <input [(ngModel)]="model.stateOrProvince" id="StateOrProvince" name="StateOrProvince" type="text"
          class="form-control" #stateOrProvinceModel="ngModel" #stateOrProvinceEl />
        <abp-validation-summary *ngIf="isFullAddressRequired && isTutor" [control]="stateOrProvinceModel"
          [controlEl]="stateOrProvinceEl">
        </abp-validation-summary>
      </div>

    </div>

  </ng-container>

  <hr class="my-5">

  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label class="mb-1">
          {{ 'StudentProfile' | localize }}
        </label>
        <small class="form-text text-muted">
          {{ 'PublicProfileMessage' | localize }}
        </small>
        <div class="row">
          <div class="col-auto">
            <div class="custom-control custom-switch">
              <input [(ngModel)]="model.isPublic" id="isPublic" name="isPublic" type="checkbox"
                class="custom-control-input">
              <label class="custom-control-label" for="isPublic"></label>
            </div>
          </div>
          <div class="col ml-n2">
            <small class="text-muted">
              {{ 'YouAreCurrentlyVisible' | localize }}
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label class="mb-1">
          {{ 'TutorProfile' | localize }}
        </label>
        <small class="form-text text-muted">
          {{ 'TutorProfileMessage' | localize }}
        </small>
        <div class="row">
          <div class="col-auto">
            <div class="custom-control custom-switch">
              <input [(ngModel)]="isTutorProfile" id="isTutorProfile" name="isTutorProfile" type="checkbox"
                class="custom-control-input" disabled>
              <label class="custom-control-label" for="isTutorProfile"></label>
            </div>
          </div>
          <div class="col ml-n2">
            <small class="text-muted">
              This options is currently not available
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="my-5">

  <button class="btn btn-primary" [disabled]="!createEditForm.form.valid || isLoading">
    {{ 'SaveChanges' | localize }}
  </button>

</form>
