<div [@routerTransition]>
    <div class="header">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-end">
                    <div class="col mb-md-0 mb-3">
                        <h6 class="header-pretitle">
                            {{ 'Dashboard' | localize }}
                        </h6>
                        <h1 class="header-title">
                            {{ greetings }}, {{ user.name }}
                        </h1>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col">
                        <ul class="nav nav-tabs nav-overflow header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview"
                                    role="tab" aria-controls="overview" aria-selected="true">{{ 'Home' | localize }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="projects-tab" data-toggle="tab" href="#projects" role="tab"
                                    aria-controls="projects" aria-selected="false">{{ 'Courses' | localize }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>