<div class="row">
  <div class="col-12 col-lg-6 col-xl">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="text-uppercase text-muted mb-2">{{ 'TotalHours' | localize }}</h6>
            <span class="h2 mb-0">12</span>
          </div>
          <div class="col-auto">
            <span class="h2 fe fe-clock text-muted mb-0"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6 col-xl">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="text-uppercase text-muted mb-2">{{ 'TotalProjects' | localize }}</h6>
            <span class="h2 mb-0">2</span>
          </div>
          <div class="col-auto">
            <span class="h2 fe fe-briefcase text-muted mb-0"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
