<form class="form-horizontal" autocomplete="off" #form="ngForm" (ngSubmit)="onFormSubmit()">
  <div class="modal-card card">
    <abp-modal-header [title]="(!model.id ? 'AddBlockOut' : 'EditBlockOut') | localize" (onCloseClick)="onCloseClick()">
    </abp-modal-header>
    <div class="card-body">

      <div class="form-group required">
        <label class="col-form-label" for="title">{{ 'Title' | localize}}</label>
        <input [(ngModel)]="model.title" #titleModel="ngModel" #titleEl class="form-control" type="text" id="title"
          name="title" required />
        <abp-validation-summary [control]="titleModel" [controlEl]="titleEl">
        </abp-validation-summary>
      </div>

      <div class="form-row">

        <div class="form-group col-6 required">
          <label class="col-form-label" for="startTime">{{ 'StartTime' | localize}}</label>
          <div class="input-group input-group-merge" (click)="startTimeDp.show()">
            <input [(ngModel)]="startTime" #startTimeDateModel="ngModel" #startTimeDate
              class="form-control form-control-appended" type="text" id="startTimeDate" name="startTimeDate" required
              #startTimeDp="bsDatepicker" bsDatepicker [bsConfig]="datePickerConfig" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-calendar"></span>
              </div>
            </div>
          </div>
          <timepicker [(ngModel)]="startTime" id="startTime" name="startTime" #startTimeModel="ngModel" #startTimeEl
            [minuteStep]="1" (ngModelChange)="onStartTimeChange()" required>
          </timepicker>
        </div>

        <div class="form-group col-6 required">
          <label class="col-form-label" for="endTime">{{ 'EndTime' | localize}}</label>
          <div class="input-group input-group-merge" (click)="endTimeDp.show()">
            <input [(ngModel)]="endTime" #endTimeDateModel="ngModel" #endTimeDate
              class="form-control form-control-appended" type="text" id="endTimeDate" name="endTimeDate" required
              #endTimeDp="bsDatepicker" bsDatepicker [bsConfig]="datePickerConfig" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-calendar"></span>
              </div>
            </div>
          </div>
          <timepicker [(ngModel)]="endTime" id="endTime" name="endTime" #endTimeModel="ngModel" #endTimeEl
            [minuteStep]="1" (ngModelChange)="onEndTimeChange()" required>
          </timepicker>
        </div>

        <div class="form-group col-12 mb-2">
          <label class="col-form-label">{{ 'Duration' | localize}}: <b>{{ durationText }}</b></label>
        </div>

      </div>

      <div class="form-group required">
        <label class="col-form-label" for="recurrence">{{ 'Recurrence' | localize }}</label>
        <select class="custom-select" select2 [defaultValue]="model.recurrence"
          (select2ValueChange)="model.recurrence = $event" [(ngModel)]="model.recurrence" id="recurrence"
          name="recurrence" #recurrenceModel="ngModel" #recurrenceEl required>
          <option *ngFor="let relationship of CalendarEventRecurrence | enumToArray | keyvalue"
            [value]="relationship.key">
            {{ relationship.value | localize }}
          </option>
        </select>
        <abp-validation-summary [control]="recurrenceModel" [controlEl]="recurrenceEl">
        </abp-validation-summary>
      </div>

    </div>
    <abp-modal-footer [isLoading]="isLoading" [cancelDisabled]="isLoading"
      [saveDisabled]="!form.form.valid || duration <= 0 || isLoading" (onCancelClick)="onCloseClick()">
    </abp-modal-footer>
  </div>
</form>
