<div class="card custom-card-border custom-card-shadow">
    <app-shimmer [show]="isLoading$ | async" [shimmerType]="shimmerType.LandingLeftAbout"></app-shimmer>

    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <h4 class="card-header-title">{{ 'About the session' | localize }}</h4>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="card-body-difficulty d-flex align-items-center">
            <span class="d-flex align-items-center"><i class="fe fe-align-justify mr-2"></i>Beginner</span>
        </div>
        <div class="card-body-duration">
            <span class="d-flex align-items-center"><i class="fe fe-layers mr-2"></i>{{ modules }} modules · {{ lessons }} lessons</span>
        </div>
        <div class="ratings d-flex align-items-center gap-10">
            <app-star-rating-review [actualRating]="ratingPercentage"></app-star-rating-review>
            <div class="label">{{ ratingPercentage }}/5.0</div>
        </div>
        <div class="card-body-text">
            {{ description }}
        </div>
        <div class="card-body-tags d-flex gap-10">
            <span class="btn btn-light btn-sm">#Subatomic</span>
            <span class="btn btn-light btn-sm">#Molecular</span>
            <span class="btn btn-light btn-sm">#Chemistry</span>
            <span class="btn btn-light btn-sm">#Administration</span>
        </div>
    </div>
</div>
