<ng-container [ngSwitch]="isHost">
    <div *ngSwitchCase="true" class="d-flex flex-column h-100">
        <ul class="nav nav-tabs nav-tabs-sm px-3">
            <li class="nav-item">
                <a href="#" class="nav-link active" id="open-tab" data-toggle="tab" href="#open-container" role="tab"
                aria-controls="open-container" aria-selected="true">
                {{ 'Open' | localize }}
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" id="answered-tab" data-toggle="tab" href="#answered-container" role="tab"
                aria-controls="answered-container" aria-selected="true">
                {{ 'Answered' | localize }}
                </a>
            </li>
        </ul>

        <div class="tab-content flex-grow-1">
            <div class="tab-pane h-100 fade show active" id="open-container" role="tabpanel" aria-labelledby="open-tab">
                <app-questions
                    [referenceId]="referenceId"
                    [isSidebar]="false"
                    [answered]="false"
                    [hostId]="hostId"
                    [attendeeIds]="attendeeIds"
                    [customReactionActions]="customReactionActions"
                    [customActions]="customActions"
                ></app-questions>
            </div>
            <div class="tab-pane h-100 fade" id="answered-container" role="tabpanel" aria-labelledby="answered-tab">
                <app-questions
                    [referenceId]="referenceId"
                    [isSidebar]="false"
                    [answered]="true"
                    [hostId]="hostId"
                    [attendeeIds]="attendeeIds"
                    [customReactionActions]="customReactionActions"
                    [customActions]="customActions"
                ></app-questions>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="false" class="d-flex flex-column h-100">
        <ul class="nav nav-tabs nav-tabs-sm px-3">
            <li class="nav-item">
                <a href="#" class="nav-link active" id="all-tab" data-toggle="tab" href="#all-container" role="tab"
                aria-controls="all-container" aria-selected="true">
                {{ 'All' | localize }}
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" id="asked-tab" data-toggle="tab" href="#asked-container" role="tab"
                aria-controls="asked-container" aria-selected="true">
                {{ 'Asked' | localize }}
                </a>
            </li>
        </ul>

        <div class="tab-content flex-grow-1">
            <div class="tab-pane h-100 fade show active" id="all-container" role="tabpanel" aria-labelledby="all-tab">
                <app-questions
                    [referenceId]="referenceId"
                    [isSidebar]="false"
                    [hostId]="hostId"
                    [attendeeIds]="attendeeIds"
                    [customReactionActions]="customReactionActions"
                    [customActions]="customActions"
                ></app-questions>
            </div>
            <div class="tab-pane h-100 fade" id="asked-container" role="tabpanel" aria-labelledby="asked-tab">
                <app-questions
                    [referenceId]="referenceId"
                    [isSidebar]="false"
                    [creatorId]="userId"
                    [hostId]="hostId"
                    [attendeeIds]="attendeeIds"
                    [customReactionActions]="customReactionActions"
                    [customActions]="customActions"
                ></app-questions>
            </div>
        </div>
    </div>
</ng-container>
