<div class="card" [busy]="isLoading">
  <div class="card-header">
    <h4 class="card-header-title">
      {{ 'AreasOfStudy' | localize }}
    </h4>
    <a
      *ngIf="!isViewOnly && permission.isGranted('Pages.Profile.AreasOfStudy.KnowledgeBase.Create')"
      href="#"
      class="btn btn-sm btn-primary"
      (click)="$event.preventDefault(); onAddAreaOfStudyClick()"
    >
      {{ 'Add' | localize }}
    </a>
  </div>
  <div class="card-body">
    <div
      *ngFor="let userDisciplineTaxonomy of userDisciplineTaxonomies"
      class="alert alert-info alert-dismissible ac-alert"
      role="alert"
      [class.pr-2]="isViewOnly"
    >
      <ng-container *ngIf="userDisciplineTaxonomy.levelId !== 0">
        <span
          class="discipline-taxonomy-name"
          data-toggle="tooltip"
          data-toggle="tooltip"
          [title]="'StudyLevel' + userDisciplineTaxonomy.levelId | localize"
          (click)="$event.preventDefault(); onSelectStudyLevels(userDisciplineTaxonomy.disciplineTaxonomy.id)"
        >
          {{ userDisciplineTaxonomy.disciplineTaxonomy.name }}
          <span>({{ 'StudyLevelValue' + userDisciplineTaxonomy.levelId | localize }})</span>
        </span>
      </ng-container>

      <ng-container *ngIf="userDisciplineTaxonomy.levelId === 0">
        <span
          (click)="$event.preventDefault(); onSelectStudyLevels(userDisciplineTaxonomy.disciplineTaxonomy.id)"
          class="discipline-taxonomy-name"
        >
          {{ userDisciplineTaxonomy.disciplineTaxonomy.name }}
        </span>
      </ng-container>
      <button
        *ngIf="!isViewOnly && permission.isGranted('Pages.Profile.AreasOfStudy.KnowledgeBase.Delete')"
        (click)="onRemoveDisciplineTaxonomyClick(userDisciplineTaxonomy.id)"
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div *ngIf="userDisciplineTaxonomies.length === 0">
      <h4 class="text-center text-muted">{{ 'NoAreaOfStudy' | localize }}</h4>
    </div>
  </div>
</div>
