<div class="card" [busy]="isLoading">
  <div class="card-header">
    <h4 class="card-header-title">
      {{ 'AreasOfStudy' | localize }}
    </h4>
    <a
      *ngIf="!isViewOnly && permission.isGranted('Pages.Profile.AreasOfStudy.KnowledgeBase.Create')"
      href="#"
      class="btn btn-sm btn-primary"
      (click)="$event.preventDefault(); onAddAreaOfStudyClick()"
    >
      {{ 'Add' | localize }}
    </a>
  </div>
  <div class="card-body">
    <div
      *ngFor="let userDisciplineTaxonomy of userDisciplineTaxonomies"
      class="alert alert-info alert-dismissible ac-alert"
      role="alert"
      [class.pr-2]="isViewOnly"
    >
      {{ userDisciplineTaxonomy.disciplineTaxonomy.name }}
      <button
        *ngIf="!isViewOnly && permission.isGranted('Pages.Profile.AreasOfStudy.KnowledgeBase.Delete')"
        (click)="onRemoveDisciplineTaxonomyClick(userDisciplineTaxonomy.id)"
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div *ngIf="userDisciplineTaxonomies.length === 0">
      <h4 class="text-center text-muted">{{ 'NoAreaOfStudy' | localize }}</h4>
    </div>
  </div>
</div>
