<div class="card" [busy]="isLoading">
  <div class="card-header">
    <h4 class="card-header-title">
      {{ 'KnowledgeBase' | localize }}
    </h4>
    <a
      *ngIf="permission.isGranted('Pages.Profile.AreasOfStudy.KnowledgeBase.Create')"
      href="#"
      class="btn btn-sm btn-primary"
      (click)="$event.preventDefault(); onAddAreaOfStudyClick()"
    >
      {{ 'AddAreaOfStudy' | localize }}
    </a>
  </div>
  <div class="card-header" *ngIf="permission.isGranted('Pages.Profile.AreasOfStudy.KnowledgeBase.Create')">
    <div class="row align-items-center">
      <div class="col">
        <form>
          <div class="input-group input-group-flush">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fe fe-search"></i>
              </span>
            </div>
            <input
              class="list-search form-control"
              type="search"
              placeholder="{{ 'SearchTaxonomy' | localize }}"
              [(ngModel)]="disciplineTaxonomyName"
              id="DisciplineTaxonomy_Name"
              name="DisciplineTaxonomy_Name"
              typeaheadOptionField="name"
              [typeahead]="disciplineTaxonomiesDataSource"
              [typeaheadAsync]="true"
              [typeaheadMinLength]="0"
              (typeaheadOnSelect)="onTaxonomySelect($event)"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div *ngFor="let userDisciplineTaxonomy of userDisciplineTaxonomies" class="alert alert-info alert-dismissible discipline" role="alert">
      {{ userDisciplineTaxonomy.disciplineTaxonomy.name }}
      <button
        *ngIf="permission.isGranted('Pages.Profile.AreasOfStudy.KnowledgeBase.Delete')"
        (click)="onRemoveDisciplineTaxonomyClick(userDisciplineTaxonomy.id)"
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div *ngIf="userDisciplineTaxonomies.length === 0">
      <h4 class="text-center text-muted">{{ 'NoAreaOfStudy' | localize }}</h4>
    </div>
  </div>
</div>
