<div class="attachment position-relative">

    <!-- OVERLAY ELEMENTS [START] -->
    <div
        *ngIf="canRemove"
        class="attachment-remove d-flex justify-content-center align-items-center cursor-pointer"
        (click)="removeAttachment()"
    >
        <span class="fe fe-x"></span>
    </div>

    <div
        *ngIf="isVideoAttachment"
        class="attachment-play d-flex justify-content-center align-items-center cursor-pointer"
        (click)="togglePlayVideo($event)"
    >
        <span *ngIf="isVideoPlaying" class="fas fa-pause"></span>
        <span *ngIf="!isVideoPlaying" class="fas fa-play"></span>
    </div>
    <!-- OVERLAY ELEMENTS [END] -->

    <div
        *ngIf="isImageAttachment && sanitizedAttachmentUrl"
        class="attachment-image"
    >
        <img [src]="sanitizedAttachmentUrl" />
    </div>

    <div
        *ngIf="isVideoAttachment && sanitizedAttachmentUrl"
        class="attachment-video d-flex flex-wrap justify-content-center align-content-center align-items-center cursor-pointer"
        (click)="togglePlayVideo($event)"
    >
        <video #videoAttachment [src]="sanitizedAttachmentUrl" class="bg-light" [controls]="isVideoPlaying" loop playsinline></video>
    </div>

    <div
        *ngIf="isShowAttachmentInfo"
        class="attachment-info d-flex flex-row"
        [ngClass]="{
            'video': isVideoAttachment,
            'file border-0 gap-20': !isImageAttachment && !isVideoAttachment
        }"
    >
        <div class="attachment-info-file d-flex justify-content-center align-items-center">
            <div class="d-flex justify-content-center align-items-center"><span class="fe fe-folder"></span></div>
        </div>
        <div class="attachment-info-id d-flex flex-column justify-content-center">
            <div class="attachment-info-id-name">{{ fileAttachmentName }}</div>
            <div class="attachment-info-id-details d-flex flex-row align-content-center gap-5">
                <div class="attachment-info-id-details-type d-flex align-items-center">{{ fileAttachmentType | uppercase }}</div>
                <div class="attachment-info-id-details-size">{{ fileAttachmentSize }}</div>
            </div>
        </div>

    </div>
</div>
