<div class="card">
  <div class="card-header">
    <h4 class="card-header-title">
      {{ 'Videos' | localize }}
    </h4>
  </div>

  <div class="table-responsive">
    <table class="table table-sm table-hover table-nowrap card-table" [loader]="isTableLoading">
      <thead table-header-sort [headers]="headers" (sortChange)="sortChange($event)"></thead>
      <tbody class="list font-size-base">
        <tr *ngFor="
            let video of (videos | paginate: { id: 'videos', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems })
          ">
          <td>
            <div class="row">
              <div class="col-auto d-flex justify-content-center align-items-center">
                <div *ngIf="!thumbnailUrls[video.id] else withThumbnailTemplate"
                  class="avatar avatar-4by3 d-flex justify-content-center align-items-center">
                  <i class="fe fe-video text-muted h1 p-0 m-0"></i>
                </div>
                <ng-template #withThumbnailTemplate>
                  <div class="avatar avatar-4by3">
                    <img [src]="getCourseImageUrl(thumbnailUrls[video.id])" alt="..." class="avatar-img rounded">
                  </div>
                </ng-template>
              </div>
              <div class="col d-flex flex-column justify-content-center">
                <a [routerLink]="['/app/videos/student-portal', video.id]">
                  <h4 class="mb-1">{{ video.name }}</h4>
                </a>
                <p *ngIf="video.description" class="text-muted mb-1 break-spaces">
                  {{ video.description }}
                </p>
                <div class="text-muted mb-1">
                  <div class="d-flex">
                    <div class="d-flex align-items-center">
                      <i class="fe fe-video mr-2"></i>
                      {{ (video.type === VideoType.SingleVideo ? 'Video' : 'VideoSeries') | localize }}
                    </div>
                    <ng-container *ngIf="video.type === VideoType.VideoSeries">
                      <div class="d-flex align-items-center mx-3">|</div>
                      <div class="d-flex align-items-center">
                        {{ video.children.length }}
                        {{ (video.children.length > 1 ?'Videos' : 'Video') | localize }}
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td class="table-action">
            <button [routerLink]="['/app/videos/student-portal', video.id]" type="button"
              class="btn btn-outline-success btn-sm btn-rounded-circle mr-1">
              <span class="fe fe-layout"></span>
            </button>
          </td>
        </tr>
        <tr *ngIf="videos.length === 0">
          <td colspan="10">
            <p class="text-center m-0 p-0">{{ 'NoRecordsFound' | localize }}</p>
          </td>
        </tr>
      </tbody>
    </table>
    <abp-pagination-controls id="videos" (pageChange)="getDataPage($event)"> </abp-pagination-controls>
  </div>
</div>
