<div class="container" [@routerTransition] [busy]="isLoading">
  <div class="row justify-content-center" *ngIf="model">
    <div class="col-12 col-md-5 col-xl-4 my-5">
      <h1 class="display-4 text-center mb-3">{{ 'CompleteRegistration' | localize }}</h1>
      <p class="text-muted text-center mb-5">
        {{ 'FreeAccessToOurDashboard' | localize }}
      </p>
      <form autocomplete="off" #registerForm="ngForm" (ngSubmit)="onFormSubmit()">

        <div class="form-group">
          <label class="col-form-label" for="FullName">{{ 'FullName' | localize }}</label>
          <input type="text" class="form-control" id="FullName" name="FullName" disabled readonly
            [value]="model.name + ' ' + model.surname">
        </div>

        <div class="form-group">
          <label class="col-form-label" for="EmailAddress">{{ 'EmailAddress' | localize }}</label>
          <div class="input-group input-group-merge">
            <input type="email" class="form-control form-control-appended" id="EmailAddress" name="EmailAddress"
              [value]="model.emailAddress" disabled readonly />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-form-label" for="Password">{{ 'Password' | localize }}</label>
          <app-password-toggle [(ngModel)]="model.password" [placeholder]="'Password' | localize" id="password"
            name="password" required maxlength="32" #passwordModel="ngModel" #passwordEl>
          </app-password-toggle>
          <abp-validation-summary [control]="passwordModel" [controlEl]="passwordEl.elementRef.nativeElement">
          </abp-validation-summary>
        </div>

        <div class="form-group">
          <label class="col-form-label" for="ConfirmPassword">{{ 'ConfirmPassword' | localize }}</label>
          <app-password-toggle [(ngModel)]="model.passwordConfirmation" [placeholder]="'ConfirmPassword' | localize"
            id="confirmPassword" name="confirmPassword" required maxlength="32" #passwordConfirmationModel="ngModel"
            #passwordConfirmationEl>
          </app-password-toggle>
          <abp-validation-summary [control]="passwordConfirmationModel"
            [controlEl]="passwordConfirmationEl.elementRef.nativeElement">
          </abp-validation-summary>
        </div>

        <button class="btn btn-lg btn-block btn-primary mb-3" [disabled]="saving || !registerForm.valid">{{ 'Register' |
          localize }}</button>

        <div class="text-center">
          <small class="text-muted text-center">
            {{ 'AlreadyHaveAnAccount' | localize }} <a href="#" [routerLink]="['/account/login']">{{ 'LogIn' | localize
              }}</a>.
          </small>
        </div>

      </form>
    </div>
  </div>
</div>
