.list-group {
  h4 {
    color  : inherit !important;
    margin : 0;
    padding: 0;
  }
}

.no-comments-container {
  min-height     : 250px;
  display        : flex;
  align-items    : center;
  justify-content: center;
}
