<div *ngIf="replyingTo" class="replying-to d-flex justify-content-between align-items-start gap-3">
    <div class="replying-to-info d-flex flex-column">
        <div class="replying-to-info-recipient">Replying to {{ replyingToRecipient | titlecase }}</div>
        <div class="replying-to-info-message">{{ replyingToMessage }}</div>
    </div>
    <div class="replying-to-info-action cursor-pointer d-flex justify-content-center align-items-center w-19-px h-19-px" (click)="handleRemoveReplyTo()">
        <img src="/assets/img/actions/close_2.svg" class="close w-100 h-100">
    </div>
</div>

<div *ngIf="!isUserBlocked && !isBlockedByRecipient" class="composer d-flex align-items-center align-content-around gap-15" [class.typing]="!!f?.value?.message || hasAttachments">
    <form class="composer-text flex-grow-1" #f="ngForm" (ngSubmit)="handleSendChatMessage(f)">
        <label class="sr-only">{{ 'WriteAMessage' | localize }}</label>
        <textarea #messageInput name="message" ngModel (keydown)="onMessageKeydown($event, f)" class="form-control form-control-flush"
                  data-toggle="autosize" rows="1" placeholder="{{ 'WriteAMessage' | localize }}" [maxlength]="500"></textarea>

        <div *ngIf="!!f?.value?.message || hasAttachments" class="composer-instruction text-muted">
            Press enter to <span class="text-primary">post</span>
        </div>
    </form>

    <div class="composer-actions d-flex gap-10 text-muted align-self-end">
        <a class="text-reset me-3" href="#" data-bs-toggle="tooltip" aria-label="Add photo"
           data-bs-original-title="Add photo" (click)="handleImageUploadBtnClick($event)">
            <i class="fe fe-camera"></i>
        </a>
        <a class="text-reset me-3" href="#" data-bs-toggle="tooltip" aria-label="Attach file"
           data-bs-original-title="Attach file" (click)="handleFileUploadBtnClick($event)">
            <i class="fe fe-paperclip"></i>
        </a>
        <a class="text-reset" href="#" data-bs-toggle="tooltip" aria-label="Add reactions"
           data-bs-original-title="Add reactions">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor"
                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-smile">
                <circle cx="12" cy="12" r="10"></circle>
                <path d="M8 14s1.5 2 4 2 4-2 4-2"></path>
                <line x1="9" y1="9" x2="9.01" y2="9"></line>
                <line x1="15" y1="9" x2="15.01" y2="9"></line>
            </svg>
        </a>
        <a class="text-reset" href="#" data-bs-toggle="tooltip" aria-label="Add service"
           data-bs-original-title="Add service" (click)="toggleServicePicker($event)" [class.disabled]="!isShowAddService">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor"
                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
        </a>
    </div>
</div>

<div *ngIf="isUserBlocked" class="composer-blocked d-flex align-items-center">
    <div *ngIf="!isPrivateChat" class="d-flex flex-column">
        <h4>You’ve blocked this user</h4>
        <p class="m-0 p-0 text-muted">You can’t receive or send messages to this user</p>
    </div>
    <div *ngIf="isPrivateChat" class="d-flex flex-column">
        <p class="m-0 p-0 text-muted">You’ve blocked this user</p>
    </div>
    <div class="ml-auto">
        <button class="btn btn-outline-primary" (click)="handleUnBlockUser()">Unblock</button>
    </div>
</div>

<div *ngIf="isBlockedByRecipient" class="composer-blocked d-flex align-items-center">
    <div class="d-flex flex-column">
        <h4>This user is unavailable</h4>
        <p class="m-0 p-0 text-muted">You can’t receive or send messages to this user</p>
    </div>
</div>

<app-attachment-preview
    *ngIf="fileAttachment"
    [file]="fileAttachment"
    height="75px"
    width="104px"
    [hasVideoControls]="false"
    (onRemove)="handleRemoveAttachment()"
></app-attachment-preview>

<div *ngIf="selectedService" class="d-flex gap-15" [style.max-width.px]="340">
    <app-service-preview-lite
        [service]="selectedService"
        [canRemove]="true"
        [isSidebar]="true"
        [composerPreview]="true"
        (onRemove)="handleRemoveSelectedService()"
    ></app-service-preview-lite>
</div>

<input #fileInput (change)="onFileChange($event)" [accept]="allowedExtensions" class="hidden position-absolute" type="file">
