<div [@routerTransition]>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-5 col-xl-4 my-5">
        <h1 class="display-4 text-center mb-3">
          {{ 'PasswordReset' | localize }}
        </h1>

        <p class="text-muted text-center mb-5">
          {{ 'PasswordResetEnterEmail' | localize }}
        </p>

        <form novalidate autocomplete="off" #resetPasswordForm="ngForm" (ngSubmit)="onResetPasswordSubmit()">
          <div class="form-group">
            <label>{{ 'NewPassword' | localize }}</label>

            <input
              type="password"
              class="form-control"
              name="newPassword"
              id="newPassword"
              [placeholder]="'NewPassword' | localize"
              [(ngModel)]="passwordReset.newPassword"
              #newPasswordModel="ngModel"
              #newPasswordEl
              [placeholder]="'NewPassword' | localize"
              required
            />
            <abp-validation-summary [control]="newPasswordModel" [controlEl]="newPasswordEl"></abp-validation-summary>
          </div>
          <div class="form-group">
            <label>{{ 'ConfirmNewPassword' | localize }}</label>

            <input
              type="password"
              class="form-control"
              [placeholder]="'Confirmation' | localize"
              name="newPasswordConfirmation"
              id="newPasswordConfirmation"
              [(ngModel)]="passwordReset.newPasswordConfirmation"
              #newPasswordConfirmationModel="ngModel"
              #newPasswordConfirmationEl
              required
            />
            <abp-validation-summary
              [control]="newPasswordConfirmationModel"
              [controlEl]="newPasswordConfirmationEl"
            ></abp-validation-summary>
          </div>

          <button type="submit" [disabled]="saving" class="btn btn-lg btn-block btn-primary mb-3">
            {{ 'ResetPassword' | localize }}
          </button>

          <div class="text-center">
            <small class="text-muted text-center"> Remember your password? <a [routerLink]="['/account/login']">Log in</a>. </small>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
