.card {
  margin: 0;
  background: #fff;
  border: 1px solid #E4EBF6;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.04);
  opacity: 1;
  transition: all 0.5s ease-in-out;
  font-size: 15px;

  &-body {
    padding: 14px;
  }

  &.closing {
    opacity: 0;
  }
}

.shared {
  &-post {
    &-popup {
      span {
        color: #95AAC9;
        margin: 0 24px 0 14px;
      }
      a {
        color: #2C7BE5;
      }
    }
  }
}
