<nav class="navbar navbar-expand-lg navbar-light" id="topnav">
  <div class="container">
    <!-- Toggler -->
    <button
      class="navbar-toggler mr-auto"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <a class="navbar-brand" href="/">
      <img src="/assets/themes/dashkit/img/logo.svg" alt="..." class="navbar-brand-img mr-3" />
    </a>

    <!-- User -->
    <div class="navbar-user">
      <!-- Dropdown -->
      <div class="dropdown">
        <!-- Toggle -->
        <a
          href="#"
          class="avatar avatar-sm avatar-online dropdown-toggle"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img *ngIf="user.profilePictureUrl" [src]="user.profilePictureUrl" class="avatar-img rounded-circle" alt="profile" />
          <img *ngIf="!user.profilePictureUrl" src="assets/img/anonymous.png" class="avatar-img rounded-circle" alt="avatar" />
        </a>

        <!-- Menu -->
        <div class="dropdown-menu dropdown-menu-right">
          <ng-container *ngIf="permission.isGranted('Pages.Profile')">
            <a href="#" [routerLink]="['/app/profile']" class="dropdown-item">Profile</a>
            <hr class="dropdown-divider" />
          </ng-container>
          <a href="javascript:;" class="dropdown-item" (click)="onLogoutClick()">Logout</a>
        </div>
      </div>
    </div>

    <!-- Collapse -->
    <div class="collapse navbar-collapse mr-lg-auto order-lg-first" id="navbar">
      <!-- Form -->
      <form class="mt-4 mb-3 d-md-none">
        <input type="search" class="form-control form-control-rounded" placeholder="Search" aria-label="Search" />
      </form>

      <topbar-menu [routerEvent]="routerEvent"></topbar-menu>

      <!-- Customize -->
      <button class="btn btn-sm btn-block btn-primary ml-3" (click)="onCustomizeClick()"><i class="fe fe-sliders"></i></button>
    </div>
  </div>
  <!-- / .container -->
</nav>
