<div class="offer-wrapper">
  <div class="offer-header d-flex align-items-center">
    <div class="offer-header-wrapper flex-grow-1">
      <h3 class="offer-title">Create upsells</h3>
      <div class="offer-description">
        Add offers to upsell additional products and services.
      </div>
    </div>
    <button class="btn btn-primary ml-auto offer-create" (click)="onAddOffer()">Add</button>
  </div>
  <div class="offer-content" *ngIf="offers else noOffers">

    <div class="card offer-item offer-course">
      <div class="card-body p-0">
        <div class="row align-items-center">
          <div class="col-auto offer-item-image">
            <a href="#">
              <img src="assets/img/service/article/course.png" alt="..." class="avatar-img rounded">
            </a>
          </div>
          <div class="col ms-n2 offer-item-details">
            <h4 class="offer-item-title">
              <a href="javascript: void(0);" class="line-clamp">Launch day is a SaaS website builder with a focus on quality</a>
            </h4>
            <p class="small text-muted mb-0">Course</p>
          </div>
          <div class="col-auto units">500 units</div>
          <div class="col-auto hours">24 hours</div>
          <div class="col-auto price">
            <p class="m-0 p-0 d-flex gap-4">
              <span class="price-original"><del>£5000</del></span>
              <span class="price-offer">£1000</span>
            </p>
          </div>
          <div class="col-auto">
            <div class="dropdown">
              <a href="javascript:void(0);" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fe fe-more-vertical dropdown-toggle-icon"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="javascript:void(0);" class="dropdown-item">
                  Action
                </a>
                <a href="javascript:void(0);" class="dropdown-item">
                  Another action
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card offer-item offer-article">
      <div class="card-body p-0">
        <div class="row align-items-center">
          <div class="col offer-item-details">
            <h4 class="offer-item-title">
              <a href="javascript: void(0);" class="line-clamp">Launch day is a SaaS website builder.</a>
            </h4>
            <p class="small text-muted mb-0">Article</p>
          </div>
          <div class="col-auto units">500 units</div>
          <div class="col-auto hours">24 hours</div>
          <div class="col-auto price">
            <p class="m-0 p-0 d-flex gap-4">
              <span class="price-original"><del>£5000</del></span>
              <span class="price-offer">£1000</span>
            </p>
          </div>
          <div class="col-auto">
            <div class="dropdown">
              <a href="javascript:void(0);" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fe fe-more-vertical dropdown-toggle-icon"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="javascript:void(0);" class="dropdown-item">
                  Action
                </a>
                <a href="javascript:void(0);" class="dropdown-item">
                  Another action
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<ng-template #noOffers>
  <div class="offer-empty bg-white text-center">
    {{ 'No Offers' | localize }}
  </div>
</ng-template>
